Repository xamarin/Xamarin.Forms, pull requests merged in 2018-08, with the labels that each got.

#3442 [UWP] Remove Platform casts
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePage.cs
Labels: p/UWP, t/housekeeping

#3218 [macOS] Fix Editor transparent color handling
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub3216.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/EditorRenderer.cs
Labels: p/macOS

#3460 Add assembly version to XF.Core
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
Labels: API-change

#2965 [Android] Add IsSmoothScrollEnabled platform specific to control tab change animation
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/TabbedPageAndroid.cs
  Xamarin.Forms.Core/PlatformConfiguration/AndroidSpecific/TabbedPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: API-change, p/Android, platform-specifics

#3468 [C] fix TargetNullValue Bindings
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core/BindingBase.cs
Labels: a/binding ⛓

#3428 [WPF] Added option to register extra assemblies in WPF Forms initialization
  Xamarin.Forms.Platform.WPF/Forms.cs
Labels: p/WPF

#3201 [macOS] Fix Entry Completed invocation logic
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub1650.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: p/macOS

#3473 [Tizen] Fix minor bugs on CarouselPage and ActivityIndicator
  Xamarin.Forms.Platform.Tizen/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselPageRenderer.cs
Labels: p/Tizen

#3225 [WPF] Fix FontFamily Assignment in platform specific project
  Xamarin.Forms.ControlGallery.WPF/Assets/fontawesome-webfont.ttf
  Xamarin.Forms.ControlGallery.WPF/Assets/pickax.ttf
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.ControlGallery.WPF/packages.config
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2187.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Extensions/FontExtensions.cs
Labels: p/WPF

#3283 [Android] Prevent white flash when switching MainPage to new MasterDetailPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1601.cs
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/Bugzilla44596SplashPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailContainer.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
Labels: breaking

#3409 [UWP] Remove old appbar code in Platform
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: p/UWP, t/housekeeping

#3116 [GTK] Fixed problem disposing childs navigating back
  Xamarin.Forms.Platform.GTK/Renderers/AbstractPageRenderer.cs
Labels: p/gtk

#3318 MaxLines property on Label
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: API-change, F100, community-sprint, t/enhancement ➕

#3581 [C] VisibilityConverter Trims input
  Xamarin.Forms.Core/VisualElement.cs
Labels: i/regression

#3574 Change identifier for search bar in tests to avoid confusing UITests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GestureBubblingTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/InputTransparentTests.cs
Labels: a/uitest

#3536 [Tizen] Support the TitleView of NavigationPage
  Xamarin.Forms.Platform.Tizen/Native/TitleViewPage.cs
  Xamarin.Forms.Platform.Tizen/Renderers/NavigationPageRenderer.cs
Labels: p/Tizen

#3588 Ensure ConstructorCountId and TimeId elements are available before querying them
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla56896.cs
Labels: a/uitest, t/housekeeping

#2589 Expose the Source for a StyleSheet
  Xamarin.Forms.Core/StyleSheets/StyleSheet.cs
  Xamarin.Forms.Xaml.UnitTests/StyleSheet.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/StyleSheetExtension.cs
Labels: API-change, a/CSS, a/Xaml </>

#2896 [UWP, WPF] Fixes rendering of the main page
  Xamarin.Forms.Platform.UAP/WindowsBasePage.cs
  Xamarin.Forms.Platform.WPF/FormsApplicationPage.cs
Labels: p/WPF, t/bug :bug:

#3551 [XamlC] Fix binding compilation for value types
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3539.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3539.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, a/binding ⛓

#3638 update .create-nuget.bat
  .create-nuget.bat
Labels: t/housekeeping

#3575 Add Null Check to GetRenderer
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: API-change

#3672 [Android] remove deprecated AndroidUseLatestPlatformSdk
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, p/Android, t/housekeeping ♻︎

#3676 [Android] Set initial ScrollView Scroll values when RTL
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
Labels: a/rtl, blocker, p/Android

#3651 [GTK] Fix navigation bar visibility updates
  Xamarin.Forms.Platform.GTK/GtkToolbarTracker.cs
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
Labels: p/gtk

#3592 Fix partially #3585
  Xamarin.Forms.Platform.GTK/Libs/webkit-sharp/webkit-sharp.dll
  Xamarin.Forms.Platform.GTK/Libs/webkit-sharp/webkit-sharp.dll.config
  Xamarin.Forms.Platform.GTK/webkit-sharp.dll.config
Labels: p/gtk

#3643 [iOS, UWP] fixes #2894 - Gestures collection changes weren't correctly propagating
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/FormattedString.cs
  Xamarin.Forms.Core/GestureElement.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Span.cs
  Xamarin.Forms.Platform.Android/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
  Xamarin.Forms.Platform.iOS/EventTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
Labels: API-change, blocker

#3372 [WPF] Memory leak when you pop a TabbedPage
  Xamarin.Forms.Platform.WPF/Renderers/ViewRenderer.cs
Labels: p/WPF

#3402 [Android,iOS,UWP] Allow Entry CursorPosition/SelectionLength to be set in ctor
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3343.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/EntryUnitTests.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: API-change, blocker

#3466 [CSS] add more properties
  Xamarin.Forms.Core/BarElement.cs
  Xamarin.Forms.Core/BoxView.cs
  Xamarin.Forms.Core/Editor.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Core/IBarElement.cs
  Xamarin.Forms.Core/IPlaceholderElement.cs
  Xamarin.Forms.Core/NavigationPage.cs
  Xamarin.Forms.Core/PlaceholderElement.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/SearchBar.cs
  Xamarin.Forms.Core/TabbedPage.cs
  Xamarin.Forms.Core/TextAlignment.cs
  Xamarin.Forms.Core/VisualElement.cs
Labels: API-change
