Repository xamarin/Xamarin.Forms, pull requests merged in 2018-11, with the labels that each got.

#4023 Add Editor.IsTextPredictionEnabled property
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3555.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Editor.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: API-change, hacktoberfest 🍻, t/enhancement ➕

#4016 ListView should convert item to string when ItemTemplate is not specified
  Xamarin.Forms.Core.UnitTests/ListViewTests.cs
  Xamarin.Forms.Core.UnitTests/ToStringValueConverterTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Core/ToStringValueConverter.cs
Labels: API-change, feedback-ticket, t/bug :bug:

#4257 [iOS] Removed custom entitlements entry for test simulator builds
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: p/iOS 🍎, t/housekeeping ♻︎

#4251 [UITests] fix dismiss page crash
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
Labels: approved, t/housekeeping ♻︎

#4225 [C] Add Default value to OnIdiom
  Xamarin.Forms.Core.UnitTests/ViewUnitTests.cs
  Xamarin.Forms.Core/OnIdiom.cs
Labels: a/Xaml </>, e/1 :clock1:, t/enhancement ➕

#4190 [Android] Changing from Portrait to Landspace while the calendar is open causes MinimumDate and MaximumDate to be visually ignored
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
Labels: approved, e/3 :clock3:, p/Android, t/bug :bug:

#4307 Added UI test to B44338
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44338.cs
Labels: t/housekeeping ♻︎

#4288 Move github files to .github dir
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: t/housekeeping ♻︎

#4237 [GTK] Fix synchronization context fairness
  Xamarin.Forms.Platform.GTK/GtkSynchronizationContext.cs
Labels: p/gtk, t/enhancement ➕

#4310 [Android] Convert android projects to package reference
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  EmbeddingTestBeds/Embedding.Droid/packages.config
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.Droid/packages.config
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.Android/packages.config
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/packages.config
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.Android/packages.config
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android.AppLinks/packages.config
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.Android/packages.config
Labels: p/Android, t/housekeeping ♻︎

#4322 [iOS] Fix for issue 4295 text decorations gone wild after text update
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#4301 [XamlC] Explicitly cast values for ldc.i4
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/SetValue.xaml
  Xamarin.Forms.Xaml.UnitTests/SetValue.xaml.cs
Labels: a/Xaml </>

#4243 [macOS] ContextActions on ListView not working (TextCell for example)
  Xamarin.Forms.Platform.MacOS/Cells/CellNSView.cs
Labels: e/6 :clock6:, p/macOS, t/bug :bug:

#4320 Correct names of files under Xamarin.Forms.Controls.Issues.Shared
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub1331.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub1331.xaml.cs
Labels: t/housekeeping ♻︎

#4333 Make ToolbarItem constructor match properties
  Xamarin.Forms.Core/ToolbarItem.cs
Labels: t/housekeeping ♻︎

#4236 [Xaml] Support correctly custom resource providers
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>, t/enhancement ➕

#4332 [XamlC] resolve properties in base interfaces
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4227.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4227.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, t/bug :bug:

#4334 [XamlC] allow internal for x:Static
  Xamarin.Forms.Build.Tasks/CompiledMarkupExtensions/StaticExtension.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4326.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4326.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, t/bug :bug:

#4349 Port Xaml.Unitests proj to SDK-Style
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, t/housekeeping ♻︎

#4350 fix dependon for Controls.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
Labels: a/Xaml </>, t/housekeeping ♻︎

#4352 [XamlC] resolve props on generics for bindings
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4348.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4348.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, e/4 :clock4:, t/bug :bug:

#4096 Resilient xaml
  Xamarin.Forms.Core/Element_StyleSheets.cs
  Xamarin.Forms.Core/MergedStyle.cs
  Xamarin.Forms.Core/Style.cs
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
  Xamarin.Forms.Xaml/XamlParser.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, forms-previewer, t/enhancement ➕

#4364 remove implicitly included files from csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: t/housekeeping ♻︎

#4355 Add fake Platform property to Page to keep Previewer happy
  Xamarin.Forms.Core.UnitTests/PreviewerReflectionTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Page.cs
Labels: blocker, forms-previewer, t/bug :bug:

#4309 [Android] Fix TabbedPage appearing when inside other PageContainer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4303.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: p/Android, t/bug :bug:

#4290 Update README.md
  README.md
Labels: t/housekeeping ♻︎

#4263 [iOS] ControlsGallery, shake gesture to navigate to the root page
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/CustomApplication.cs
  Xamarin.Forms.ControlGallery.iOS/Main.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: approved, p/iOS 🍎, t/housekeeping ♻︎

#4383 [Core] Delete left over file
  Xamarin.Forms.Core/ImageElementManager.cs
Labels: t/housekeeping ♻︎

#4385 [Build] Add azure pipeline definition
  azure-pipelines.yml
  build/provisioning/provisioning.csx
  build/provisioning/provisioning_windows.csx
  build/scripts/generate-docs.ps1
  build/steps/build-nuget.yml
  build/steps/build-osx.yml
  build/steps/build-prepare.yml
  build/steps/build-sign.yml
  build/steps/build-windows-test.yml
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#4264 [UITests] Try fix iOS failing tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1469.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1931.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2829.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ToolbarItemTests.cs
Labels: t/housekeeping ♻︎

#4368 GH-4367 Clarify Readme for deps & commandline build
  README.md
Labels: t/housekeeping ♻︎

#4229 [iOS] fix for SearchBar background color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4194.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4194.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#4395 [Android] fix removed NativeSizeChanged
  Xamarin.Forms.Controls/GalleryPages/ImageGallery.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
Labels: p/Android, t/bug :bug:

#4411 Add UAP symbols to nuget package
  .nuspec/Xamarin.Forms.nuspec
Labels: t/housekeeping ♻︎

#4442 [C] ToStringValueConverter shouldn't be public
  Xamarin.Forms.Core/ToStringValueConverter.cs
Labels: t/housekeeping ♻︎

#4434 [Controls]Use propotional values on test 1914
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1914.cs
Labels: t/housekeeping ♻︎

#4450 [tests] fix msbuild tests
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  build/steps/build-windows-test.yml
Labels: t/housekeeping ♻︎

#4471 [C] Fix check for CollectionView flag
  Xamarin.Forms.Core/Items/CollectionView.cs
Labels: a/collectionview, t/bug :bug:

#4454 [XamlC] Port #1035 to compiled bindings
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#4453 [C] Binding can't convert to valueTypes
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4446.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4446.xaml.cs
Labels: a/binding ⛓

#4457 [iOS] center title icon on ios if there is no titleview
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4138.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/packages.config
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: i/regression, p/iOS 🍎, t/bug :bug:

#4483 [XamlC] comp binding to generic properties
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4438.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4438.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#4490 [C] support TargetNullValue in TypedBindings
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4103.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4103.xaml.cs
Labels: a/Xaml </>, a/binding ⛓

#4028 [C] Allow recursive parts of binding path
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core/BindingExpression.cs
Labels: a/binding ⛓, e/4 :clock4:, t/bug :bug:

#4061 [XamlC] Resolve parameters in nested generics
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: API-change, t/enhancement ➕

#4496 bump our build dependencies
  XFCorePostProcessor.Tasks/XFCorePostProcessor.Tasks.csproj
  Xamarin.Forms.Build.Tasks/Xamarin.Forms.Build.Tasks.csproj
Labels: t/housekeeping ♻︎

#4502 [tests] Change namespace of tests
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/DummyBuildEngine.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildXmlExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/MockCompiler.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/PropertyDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlgFileLockTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlgTests.cs
Labels: t/housekeeping ♻︎

#4486 Added UI test to B44044
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44044.cs
Labels: t/housekeeping ♻︎

#4420 [Tizen] Fixes the crash issue when the Position of CarouselView is zero
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
Labels: p/Tizen, t/bug :bug:

#4428 [Android] Remove WebViewRenderer dependency on Activity
  Xamarin.Forms.Platform.Android/Renderers/FormsWebChromeClient.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: approved, forms-previewer, p/Android

#4433 [Android] Fix Label size when using Hint text
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2580.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
Labels: a/a11y 🔍, e/5 :clock5:, i/high, m/high impact :black_large_square:, p/Android, t/bug :bug:

#4501 [C] avoid Enum.TryParse for resolving NamedSizes
  Xamarin.Forms.Core/FontSizeConverter.cs
Labels: a/performance, t/housekeeping ♻︎

#4500 [Xaml] OnIdiomMarkupExt uses converters on BPs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4319.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4319.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnIdiomExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnPlatformExtension.cs
Labels: a/Xaml </>

#4514 DefaultItems are there, no need for dupes
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
Labels: t/housekeeping ♻︎

#4507 [Android] set image to null when view is disposed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4484.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
Labels: p/Android, t/bug :bug:

#4456 [Xaml] Add provided value to collection
  Xamarin.Forms.Xaml.UnitTests/ApplyPropertiesVisitorTests.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>

#4362 [Android] fix tabs from element with a tabstop false
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: p/Android, t/bug :bug:

#4449 [Enhancement] Add Visual progress behind feature flag
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  EmbeddingTestBeds/Embedding.Droid/Properties/AndroidManifest.xml
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.Droid/Properties/AndroidManifest.xml
  PagesGallery/PagesGallery.iOS/Info.plist
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/ControlGalleryPages/VisualGallery.xaml
  Xamarin.Forms.Controls/ControlGalleryPages/VisualGallery.xaml.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/DependencyResolutionTests.cs
  Xamarin.Forms.Core.UnitTests/RegistrarUnitTests.cs
  Xamarin.Forms.Core.UnitTests/VisualTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Core/EffectiveVisualExtensions.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/HandlerAttribute.cs
  Xamarin.Forms.Core/IFlowDirectionController.cs
  Xamarin.Forms.Core/IPropertyPropagationController.cs
  Xamarin.Forms.Core/IVisualController.cs
  Xamarin.Forms.Core/Items/CollectionView.cs
  Xamarin.Forms.Core/ProgressBar.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Core/RenderWithAttribute.cs
  Xamarin.Forms.Core/Visual.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.Android/Material/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialEntryRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialFormsEditText.cs
  Xamarin.Forms.Platform.Android/Material/MaterialFrameRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.iOS/Material/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Material/MaterialEntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Material/MaterialFrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Material/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#4181 [UWP] Changing IsPassword property changed InputScope
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
Labels: e/2 :clock2:, p/UWP, t/bug :bug:

#4528 [UWP] Label MaxLines doesn't work
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
Labels: e/3 :clock3:, p/UWP, t/bug :bug:

#4468 [iOS, macOS] Fix WebViews using HtmlWebViewSource switching to UrlWebViewSource
  Xamarin.Forms.Platform.MacOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: p/iOS 🍎, p/macOS

#4475 [iOS,Android] Handle Appearing/Disappearing on CarouselPage
  Xamarin.Forms.Controls/ControlGalleryPages/AppearingGalleryPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: e/2 :clock2:, m/high impact :black_large_square:, p/Android, t/bug :bug:

#4036 Switchcell oncolor
  Xamarin.Forms.Controls/GalleryPages/CellsGalleries/SwitchCellListPage.cs
  Xamarin.Forms.Core/Cells/SwitchCell.cs
  Xamarin.Forms.Platform.Android/Cells/SwitchCellRenderer.cs
  Xamarin.Forms.Platform.UAP/CellControl.cs
  Xamarin.Forms.Platform.iOS/Cells/SwitchCellRenderer.cs
Labels: API-change, e/6 :clock6:, hacktoberfest 🍻, t/enhancement ➕

#4535 Add missing update of items source for iOS CollectionView
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
Labels: a/collectionview, e/2 :clock2:, p/iOS 🍎

#4542 [Android] don't set the tag on ImageButton
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
Labels: e/1 :clock1:, p/Android, t/housekeeping ♻︎

#4532 [UWP] fixes control render by ViewToRendererConverter in off screen
  Xamarin.Forms.Platform.UAP/TitleViewManager.cs
  Xamarin.Forms.Platform.UAP/ViewToRendererConverter.cs
Labels: e/5 :clock5:, p/UWP

#4541 [binding] return defaultValueCreator on failure
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2752.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2752.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, e/4 :clock4:, t/bug :bug:

#4559 [C] Seal our attributes
  Xamarin.Forms.Core/DependencyAttribute.cs
  Xamarin.Forms.Core/ExportEffectAttribute.cs
  Xamarin.Forms.Core/Internals/PreserveAttribute.cs
  Xamarin.Forms.Core/ResolutionGroupNameAttribute.cs
Labels: API-change, breaking, e/1 :clock1:

#4404 [Android] Handle accessibility importance when using modal pages
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3622.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
Labels: a/a11y 🔍, e/5 :clock5:, i/high, m/high impact :black_large_square:, p/Android, t/bug :bug:

#2961 Implemented colored refresh indicator for ListView pull-to-refresh
  Xamarin.Forms.Controls/CoreGalleryPages/ListViewCoreGalleryPage.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  docs/Xamarin.Forms.Core/Xamarin.Forms/ListView.xml
Labels: API-change, e/7 :clock7:, p/Android, p/iOS 🍎, t/enhancement ➕

#4538 Fix edge case in unsubscribing weak events
  Xamarin.Forms.Core.UnitTests/WeakEventManagerTests.cs
  Xamarin.Forms.Core/WeakEventManager.cs
Labels: e/1 :clock1:

#4536 Modify Android and iOS adapters to handle null items sources
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewNullGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewNullGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.Android/CollectionView/EmptySource.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/EmptySource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/collectionview, e/2 :clock2:, p/Android, p/iOS 🍎

#4567 total fix of issue #3575
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailContainer.cs
Labels: e/1 :clock1:

#2782 GH2691: Make XmlnsDefinitionAttribute public
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.Build.Tasks/XamlGTask.cs
  Xamarin.Forms.Build.Tasks/XamlGenerator.cs
  Xamarin.Forms.Build.Tasks/XmlTypeExtensions.cs
  Xamarin.Forms.Controls/Controls/GH2691Controls.cs
  Xamarin.Forms.Controls/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/XmlnsDefinitionAttribute.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: API-change, a/Xaml </>, e/6 :clock6:, t/enhancement ➕

#4448 [Core]Call invalidate measure after the FormattedText is set
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4026.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/FormattedString.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: e/2 :clock2:, p/Android, p/iOS 🍎, t/bug :bug:

#4324 [iOS] Clear the delegate from ContextActionCell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4314.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/EditableList.cs
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/ContextScrollViewDelegate.cs
Labels: e/4 :clock4:, p/iOS 🍎, t/bug :bug:

#4304 WPF - Map - Fix initial load of pins
  Xamarin.Forms.Maps.WPF/MapRenderer.cs
Labels: e/1 :clock1:, p/WPF, t/bug :bug:

#4534 Set ImageButton property of Android.ImageButtonRenderer public
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
Labels: e/1 :clock1:, p/Android

#4588 [UWP] add missing xbf files to nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: blocker, e/1 :clock1:, p/UWP, t/bug :bug:, t/housekeeping ♻︎

#4579 [build] prevent ShameHat to run twice
  XFCorePostProcessor.Tasks/FixXFCoreAssembly.cs
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.pdb
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4591 [build] add a stamp file to shamehat
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
Labels: t/housekeeping ♻︎
