Repository xamarin/Xamarin.Forms, pull requests merged in 2018-07, with the labels that each got.

#3274 remove xamlc xamlg from dot slns
  .Xamarin.Forms.Android.nuget.sln
  .Xamarin.Forms.Android.sln
  .Xamarin.Forms.UAP.nuget.sln
  .Xamarin.Forms.UAP.sln
  .Xamarin.Forms.iOS.nuget.sln
  .Xamarin.Forms.iOS.sln
  .Xamarin.forms.nuget.sln
  .Xamarin.forms.sln
Labels: t/housekeeping

#3119 [Enhancement][iOS] Support UIModalPresentationStyle.FormSheet
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/ModalFormSheetPageiOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGallery.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Page.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/UIModalPresentationStyle.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
Labels: API-change, p/iOS 🍎, t/enhancement ➕

#3268 [UWP] store alert to local variable for thread safety
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43469.cs
  Xamarin.Forms.Platform.UAP/PlatformUWP.cs
Labels: p/UWP

#3187 [Android] Let inflight life cycle events finish up before tearing them down
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40005.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2338.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.Windows.UITests/WindowsTestBase.cs
  Xamarin.Forms.Platform.Android/AppCompat/ILifeCycleState.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailContainer.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Extensions/FragmentManagerExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementExtensions.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: p/Android

#3045 [android] new IImageViewHandler API
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/Scenarios/ImageScenarios.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/FileImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/IImageViewHandler.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: API-change, proposal-open

#3298 [UWP] Fix incorrect style for PageControl when not the application root
  Xamarin.Forms.Platform.UAP/PageControl.cs
  Xamarin.Forms.Platform.UAP/PageControlStyle.xaml
Labels: i/critical, i/regression, p/UWP

#2221 [Enhancement] Allow underline and strikethrough text decorations on labels and spans
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/LabelGallery.cs
  Xamarin.Forms.Core.UnitTests/TextDecorationUnitTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/DecorableTextElement.cs
  Xamarin.Forms.Core/IDecorableTextElement.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Span.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.WPF/Extensions/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.WPF/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: API-change, F100, community-sprint, t/enhancement ➕

#3203 [macOS] Fix standard button events
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub1776.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
Labels: p/macOS, t/bug :bug:

#3299 Remove math on scroll view container for RTL
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3000.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Core/IFlowDirectionController.cs
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Core/ScrollView.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
  Xamarin.Forms.Platform.Android/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.UAP/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
Labels: API-change

#3361 [iOS] Remove iOS Platform Casts
  Xamarin.Forms.Platform.iOS/Cells/ViewCellRenderer.cs
  Xamarin.Forms.Platform.iOS/DisposeHelpers.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: p/iOS 🍎

#3363 [UWP] Add missing IToolBarForegroundBinder interface on TabbedPageRenderer
  Xamarin.Forms.Platform.UAP/TabbedPageRenderer.cs
Labels: p/UWP, t/bug :bug:

#3345 BackButtonTitleProperty isn't used by android
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: p/Android

#3365 [Android] Simplify subscription to context action closure messages
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
Labels: p/Android, t/bug :bug:

#2911 [Core] Report binding failures
  Xamarin.Forms.Core/Application.cs
Labels: API-change, t/enhancement ➕

#3115 [GTK] Fixed wrong CurrentPage index in TabbedPage
  Xamarin.Forms.Platform.GTK/Renderers/TabbedPageRenderer.cs
Labels: p/gtk

#3416 [Tizen] Fix Page.IsBusy Appearance
  Xamarin.Forms.Platform.Tizen/Platform.cs
Labels: p/Tizen, t/bug :bug:

#2984 [UWP] Fixes setting SelectedItem inside ItemSelected event
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1469.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: p/UWP, t/bug :bug:
