Repository xamarin/Xamarin.Forms, pull requests merged in 2018-06, with the labels that each got.

#2880 [build] post-build fix of the assembly
  XFCorePostProcessor.Tasks/FixXFCoreAssembly.cs
  XFCorePostProcessor.Tasks/XFCorePostProcessor.Tasks.csproj
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Microsoft.Build.Framework.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Microsoft.Build.Tasks.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Microsoft.Build.Utilities.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Microsoft.Build.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Mono.Cecil.Mdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Mono.Cecil.Pdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Mono.Cecil.Rocks.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/Mono.Cecil.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Buffers.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Collections.Concurrent.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Collections.Immutable.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Dynamic.Runtime.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.IO.FileSystem.Primitives.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Linq.Expressions.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Linq.Parallel.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Linq.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.ObjectModel.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Reflection.Emit.ILGeneration.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Reflection.Emit.Lightweight.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Reflection.Emit.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Reflection.Metadata.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Reflection.TypeExtensions.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Resources.Writer.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Runtime.InteropServices.RuntimeInformation.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Runtime.Loader.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Runtime.Numerics.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Runtime.Serialization.Primitives.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Security.Cryptography.Primitives.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Text.Encoding.CodePages.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Threading.Tasks.Dataflow.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Threading.Thread.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/System.Threading.dll
  XFCorePostProcessor.Tasks/bin/Debug/netstandard2.0/XFCorePostProcessor.Tasks.dll
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.Xaml.UnitTests/XFCorePostProcessorCodeInjected.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.sln
Labels: a/Xaml </>, i/regression, t/bug :bug:

#2898 [CSS] apply border-color to all IBorderElements
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
Labels: API-change, a/CSS

#2870 [iOS] Fix secondary toolbaritems
  Xamarin.Forms.Controls/ControlGalleryPages/ToolbarItems.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#2836 Use GestureDetector constructor that takes in Context since the one without it is going to be deprecated
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
Labels: p/Android, t/housekeeping

#2861 [UI Test] Revert 56771 test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla56771.cs
Labels: t/housekeeping

#2932 [Android] Fixes crash with Tabbed Page when image for icon doesn't exist
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1323.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/Cells/BaseCellView.cs
Labels: p/Android, t/bug :bug:

#2926 [Core] Fixes '0*' RowDefinition/ColumnDefinition in Grid
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2767.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/GridCalc.cs
Labels: API-change

#2944 [Flex] do not double layout
  Xamarin.Forms.Core/FlexLayout.cs
Labels: a/layout, t/housekeeping

#2828 [Core] Enumerate copy so GetGesturesFor list can be mutated w\o throwing
  Xamarin.Forms.Core/EnumerableExtensions.cs
Labels: i/critical, i/regression, retarget-branch-required, t/bug :bug:

#2729 macOS Label Renderer Italic Font attributes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2728.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FontExtensions.cs
Labels: p/macOS, t/bug :bug:

#2670 [Core] Fix ScrollToPosition.MakeVisible bug
  Xamarin.Forms.Core/ScrollView.cs
Labels: API-change, a/layout, p/iOS 🍎, t/bug :bug:

#2967 [Tizen] Ensures various button styles work well on watch
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/StyleValues.cs
  Xamarin.Forms.Platform.Tizen/Native/Button.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchButton.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ButtonRenderer.cs
Labels: API-change

#2857 [Android] Keep track of created ConditionalFocusLayouts so they can all be disposed of
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Effects/AttachedStateEffectLabel.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Effects/AttachedStateEffectList.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2829.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
Labels: i/critical, p/Android, t/bug :bug:

#2969 [Android] Set vertical center on gravity for Search Bar
  Xamarin.Forms.Platform.Android/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: i/regression, p/Android

#2949 [UWP] Ignore setting the Z Index on initial load
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2653.cs
  Xamarin.Forms.Platform.UAP/VisualElementPackager.cs
Labels: a/layout, i/regression, p/UWP, t/bug :bug:

#2854 [iOS] Correct encoding in WebViewRenderer.LoadUrl
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583_1.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
Labels: i/regression, p/iOS 🍎, t/bug :bug:

#2970 [Tizen] Enhancement serveral Rendereres for Watch on Tizen
  Xamarin.Forms.Platform.Tizen/Cells/ImageCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Cells/SwitchCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TimePickerRenderer.cs
Labels: API-change

#2742 [Binding] FallbackValue and TargetNullValue
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingBase.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Xaml/MarkupExtensions/BindingExtension.cs
Labels: API-change, a/binding ⛓, t/enhancement

#2990 [Android] ignore layering test on android
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2653.cs
Labels: p/Android

#2992 Fix 3d rotation on UWP
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: i/regression, p/UWP, t/bug :bug:

#2940 CSSG Incremental
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.Build.Tasks/CssGTask.cs
  Xamarin.Forms.Build.Tasks/GetTasksAbi.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
Labels: a/CSS, t/housekeeping

#3013 [Tizen] Refactor SearchBar Renderer
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Native/Entry.cs
  Xamarin.Forms.Platform.Tizen/Native/SearchBar.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
Labels: p/Tizen

#3041 Give XFCorePostProcessor a different GUID than Xamarin.Forms.Xaml.Design
  Xamarin.Forms.sln
Labels: t/housekeeping

#3043 Fine-tune the performance of VisualStateGroupList.Validate
  Xamarin.Forms.Core.UnitTests/VisualStateManagerTests.cs
  Xamarin.Forms.Core/VisualStateManager.cs
Labels: API-change

#3040 [UWP] add Debug Type full to Debug property groups so UWP can hit breakpoints
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.Maps/Xamarin.Forms.Maps.csproj
Labels: t/housekeeping

#3023 [UWP] Fixed code to only call ReloadData once, set CVS to null, and add correct items to internal source
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/AddingMultipleItemsListView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla56771.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GroupListViewHeaderIndexOutOfRange.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/UITestHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1439.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1875.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1975.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2929.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3008.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3019.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: i/regression, p/UWP

#3034 [XamlC] should not run during Design-Time Builds
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
Labels: a/Xaml </>, retarget-branch-required, t/housekeeping

#3021 [Android,IOS] Fix inserting page and popping current
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2837.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#3037 Fix broken 2499 test
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2499.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: p/Android, p/iOS 🍎, t/bug :bug:, t/housekeeping

#3036 [C] Allow change constraint before parenting
  Xamarin.Forms.Core.UnitTests/RelativeLayoutTests.cs
  Xamarin.Forms.Core/BoundsConstraint.cs
  Xamarin.Forms.Core/RelativeLayout.cs
Labels: a/layout, t/bug :bug:

#3044 [Android] Set bottom content padding on bottom of Navigation Container when bottom tab is present
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2993.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: a/layout, p/Android

#3069 [Core] Add support for internal bindable properties for F#
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/BindablePropertiesAccessModifiers.xaml
  Xamarin.Forms.Xaml.UnitTests/BindablePropertiesAccessModifiers.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>, t/enhancement

#3092 [ALL] fixes #3089 Change default TextCell to use binding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3089.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/ListView.cs
Labels: a/binding ⛓, t/bug :bug:

#3079 [Controls] Support NativeView to ControlGallery.Tizen
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/SampleNativeControl.cs
  Xamarin.Forms.Controls/GalleryPages/XamlNativeViews.xaml
Labels: p/Tizen

#3103 Gtk/display alert arguments
  Xamarin.Forms.Platform.GTK/Helpers/DialogHelper.cs
Labels: p/gtk

#3090 [iOS] If the UITableView hasn't rendered anything yet don't try to sync cells
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1342.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#3109 Use GestureDetector constructor that takes in Context 3.0
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
Labels: p/Android, t/housekeeping

#3011 [macOS] Entry focus unfocus events
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3012.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: p/macOS

#2897 [CSS] border-radius property on BoxView
  Xamarin.Forms.Core/BoxView.cs
  Xamarin.Forms.Core/CornerElement.cs
  Xamarin.Forms.Core/CornerRadiusTypeConverter.cs
  Xamarin.Forms.Core/ICornerElement.cs
  Xamarin.Forms.Core/Properties/.AssemblyInfo.cs.swp
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
Labels: API-change, a/CSS

#2775 Visual element packager
  Xamarin.Forms.Platform.Android/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: p/Android, t/bug :bug:

#2586 TitleView
  Xamarin.Forms.ControlGallery.iOS/SearchbarEffect.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceGallery.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/NavigationBarGallery.cs
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/NavigationUnitTest.cs
  Xamarin.Forms.Core/NavigationPage.cs
  Xamarin.Forms.Core/PlatformConfiguration/AndroidSpecific/AppCompat/NavigationPage.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/NavigationPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions.cs
  Xamarin.Forms.Platform.UAP/ITitleIconProvider.cs
  Xamarin.Forms.Platform.UAP/ITitleViewProvider.cs
  Xamarin.Forms.Platform.UAP/MasterDetailControl.cs
  Xamarin.Forms.Platform.UAP/MasterDetailControlStyle.xaml
  Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.UAP/PageControl.cs
  Xamarin.Forms.Platform.UAP/PageControlStyle.xaml
  Xamarin.Forms.Platform.UAP/ViewToRendererConverter.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: API-change, F100, t/enhancement ➕

#3123 [iOS] Try another fix for toolbar items layout
  Xamarin.Forms.Controls/ControlGalleryPages/ToolbarItems.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#2661 [Tizen] Implement forwarders to Xamarin.Forms.Platform.Tizen
  .nuspec/Xamarin.Forms.nuspec
  Stubs/Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Stubs/Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.sln
Labels: p/Tizen

#3120 [iOS] Fix iOS WebView load url with port number
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583_1.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
Labels: i/regression, p/iOS 🍎, t/bug :bug:

#3060 [UWP] Remove use of TemplatedItemsList for Cells
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2617.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3053.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CellControl.cs
Labels: p/UWP

#3107 [Android] Add native ctor to PageContainer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2740.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/PageContainer.cs
Labels: i/regression, p/Android, retarget-branch-required, t/bug :bug:

#3146 [Android] watch for changes to page title/icon and propagate those to tabs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1898.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1898.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1898.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: i/regression, p/Android, t/bug :bug:

#3162 [iOS] Fix NRE when child wasn't added yet to NavigationPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583_1.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: i/regression, p/iOS 🍎, t/bug :bug:

#3164 [build] require .NET framework >= 4.7
  .nuspec/Xamarin.Forms.targets
Labels: t/enhancement ➕, t/housekeeping

#3148 [Android] Force animations to finish immediately when power save mode is on
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1556.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UnitTests/MotionTests.cs
  Xamarin.Forms.Core/AnimationExtensions.cs
  Xamarin.Forms.Core/Internals/Ticker.cs
  Xamarin.Forms.Core/Tweener.cs
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
  Xamarin.Forms.Platform.Android/PowerSaveModeBroadcastReceiver.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: API-change, p/Android

#3118 [build] Version and strongname the Build.Tasks
  .nuspec/Xamarin.Forms.targets
  GitInfo.txt
  Xamarin.Forms.Build.Tasks/DebugXamlCTask.cs
  Xamarin.Forms.Build.Tasks/GetTasksAbi.cs
  Xamarin.Forms.Build.Tasks/Logger.cs
  Xamarin.Forms.Build.Tasks/Properties/AssemblyInfo.cs
  Xamarin.Forms.Build.Tasks/Xamarin.Forms.Build.Tasks.csproj
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Build.Tasks/XamlTask.cs
  Xamarin.Forms.Core.Design/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Properties/GlobalAssemblyInfo.cs
  Xamarin.Forms.Maps.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.Design/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.MacOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.UWP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps/Properties/.AssemblyInfo.cs.swp
  Xamarin.Forms.Maps/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android.FormsViewGroup/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.GTK/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.MacOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml.Design/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml.UnitTests/MockCompiler.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml.Xamlc/Xamarin.Forms.Xaml.Xamlc.csproj
  Xamarin.Forms.Xaml.Xamlc/Xamlc.cs
  Xamarin.Forms.Xaml.Xamlc/app.config
  Xamarin.Forms.Xaml.Xamlc/packages.config
  Xamarin.Forms.Xaml.Xamlg/Mono.Options/Options.cs
  Xamarin.Forms.Xaml.Xamlg/Program.cs
  Xamarin.Forms.Xaml.Xamlg/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml.Xamlg/Xamarin.Forms.Xaml.Xamlg.csproj
  Xamarin.Forms.Xaml.Xamlg/Xamlg.cs
  Xamarin.Forms.Xaml.Xamlg/app.config
  Xamarin.Forms.Xaml.Xamlg/packages.config
  Xamarin.Forms.Xaml/Properties/AssemblyInfo.cs
  Xamarin.Forms.sln
  xamarin.forms.snk
Labels: API-change, a/Xaml </>

#3076 [UWP] Clean up "backButton" stuff in PageControl
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.UAP/NavigationPageRendererUWP.cs
  Xamarin.Forms.Platform.UAP/PageControl.cs
Labels: p/UWP, t/housekeeping

#3101 Clear all previous animations with the same key when starting a new animation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2482.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/AnimationExtensions.cs
  Xamarin.Forms.Core/ViewExtensions.cs
Labels: API-change, a/animation 🎬, t/bug :bug:
