Repository xamarin/Xamarin.Forms, pull requests merged in 2018-12, with the labels that each got.

#4518 [iOS] ImageButton border radius issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1724.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageButtonRenderer.cs
Labels: e/5 :clock5:, p/Android, p/iOS 🍎, t/bug :bug:

#4605 Add custom tabs to MonoAndroid90 nuspec to improve essentials experience
  .nuspec/Xamarin.Forms.nuspec
Labels: p/Android, t/housekeeping ♻︎

#4558 [UWP] Rename ConvertExtensions to ColorExtensions and change access to public
  Xamarin.Forms.Platform.UAP/ColorExtensions.cs
  Xamarin.Forms.Platform.UAP/ConvertExtensions.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: e/2 :clock2:, p/UWP, t/enhancement ➕

#4539 [C] Expose Application.LogWarningsListener
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/ListView.cs
Labels: API-change, deprecation, e/2 :clock2:, t/bug :bug:

#4595 [Shell] allow missing trailing slash on uri
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: a/shell :shell:, e/2 :clock2:, t/bug :bug:

#4615 [Shell] Allow queryParams navigation
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/QueryPropertyAttribute.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
Labels: a/shell :shell:, e/4 :clock4:

#4621 [build] do not fail on multiple core rebuild
  XFCorePostProcessor.Tasks/FixXFCoreAssembly.cs
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Framework.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Tasks.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Utilities.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Mdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Pdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Rocks.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.Collections.Immutable.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.IO.Compression.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.Runtime.InteropServices.RuntimeInformation.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.pdb
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4593 [Shell][iOS] do not try to smartly unblend bgcolor
  Xamarin.Forms.Platform.iOS/Renderers/BarAppearanceTrackerUtils.cs
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellNavBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, e/1 :clock1:, p/iOS 🍎

#3325 [UWP] Fixes throws NullReferenceException on empty NavigationPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2102.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
Labels: e/1 :clock1:, i/low, p/UWP, t/bug :bug:

#4521 [XamlC] test for null in Binding paths
  Xamarin.Forms.Build.Tasks/MethodDefinitionExtensions.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4102.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4102.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4103.xaml.cs
Labels: a/Xaml </>, e/4 :clock4:, t/bug :bug:

#4562 [Xaml] expose XmlnsPrefixAttribute
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/XmlnsDefinitionAttribute.cs
  Xamarin.Forms.Core/XmlnsPrefixAttribute.cs
Labels: e/1 :clock1:

#4177 [Android] Java.Lang.RuntimeException: Animators may only be run on Lo…
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
Labels: e/2 :clock2:, p/Android, t/bug :bug:

#4344 [Android] fixes Picker list showing up incorrectly when focus is set on other controls
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4187.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/IPickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerEditText.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: e/8 :clock8:, p/Android, t/bug :bug:

#4601 [Android] Fix ImageSource being set to null and fix ImageCell so it loads images
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
Labels: e/2 :clock2:, p/Android, t/bug :bug:

#4656 [test] add passing test for #4572
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4572.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4572.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/LoaderTests.cs
Labels: a/Xaml </>, a/binding ⛓, e/1 :clock1:, t/housekeeping ♻︎

#4626 [Shell] expose CurrentShell
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: API-change, a/shell :shell:, e/1 :clock1:

#4617 [Shell][Android] fixes crash when switching Bottom Navigation Tabs too fast or click on More menu
  Xamarin.Forms.Platform.Android/Renderers/ColorChangeRevealDrawable.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, e/1 :clock1:, p/Android, t/bug :bug:

#4575 Added the style from .NET Foundation plus variances
  .editorconfig
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4668 GH 4444; Fix local nuget build script
  .create-nuget.bat
Labels: t/housekeeping ♻︎

#4002 [iOS] Change default background color of Cell to UIColor.Clear
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Cell.cs
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
Labels: API-change, e/3 :clock3:, p/iOS 🍎, t/bug :bug:, t/enhancement ➕

#3248 Change SearchBar base class to InputView
  Xamarin.Forms.Controls/CoreGalleryPages/EditorCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/KeyboardCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/SearchBarCoreGalleryPage.cs
  Xamarin.Forms.Core/SearchBar.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
Labels: API-change, breaking, e/8 :clock8:, t/enhancement ➕

#4641 [XamlC] Compile the {DataTemplate} markup
  Xamarin.Forms.Build.Tasks/CompiledMarkupExtensions/DataTemplateExtension.cs
  Xamarin.Forms.Build.Tasks/CompiledMarkupExtensions/TypeExtension.cs
  Xamarin.Forms.Xaml.UnitTests/DataTemplateExtension.xaml
  Xamarin.Forms.Xaml.UnitTests/DataTemplateExtension.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/ArrayExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/BindingExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/DataTemplateExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/DynamicResourceExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnIdiomExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnPlatformExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/ReferenceExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/StaticResourceExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/TemplateBindingExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/TypeExtension.cs
Labels: API-change, a/Xaml </>, a/shell :shell:, e/3 :clock3:, t/enhancement ➕

#4670 [tasks] Build.Tasks targets net46
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/Xamarin.Forms.targets
  EmbeddingTestBeds/Embedding.XF/Embedding.XF.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  PagesGallery/PagesGallery/PagesGallery.csproj
  Xamarin.Forms.Build.Tasks/Xamarin.Forms.Build.Tasks.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: e/1 :clock1:

#4672 [build] add a Directory.Build.props
  Directory.Build.props
  EmbeddingTestBeds/Embedding.XF/Embedding.XF.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  PagesGallery/PagesGallery/PagesGallery.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4687 GH-4686 Updated README to reflect correct name
  README.md
Labels: t/bug :bug:

#4569 [Android] ItemContentView should use all available space
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SizedItemContentControl.cs
  Xamarin.Forms.Platform.Android/CollectionView/SizedItemContentView.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/collectionview, e/5 :clock5:, p/Android

#4699 Properly detect SDK style projects
  .nuspec/Xamarin.Forms.props
  .nuspec/Xamarin.Forms.targets
Labels: e/1 :clock1:

#4717 remove armeabi and set HttpClient Implementation on iOS to NSUrlSession
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: e/1 :clock1:, p/Android, p/iOS 🍎, t/housekeeping ♻︎

#4726 delay ui test a bit so elements can vanish first
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
Labels: blocker, e/1 :clock1:, p/iOS 🍎, t/housekeeping ♻︎

#4719 Add NUnitTestAdapter to xamarin ui test projects so VSIX isn't required for running UI Tests
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4725 [Android] fixes pop-up dialog in Pickers when you call Focus()
  Xamarin.Forms.Platform.Android/Renderers/IPopupTrigger.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerEditText.cs
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, e/2 :clock2:, i/regression, p/Android, t/bug :bug:

#4727 update support libraries to preview9 and uncomment no longer broken interface
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: t/housekeeping ♻︎

#4688 [iOS] Update cell size estimates after empty data source
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4600.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemAdder.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGridGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionGallery.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalTemplatedCell.cs
Labels: a/collectionview, e/3 :clock3:, p/iOS 🍎, t/bug :bug:

#4745 [UItests] Fix UITest 41424
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41424.cs
Labels: blocker, e/2 :clock2:, t/housekeeping ♻︎

#4724 [IOS] Add launch storyboard
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon1024.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon120.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon152.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon167.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon180.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon20.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon29.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon40.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon58.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon60.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon76.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon80.png
  Xamarin.Forms.ControlGallery.iOS/Assets.xcassets/AppIcon.appiconset/Icon87.png
  Xamarin.Forms.ControlGallery.iOS/Default-568h@2x.png
  Xamarin.Forms.ControlGallery.iOS/Default-667h@2x.png
  Xamarin.Forms.ControlGallery.iOS/Default-812h@3x.png
  Xamarin.Forms.ControlGallery.iOS/Default@2x.png
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.ControlGallery.iOS/Resources/Default-568h@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Default-Portrait.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Default-Portrait@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Default.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Default@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon-60@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon-Small-40@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon-Small.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon-Small@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon.png
  Xamarin.Forms.ControlGallery.iOS/Resources/Icon@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/LaunchScreen.storyboard
  Xamarin.Forms.ControlGallery.iOS/Resources/xamarin_logo.png
  Xamarin.Forms.ControlGallery.iOS/Resources/xamarin_logo@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/xamarin_logo@3x.png
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: e/2 :clock2:, t/housekeeping ♻︎

#4244 [XamlC] Resolve generic parameters of a method with generic return type
  Xamarin.Forms.Build.Tasks/MethodReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
Labels: a/Xaml </>, e/3 :clock3:, t/enhancement ➕

#4701 [C, iOS, AND, UWP] Color for Picker.Title
  Xamarin.Forms.Controls/CoreGalleryPages/PickerCoreGalleryPage.cs
  Xamarin.Forms.Core/Picker.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.UAP/PickerRenderer.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: e/3 :clock3:, t/enhancement ➕

#4780 [Android] Avoid acting on a disposed reference
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
Labels: blocker, e/1 :clock1:, i/high, i/regression, p/Android, t/bug :bug:

#4238 [XamlC] Always enable implicit casting and boxing and unboxing
  Xamarin.Forms.Build.Tasks/CompiledConverters/RDSourceTypeConverter.cs
  Xamarin.Forms.Build.Tasks/CompiledMarkupExtensions/ArrayExtension.cs
  Xamarin.Forms.Build.Tasks/CompiledValueProviders/SetterValueProvider.cs
  Xamarin.Forms.Build.Tasks/CreateObjectVisitor.cs
  Xamarin.Forms.Build.Tasks/MethodReferenceExtensions.cs
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Build.Tasks/SetFieldVisitor.cs
  Xamarin.Forms.Build.Tasks/SetNamescopesAndRegisterNamesVisitor.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Build.Tasks/VariableDefinitionExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4238.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4238.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: a/Xaml </>, e/7 :clock7:, t/enhancement ➕

#4786 [X] throw XPE on missing element .ctor
  Xamarin.Forms.Build.Tasks/CreateObjectVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4751.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4751.xaml.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
Labels: a/Xaml </>, e/3 :clock3:, t/bug :bug:

#4783 [Android] Check if Drawable is null in Draw override on ImageButton
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4782.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
Labels: e/1 :clock1:, p/Android, t/bug :bug:

#4774 [C] WeakEventManager minor changes
  Xamarin.Forms.Core.UnitTests/WeakEventManagerTests.cs
  Xamarin.Forms.Core/Command.cs
  Xamarin.Forms.Core/ImageSource.cs
  Xamarin.Forms.Core/WeakEventManager.cs
Labels: e/2 :clock2:, t/housekeeping ♻︎

#4776 [XamlC] instantiate generic parameter on base types
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4760.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4760.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: a/Xaml </>, e/4 :clock4:, t/bug :bug:

#4723 [Xaml] require escaping curly braces
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewTemplateGallery.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3539.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue1438.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue1549.cs
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
Labels: a/Xaml </>, breaking, e/3 :clock3:, t/enhancement ➕

#4817 [UWP] Min viable FontImageSource
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/Fonts/ionicons.ttf
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: e/3 :clock3:, p/UWP, t/enhancement ➕

#4743 [X] Design time properties
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Core/Internals/ResourceLoader.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml.UnitTests/DesignPropertiesTests.cs
  Xamarin.Forms.Xaml.UnitTests/ResourceLoader.xaml.cs
  Xamarin.Forms.Xaml/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml/PruneIgnoredNodesVisitor.cs
  Xamarin.Forms.Xaml/RemoveDuplicateDesignNodes.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>, e/3 :clock3:, t/enhancement ➕

#4781 XmlnsPrefix for design
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
Labels: a/Xaml </>, e/1 :clock1:

#4659 [*] Drop MenuItem.IsEnabledPropertyName
  Xamarin.Forms.Core/IMenuItemController.cs
  Xamarin.Forms.Core/MenuItem.cs
  Xamarin.Forms.Core/Shell/MenuItemCollection.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ToolbarButton.cs
  Xamarin.Forms.Platform.Android/Renderers/ToolbarImageButton.cs
  Xamarin.Forms.Platform.GTK/Cells/CellBase.cs
  Xamarin.Forms.Platform.GTK/GtkToolbarTracker.cs
  Xamarin.Forms.Platform.MacOS/Extensions/NSMenuExtensions.cs
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
  Xamarin.Forms.Platform.Tizen/Native/ToolbarItemButton.cs
  Xamarin.Forms.Platform.UAP/MenuItemCommand.cs
  Xamarin.Forms.Platform.WPF/Renderers/VisualPageRenderer.cs
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/Extensions/ToolbarItemExtensions.cs
Labels: API-change, e/2 :clock2:, t/housekeeping ♻︎

#4062 [XamlC] Test generic parameters to evaluate equality of types
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: API-change, a/Xaml </>, e/4 :clock4:, t/bug :bug:
