Repository xamarin/Xamarin.Forms, pull requests merged in 2018-10, with the labels that each got.

#3933 Fix bugzilla60787
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla60787.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla60787.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/FrameRenderer.cs
Labels: t/bug :bug:

#3926 Added instructions for UI test 38105
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla38105.cs
Labels: t/housekeeping ♻︎

#3942 Fix UI test B41424 needs instructions
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41424.cs
Labels: t/housekeeping ♻︎

#3939 [iOS] fix full width issues for TitleView
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: t/bug :bug:

#3941 [GTK] Changes in TableView to allow refresh the content (updating/removing TableSections)
  Xamarin.Forms.Platform.GTK/Controls/TableView.cs
  Xamarin.Forms.Platform.GTK/Renderers/TableViewRenderer.cs
Labels: t/bug :bug:

#3811 Only set the Page Padding via SafeAreaInset on iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3809.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Page.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: approved, p/iOS 🍎

#3927 Automate UI test 35127
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla35127.cs
Labels: t/housekeeping ♻︎

#3967 [Android] Make GetIconDrawable virtual
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: p/Android

#3904 [GTK] Fix visibility in modal pages
  Xamarin.Forms.Platform.GTK/Controls/Page.cs
  Xamarin.Forms.Platform.GTK/Platform.cs
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
Labels: p/gtk

#3936 [Android] If MaxLines is not explicitly set, let LineBreakMode handle it
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
Labels: t/bug :bug:

#3889 Fix UI test B43941
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43941.cs
Labels: t/housekeeping ♻︎

#3969 [XamlC] avoid multiple subscription
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core/TypedBinding.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#3966 Fix Issue2597 Needs UI Test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2597.cs
Labels: API-change, help wanted, t/housekeeping ♻︎

#3774 [iOS] Add ability to turn off updates to native controls from another thread
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Application.cs
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: API-change, approved

#3962 Fixed NotImplementedException refreshing items in WPF ListView
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: feedback-ticket, p/WPF, t/enhancement ➕

#4007 [Tizen] Fixes ActivityIndicator IsRunning state issue
  Xamarin.Forms.Platform.Tizen/Renderers/ActivityIndicatorRenderer.cs
Labels: p/Tizen

#4015 add pdb for uap into nuget
  .nuspec/Xamarin.Forms.nuspec
Labels: t/housekeeping ♻︎

#3978 [XamlC] don't compile bindings with Source
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3606.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3606.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#3977 [Xaml[C]] resolve Extensions first
  Xamarin.Forms.Build.Tasks/XmlTypeExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/LoaderTests.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#4014 [UWP] Document in the README.md the steps required to run UI Tests
  README.md
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#4063 [Tizen] Fix ProjectGuid for Forwarders
  Stubs/Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen (Forwarders).csproj
Labels: t/housekeeping ♻︎

#4068 Correct minor typo
  Xamarin.Forms.Platform.MacOS/Extensions/NSViewControllerExtensions.cs
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#4013 Added WebView Reload
  Xamarin.Forms.Core/IWebViewController.cs
  Xamarin.Forms.Core/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.GTK/Controls/WebView.cs
  Xamarin.Forms.Platform.GTK/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: API-change, t/enhancement ➕

#4072 Prevented crash in Bugzilla36955 UITest
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla36955.cs
Labels: t/housekeeping ♻︎

#4089 [Xaml] fix Namescope being different than tree
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3821.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3821.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3821View.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3821View.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml/MarkupExtensions/ReferenceExtension.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, i/regression, t/bug :bug:

#3999 [Sample] [Android] Fixed PagesGallery.Droid build
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
Labels: t/housekeeping ♻︎

#4019 Fix typeface reset issue
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: p/Android, t/bug :bug:

#3996 [Android] Use ViewCompat to set and get label for view
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: p/Android, t/bug :bug:

#4024 Removing LineBreakMode support from WindowsResourcesProvider
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3979.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3979.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/WindowsResourcesProvider.cs
Labels: p/UWP

#4086 [macOS] Fix NRE on Mojave when aligning the title
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
Labels: p/macOS, t/bug :bug:

#3971 [GTK] Add support for ClickGestureRecognizer
  Xamarin.Forms.Controls/ControlGalleryPages/ClickGestureGalleryPage.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Platform.GTK/VisualElementTracker.cs
Labels: p/gtk

#4043 [iOS] Label TextColor has no effect with FormattedString
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4040.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4040.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#4117 fix build, tentatively
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3979.xaml.cs
Labels: t/housekeeping ♻︎

#4100 [Xaml] don't swallow exceptions from converters
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4099.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4099.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, t/enhancement ➕

#4119 [Tizen] Fix Window alpha update timing
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: p/Tizen, t/enhancement ➕

#3683 [UWP] fixed `MinimumDate` and `MaximumDate` properties of DatePicker
  Xamarin.Forms.Platform.UAP/DatePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions.cs
Labels: t/bug :bug:

#2656 [WPF] Fixes ControlTemplate sizing issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub2642.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/FormsContentLoader.cs
Labels: a/layout, p/WPF, t/bug :bug:

#4128 Remove BOM from nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: t/housekeeping ♻︎

#3851 Navigation Page double Popped event Workaround
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3509.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: API-change, p/iOS 🍎

#3974 [Enhancements] Toolbar a11y
  Xamarin.Forms.ControlGallery.Android/Resources/values/strings.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/ControlGalleryPages/AutomationPropertiesGallery.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.UAP/MasterDetailControlStyle.xaml
  Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/ViewRenderer.cs
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/ToolbarItemExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/a11y 🔍, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#4104 Implementation of method ForceUpdateSize for Cell on macOS
  Xamarin.Forms.Platform.MacOS/Cells/CellRenderer.cs
Labels: p/macOS, t/enhancement ➕

#4161 [MacOS] EntryRenderer crash when MainWindow get focus
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: p/macOS

#4109 [iOS] Rapidly clicking span (6 times at least) on UITest 3525 throws a null exception
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: approved, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#4147 Add missing initial call to UpdateLineHeight
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4136.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
Labels: p/Android, t/bug :bug:

#4079 Added UI test to B45027
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45027.cs
Labels: t/housekeeping ♻︎

#4164 Fix https://github.com/xamarin/Xamarin.Forms/issues/3301
  Xamarin.Forms.Platform.MacOS/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ProgressBarRenderer.cs
Labels: p/macOS, t/housekeeping ♻︎

#4173 [UWP] fixes entering text into SearchBar with UI Tests
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
Labels: i/critical, i/regression, p/UWP

#4188 [macOS] NRE in WebViewRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4001.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/WebViewRenderer.cs
Labels: p/macOS, t/bug :bug:

#4111 [IOS] label not rendering in BOLD when using a STYLE
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2831.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FontExtensions.cs
Labels: p/iOS 🍎, t/bug :bug:

#4201 [msbuild] use portable pdb files on Android
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/buildchain, p/Android

#4134 [XamlC] fix the argument match check for events
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4130.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4130.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/Xaml </>, approved, t/bug :bug:

#4170 Issue1777 - Add UI Test. Add instructions. Move to correct namespace
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1777.cs
Labels: t/housekeeping ♻︎

#4110 Fix Issue2794 needs UI Test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2794.cs
Labels: t/housekeeping ♻︎

#4191 [Tizen] Fix PropagateEvent value properly on Cells
  Xamarin.Forms.Platform.Tizen/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Cells/SwitchCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Cells/ViewCellRenderer.cs
Labels: p/Tizen

#3897 [Core, iOS, MacOS, Android, UWP, WPF] ListView hide scroll view scroll bars
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3843.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGalleryPages/ListViewCoreGalleryPage.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Extensions/ScrollBarVisibilityExtensions.cs
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: API-change, t/enhancement ➕

#4144 Adding instructions and UI tests for Bugzilla44461
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44461.cs
Labels: approved, t/housekeeping ♻︎

#4216 [C] avoid AmbiguousMatchexception in Bindings
  Xamarin.Forms.Core/Xaml/TypeConversionExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4215.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4215.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: a/binding ⛓, t/bug :bug:

#4175 [Enhancement] Possibility to change IsPassword for MacOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2223.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: m/low impact :black_medium_small_square:, p/macOS, t/bug :bug:

#4052 Bindable layouts
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/BindableLayoutGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/BindableLayoutGalleryPage.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/BindableLayout.cs
Labels: API-change, F100, community-sprint, t/enhancement ➕

#4098 [GTK] Do not show a label in gtk slider renderer
  Xamarin.Forms.Platform.GTK/Renderers/SliderRenderer.cs
Labels: p/gtk, t/enhancement ➕

#4101 Remove unnecessary ToArray to reduce number of BindableObject[] allocations
  Xamarin.Forms.Core/BindableObject.cs
Labels: API-change, t/enhancement ➕

#4218 [Android] Enforce clipping on fast renderer ImageRenderer when using AspectFill
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
Labels: blocker, i/critical, i/regression, p/Android

#4247 [MacOs] Image from file not getting searched in the bundle
  Xamarin.Forms.Platform.MacOS/ImageSourceHandlers.cs
Labels: p/macOS, t/bug :bug:

#4112 [GTK] Fix several memory leaks in the GTK backend
  Xamarin.Forms.Platform.GTK/Cells/ViewCell.cs
  Xamarin.Forms.Platform.GTK/Controls/DatePicker.cs
  Xamarin.Forms.Platform.GTK/Controls/ImageButton.cs
  Xamarin.Forms.Platform.GTK/Controls/ListView.cs
  Xamarin.Forms.Platform.GTK/Controls/NavigationChildPage.cs
  Xamarin.Forms.Platform.GTK/Controls/OpenGLView.cs
  Xamarin.Forms.Platform.GTK/Controls/Page.cs
  Xamarin.Forms.Platform.GTK/Controls/SearchEntry.cs
  Xamarin.Forms.Platform.GTK/Extensions/VisualElementExtensions.cs
  Xamarin.Forms.Platform.GTK/GtkToolbarTracker.cs
  Xamarin.Forms.Platform.GTK/Platform.cs
  Xamarin.Forms.Platform.GTK/Renderers/AbstractPageRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.GTK/ViewRenderer.cs
  Xamarin.Forms.Platform.GTK/VisualElementRenderer.cs
  Xamarin.Forms.Platform.GTK/VisualElementTracker.cs
Labels: a/performance, p/gtk, t/bug :bug:

#3224 [UWP] Fix ActivityIndicator width in absolutelayout
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1399.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsProgressBar.cs
Labels: t/bug :bug:

#3433 [iOS] Fix issue where entry would emit a change notification without a user triggered change
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3385.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#4160 [iOS] Change CALayer.Transform in MainThread
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1480.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: p/iOS 🍎, t/bug :bug:

#4235 Move GetNativeSize to PlatformServices, remove IPlatform
  Xamarin.Forms.Core.UnitTests/AbsoluteLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/BoxViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/ButtonUnitTest.cs
  Xamarin.Forms.Core.UnitTests/ContentViewUnitTest.cs
  Xamarin.Forms.Core.UnitTests/ControlTemplateTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutAlignContentTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutAlignItemsTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutAlignSelfTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutFlexDirectionTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutMarginTests.cs
  Xamarin.Forms.Core.UnitTests/FlexLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/FlexOrderTests.cs
  Xamarin.Forms.Core.UnitTests/FrameUnitTests.cs
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core.UnitTests/GroupViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/ImageTests.cs
  Xamarin.Forms.Core.UnitTests/LabelTests.cs
  Xamarin.Forms.Core.UnitTests/ListViewTests.cs
  Xamarin.Forms.Core.UnitTests/MarginTests.cs
  Xamarin.Forms.Core.UnitTests/MasterDetailFormUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Core.UnitTests/PageTests.cs
  Xamarin.Forms.Core.UnitTests/RelativeLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/ScrollViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/StackLayoutUnitTests.cs
  Xamarin.Forms.Core.UnitTests/TableViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/UnitPlatform.cs
  Xamarin.Forms.Core.UnitTests/ViewCellTests.cs
  Xamarin.Forms.Core.UnitTests/ViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/IElementController.cs
  Xamarin.Forms.Core/IPlatform.cs
  Xamarin.Forms.Core/IPlatformServices.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Pages.UnitTests/DataPageTests.cs
  Xamarin.Forms.Pages.UnitTests/IntegrationTests.cs
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.GTK/Platform.cs
  Xamarin.Forms.Platform.MacOS/Platform.cs
  Xamarin.Forms.Platform.MacOS/PlatformNavigation.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
  Xamarin.Forms.Platform.Tizen/LightweightPlatform.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
  Xamarin.Forms.Platform.UAP/PageExtensions.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.WPF/Platform.cs
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: t/enhancement ➕
