Repository xamarin/Xamarin.Forms, pull requests merged in 2019-08, with the labels that each got.

#7028 [iOS] Prevent empty cell on bounce CollectionView
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#6886 Enable SourceLink for Xamarin.Forms
  Directory.Build.props
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.GTK/Xamarin.Forms.Maps.GTK.csproj
  Xamarin.Forms.Maps.MacOS/Xamarin.Forms.Maps.macOS.csproj
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Maps.WPF/Xamarin.Forms.Maps.WPF.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Maps/Xamarin.Forms.Maps.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Xaml.Design/Xamarin.Forms.Xaml.Design.csproj
Labels: a/Xaml </>, a/buildchain, a/maps :globe_with_meridians:, a/visual, inactive, p/Android, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, t/enhancement ➕

#7033 Use XF Size instead of Android.Util.Size
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/GalleryBuilder.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
Labels: a/collectionview, i/high, p/Android, t/bug :bug:

#6973 [UWP] The SelectedItem in a ListView is not highlighted when set while constructing a page
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: i/regression, inactive, p/UWP, t/bug :bug:

#7039 [sourcelink] Cleaned up build.props and removed AppLinks csproj DebugType
  Directory.Build.props
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
Labels: t/housekeeping ♻︎

#6983 Cache Droid SDK ver
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/BorderBackgroundManager.cs
  Xamarin.Forms.Platform.Android/Cells/BaseCellView.cs
  Xamarin.Forms.Platform.Android/Cells/SwitchCellRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.Android/Extensions/ScrollViewExtensions.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/CircularProgress.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: a/performance, p/Android

#6998 Ensure FlowDirection propagates to EmptyView when not using a template
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagateCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagationGallery.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SimpleViewHolder.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, approved, p/Android, p/iOS 🍎

#7057 [UITest] Change Query to WaitForElement on 45125 and change GetResult to await for Performance Gallery testing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45125.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceDataManager.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceGallery.cs
Labels: a/uitest, t/housekeeping ♻︎

#6984 [Tizen] Update ListViewRenderer for header and footer
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
Labels: a/listview, approved, p/Tizen

#7040 [XamlC] don't reset the NameScope if it exists
  Xamarin.Forms.Core/Internals/NameScope.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6192.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6192.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6192Template.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6192Template.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/ReferenceExtension.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, a/binding ⛓, a/layout, t/bug :bug:

#7030 Disable Touch Intercepting on Android View Pager
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/FormsViewPager.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
Labels: a/gestures 🖖, a/shell :shell:, blocker, p/Android, t/bug :bug:

#6961 [Xamarin.Forms][Android] Pressing Volume up/down hardware buttons on pickers opens them
  Xamarin.Forms.Platform.Android/PickerManager.cs
Labels: p/Android, t/bug :bug:

#7080 [Android] Click on the center of the down stepper button
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/InputTransparentTests.cs
Labels: a/uitest

#7094 [iOS] CollectionView Header/Footer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterString.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterTemplate.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterView.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGrid.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGrid.xaml.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/iOS 🍎

#7020 [C] Dispose the Disposable
  Xamarin.Forms.Core/StyleSheets/StyleSheet.cs
Labels: a/CSS, a/performance, t/bug :bug:

#7073 [XamlC] throw XPE on missing resource key
  Xamarin.Forms.Build.Tasks/ModuleDefinitionExtensions.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/AB946693.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/AB946693.xaml.cs
Labels: a/Xaml </>

#7087 [Android] Added WaitForElement on failing test Issue4187 to make it green
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4187.cs
Labels: a/uitest, t/housekeeping ♻︎

#3113 Implemented scrolling disabling for ScrollView via ScrollOrientation.Neither
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2680ScrollView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ScrollViewUnitTests.cs
  Xamarin.Forms.Core/ScrollOrientation.cs
  Xamarin.Forms.Core/ScrollView.cs
Labels: API-change, inactive, t/enhancement ➕

#7086 [Android] Added WaitForElement on failing test Issue2499 to make it green
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2499.cs
Labels: a/uitest, t/housekeeping ♻︎

#7088 [Android] Added a longer retry frequency on failing test Issue2577 to make it green
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2577.cs
Labels: a/uitest, t/housekeeping ♻︎

#7101 Reinstated Xamarin icon for NuGets
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Maps.GTK.nuspec
  .nuspec/Xamarin.Forms.Maps.WPF.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
  .nuspec/Xamarin.Forms.Platform.GTK.nuspec
  .nuspec/Xamarin.Forms.Platform.WPF.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  Assets/xamarin_128x128.png
Labels: a/visual, p/WPF, p/gtk, t/housekeeping ♻︎

#7067 [Bug] NullReferenceException Closing Window During Animation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7061.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
Labels: a/animation 🎬, approved, p/WPF, t/bug :bug:

#7050 Adds a null check for Xamarin.Forms.Platform.Android.PageRenderer.Xamarin.Forms.Platform.Android.IOrderedTraversalController.UpdateTraversalOrder
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7049.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
Labels: p/Android, t/bug :bug:

#7110 [Android] Just check if IsDesignModeEnabled true instead of checking Context type
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
Labels: a/performance, p/Android

#7084 Rename InitializationFlags -> ActivationFlags
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: p/Android

#7123 Stop the madness;
  Xamarin.Forms.Core/Internals/Ticker.cs
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: p/Android

#7130 [GTK] Added missing NamedSizes for GTK
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
Labels: p/gtk

#7131 use c#7.3
  Directory.Build.props
  azure-pipelines.yml
  build/steps/build-android.yml
Labels: t/housekeeping ♻︎

#7092 [Android] Disable AndroidTicker if AnimatorDurationScale is equal or below 0
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
Labels: a/animation 🎬, p/Android, t/bug :bug:

#7089 [Android] Update webview to use correct value for WebNavigationEvent
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: a/webview, p/Android

#7044 [Android, previewer] fixes layouts in the preview when using InvokeOnMainThread
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: a/Xaml </>, external-designer, p/Android, t/bug :bug:

#7133 Cherry pick Update ScrollViewRenderer.cs (#6151) to 3.6
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
Labels: p/Android

#7132 add wait before WaitForNoElement
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla27731.cs
Labels: a/uitest, t/housekeeping ♻︎

#7116 [WPF] Add missing NamedSize
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7111.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
  Xamarin.Forms.Platform.WPF/WPFResources.xaml
Labels: p/WPF, t/bug :bug:

#6079 Add separate MarkerClick and InfoWindowClick events for Pins
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla29017.cs
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.GTK/MapRenderer.cs
  Xamarin.Forms.Maps.Tizen/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/PushPin.cs
  Xamarin.Forms.Maps.WPF/FormsPushPin.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Pin.cs
  Xamarin.Forms.Maps/PinClickedEventArgs.cs
Labels: API-change, a/docs, a/maps :globe_with_meridians:, approved, inactive, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, t/bug :bug:, t/enhancement ➕

#7107 Use NSIndexPath.Item instead of .Row in CollectionView
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#7151 Fixes issue #7109 in XF 4.0 branch
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
Labels: i/high, i/regression, p/iOS 🍎, t/bug :bug:

#7144 [iOS] make VisualElementExtensions public on iOS
  Xamarin.Forms.Platform.iOS/Extensions/VisualElementExtensions.cs
Labels: p/iOS 🍎, t/enhancement ➕

#7041 [iOS] Added static bool and check for iOS 13
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: p/iOS 🍎

#7032 Remove NestedScrollView from the default shell layout
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/RootLayout.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/ShellContent.axml
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
Labels: a/gestures 🖖, a/listview, a/maps :globe_with_meridians:, a/shell :shell:, a/webview, blocker, breaking, i/low, p/Android, t/bug :bug:

#6982 [macOS] Switch focus on TAB pressed
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: p/iOS 🍎, p/macOS, t/bug :bug:

#7122 [iOS] Moved `UITableView` setup selection to `ListViewRenderer`
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: p/iOS 🍎

#2432 [UWP] Multi-window
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml
  Xamarin.Forms.ControlGallery.WindowsUniversal/SecondaryWindowService.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1439.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2004.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2482.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/Helpers/IWindowNavigation.cs
  Xamarin.Forms.Controls/ISecondaryWindowService.cs
  Xamarin.Forms.Core.UnitTests/ListProxyTests.cs
  Xamarin.Forms.Core.UnitTests/MockDispatcher.cs
  Xamarin.Forms.Core.UnitTests/MockDispatcherProvider.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/AnimationExtensions.cs
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/DispatcherExtensions.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/IDispatcher.cs
  Xamarin.Forms.Core/IDispatcherProvider.cs
  Xamarin.Forms.Core/Internals/Ticker.cs
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Core/ListProxy.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Core/TemplatedItemsList.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Platform.UAP/Dispatcher.cs
  Xamarin.Forms.Platform.UAP/DispatcherProvider.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePage.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: API-change, a/Xaml </>, a/shell :shell:, approved, e/10:clock10:, i/high, inactive, m/high impact :black_large_square:, mobcat, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, t/bug :bug:, t/enhancement ➕

#7134 Add profiler instrumentation
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
Labels: a/shell :shell:, p/Android

#7143 Replace IsDesignModeEnabled check with original Context Type Check
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
Labels: blocker, p/Android

#7162 NonAppCompat check if MDP IconImageSource is null to avoid NRE exception
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: PreAppCompat, approved, i/high, i/regression, p/Android, t/bug :bug:

#6936 [C] force update size on View updated
  Xamarin.Forms.Core/Cells/ViewCell.cs
Labels: approved

#6557 [UWP] Value does not fall with in the expected range Exception while creating NativeView
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/_5886DependencyService.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5886.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ScrollViewRenderer.cs
Labels: i/high, p/UWP, partner, t/bug :bug:

#7163 [Android] Don't dispose the _labelTextColorDefault on Label Fast Renderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6994.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
Labels: approved, blocker, i/high, i/regression, p/Android, t/bug :bug:

#7189 [UWP] Fix ItemsViewStyles.xbf compilation error
  .nuspec/Xamarin.Forms.nuspec
Labels: p/UWP, t/bug :bug:

#7172 Force iOS 13 to use Full Screen for Modal
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
Labels: blocker, p/iOS 🍎

#6470 [Android] Cache typefaces in font image source handler
  Xamarin.Forms.Platform.Android/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/FontImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, approved, blocker, i/low, p/Android, t/bug :bug:

#7174 Force iOS 13 to use Full Screen for Modal
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
Labels: blocker, p/iOS 🍎

#7171 Fix MDP for iPads running iOS13
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: blocker, p/iOS 🍎

#7193 [Tizen] Fix Forms namespace correctly
  PagesGallery/PagesGallery.Tizen/PagesGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/DisposeLabelRenderer.cs
  Xamarin.Forms.ControlGallery.Tizen/DisposePageRenderer.cs
  Xamarin.Forms.Maps.Tizen/MapRenderer.cs
  Xamarin.Forms.Maps.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.Tizen/FormsMaterial.cs
  Xamarin.Forms.Material.Tizen/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialCheckBoxRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialSliderRenderer.cs
  Xamarin.Forms.Platform.Tizen/ExportCellAttribute.cs
  Xamarin.Forms.Platform.Tizen/ExportHandlerAttribute.cs
  Xamarin.Forms.Platform.Tizen/ExportImageSourceHandlerAttribute.cs
  Xamarin.Forms.Platform.Tizen/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.Tizen/Extensions/PageExtensions.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/TizenTitleBarVisibility.cs
  Xamarin.Forms.Platform.Tizen/ViewInitializedEventArgs.cs
Labels: API-change, a/visual, breaking, p/Tizen

#6762 [Shell] Fix back button behavior so that it only applies the property you've set opposed to replacing the entire thing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellBackButtonBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/BindableObjectExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, approved, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#5694 [Core] FIX RelativeLayout layout error when only width or height specified
  Xamarin.Forms.Core/RelativeLayout.cs
Labels: a/layout, approved, t/bug :bug:

#7178 [iOS] CollectionView minor fixes
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/iOS 🍎

#6931 Fix default cancel button visibility on iOS SearchHandler
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6802.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
Labels: a/shell :shell:, approved, p/iOS 🍎, t/bug :bug:

#7201 [iOS] Fix LayoutCompression Performance Issues #3475
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3475.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementPackager.cs
Labels: a/layout, inactive, p/iOS 🍎, t/bug :bug:

#7237 Basic Header/Footer for UWP CollectionView
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, p/UWP

#7165 [iOS9] Check unselectedItemTintColor support
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
Labels: a/shell :shell:, i/high, iOS 9, p/iOS 🍎, t/bug :bug:

#6460 [Android] Context actions menu is now updated when changing cells.
  .gitignore
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1455.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1455.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Core/PlatformConfiguration/AndroidSpecific/ViewCell.cs
  Xamarin.Forms.Platform.Android/CellAdapter.cs
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
Labels: API-change, inactive, p/Android, platform-specifics, t/bug :bug:

#7209 [Tizen] Adds Opt-in Init
  Xamarin.Forms.Platform.Tizen/Forms.cs
Labels: p/Tizen

#5277 Entry ClearButtonMode
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/MaterialEntryGalleryPage.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Core/InputView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: API-change, F100, p/Android, p/iOS 🍎, t/enhancement ➕

#5145 [iOS] fix accessibility of Picker
  Xamarin.Forms.Controls/GalleryPages/PickerGallery.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: a/a11y 🔍, inactive, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#7175 make all ShellTabBarAppearanceTracker methods virtual
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTabBarAppearanceTracker.cs
Labels: a/shell :shell:, breaking, p/iOS 🍎

#7215 Fix NRE for 6776
  Xamarin.Forms.Platform.iOS/ContextScrollViewDelegate.cs
Labels: a/listview, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#6471 [Android] Fix MasterDetailContainer fragment handling
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailContainer.cs
  Xamarin.Forms.Platform.Android/Extensions/FragmentManagerExtensions.cs
Labels: approved, i/high, p/Android, t/bug :bug:

#5137 [Mac] Added support AutomationProperty
  Xamarin.Forms.Controls/ControlGalleryPages/AutomationPropertiesGallery.cs
  Xamarin.Forms.Platform.MacOS/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.MacOS/Cells/TextCellRenderer.cs
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/a11y 🔍, p/iOS 🍎, p/macOS, t/enhancement ➕

#7247 [iOS] Backport iOS13 compatibility fixes to 2.5.0
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  EmbeddingTestBeds/Embedding.Droid/Properties/AndroidManifest.xml
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP_TemporaryKey.pfx
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.Droid/Properties/AndroidManifest.xml
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.UWP/Xamarin.Forms.ControlGallery.WindowsUniversal_TemporaryKey.pfx
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.Build.Tasks/Xamarin.Forms.Build.Tasks.csproj
  Xamarin.Forms.ControlGallery.Android/ColorPicker.cs
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal_TemporaryKey.pfx
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/ModalFormSheetPageiOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGallery.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Page.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/UIModalPresentationStyle.cs
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup.csproj
  Xamarin.Forms.Platform.Android/AppCompat/PageExtensions.cs
  Xamarin.Forms.Platform.Android/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.MacOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
  build/scripts/generate-docs.ps1
Labels: p/Android, p/UWP, p/iOS 🍎, p/macOS

#7263 [Build] Add nightly schedule
  azure-pipelines.yml
Labels: t/housekeeping ♻︎

#7259 [xaml] Fixes toolbox snippet for CollectionView
  Xamarin.Forms.Core.Design/toolbox/Xamarin.Forms.toolbox.xml
Labels: forms-previewer

#7276 Fix android to not duplicate TitleView with Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellTitleView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:, p/Android, t/bug :bug:

#7273 Fix crash with nested CollectionViews on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/NestedCollectionViews.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/NestedGalleries/NestedCollectionViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/NestedGalleries/NestedCollectionViewGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, i/high, p/UWP, p/iOS 🍎, t/bug :bug:

#7267 Disable UWP CollectionViewSource CurrentItem synchronization
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/FilterSelection.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/FilterSelection.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#5880 Automated UI Tests
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla39987.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40092.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40408.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40955.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41271.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42329.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42832.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43469.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43519.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43663.cs
Labels: inactive, p/iOS 🍎, t/housekeeping ♻︎

#4527 Make Label display HTML from a string
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/LabelTextType.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/TextType.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/LabelHtmlHelper.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: API-change, F100, a/Xaml </>, a/shell :shell:, inactive, p/Android, p/UWP, p/iOS 🍎, p/macOS, retarget-branch-required, roadmap, t/enhancement ➕

#7188 [X] OnPlatform use BP.DefaultValue
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7156.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7156.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnPlatformExtension.cs
Labels: a/Xaml </>, breaking, t/bug :bug:

#7254 Fix Android FlyoutBehavior Disabled and add UI Tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:, blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#6196 [Shell][Tizen] Add the MaterialShellRenderer on Tizen
  Xamarin.Forms.ControlGallery.Tizen/res/bell.png
  Xamarin.Forms.ControlGallery.Tizen/res/books.png
  Xamarin.Forms.ControlGallery.Tizen/res/booksflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/card.png
  Xamarin.Forms.ControlGallery.Tizen/res/film.png
  Xamarin.Forms.ControlGallery.Tizen/res/filmflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/games.png
  Xamarin.Forms.ControlGallery.Tizen/res/gamesflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/grid.png
  Xamarin.Forms.ControlGallery.Tizen/res/headphone.png
  Xamarin.Forms.ControlGallery.Tizen/res/headphoneflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/homeflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/jet.png
  Xamarin.Forms.ControlGallery.Tizen/res/loop.png
  Xamarin.Forms.ControlGallery.Tizen/res/newspaper.png
  Xamarin.Forms.ControlGallery.Tizen/res/newspaperflyout.png
  Xamarin.Forms.ControlGallery.Tizen/res/person.png
  Xamarin.Forms.ControlGallery.Tizen/res/star.png
  Xamarin.Forms.ControlGallery.Tizen/res/xamarinstore.jpg
  Xamarin.Forms.Material.Tizen/Shell/MaterialNavigationDrawer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialNavigationView.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellItemRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellSectionNavigation.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellSectionRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Shell/INavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/INavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/IShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionNavigation.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: a/shell :shell:, a/visual, p/Tizen

#6136 [Maps] Add polylines and polygons
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MapElementsGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapElementsGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Map.cs
  Xamarin.Forms.Maps/MapElement.cs
  Xamarin.Forms.Maps/Polygon.cs
  Xamarin.Forms.Maps/Polyline.cs
Labels: API-change, F100, a/maps :globe_with_meridians:, approved, community-sprint, inactive, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#7113 Add priority parameter to HandlerAttribute to thwart priority by assembly order
  Xamarin.Forms.Core.UnitTests/RegistrarUnitTests.cs
  Xamarin.Forms.Core/HandlerAttribute.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Material.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.Tizen/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialCheckBoxRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.iOS/Properties/AssemblyInfo.cs
Labels: API-change, a/visual, blocker, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, t/bug :bug:

#7213 [iOS] Fix accessibility regressions with hidden views, WebViews, and layouts
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6929.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7053.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/IAccessibilityElementsController.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/a11y 🔍, a/webview, i/regression, p/iOS 🍎, t/bug :bug:

#7214 [Android/iOS] RefreshView
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/RefreshViewCoreGalleyPage.cs
  Xamarin.Forms.Controls/GalleryPages/GalleryBuilder.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCollectionViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCollectionViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshLayoutGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshLayoutGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshListViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshListViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshScrollViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshScrollViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/PlatformConfiguration/WindowsSpecific/RefreshView.cs
  Xamarin.Forms.Core/RefreshView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: a/collectionview, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#5044 [Feature] CarouselView
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.ControlGallery.iOS/Resources/cardBackground@2x.png
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingModifier.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Core.UnitTests/CarouselViewTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/CurrentItemChangedEventArgs.cs
  Xamarin.Forms.Core/Items/ItemSizingStrategy.cs
  Xamarin.Forms.Core/Items/PositionChangedEventArgs.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselSpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/Xaml </>, a/carouselview, a/collectionview, a/shell :shell:, a/visual, blocker, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎, roadmap, t/enhancement ➕

#7306 Fix NRE for gh 4267
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: i/high, i/regression, mobcat, p/iOS 🍎, t/bug :bug:
