Repository xamarin/Xamarin.Forms, pull requests merged in 2019-12, with the labels that each got.

#8001 IOS Linker fixes inside Xamarin.Forms
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/LinkerSafeAttribute.cs
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/CheckBoxRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, p/iOS 🍎, t/bug :bug:

#8590 [Bug] FontImageSourse doesn't work on macOS
  Xamarin.Forms.ControlGallery.MacOS/Resources/Fonts/ionicons.ttf
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.MacOS/ImageSourceHandlers.cs
  Xamarin.Forms.Platform.MacOS/Properties/AssemblyInfo.cs
Labels: ControlGallery, p/macOS, t/bug :bug:

#7670 [Android] Fix crash adding items to the CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7510.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/AdapterNotifier.cs
Labels: a/carouselview, a/collectionview, blocker, i/high, p/Android, t/bug :bug:

#8215 Fix issue 6878 | [Bug] ShellItem.Items.Clear() crashes when the ShellItem has bottom tabs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6878.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs
Labels: ControlGallery, Core, a/Xaml </>, a/carouselview, a/collectionview, a/shell :shell:, a/visual, hacktoberfest 🍻, i/high, p/Android, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, t/bug :bug:

#8446 WPF GTK Set flags
  Xamarin.Forms.ControlGallery.GTK/Program.cs
  Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  Xamarin.Forms.Platform.GTK/Forms.cs
  Xamarin.Forms.Platform.WPF/Forms.cs
Labels: ControlGallery, approved, p/WPF, p/gtk

#8705 [Android] ListViewRenderer - Better dispose
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
Labels: p/Android

#8725 [UITests] Update Xamarin.UITests packages
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
Labels: ControlGallery, p/Android, p/iOS 🍎

#8704 [Android] MasterDetailPageRenderer - Add guard and add missing unsubscribe
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
Labels: p/Android

#8697 [Tizen] Add RefreshView for Tizen
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Resource/refresh_48dp.png
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: p/Tizen

#8686 [Tizen] Enhancement EntryRenderer
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Native/SearchBar.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: p/Tizen

#8631 Remove private modifier
  Xamarin.Forms.Platform.GTK/Cells/EntryCell.cs
  Xamarin.Forms.Platform.GTK/Cells/ImageCell.cs
  Xamarin.Forms.Platform.GTK/Cells/TextCell.cs
  Xamarin.Forms.Platform.GTK/Controls/DatePicker.cs
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/Standard/ErrorCodes.cs
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/Standard/NativeMethods.cs
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/SystemParameters2.cs
Labels: ControlGallery, a/shell :shell:, p/WPF, p/gtk

#8630 Reverse the order of assigning the Current Items on Shell
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: Core, a/shell :shell:, blocker, t/bug :bug:

#7711 [CollectionView] Fix crash on iOS adding items (ObservableCollection)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7678.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/carouselview, a/collectionview, approved, i/critical, p/iOS 🍎, t/bug :bug:

#8674 [iOS] Fixes crash in CollectionViews when using DataTemplateSelector as a DataTemplate when used in GroupHeaders and or GroupFooters
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8647.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
Labels: a/collectionview, approved, p/iOS 🍎, t/bug :bug:

#7988 fix #5518 | Frame Tap Gesture not working when using Visual="Material" in iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5518.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.iOS/MaterialFrameRenderer.cs
Labels: a/gestures 🖖, a/visual, approved, blocker, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#8696 Prevent UWP NullReferenceException when calling SavePropertiesAsync method off the main thread
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8682.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/DispatcherExtensions.cs
Labels: Core, approved, i/regression, t/bug :bug:

#8639 Uwp thread to task fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41418.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub1702.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1704.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1724.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3367.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5376.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6282.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewLoadSimulateGallery.xaml.cs
Labels: ControlGallery, a/collectionview

#8702 Add name of key in INameScope.RegisterName ArgumentException
  Xamarin.Forms.Core/Internals/NameScope.cs
Labels: Core, a/Xaml </>, proposal-open, t/enhancement ➕

#8531 Fix dynamic heights for iOS Flyout Item Templates
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: ControlGallery, a/shell :shell:, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#8770 Revert back to VS 2017
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42620.cs
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/LockingSemaphore.cs
  Xamarin.Forms.Core/Profiler.cs
  Xamarin.Forms.Core/StyleSheets/CssReader.cs
  Xamarin.Forms.Core/TemplateUtilities.cs
  Xamarin.Forms.Core/corefx/FormsQueue.cs
  Xamarin.Forms.Core/corefx/FormsStack.cs
  Xamarin.Forms.Platform.Android/RendererPool.cs
  Xamarin.Forms.Platform.Android/ViewPool.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Extensions/UIViewExtensions.cs
  Xamarin.Forms.Platform.iOS/RendererPool.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
  azure-pipelines.yml
Labels: Core, a/Xaml </>, p/Android, p/gtk, p/iOS 🍎, p/macOS, t/bug :bug:

#8760 [X] send tree changed events on parenting
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.Core/Xaml/Diagnostics/DebuggerHelper.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/VisualDiagnostics.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/VisualTreeChangeEventArgs.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/XamlSourceInfo.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/Properties/AssemblyInfo.cs
Labels: Core, a/Xaml </>, external-hotreload

#8733 [Android] Center elements in CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8638.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8638.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselSnapGallery.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselSpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/RecyclerViewScrollListener.cs
Labels: ControlGallery, a/carouselview, a/collectionview, blocker, p/Android, t/bug :bug:

#8144 Add VSM Setter TargetName
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/VisualStateManagerGallery.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/VisualStateSetterTarget.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/VisualStateSetterTarget.xaml.cs
  Xamarin.Forms.Core.UnitTests/VisualStateManagerTests.cs
  Xamarin.Forms.Core/Setter.cs
  Xamarin.Forms.Xaml.UnitTests/VisualStateManagerTests.xaml
  Xamarin.Forms.Xaml.UnitTests/VisualStateManagerTests.xaml.cs
Labels: ControlGallery, Core, F100, a/VSM, a/Xaml </>, a/style, blocker, roadmap, t/enhancement ➕

#8761 [iOS] CollectionView crashes on iOS 12 for repeated adds
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8672.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/collectionview, blocker, p/iOS 🍎, t/bug :bug:

#8105 Fixed 5749 - Issue with disabling horizontal scroll on Android
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/_5749CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5749.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5749.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/AHorizontalScrollView.cs
Labels: ControlGallery, hacktoberfest 🍻, p/Android, partner, t/bug :bug:

#8740 Platform specific on iOS for setting CanBecomeFirstResponder
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45723.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/VisualElement.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: Core, p/iOS 🍎, t/bug :bug:

#8768 Prevent ObjectDisposed exception when updating item ejected from recycled pool
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#8775 [Tizen] Enhances the Static Registrar
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/GestureDetector.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: p/Tizen

#8798 [Tizen] Remove unnecessary Lazy loading
  Xamarin.Forms.Platform.Tizen/Forms.cs
Labels: p/Tizen

#8665 Added Converter to simplify the use of Layouts in the CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7813.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7813.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/CarouselLayoutTypeConverter.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/LinearItemsLayout.cs
Labels: Core, a/Xaml </>, a/carouselview, approved, p/Android, p/UWP, p/iOS 🍎, proposal-open, t/enhancement ➕

#8658 Prevent EntryRenderer from stepping on itself when setting alignment
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/LinkDescription.xml
  Xamarin.Forms.ControlGallery.Android/Tests/Issues.cs
  Xamarin.Forms.ControlGallery.Android/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.Android/Tests/PlatformTestSettings.cs
  Xamarin.Forms.ControlGallery.Android/Tests/RendererTests.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/LinkDescription.xml
  Xamarin.Forms.ControlGallery.iOS/PerformanceTrackerRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/RegistrarValidationService.cs
  Xamarin.Forms.ControlGallery.iOS/SampleNativeControl.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/PlatformTestSettings.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/RendererTests.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla28575.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla32230.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/TestNameContainsFilter.cs
  Xamarin.Forms.Controls/Tests/ControlGalleryTestListener.cs
  Xamarin.Forms.Controls/Tests/CrossPlatformTests.cs
  Xamarin.Forms.Controls/Tests/IPlatformTestSettings.cs
  Xamarin.Forms.Controls/Tests/PlatformTestRunner.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UITests.Shared/PlatformAutomatedTest.cs
  Xamarin.Forms.Core.UITests.Shared/Queries.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Platform.Android/Extensions/TextAlignmentExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: ControlGallery, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#8709 Fixed IndicatorView issue resetting the template when data updates
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8693.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#8745 [Android] Fix various memory leaks
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/BackgroundManager.cs
  Xamarin.Forms.Platform.Android/BorderBackgroundManager.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/RendererPool.cs
  Xamarin.Forms.Platform.Android/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: p/Android, t/bug :bug:

#8418 Fix #8035 - system font on iOS 13
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
Labels: iOS 13, p/iOS 🍎, t/bug :bug:

#6615 Use correct reference frame for gesture origin recognition
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: p/iOS 🍎, t/bug :bug:

#7933 fix for Issue 7772- Device.Idiom return TV for Android TV devices
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: hacktoberfest 🍻, p/Android, t/bug :bug:

#8764 [Android] Fix some issues in UITests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzila57749.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla39702.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43469.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla59172.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla60691.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GestureBubblingTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/InputTransparentTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2617.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/AutomationIDUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Core.UnitTests/DatePickerUnitTest.cs
  Xamarin.Forms.Xaml.UnitTests/AssemblyInfoTests.cs
Labels: Core, a/Xaml </>, a/collectionview

#8415 Fixed EmptyView issues on CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8326.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8326.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8449.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8449.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/SimpleViewHolder.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/IEmptyView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplateHelpers.cs
Labels: a/collectionview, approved, p/Android, p/UWP, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#8788 Queue DisplayPromptAsync for display after pages loads
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8526.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/Page.cs
Labels: Core, t/bug :bug:

#8703 [Android] Fix some views dispose
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewContainer.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: p/Android

#7365 fix back icon color for the navigation page
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: approved, in-progress, p/Android, t/enhancement ➕

#8445 [Core] Removed null values from the DisplayActionSheet method
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4744.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4744.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/ActionSheetArguments.cs
Labels: Core, t/bug :bug:

#8627 [Bug] FontImageSourse doesn't work on GTK #8593
  Xamarin.Forms.ControlGallery.GTK/Assets/ionicons.ttf
  Xamarin.Forms.ControlGallery.GTK/Xamarin.Forms.ControlGallery.GTK.csproj
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.GTK/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.GTK/Renderers/ImageRenderer.cs
Labels: ControlGallery, approved, p/gtk, t/bug :bug:

#7660 Setup android to be properly multi targeted
  .create-nuget.bat
  .create-stubs.bat
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  Directory.Build.props
  Stubs/Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.Android/global.json
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.Android/global.json
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Material.Android/global.json
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android.AppLinks/global.json
  Xamarin.Forms.Platform.Android/TextViewExtensions.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.Android/global.json
  azure-pipelines.yml
  build.cake
Labels: ControlGallery, a/visual, p/Android

#8839 [UWP] Fixed CollectionView item spacing
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: ControlGallery, a/collectionview, p/UWP, t/bug :bug:

#8886 [UnitTests] Fix OOM exception on unit tests
  Xamarin.Forms.Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/ModuleDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: a/Xaml </>, blocker

#8683 [UWP] Update to 6.0.15
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Maps.GTK/Xamarin.Forms.Maps.GTK.csproj
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Pages.Azure/Xamarin.Forms.Pages.Azure.csproj
  Xamarin.Forms.Pages/Xamarin.Forms.Pages.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, p/Android, p/UWP, p/gtk, p/iOS 🍎, p/macOS

#6013 Custom/Embedded fonts
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.iOS/Info.plist
  PagesGallery/PagesGallery/App.xaml.cs
  PagesGallery/PagesGallery/EventsPage.xaml
  PagesGallery/PagesGallery/PagesGallery.csproj
  PagesGallery/PagesGallery/Resources/CuteFont-Regular.ttf
  PagesGallery/PagesGallery/Resources/Dokdo-Regular.ttf
  PagesGallery/PagesGallery/Resources/PTM55FT.ttf
  PagesGallery/PagesGallery/Resources/fa-regular-400.ttf
  PagesGallery/PagesGallery/SpeakersPage.xaml
  Xamarin.Forms.Core.UnitTests/FontUnitTests.cs
  Xamarin.Forms.Core/EmbeddedFont.cs
  Xamarin.Forms.Core/ExportFontAttribute.cs
  Xamarin.Forms.Core/FontFile.cs
  Xamarin.Forms.Core/FontRegistrar.cs
  Xamarin.Forms.Core/IEmbeddedFontLoader.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.UAP/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: API-change, Core, approved, p/Android, p/UWP, p/iOS 🍎, roadmap, t/enhancement ➕

#8248 Fix Issue 8207 | [Bug] Shell Flyout Items on UWP aren't showing the Title
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8207.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8207.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutSeparator.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutTemplateSelector.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/shell :shell:, hacktoberfest 🍻, p/UWP, t/bug :bug:

#8874 [Tizen] Creates the GestureDetector on demand
  Xamarin.Forms.Platform.Tizen/GestureDetector.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ViewRenderer.cs
Labels: p/Tizen

#8868 Fix corner clipping on ImageButton and Button (FR) (#7723)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4606.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/BorderDrawable.cs
Labels: a/visual, p/Android

#8877 [android] fix NRE in ImageCell / ImageViewExtensions
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
Labels: p/Android

#8568 [CollectionView] Fixed crash modifying an ObservableCollection from non UI thread
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8392.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupedItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/carouselview, a/collectionview, approved, i/high, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#8750 Setup UWP Platform projects to use multi targeting
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Maps.UWP/global.json
  Xamarin.Forms.Platform.UAP/WindowsIsolatedStorage.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.UAP/global.json
  build/steps/build-windows.yml
Labels: ControlGallery, blocker, p/UWP

#8923 Change build output on 2017 to match 2019
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/visual, p/Android

#8368 #7875: Android: Button size changes when setting Accessibility properties
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7875.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
Labels: a/a11y 🔍, p/Android, t/bug :bug:

#7964 [WPF] Frame: Add shadow and padding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7963.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ViewRenderer.cs
Labels: approved, hacktoberfest 🍻, p/WPF

#8160 [UWP] Null HeaderTemplate and Header if no Title is provided on Picker.
  Xamarin.Forms.Platform.UAP/PickerRenderer.cs
Labels: ControlGallery, approved, hacktoberfest 🍻, p/UWP, t/bug :bug:

#8917 Convert elevation platform specific to correct pixel scale
  Xamarin.Forms.Platform.Android/Elevation.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: blocker, i/regression, p/Android, t/bug :bug:

#8146 macOS toolbar improvements
  Xamarin.Forms.Controls/ControlGalleryPages/ToolbarItems.cs
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/macOS

#8447 [Xaml] Throw XamlParseException in MarkupExpressionParser.GetNextPiece
  Xamarin.Forms.Build.Tasks/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
Labels: a/Xaml </>

#8535 [XamlC] Support variance
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: a/Xaml </>

#5186 [Xaml[C]] Accept prefixed property names of markup extensions
  Xamarin.Forms.Build.Tasks/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/GenericsTests.xaml
  Xamarin.Forms.Xaml.UnitTests/GenericsTests.xaml.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
  Xamarin.Forms.Xaml/XamlParser.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, t/enhancement ➕

#8397 [XamlC] Dispose assembly resolver constructed by XamlCTask
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
Labels: a/Xaml </>

#8942 8935 - Typo fix in StackLayout
  Xamarin.Forms.Core/StackLayout.cs
Labels: Core, t/housekeeping ♻︎

#8962 Stop the linker from killing off the Deserializer
  Xamarin.Forms.Platform.iOS/Deserializer.cs
  Xamarin.Forms.Platform.iOS/NativeBindingService.cs
  Xamarin.Forms.Platform.iOS/NativeValueConverterService.cs
Labels: p/iOS 🍎

#8926 Package up everything into the PRI file for debug and release builds
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  azure-pipelines.yml
  build.cake
  build/steps/build-windows.yml
Labels: ControlGallery, p/UWP

#8975 Stop linker removing custom renderers, services, and effects in Control Gallery
  Xamarin.Forms.ControlGallery.iOS/LinkDescription.xml
  Xamarin.Forms.Platform.iOS/EventTracker.cs
  Xamarin.Forms.Platform.iOS/ShadowEffect.cs
Labels: ControlGallery, p/iOS 🍎

#8965 [android] use Type.GetType() to load AppLinks
  Xamarin.Forms.Platform.Android/AndroidAppIndexProvider.cs
Labels: p/Android

#8865 [Android] Fixed Gif animation loading from files
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8821.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/AndroidGIFImageParser.cs
Labels: a/animation 🎬, p/Android, t/bug :bug:
