Repository xamarin/Xamarin.Forms, pull requests merged in 2019-02, with the labels that each got.

#5101 [X] add callback for previewer on failing ctor
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/FactoryMethodMissingCtor.xaml.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>, forms-previewer

#5096 Allow the previewer to use design flag on RDs
  Xamarin.Forms.Xaml/ResourcesLoader.cs
Labels: a/Xaml </>, forms-previewer

#5094 [iOS] Implement ItemSizingStrategy hint property for CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/VariableSizeTemplateGridGallery.cs
  Xamarin.Forms.Core/Items/ItemSizingStrategy.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/iOS 🍎

#5099 [Xaml] Better handling of exception on properties
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>, forms-previewer

#5124 [Xaml] don't use context before checking it's not null
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, forms-previewer

#5065 Prevent snap helpers from snapping until the user interacts with scro…
  Xamarin.Forms.Platform.Android/CollectionView/CenterSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/EdgeSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/EndSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/NongreedySnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.Android/CollectionView/StartSnapHelper.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/collectionview, p/Android

#5079 [Android Material] Linear Progress Indicator
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MaterialProgressBarGallery.cs
  Xamarin.Forms.Material.iOS/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/drawable/MaterialProgressBar.xml
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/visual, p/Android, p/iOS 🍎, t/enhancement ➕

#5139 [Previewer] Fallback for factorymethod not found
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
Labels: forms-previewer

#5155 [previewer] more info to the callback
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>, forms-previewer

#5055 [iOS] CollectionView multi-item Add/Remove/Replace/Move
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemRemover.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemReplacer.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionResetGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableMultiItemCollectionViewGallery.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, p/iOS 🍎

#5169 [X] only require escaping if starts with '{'
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3539.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue1438.xaml
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
Labels: i/regression

#4607 [Mac] NavigationPageRenderer amendments RE: Issue4388
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.Platform.MacOS/Cells/ViewCellNSView.cs
  Xamarin.Forms.Platform.MacOS/ModalPageTracker.cs
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
  Xamarin.Forms.Platform.MacOS/Platform.cs
  Xamarin.Forms.Platform.MacOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewDataSource.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TableViewDataSource.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/DisposeHelpers.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: e/3 :clock3:, p/macOS, t/bug :bug:

#5074 Cake build script
  .gitignore
  build.cake
  build.ps1
  build.sh
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#3400 [UWP] Fixes call Tapped event in EntryCellTextBox
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: e/2 :clock2:, p/UWP, t/bug :bug:

#4911 [AND] Fix opening of multiple Picker dialogs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
Labels: e/1 :clock1:, p/Android, t/bug :bug:

#5179 Missing visual not falling back to registered default renderer
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Core.UnitTests/RegistrarUnitTests.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
Labels: a/visual

#5000 [Android] fixes TabStop on Stepper Control
  Xamarin.Forms.Platform.Android/Renderers/StepperRenderer.cs
Labels: p/Android, p/iOS 🍎, t/bug :bug:

#2697 [Android, WPF] Fixes rounding down the size of visual elements
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1544.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
  Xamarin.Forms.Platform.WPF/FormsPanel.cs
Labels: DO-NOT-MERGE-!!! :stop_sign:, a/layout, e/1 :clock1:, p/Android, p/WPF, t/bug :bug:

#5181 Reinstate and obsolete IPlatform, et al
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewTemplateGallery.xaml
  Xamarin.Forms.Core.UnitTests/PreviewerReflectionTests.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/IElementController.cs
  Xamarin.Forms.Core/IMenuItemController.cs
  Xamarin.Forms.Core/Internals/IPlatform.cs
  Xamarin.Forms.Core/Internals/NavigationRequestedEventArgs.cs
  Xamarin.Forms.Core/MenuItem.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/ToolbarItem.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
  Xamarin.Forms.Platform.GTK/Platform.cs
  Xamarin.Forms.Platform.MacOS/Platform.cs
  Xamarin.Forms.Platform.MacOS/PlatformNavigation.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
  Xamarin.Forms.Platform.Tizen/LightweightPlatform.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.WPF/Platform.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: API-change, blocker, i/regression

#5180 Add AllowMultiple=true to QueryPropertyAttribute
  Xamarin.Forms.Core/Shell/QueryPropertyAttribute.cs
Labels: a/shell :shell:, retarget-branch-required

#5104 [Xaml] better error reporting
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5095.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5095.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Validation/TypeMismatch.xaml.cs
Labels: a/Xaml </>, t/bug :bug:

#4737 [macOS] Only the first Navigating event of WebView can be triggered
  Xamarin.Forms.Platform.MacOS/Renderers/WebViewRenderer.cs
Labels: e/1 :clock1:, p/macOS, t/bug :bug:

#4983 Fix ScrollTo on Mac
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3318.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
Labels: e/4 :clock4:, p/macOS, t/bug :bug:

#4928 [MacOS] TapGestureRecognizer doesn't work for Spans
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: e/2 :clock2:, p/macOS, t/bug :bug:

#5222 [iOS] Fix ImageRenderer dispose
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#5227 Backport some 3.6 previewer changes to 3.5
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/FactoryMethodMissingCtor.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/ResourcesLoader.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: forms-previewer, t/housekeeping ♻︎

#5245 Revert "[Android] fixes issue content set after an await is not visible"
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1332.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1760.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1760_1.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: blocker

#5158 BindableLayout: Pass container in SelectTemplate
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core/BindableLayout.cs
Labels: t/bug :bug:

#4634 [iOS] Remove suggestion bar in iOS picker, datepicker,timepicker for iPAD
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4629.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: breaking, e/1 :clock1:, p/iOS 🍎, t/enhancement ➕

#5241 [Android] Fix ImageRenderer URI
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5172.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
Labels: a/listview, blocker, e/2 :clock2:, i/regression, p/Android, t/bug :bug:

#5255 [C] Binding null on nullable
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5242.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5242.xaml.cs
Labels: a/binding ⛓, t/bug :bug:

#5231 Collectionview uitest
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionModifier.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableMultiItemCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TemplateCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TemplateCodeCollectionViewGridGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TextCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TextCodeCollectionViewGridGallery.cs
  Xamarin.Forms.Controls/GalleryPages/GalleryBuilder.cs
  Xamarin.Forms.Core.UITests.Shared/Queries.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
Labels: a/collectionview

#5066 [Android] Set Page background color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5057.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5057.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
Labels: e/2 :clock2:, p/Android, t/bug :bug:

#5051 Implement FlowDirection propagation to items in CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagateCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagationGallery.cs
  Xamarin.Forms.Core/Internals/PropertyPropagationExtensions.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
Labels: a/collectionview, p/Android, p/iOS 🍎

#5191 [MacOs] Slider inside StackLayout Horizontal Orientation crash
  Xamarin.Forms.Platform.MacOS/Controls/FormsNSSlider.cs
  Xamarin.Forms.Platform.MacOS/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
Labels: e/3 :clock3:, p/macOS, t/bug :bug:

#4955 [Android] Fix ObjectDisposedException on MasterDetailPageRenderer update
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailRenderer.cs
Labels: e/2 :clock2:, p/Android, t/bug :bug:

#5281 [iOS] add single parameter constructor back
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: blocker

#4993 [Core] Fix dynamic resources in merged dictionaries #3661
  Xamarin.Forms.Core/ResourcesExtensions.cs
Labels: a/Xaml </>, e/1 :clock1:, t/bug :bug:

#5221 [iOS] Fix the layout of the button
  Xamarin.Forms.Controls/GalleryPages/ButtonLayoutGalleryPage.xaml
  Xamarin.Forms.Platform.iOS/Renderers/ButtonLayoutManager.cs
Labels: a/visual

#5269 [XamlC] avoid cast exception on overriden members
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5242.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5256.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5256.xaml.cs
Labels: a/Xaml </>

#5013 [iOS] Fixed updating Label TextDecorations when no Text is set
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5003.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5003.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: e/1 :clock1:, p/iOS 🍎, t/bug :bug:

#5331 Fix NRE in Android ResourceManager when reference resource in Previewer
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: forms-previewer, p/Android, t/bug :bug:

#5143 [Android] Include default proguard file so user doesn't have to create rules for XF
  .nuspec/Xamarin.Forms.Android.targets
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/proguard.cfg
  Xamarin.Forms.sln
Labels: p/Android, t/enhancement ➕

#5329 [Android] Fix SearchBar renderer height on API24
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: blocker, m/high impact :black_large_square:, p/Android

#5309 [XamlC] Identify generic instance types correctly when importing ctor
  Xamarin.Forms.Build.Tasks/ModuleDefinitionExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/ModuleDefinitionExtensionsTests.cs
Labels: a/Xaml </>, t/bug :bug:

#5275 [CSS] fix mapping for vertical-align
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
Labels: a/CSS, t/bug :bug:

#5174 Added UI test to B41600
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41600.cs
Labels: t/housekeeping ♻︎

#5332 [Material] rename iOS assembly to be non platform specific
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
Labels: a/visual, blocker, p/iOS 🍎

#5027 [Material] [Android, iOS] Materializing the stepper
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2597.cs
  Xamarin.Forms.Controls/ControlGalleryPages/VisualGallery.xaml
  Xamarin.Forms.Material.iOS/MaterialStepperRenderer.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.Android/IStepperRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialStepperRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/StepperRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/StepperRendererManager.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/visual, blocker, p/Android, p/iOS 🍎

#5146 [Android CollectionView] Fixes crash when ItemSource Changed
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewLoadSimulateGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewLoadSimulateGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#5243 Update BindableLayout.cs to fix #5213
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core/BindableLayout.cs
Labels: blocker, e/2 :clock2:, t/bug :bug:

#5304 [Visual] Visual xaml and Visual registrations
  Xamarin.Forms.Core.Design/AttributeTableBuilder.cs
  Xamarin.Forms.Core.Design/VisualDesignTypeConverter.cs
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
  Xamarin.Forms.Core/HandlerAttribute.cs
  Xamarin.Forms.Core/ReflectionExtensions.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Core/RenderWithAttribute.cs
  Xamarin.Forms.Core/Visual.cs
  Xamarin.Forms.Core/Visuals/IVisual.cs
  Xamarin.Forms.Core/Visuals/VisualAttribute.cs
  Xamarin.Forms.Core/Visuals/VisualMarker.cs
  Xamarin.Forms.Core/Visuals/VisualTypeConverter.cs
  Xamarin.Forms.Material.iOS/MaterialStepperRenderer.cs
  Xamarin.Forms.Material.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Material/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialEntryRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialFrameRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialPickerRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialSliderRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialStepperRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Platform.GTK/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.Tizen/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.UAP/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.WPF/ExportRendererAttribute.cs
  Xamarin.Forms.Sandbox/App.StartHere.cs
  Xamarin.Forms.Sandbox/MainPage.xaml
  Xamarin.Forms.Sandbox/MainPage.xaml.cs
Labels: a/Xaml </>, a/visual, blocker, t/enhancement ➕

#5380 Visual equality
  Xamarin.Forms.Controls/CoreGallery.cs
Labels: t/housekeeping ♻︎

#5350 [Android] add build error if TargetFramework is too low
  .nuspec/Xamarin.Forms.Android.targets
  .nuspec/Xamarin.Forms.Visual.Material.targets
Labels: blocker, breaking, p/Android

#5369 [previewer] resilience on createvalue
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/FillResourceDictionariesVisitor.cs
Labels: blocker, forms-previewer

#4984 [UWP] fix so tests are compatible with UWP
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1667.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1937.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2004.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2399.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3809.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3840.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/TestCases.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestBase.cs
Labels: a/docs, e/2 :clock2:, p/UWP, t/housekeeping ♻︎

#5384 BindableProperty: More explanatory exception message
  Xamarin.Forms.Core/BindableProperty.cs
Labels: a/binding ⛓

#5324 [C] deprecate GetValues
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/FlexLayout.cs
  Xamarin.Forms.Core/FontElement.cs
  Xamarin.Forms.Platform.iOS/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: deprecation, t/enhancement ➕

#5379 [iOS] Cell.DefaultBackgroundColor iOS platform-specific only works for header cells
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
Labels: blocker, p/iOS 🍎, t/bug :bug:

#5406 Fix the issue when building on a mac
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
Labels: blocker

#5373 [iOS] Load specified Font Family or PostScript Font
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: blocker, p/iOS 🍎, t/bug :bug:

#5405 [Android] move renderers to separate nuget
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Core/Visuals/VisualMarker.cs
  Xamarin.Forms.Material.Android/FormsMaterial.cs
  Xamarin.Forms.Material.Android/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.Android/MaterialContextThemeWrapper.cs
  Xamarin.Forms.Material.Android/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFormsEditText.cs
  Xamarin.Forms.Material.Android/MaterialFormsEditTextBase.cs
  Xamarin.Forms.Material.Android/MaterialFormsEditTextManager.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayout.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Material.Android/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Android/MaterialPickerEditText.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialPickerTextInputLayout.cs
  Xamarin.Forms.Material.Android/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Android/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.Android/MaterialStepperRenderer.cs
  Xamarin.Forms.Material.Android/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Material.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.Android/Resources/Layout/MaterialPickerTextInput.axml
  Xamarin.Forms.Material.Android/Resources/Layout/TextInputLayoutFilledBox.axml
  Xamarin.Forms.Material.Android/Resources/color/white_disabled_material.xml
  Xamarin.Forms.Material.Android/Resources/drawable-v24/MaterialActivityIndicatorBackground.xml
  Xamarin.Forms.Material.Android/Resources/drawable/MaterialActivityIndicatorBackground.xml
  Xamarin.Forms.Material.Android/Resources/drawable/MaterialProgressBar.xml
  Xamarin.Forms.Material.Android/Resources/values-v21/styles.xml
  Xamarin.Forms.Material.Android/Resources/values/styles.xml
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: a/visual, blocker

#4999 [Android, iOS] added re-measure of TimePicker after change value
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4961.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: e/6 :clock6:, p/Android, p/iOS 🍎, t/bug :bug:

#5400 [X] more conv exception, bubble to previewer
  Xamarin.Forms.Core/StyleSheets/Style.cs
  Xamarin.Forms.Core/Xaml/TypeConversionExtensions.cs
  Xamarin.Forms.Core/Xaml/ValueConverterProvider.cs
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnIdiomExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnPlatformExtension.cs
Labels: a/Xaml </>, blocker, forms-previewer

#5358 [Android] Allow Renderer/Adapter to deselect ViewHolders not in child collection
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/PreselectedItemGallery.xaml
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#5383 [iOS, Android] Prevent NREs in ScrollViews
  Xamarin.Forms.Platform.Android/Renderers/AHorizontalScrollView.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
Labels: blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#5342 previewer; PageRenderer trap for missing bg image
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: blocker

#5398 [Android] Remove changes to IVisualElementRenderer so it remains backwards compatible
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/ILayoutChanges.cs
  Xamarin.Forms.Platform.Android/IVisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: API-change, blocker, breaking

#5353 [iOS] Properly handle EmptyView updates
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewSwapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewSwapGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:
