Repository xamarin/Xamarin.Forms, pull requests merged in 2019-11, with the labels that each got.

#8241 [iOS] Fix scroll to does not scroll to end
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2271.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
Labels: approved, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#8311 Prevent UWP error/crash when updating binding off the main thread
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8167.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Dispatcher.cs
  Xamarin.Forms.Platform.UAP/DispatcherProvider.cs
Labels: a/binding ⛓, i/high, i/regression, p/UWP, t/bug :bug:

#8335 [Android] Fix API21 usage on shell
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, p/Android

#8052 Fixe issue 5367 | Crash assigning excessively long text to Editor with MaxLength property set
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5367.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
Labels: hacktoberfest 🍻, i/high, p/Android, t/bug :bug:

#8283 [iOS] Fix crash using an object that implements IEnumerable and INotifyCollectionChanged
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8200.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: ControlGallery, a/carouselview, a/collectionview, approved, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#8354 [UWP] Enables usage of font image source for bottom bar tabs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
Labels: ControlGallery, a/shell :shell:, p/UWP

#8147 Fix UWP Toolbar icons
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7505.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ImageSourceIconElementConverter.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: breaking, mobcat, p/UWP, t/bug :bug:

#8273 Add missing null check on ItemsSource when IsGrouped is true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8269.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsSourceFactory.cs
Labels: a/collectionview, approved, i/critical, p/Android, retarget-branch-required, t/bug :bug:

#8265 [iOS] [macOS] Fix HTML string encoding
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#7871 Make iOS FrameRenderer.SetupLayer virtual
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: API-change, a/customrenderer, p/iOS 🍎, t/enhancement ➕

#8195 [WPF] Fix View doesn't render when set IsClippedToBounds to true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8087.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/LayoutRenderer.cs
Labels: approved, hacktoberfest 🍻, p/WPF, partner, t/bug :bug:

#8324 Fix NRE in OnPause unregister not-registered broadcast receiver
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
Labels: i/high, p/Android, t/bug :bug:

#7282 [Android Maps] Check for location permissions when IsShowingUser=true
  Xamarin.Forms.Maps.Android/MapRenderer.cs
Labels: a/maps :globe_with_meridians:, approved, p/Android, t/enhancement ➕

#8206 [macOS] Add character spacing to button and label
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml.cs
  Xamarin.Forms.Platform.MacOS/Extensions/NSAttributedStringExtensions.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: ControlGallery, approved, hacktoberfest 🍻, p/iOS 🍎, p/macOS

#7777 [Android] Fix Switch Thumb wrong color
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/Issue7249SwitchRenderer.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7249.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
Labels: 4.2.0, ControlGallery, approved, i/regression, p/Android, t/bug :bug:

#8254 Fix 7181 | [Bug] Cannot update ToolbarItem text and icon
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7181.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:, hacktoberfest 🍻, p/Android, t/bug :bug:

#7723 Fix corner clipping on ImageButton and Button (FR)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4606.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/BorderDrawable.cs
Labels: a/visual, approved, breaking, p/Android, t/bug :bug:

#7895 Fix Button.CornerRadius doesn't work on WPF
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6556.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Controls/FormsButton.cs
  Xamarin.Forms.Platform.WPF/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: ControlGallery, approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#8378 [Android] Fix API usage on Android19
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
Labels: approved, p/Android

#8242 With Shell ensure that ParentSet fires before OnAppearing
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: Core, a/shell :shell:, approved

#8362 [C] Added ability to predefine value to prompt
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6713.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/PromptArguments.cs
  Xamarin.Forms.Platform.Android/PopupManager.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: ControlGallery, Core, deprecation, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#8223 [Bug] WPF ListViewRenderer fails on item tapped with empty item source #7995
  Xamarin.Forms.Controls/GalleryPages/ListPage.cs
  Xamarin.Forms.Core/ListView.cs
Labels: a/listview, hacktoberfest 🍻, p/WPF

#8100 Return all visual elements needed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7027.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/TabIndexExtensions.cs
  Xamarin.Forms.Core/TableView.cs
Labels: 4.0.0, Core, a/listview, hacktoberfest 🍻, i/regression, t/bug :bug:

#8379 [previewer] removed empty ItemsSource attribute from toolbox snippets
  Xamarin.Forms.Core.Design/toolbox/Xamarin.Forms.toolbox.xml
Labels: Core

#8356 Make character spacing work for UWP Picker without breaking ItemsSource
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8177.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsComboBox.cs
  Xamarin.Forms.Platform.UAP/PickerRenderer.cs
  Xamarin.Forms.Platform.UAP/PickerStyle.xaml
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: i/regression, p/UWP, t/bug :bug:

#8453 Revert "Return all visual elements needed (#8100) fixes #7027"
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7027.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/TabIndexExtensions.cs
  Xamarin.Forms.Core/TableView.cs
Labels: Core

#8448 Add a missing '}' in Xamarin.Forms.Xaml.UnitTests/Issues/Bz24485.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Bz24485.xaml
Labels: a/Xaml </>

#7386 Reset transformation properly on UWP (#7385)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7385.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: approved, p/UWP, t/bug :bug:

#8456 [Tizen] Enables SwipeGestureHandler
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
Labels: p/Tizen

#8375 [X] FontSizeConverter on FontImageExtension
  Xamarin.Forms.Xaml/MarkupExtensions/FontImageExtension.cs
Labels: a/Xaml </>

#8191 Fix 7361 - [UWP] Stepper buttons not becoming enabled again, when disabled more than once.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7361.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/StepperControl.cs
Labels: hacktoberfest 🍻, i/low, p/UWP, t/bug :bug:

#8404 Disable packager for CollectionView on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8366.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: Core, a/collectionview, p/UWP, t/bug :bug:

#8050 Keep tab image collapsed if no datasource is available
  Xamarin.Forms.Platform.UAP/TabbedPageRenderer.cs
Labels: 4.0.0, hacktoberfest 🍻, i/regression, p/UWP, t/bug :bug:

#8403 Implement FormsStack and FormsQueue internally for VS 2017 Compatibility
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42620.cs
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/LockingSemaphore.cs
  Xamarin.Forms.Core/Profiler.cs
  Xamarin.Forms.Core/StyleSheets/CssReader.cs
  Xamarin.Forms.Core/TemplateUtilities.cs
  Xamarin.Forms.Core/corefx/FormsQueue.cs
  Xamarin.Forms.Core/corefx/FormsStack.cs
  Xamarin.Forms.Platform.Android/RendererPool.cs
  Xamarin.Forms.Platform.Android/ViewPool.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Extensions/UIViewExtensions.cs
  Xamarin.Forms.Platform.iOS/RendererPool.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
  azure-pipelines.yml
  build.cake
Labels: ControlGallery, Core, a/Xaml </>, p/Android, p/UWP, p/gtk, p/iOS 🍎, p/macOS, proposal-accepted, t/enhancement ➕

#7590 [UWP] Implement CurrentItem on CarouselView
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
Labels: ControlGallery, Core, a/Xaml </>, a/carouselview, a/collectionview, p/Android, p/Tizen, p/UWP, p/iOS 🍎

#8532 Add export method for transform string on UI Tests
  Xamarin.Forms.ControlGallery.iOS/PerformanceTrackerRenderer.cs
  Xamarin.Forms.Core.UITests.Shared/PlatformQueries.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/ParsingUtils.cs
Labels: ControlGallery, blocker, p/iOS 🍎

#7984 Fix 7709 | Fix showing keyboard when changing placeholder in entry focused event
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7709.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: hacktoberfest 🍻, p/Android, t/bug :bug:

#8032 Fix Bug 7823 - Frame corner radius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7823.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: 4.2.0, Core, a/shell :shell:, hacktoberfest 🍻, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#8430 [Android] Fix crash using the CarouselView and EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8417.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8417.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/DataChangeObserver.cs
Labels: a/carouselview, a/collectionview, i/high, p/Android, t/bug :bug:

#8561 Update MacDeviceInfo.cs
  Xamarin.Forms.Platform.MacOS/MacDeviceInfo.cs
Labels: p/macOS, t/bug :bug:

#8441 Add virtual methods for all the layers required to create the top tabs on iOS
  Xamarin.Forms.Platform.iOS/Renderers/IShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, mobcat, p/iOS 🍎, proposal-accepted, proposal-open, t/enhancement ➕

#8496 Fix NRE when navigating away from grouped CollectionView on iOS 10
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedHeaderView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalSupplementaryView.cs
Labels: a/collectionview, blocker, p/iOS 🍎

#8408 Shell Navigation Bar Has Shadow property
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Internals/PropertyPropagationExtensions.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/GenericGlobalLayoutListener.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/IShellNavBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellNavBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellNavBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/shell :shell:, blocker, p/Android, p/iOS 🍎

#7330 Gif Animation Support
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/GifOne.gif
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/GifTwo.gif
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/GifOne.gif
  Xamarin.Forms.ControlGallery.WindowsUniversal/GifTwo.gif
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/GifOne.gif
  Xamarin.Forms.ControlGallery.iOS/GifTwo.gif
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1704.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/ImageButtonCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/ButtonGallery.cs
  Xamarin.Forms.Controls/GalleryPages/GifGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ImageGallery.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/IImageController.cs
  Xamarin.Forms.Core/IImageElement.cs
  Xamarin.Forms.Core/Image.cs
  Xamarin.Forms.Core/ImageButton.cs
  Xamarin.Forms.Core/ImageElement.cs
  Xamarin.Forms.Core/Internals/ImageParser.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/AndroidGIFImageParser.cs
  Xamarin.Forms.Platform.Android/Renderers/FileImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsImageView.cs
  Xamarin.Forms.Platform.Android/Renderers/IAnimationSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageLoaderSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/StreamImagesourceHandler.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/ImageElementManager.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormsCAKeyFrameAnimation.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormsUIImageView.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageAnimationHelper.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: API-change, ControlGallery, F100, approved, blocker, community-sprint, in-progress, p/Android, p/UWP, p/iOS 🍎, roadmap, t/enhancement ➕

#8591 Slow down gesture scroll for UI test and let it retry
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7329.cs
Labels: t/housekeeping ♻︎

#8429 Fix [Android] Can not set Entry cursor position by tapping if ClearButtonVisibility=WhenEditing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7773.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: i/regression, p/Android, t/bug :bug:

#8599 [iOS] Fix top tab highlighting
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6362.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
Labels: 4.0.0, a/shell :shell:, p/iOS 🍎, t/bug :bug:

#8588 Remove ItemSizingStrategy from CarouselView
  Xamarin.Forms.Core.UnitTests/CarouselViewTests.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/ItemSizingStrategy.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Items/StructuredItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
Labels: API-change, Core, a/carouselview, a/collectionview, blocker, p/Android, p/Tizen, p/iOS 🍎

#8544 [iOS] Fix Issue #8529 - Shell BackButtonBehavior crashing on Command p…
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8529.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8529_1.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8529_1.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, i/high, p/iOS 🍎, t/bug :bug:

#8541 RelativeSource Binding Bug Fixes (Gh8450)
  Xamarin.Forms.Core.UnitTests/RelativeSourceBindingTests.cs
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingExpression.cs
Labels: Core, a/Xaml </>, approved, t/bug :bug:

#8504 WPF Implement editor placeholder
  Xamarin.Forms.Controls/CoreGalleryPages/EditorCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.WPF/Renderers/EditorRenderer.cs
Labels: ControlGallery, approved, p/WPF

#8473 [p/gtk]Fix for #4880 -Text not shown as it should Xamarin.Forms.GTK
  Xamarin.Forms.Platform.GTK/Controls/EntryWrapper.cs
  Xamarin.Forms.Platform.GTK/Controls/ScrolledTextView.cs
  Xamarin.Forms.Platform.GTK/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/LabelRenderer.cs
Labels: ControlGallery, approved, p/gtk, t/bug :bug:

#8381 [C] avoid calling ChangeVisualState twice
  Xamarin.Forms.Core/CheckBox.cs
Labels: Core, approved

#8610 [UWP] Fix MDP Button "Padding" issue
  Xamarin.Forms.Platform.UAP/MasterDetailControlStyle.xaml
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: m/high impact :black_large_square:, p/UWP, t/bug :bug:

#8571 [Android] Fix Label size when using Hint text (FR)
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
Labels: 4.0.0, a/fastrenderers, blocker, i/regression, m/high impact :black_large_square:, p/Android, t/bug :bug:

#7079 #3533 Bring back uap10.0/netstandard1.4 support
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  EmbeddingTestBeds/Embedding.XF/Embedding.XF.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery/App.xaml.cs
  PagesGallery/PagesGallery/PagesGallery.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla56771.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla59718.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1396.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1691_2.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1705_2.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1717.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1898.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2595.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3273.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3988.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceGallery.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/Scenarios/ImageScenarios.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CollectionViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/WebViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/WkWebViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/DynamicViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ImageSourcesGallery.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/MasterDetailPageWindows.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/RefreshViewWindows.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/WindowsPlatformSpecificsGalleryHelpers.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/WebViewUnitTests.cs
  Xamarin.Forms.CustomAttributes/Xamarin.Forms.CustomAttributes.csproj
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Pages.Azure/Xamarin.Forms.Pages.Azure.csproj
  Xamarin.Forms.Pages/Xamarin.Forms.Pages.csproj
  Xamarin.Forms.Platform.GTK/Controls/DatePicker.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/WindowsIsolatedStorage.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Xaml.Design/Xamarin.Forms.Xaml.Design.csproj
  Xamarin.Forms.Xaml.UnitTests/PlatformSpecifics.xaml.cs
Labels: ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, blocker, in-progress, mobcat, p/UWP, p/gtk, t/enhancement ➕

#8357 Fix 6693 - [Bug] [WPF] ViewRenderer does not work properly with FrameworkElement derived native controls
  Xamarin.Forms.ControlGallery.WPF/Renderers/Issue6693ControlRenderer.cs
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6693.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6693.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/ViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: ControlGallery, approved, p/WPF, t/bug :bug:

#8628 Fix threadpool call when compiling for 14393
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1704.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
Labels: ControlGallery

#7465 Added IndicatorsView
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/IndicatorShape.cs
  Xamarin.Forms.Core/IndicatorStackLayout.cs
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Visuals/VisualMarker.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: ControlGallery, DO-NOT-MERGE-!!! :stop_sign:, a/carouselview, a/collectionview, blocker, p/Android, p/iOS 🍎, proposal-open, retarget-branch-required, t/enhancement ➕

#8636 Fx reflection call on UWP
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: p/UWP

#8579 [X] RegisterSourceInfo for XamlC
  Xamarin.Forms.Build.Tasks/CreateObjectVisitor.cs
  Xamarin.Forms.Build.Tasks/ILContext.cs
  Xamarin.Forms.Build.Tasks/ILRootNode.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Build.Tasks/XamlTask.cs
  Xamarin.Forms.Xaml/Diagnostics/VisualDiagnostics.cs
  Xamarin.Forms.Xaml/XamlNode.cs
Labels: a/Xaml </>, blocker

#8549 [UWP] Implement CollectionView Scrolled event
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8508.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8508.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, a/shell :shell:, a/visual, p/Android, p/UWP, p/WPF, p/iOS 🍎, p/macOS, t/bug :bug:

#8660 Fix generating nugets on 4.3 branch
  .gitignore
  Version.targets
Labels: t/housekeeping ♻︎

#8081 [Tizen] Add CarouselViewRenderer
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CarouselView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/StructuredItemsViewRenderer.cs
Labels: a/carouselview, a/collectionview, approved, hacktoberfest 🍻, p/Tizen

#8642 [Tizen] Provides Static Registrar
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/GestureDetector.cs
  Xamarin.Forms.Platform.Tizen/Native/Image.cs
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
Labels: p/Tizen

#7909 Change build type on AndroidManifest.XML inside ControlGallery
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
Labels: ControlGallery, approved, p/Android, t/housekeeping ♻︎

#8542 [Tizen] Add SwipeViewRenderer on Tizen
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/ResourcePath.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: p/Tizen, t/enhancement ➕

#8685 [Tizen] Use pre-created window at initailzation time
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: p/Tizen

#8614 [Core,iOS,Android] Remove NumberOfSideItems
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
Labels: API-change, ControlGallery, a/carouselview, a/collectionview, approved, blocker, p/Android, p/UWP, p/iOS 🍎

#8098 [macOS] Implement slider min/max/thumb color
  Xamarin.Forms.Platform.MacOS/Renderers/SliderRenderer.cs
Labels: hacktoberfest 🍻, p/macOS

#7279 Fix-7167-UWP-ListViewRenderer-ScrollToTop-when-NotifyCollectionChangedAction.Reset
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7167.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7167.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: i/low, p/UWP, t/bug :bug:

#8666 [AND] Fix NRE in OnBackPressed
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: i/high, p/Android, t/bug :bug:

#7477 Call the application OnResume, on Android Resume instead of Restart.
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
Labels: 4.0.0, approved, i/regression, p/Android, t/bug :bug:
