Repository xamarin/Xamarin.Forms, pull requests merged in 2019-06, with the labels that each got.

#6285 [Android] Pass correct measurement values to item content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5765.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
Labels: a/collectionview, a/layout, mobcat, p/Android, t/bug :bug:

#6204 [Tizen]Add Material Style Renderers
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  Xamarin.Forms.ControlGallery.Tizen/Xamarin.Forms.ControlGallery.Tizen.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Material.Tizen/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Tizen/Xamarin.Forms.Material.Tizen.csproj
  Xamarin.Forms.Platform.Tizen/Extensions/KeyboardExtensions.cs
  Xamarin.Forms.Platform.Tizen/Native/Box.cs
  Xamarin.Forms.Platform.Tizen/Native/Button.cs
  Xamarin.Forms.Platform.Tizen/Native/Canvas.cs
  Xamarin.Forms.Platform.Tizen/Native/Entry.cs
  Xamarin.Forms.Platform.Tizen/Native/IButton.cs
  Xamarin.Forms.Platform.Tizen/Native/IEntry.cs
  Xamarin.Forms.Platform.Tizen/Native/Span.cs
  Xamarin.Forms.Platform.Tizen/Native/TextHelper.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
Labels: a/visual, p/Tizen

#5808 Fix disappearing MasterDetail menu on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5412.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs
Labels: p/UWP, t/bug :bug:

#5298 Update BottomNavigationViewUtils.cs: removing redundant Dispose() calls
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
Labels: p/Android, t/bug :bug:

#5118 [Xaml[C]] Allow to connect to event handler with overloads
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>

#6395 Speed up core UI tests and reduce flakiness
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GestureBubblingTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
  Xamarin.Forms.Core.UITests.Shared/Remotes/BaseViewContainerRemote.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
Labels: t/housekeeping ♻︎

#6407 Cherry pick Tizen project changes to 3.6.0 and modify SLN changes VS makes
  EmbeddingTestBeds/Embedding.Tizen/Embedding.Tizen.csproj
  PagesGallery/PagesGallery.Tizen/PagesGallery.Tizen.csproj
  Stubs/Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Tizen/Xamarin.Forms.ControlGallery.Tizen.csproj
  Xamarin.Forms.Maps.Tizen/Xamarin.Forms.Maps.Tizen.csproj
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
  Xamarin.Forms.sln
Labels: p/Tizen

#6396 Cherry pick Tizen project changes to 4.0.0 and modify SLN changes VS makes
  EmbeddingTestBeds/Embedding.Tizen/Embedding.Tizen.csproj
  PagesGallery/PagesGallery.Tizen/PagesGallery.Tizen.csproj
  Stubs/Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Tizen/Xamarin.Forms.ControlGallery.Tizen.csproj
  Xamarin.Forms.Maps.Tizen/Xamarin.Forms.Maps.Tizen.csproj
  Xamarin.Forms.Material.Tizen/Xamarin.Forms.Material.Tizen.csproj
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
  Xamarin.Forms.sln
Labels: a/visual, p/Tizen

#6401 [CSS] workaround for corner-radius
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6361.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6361.xaml.cs
Labels: a/CSS, a/Xaml </>, i/high, i/regression, t/bug :bug:

#6418 [WPF] restored missed assembly attribute
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
Labels: i/critical, p/WPF

#6405 [iOS] Fix Bounds for PageContainer
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/CustomEffects/GradientEffect.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6334.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/customrenderer, a/effects, i/regression, p/iOS 🍎, t/bug :bug:

#6429 [Build] Fix nightly package naming
  Version.targets
Labels: t/housekeeping ♻︎

#5417 [Android] fixes ListView pull-to-refresh gesture in non-data areas
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5268.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5268.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
Labels: a/listview, blocker, i/regression, p/Android, t/bug :bug:

#6433 [Build] Add nightly tag to azdo
  Version.targets
Labels: t/housekeeping ♻︎

#6211 [UWP] fixes ListView displays null values black
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla26233.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: p/UWP

#6183 [Tizen] Support to TabbedPage.BarTextColor, SelctedTabColor, UnselecedTabColor
  Xamarin.Forms.Platform.Tizen/Renderers/TabbedPageRenderer.cs
Labels: p/Tizen, t/enhancement ➕

#6423 [XamlC] Correctly load addresses of values in more compiled binding paths
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml.cs
Labels: a/Xaml </>

#6151 Disposed objects are not handled properly in android scrollview renderer #5820
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
Labels: a/customrenderer, p/Android, partner, t/enhancement ➕

#6385 [UWP] Fixes IndexOutOfRangeException on TabbedPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6323.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.UAP/TabbedPageRenderer.cs
Labels: i/high, i/regression, p/UWP, t/bug :bug:

#6503 Sandbox cleanup of shell and css file
  Xamarin.Forms.Sandbox/App.StartHere.cs
  Xamarin.Forms.Sandbox/App.cs
  Xamarin.Forms.Sandbox/ShellPage.xaml
Labels: a/shell :shell:, t/housekeeping ♻︎

#6415 [iOS] Protect against SetNativeControl when no Element is present
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/CustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/RoundedLabelRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6368.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: a/customrenderer, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#6518 Fix Carousel rebase
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: t/housekeeping ♻︎

#6478 [Android, iOS] Item Spacing for CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/ItemsSpacingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingModifier.cs
  Xamarin.Forms.Controls/GalleryPages/GalleryBuilder.cs
  Xamarin.Forms.Core/Items/GridItemsLayout.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview, p/Android, p/iOS 🍎, t/enhancement ➕

#6511 Resolve fallback type before trying to make constructed generic type
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>

#6420 [Android] Retrieve PackageName from the correct Platform instance
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/FileImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: i/regression, p/Android, t/bug :bug:

#6345 [iOS] adds a flag to ios if user needs to disable accessibility sizing for named font sizes
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Application.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: blocker, p/iOS 🍎

#6116 [Shell] Allow to set background image for flyout item.
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
Labels: API-change, a/shell :shell:, inactive, m/high impact :black_large_square:, p/Android, p/iOS 🍎, t/enhancement ➕

#6504 [UWP] Add FormsCheckBoxStyle.xbf to nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: blocker, p/UWP, t/bug :bug:

#6502 Allow tracking of StyleSheets
  Xamarin.Forms.Build.Tasks/CompiledValueProviders/StyleSheetProvider.cs
  Xamarin.Forms.Core/StyleSheets/StyleSheet.cs
  Xamarin.Forms.Core/Xaml/IResourcesLoader.cs
  Xamarin.Forms.Sandbox/App.StartHere.cs
  Xamarin.Forms.Sandbox/App.cs
  Xamarin.Forms.Sandbox/ShellPage.xaml
  Xamarin.Forms.Xaml/MarkupExtensions/StyleSheetExtension.cs
  Xamarin.Forms.Xaml/ResourcesLoader.cs
Labels: a/Xaml </>

#6512 [ios] change checkbox to use default constructor
  Xamarin.Forms.Platform.iOS/Renderers/FormsCheckBox.cs
Labels: blocker, p/iOS 🍎

#6516 [C] Add [Parameter] attribute to constructor for CollectionView Layouts
  Xamarin.Forms.Core/Items/ItemsLayout.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
Labels: a/Xaml </>, a/collectionview, i/low, t/bug :bug:

#6358 [Android] Fixes work IsClippedToBounds on (Fast Renderer) Frame
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3150.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/DynamicViewGallery.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
Labels: a/fastrenderers, a/layout, a/listview, i/regression, mobcat, p/Android, t/bug :bug:

#6179 Fix for layouts in a cell to expand on resize (WPF) Issue #5682
  Xamarin.Forms.Platform.WPF/CellControl.cs
Labels: p/WPF

#6241 [iOS] Fix missing partial columns in horizontal grid layout
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6077.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#6465 [UWP] Fix occasional disappearing content in CollectionView items on UWP
  Xamarin.Forms.Platform.UAP/Items/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/Items/ItemTemplateEnumerator.cs
  Xamarin.Forms.Platform.UAP/Items/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/Items/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/Items/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP, t/bug :bug:

#6462 [GTK] Fix NullReferenceException in NavigationPageRenderer
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
Labels: i/high, p/gtk

#6537 Intellisense for CollectionView basic list options
  Xamarin.Forms.Controls/CoreGalleryPages/CollectionViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DefaultTextGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ItemsSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagationGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollToGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SnapPointsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/ItemsSpacingGallery.cs
  Xamarin.Forms.Core.Design/AttributeTableBuilder.cs
  Xamarin.Forms.Core.Design/ItemsLayoutDesignTypeConverter.cs
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
  Xamarin.Forms.Core/Items/IItemsLayout.cs
  Xamarin.Forms.Core/Items/ItemsLayoutTypeConverter.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
Labels: a/collectionview

#6437 [Android] Fix context actions icon so that it loads
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6258.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6458.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/ControlGalleryPages/AutomationPropertiesGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ToolbarItemTests.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/CellAdapter.cs
  Xamarin.Forms.Platform.Android/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: approved, blocker, breaking, i/regression, p/Android, t/bug :bug:

#6562 wait for test to finish so it doesn't break later tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1905.cs
Labels: t/housekeeping ♻︎

#6569 use a BP for QueryAttributes
  Xamarin.Forms.Core/BindableProperty.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
Labels: a/shell :shell:

#6412 [Android] Fixed applying effects to Frames
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3548.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
Labels: p/Android

#6434 Dynamic view gallery support all Enum properties
  Xamarin.Forms.Controls/GalleryPages/DynamicViewGallery.cs
Labels: a/uitest, t/housekeeping ♻︎

#6566 EntryRenderer.cs [macOS] updated
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: i/high, p/macOS, t/bug :bug:

#6284 [Android] hide keyboard after tapping on pickers
  Xamarin.Forms.Platform.Android/PickerManager.cs
Labels: approved, p/Android, t/bug :bug:

#6354 [Android] Add disposed check to MasterDetailPageRenderer
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/JavaObjectExtensions.cs
Labels: approved, p/Android

#5125 [Android] fix accessibility of Picker
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3454.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/EntryAccessibilityDelegate.cs
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/a11y 🔍, inactive, m/high impact :black_large_square:, p/Android, p/iOS 🍎, t/bug :bug:

#6329 [Android] Fixes layout in AppCompat ButtonRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6282.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6282.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
Labels: a/fastrenderers, a/layout, a/visual, blocker, i/regression, p/Android, t/bug :bug:

#6394 [Android] Fixes loading image from uri
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
Labels: approved, i/regression, p/Android, t/bug :bug:

#6530 Make Android ShellTabLayoutAppearanceTracker public
  Xamarin.Forms.Platform.Android/Renderers/ShellTabLayoutAppearanceTracker.cs
Labels: a/shell :shell:, p/Android, t/bug :bug:

#6591 Forms 4.1: Device.GetNamedSize throws exception on Android
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: blocker, p/Android, t/bug :bug:

#6592 [Android] don't setup webview if running as designer
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: forms-previewer-sdk, p/Android

#6548 [Android] Hamburger icon not shown when using FormsAppCompatActivity
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2577.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: approved, i/high, m/high impact :black_large_square:, p/Android, t/bug :bug:

#6525 [Android] Dispose the collection view item adapter
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, approved, i/high, p/Android, t/bug :bug:

#6431 [UWP] fixes hangs ListView when using Narrator
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: a/a11y 🔍, mobcat, p/UWP, t/bug :bug:

#6422 Implement ItemSizingStrategy.MeasureFirstItem on Android
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
Labels: a/collectionview, p/Android

#6560 [Android] Change elevation to use float.minvalue instead of negative infinity
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
Labels: a/shell :shell:, blocker, p/Android

#6564 [XamlC] Do not try to set a value to bound source property if unavailable
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml.cs
Labels: a/Xaml </>, i/high, t/bug :bug:

#6583 Update ItemsViewLayout.cs to Unsubscribe from itemsLayout PropertyChanged event
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#6636 [iOS] Clean up Platform on PlatformRenderer disposal
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/embedding 📦, p/iOS 🍎, t/bug :bug:

#6616 Fix compiler warnings in WPF platform project
  Xamarin.Forms.Platform.WPF/Deserializer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.WPF/VisualElementTracker.cs
  Xamarin.Forms.Platform.WPF/WPFDeviceInfo.cs
Labels: p/WPF

#6641 Don't reset implicit style (#6635)
  Xamarin.Forms.Core/MergedStyle.cs
Labels: t/bug :bug:

#6613 [Shell] Fail when trying to add a duplicated route
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Routing.cs
Labels: a/shell :shell:, approved, t/bug :bug:

#6588 Change Query to WaitForElement
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1733.cs
Labels: t/housekeeping ♻︎

#6194 [X] resolve event handlers in base generic types
  Xamarin.Forms.Build.Tasks/CreateObjectVisitor.cs
  Xamarin.Forms.Build.Tasks/DebugXamlCTask.cs
  Xamarin.Forms.Build.Tasks/MethodReferenceExtensions.cs
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeDefinitionExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6176.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6176.xaml.cs
Labels: a/Xaml </>, a/shell :shell:, t/bug :bug:

#6629 UWP CollectionView SelectionMode
  .gitignore
  Xamarin.Forms.Platform.UAP/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP

#6526 [Tizen] Add Checkbox
  Xamarin.Forms.Material.Tizen/MaterialCheckBoxRenderer.cs
  Xamarin.Forms.Platform.Tizen/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CheckBoxRenderer.cs
Labels: F100, a/visual, community-sprint, p/Tizen, t/enhancement ➕

#6652 [UITests] wait for animation to complete
  Xamarin.Forms.Core.UITests.Shared/Remotes/BaseViewContainerRemote.cs
Labels: t/housekeeping ♻︎

#6510 Fix some flaky tests.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31333.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1733.cs
Labels: t/housekeeping ♻︎

#6080 [Tizen] Added support AutomationProperties
  Xamarin.Forms.Controls/ControlGalleryPages/AutomationPropertiesGallery.cs
  Xamarin.Forms.Platform.Tizen/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.Tizen/Native/ToolbarItemButton.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: a/a11y 🔍, p/Tizen

#6669 try to generate more unique names
  Xamarin.Forms.Build.Tasks/XamlGenerator.cs
Labels: a/Xaml </>, t/bug :bug:

#6599 Button Layout gallery page: don't set initial Padding
  Xamarin.Forms.Controls/GalleryPages/ButtonLayoutGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/ButtonLayoutGalleryPage.xaml.cs
  Xamarin.Forms.Controls/NullableThicknessConverter.cs
Labels: p/Android, t/bug :bug:, t/housekeeping ♻︎

#6646 [Bugfix] Catching ReflectionTypeLoadException in the VisualTypeConverter
  Xamarin.Forms.Core/Visuals/VisualTypeConverter.cs
Labels: a/Xaml </>

#6411 Update nightly feed
  README.md
Labels: t/bug :bug:, t/housekeeping ♻︎

#6686 [iOS] Provide a base CarouselViewRenderer
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
Labels: a/collectionview, blocker, i/high, p/iOS 🍎, t/bug :bug:

#6634 [iOS] Make ShouldChangeText virtual
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: API-change, p/iOS 🍎

#6677 Validate style target at runtime
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core/MergedStyle.cs
Labels: a/Xaml </>, a/style, i/high, t/bug :bug:

#6398 Adds FontImage Markup Extension for FontImageSource
  Xamarin.Forms.Xaml.UnitTests/FontImageExtension.xaml
  Xamarin.Forms.Xaml.UnitTests/FontImageExtension.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/FontImageExtension.cs
Labels: API-change, a/Xaml </>, approved, proposal-accepted, t/enhancement ➕

#6628 [Shell] MenuItem font image fix
  Xamarin.Forms.Controls/XamStore/Icons.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
Labels: a/shell :shell:, i/high, t/bug :bug:

#6467 [Android] Fix various issues in object dispose methods.
  Xamarin.Forms.Platform.Android/AppCompat/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/AppCompat/ShellFragmentContainer.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: a/collectionview, a/shell :shell:, approved, p/Android

#6654 Split up Issue4597 into separate testable chunks
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/xamarinlogo.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/xamarinlogo.png
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: p/Android, p/UWP, t/housekeeping ♻︎

#6704 [Android] RequestLayout of button if measure has changed otherwise call force layout to ensure the content will layout correctly
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
Labels: blocker, i/regression, p/Android, t/bug :bug:
