Repository xamarin/Xamarin.Forms, pull requests merged in 2019-10, with the labels that each got.

#7755 Invalidate layout on ViewCell if Measurements change
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2354.cs
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.iOS/Cells/CellTableViewCell.cs
  Xamarin.Forms.Platform.iOS/Cells/ViewCellRenderer.cs
Labels: 4.0.0, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#7737 [Android/iOS] Expose CollectionView scroll listener
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, p/Android, p/iOS 🍎

#6989 ios: raise touch event on touchbegin.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3320.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  build/steps/build-windows.yml
Labels: a/listview, approved, p/iOS 🍎, t/bug :bug:

#7724 [UWP] Make EmptyView work in UWP CarouselView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/UWP

#7718 Fix use of ToolbarItem.Order on Android Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6127.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:, m/high impact :black_large_square:, p/Android, t/bug :bug:

#7677 [ControlGallery] Add more CarouselView samples
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CollectionCarouselViewGallery.cs
Labels: ControlGallery, a/carouselview, a/collectionview, t/housekeeping ♻︎

#7760 [UWP] Fix crash on Switch Renderer when a custom renderer provides Color objects instead of Brush
  Xamarin.Forms.ControlGallery.WindowsUniversal/CustomSwitchRenderer.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7253.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: ControlGallery, a/customrenderer, i/high, i/regression, in-progress, p/UWP, retarget-branch-required, t/bug :bug:

#7704 Fix NRE reported in 7399
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: i/high, i/regression, in-progress, p/iOS 🍎, partner, t/bug :bug:

#7749 [UWP] Fix crash setting the MainPage using the OnStart method
  Xamarin.Forms.Platform.UAP/WindowsBasePage.cs
Labels: approved, i/critical, i/high, i/regression, in-progress, p/UWP, t/bug :bug:

#7607 Fixed clipping when using FontImageSource
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/Fonts/fa-solid-900.ttf
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.ControlGallery.iOS/Resources/Fonts/fa-solid-900.ttf
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6491.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: ControlGallery, approved, in-progress, p/UWP, p/iOS 🍎, t/bug :bug:

#7774 [HR] allow the HR test harness to clear cache
  Xamarin.Forms.Core/ResourceDictionary.cs
Labels: Core, t/housekeeping ♻︎

#7747 [X] send VisualTreeChanged for root
  Xamarin.Forms.Xaml/XamlLoader.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>

#7770 [Tizen] fix picker focus issue in Tizen TV
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PickerRenderer.cs
Labels: hacktoberfest 🍻, p/Tizen

#7802 [iOS] Fixed error updating dynamically the NumberOfSideItems in CarouselView.
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎

#7752 Remove Material Frame Renderer from Frame element on dispose of renderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7339.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.iOS/MaterialFrameRenderer.cs
Labels: 4.1.0, a/shell :shell:, a/visual, i/high, p/iOS 🍎, t/bug :bug:

#7776 [Android] Fix crash changing the Application MainPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7283.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: ControlGallery, i/high, i/regression, p/Android, t/bug :bug:

#7612 [iOS] Fix hard crash when horizontal GridViewLayout is refreshed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7593.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7593.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
Labels: a/collectionview, approved, i/critical, p/iOS 🍎, t/bug :bug:

#7815 [macOS] Fix Image Rotation issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5395.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: a/animation 🎬, p/iOS 🍎, t/bug :bug:

#7818 [C] rename file
  Xamarin.Forms.Core/Items/LinearItemsLayout.cs
Labels: Core, t/bug :bug:, t/housekeeping ♻︎

#7767 Update iOS MDP Tablet Renderer to use current APIS for Master Behavior
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7556.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: iOS 13, p/iOS 🍎

#7831 Fix typo in RefreshViewRenderer
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: hacktoberfest 🍻, p/iOS 🍎

#6935 [Build] Share package version with cake
  .gitignore
  Version.targets
  build.cake
Labels: t/housekeeping ♻︎

#7853 [X] pass the RootAssembly to DT Context
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7830.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7830.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>, i/regression, t/bug :bug:

#7868 Spelling fix
  Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs
Labels: p/UWP, t/housekeeping ♻︎

#7811 [iOS] Alternative proposal for PR 7794
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7758.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7758.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, a/layout, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#7743 [iOS] Fix issue changing the ItemTemplate on CollectionView dynamically
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7742.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, approved, p/iOS 🍎, t/bug :bug:

#7768 Shell android dispose
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6640.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6738.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/AppCompat/ShellFragmentContainer.cs
  Xamarin.Forms.Platform.Android/Extensions/FragmentManagerExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ColorChangeRevealDrawable.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFragmentPagerAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRendererBase.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchViewAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellTabLayoutAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: Core, a/shell :shell:, i/high, p/Android, t/bug :bug:

#7858 [iOS] Fixed crash displaying strings in CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7789.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7789.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, i/critical, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#7867 build.cake: more readable way of using an enum
  build.cake
Labels: hacktoberfest 🍻

#7697 Implement grouping for UWP CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewStringGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/ViewModel.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupFooterItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupHeaderStyleSelector.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupedItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContextList.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/collectionview, approved, p/UWP

#7893 [Core] Fixed SnapPointsType discrepancy in CarouselView
  Xamarin.Forms.Core/Items/LinearItemsLayout.cs
Labels: Core, a/carouselview, t/bug :bug:, t/housekeeping ♻︎

#7887 Use FontSizeConverter for FontImageSource.Size property
  Xamarin.Forms.Core/FontImageSource.cs
Labels: Core, hacktoberfest 🍻, proposal-accepted, t/enhancement ➕

#5974 [Shell, Android, iOS] shell menu scrolling
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4756.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/ScrollMode.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ScrollHelpers.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: API-change, Core, a/carouselview, a/collectionview, a/shell :shell:, blocker, in-progress, inactive, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#7896 [X] binding find the right indexer
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7837.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7837.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/MockCompiler.cs
Labels: Core, a/Xaml </>, a/binding ⛓, t/bug :bug:

#7902 [UWP] [iOS] Verify selected items exist when updating native selections
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6963.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionSynchronization.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionSynchronization.xaml.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
Labels: ControlGallery, a/collectionview, i/high, p/UWP, p/iOS 🍎, t/bug :bug:

#7872 [Android/iOS] Fixed ItemsUpdatingScrollMode on CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7817.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7817.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/carouselview, a/collectionview, p/Android, p/iOS 🍎, t/bug :bug:

#7918 Generics for CollectionView iOS implementation
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/carouselview, a/collectionview, approved, blocker, p/iOS 🍎

#7854 [Tizen] Fix RenderWith attributes for Forwarders
  Stubs/Xamarin.Forms.Platform.cs
Labels: hacktoberfest 🍻

#7932 Fixed crash on UWP Switch (UpdateThumbColor)
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: approved, i/regression, p/UWP

#7911 Move CollectionView UWP implementation to generics
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/carouselview, a/collectionview, approved, blocker, p/UWP

#7921 Fix [macOS] navigation page doesn't hide previous page
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7898.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
Labels: hacktoberfest 🍻, p/macOS, t/bug :bug:

#7822 [Android] Fixed CarouselView string EmptyView not displayed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7792.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7792.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, a/layout, approved, p/Android, t/bug :bug:

#7766 Validate on Date part only
  Xamarin.Forms.Core.UnitTests/DatePickerUnitTest.cs
  Xamarin.Forms.Core/DatePicker.cs
Labels: Core, feedback-ticket, hacktoberfest 🍻, t/bug :bug:

#7367 Make WkWebViewRenderer default for iOS WebView
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.iOS/PerformanceTrackerRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/local.html
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla26993.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
Labels: ControlGallery, a/webview, in-progress, p/iOS 🍎, t/bug :bug:

#7945 [Android] Fixed a crash on CollectionView changing ItemsSource
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7943.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7943.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/DataChangeObserver.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, blocker, i/high, i/regression, p/Android, t/bug :bug:

#7930 [UWP] CarouselView fixes
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, i/high, i/regression, p/UWP

#7834 [Android] speed up development builds
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/Properties/AssemblyInfo.cs
  azure-pipelines.yml
  build.cake
  build/steps/build-windows.yml
Labels: ControlGallery, p/Android, t/housekeeping ♻︎

#7618 [iOS] Various fixes with ItemsViewController
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎

#7650 Implement CarouselView EmptyView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/EmptyCarouselGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/EmptyCarouselGallery.xaml.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, p/UWP, p/iOS 🍎

#7942 [iOS] Label size doesn't change when text changed
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: a/layout, hacktoberfest 🍻, p/iOS 🍎

#8024 [HouseKeeping] Fixed build error in 4.3.0
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: a/shell :shell:, p/Android, p/UWP, t/housekeeping ♻︎

#7955 Fix iOS crash when group type is not an IList
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewGroupTypeIssue.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
Labels: a/collectionview, blocker, p/iOS 🍎

#7919 [macOS] Add padding to Button
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
Labels: approved, hacktoberfest 🍻, p/macOS, t/bug :bug:

#8009 Fix shell to correctly pick visible item when currently active Shell Item is removed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8008.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: Core, a/shell :shell:, blocker, m/high impact :black_large_square:, t/bug :bug:

#7883 Fix bug 5868 "VisualElement.Unfocus does not work on WPF"
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5868.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/ViewRenderer.cs
Labels: approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#8011 Fix Material Editor so TextChange delegate isn't removed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5500.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: a/visual, blocker, p/iOS 🍎, t/bug :bug:

#8014 [Android] Remove duplicate statement in ObservableItemsSource
  Xamarin.Forms.Platform.Android/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, hacktoberfest 🍻, p/Android

#8018 [Android] Fix RecyclerView offsets upon items source change
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7993.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7993.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, hacktoberfest 🍻, p/Android, t/bug :bug:

#7907 Remove requirement for CollectionView Experimental flag
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBindingErrors.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewGroupTypeIssue.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterString.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterTemplate.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewItemsSourceTypes.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/FlagTestHelpers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5354.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5535.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5765.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6609.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6644.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6963.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7102.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7128.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7338.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7357.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7512.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7519.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7593.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7621.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7758.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7789.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7792.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7817.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7865.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7943.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/NestedCollectionViews.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ScrollToGroup.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Core.UnitTests/CarouselViewTests.cs
  Xamarin.Forms.Core.UnitTests/ItemsViewTests.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/CollectionView.cs
  Xamarin.Forms.Core/Items/ItemsLayout.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Items/ScrollToRequestEventArgs.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/PositionalSmoothScroller.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/DefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ScrollToPositionExtensions.cs
Labels: ControlGallery, a/carouselview, a/collectionview, approved, blocker, p/Android, p/UWP, p/iOS 🍎

#7880 Cleanup material controls character spacing interactions
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialPickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: a/visual, blocker, p/Android, p/iOS 🍎

#7940 [iOS] Prevent crash when adding item to source of CollectionView in tab
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7700.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7993.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, blocker, i/critical, p/iOS 🍎, t/bug :bug:

#8051 GH-5612 Preventing NRE when disposing controls
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: hacktoberfest 🍻, p/macOS, t/bug :bug:

#8027 Make UpdateCancelButton virtual
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/CustomSearchBarRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/iOS 🍎

#8037 [Tizen] Add Meterial Stepper Renderer
  Xamarin.Forms.Material.Tizen/MaterialStepperRenderer.cs
Labels: a/visual, hacktoberfest 🍻, p/Tizen

#8023 Creating automated UI tests for the issue 1747
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1747.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1747.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ViewModel.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#8020 Creating automated tests for issue #1769
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1769.cs
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#8034 Fixing issue #4941 (and 1722 for UWP). Adding a test in UWP Navigatio…
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
Labels: hacktoberfest 🍻, i/regression, p/UWP, t/bug :bug:

#8076 Add instructions for B41038
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41038.cs
Labels: t/housekeeping ♻︎

#8077 Changed manual test and added instructions for B41029
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41029.cs
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#7900 [MacOS] Fixed NRE with modal navigation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7886.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7886.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: p/iOS 🍎, p/macOS, t/bug :bug:

#8019 [MacOS] FIx against NRE on disposing Entry renderer
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎, p/macOS

#7958 Fix bug 6957 Device.StartTimer() won't fire on WPF if it is executed on Non UI thread
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6957.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
Labels: approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#7947 Fix ListView.ScrollTo does not work in WPF
  Xamarin.Forms.Platform.WPF/Helpers/TreeHelper.cs
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: a/listview, approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#8046 [Android] Use AppCompat AlertDialog
  Xamarin.Forms.ControlGallery.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/PopupManager.cs
Labels: Android10, ControlGallery, approved, hacktoberfest 🍻, p/Android, t/bug :bug:

#8128 Change XamarinFormsVersionFile to a dot file so it's hidden
  .gitignore
  Version.targets
  build.cake
Labels: t/housekeeping ♻︎

#7828 Fix [WPF] Frame cornerRadius doesn't clip content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7825.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/FrameRenderer.cs
Labels: approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#7318 Set MinimumWidth to the correctly calculated value for Auto Grid Columns
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: Core, a/grid, a/layout, approved, in-progress, t/bug :bug:

#8109 [Android] Unregister effects on dispose
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
Labels: hacktoberfest 🍻, p/Android

#8083 Fix random test failures
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1342.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5766.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
Labels: Core, a/carouselview

#7809 In Android : Reverse layout only when default layout direction is the…
  Xamarin.Forms.Platform.Android/CollectionView/EdgeSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SingleSnapHelper.cs
Labels: a/collectionview, a/rtl, hacktoberfest 🍻, p/Android, t/bug :bug:

#7968 Automating bugzilla issue 33870
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla33870.cs
Labels: hacktoberfest 🍻, t/housekeeping ♻︎

#8164 Don't force the Master page closed on disappear if it's set to always visible
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31255.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31602.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla32902.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla34632.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1461.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7556.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/Legacy-UnevenListTests.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: Core, blocker, p/iOS 🍎

#8090 [Android] fix android scrollbar visibility issue
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
Labels: hacktoberfest 🍻, p/Android, t/bug :bug:

#8062 Adding instructions to the UI Test (issue 38770)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla38770.cs
Labels: hacktoberfest 🍻, p/UWP, t/housekeeping ♻︎

#8114 Convert HSL(A) with Double from InvariantString
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core/ColorTypeConverter.cs
Labels: Core, approved, hacktoberfest 🍻, t/enhancement ➕

#8089 [iOS] fix Material button set backgroundcolor method
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
Labels: a/shell :shell:, a/visual, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#8168 [macOs] implements Frame CornerRadius
  Xamarin.Forms.Controls/CoreGalleryPages/FrameCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.MacOS/Renderers/FrameRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/macOS

#8096 Revert "[GTK] Fix visibility of hidden pages in the stack (#3904)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6663.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.GTK/Controls/Page.cs
  Xamarin.Forms.Platform.GTK/Platform.cs
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
Labels: ControlGallery, approved, hacktoberfest 🍻, i/regression, p/gtk, t/bug :bug:

#7807 [Enhancement] Batch updates via "using" statement
  Xamarin.Forms.Core.UnitTests/ViewUnitTests.cs
  Xamarin.Forms.Core/AnimationExtensions.cs
Labels: Core, hacktoberfest 🍻

#7960 Fix bug 7581 - UWP Map not moving to location when map hidden then shown
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7581.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
Labels: a/maps :globe_with_meridians:, hacktoberfest 🍻, p/UWP, t/bug :bug:

#7978 Set correct MinWidth for CheckBox style
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7048.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7048.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsCheckBoxStyle.xaml
Labels: approved, hacktoberfest 🍻, p/UWP, t/bug :bug:

#8080 Added instructions and changed the test for Issue2241
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2241.cs
Labels: hacktoberfest 🍻, t/bug :bug:, t/housekeeping ♻︎

#8107 [UWP] Updates FormsButton to honor CornerRadius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6476.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsButton.cs
Labels: hacktoberfest 🍻, p/UWP, t/bug :bug:

#8124 Occasionally clean up WeakReferences in Styles whose targets have been collected
  Xamarin.Forms.Core/Interactivity/AttachedCollection.cs
  Xamarin.Forms.Core/Style.cs
Labels: Core, a/performance, blocker, mobcat

#8149 Fix WPF Entry initial TextColor ignored when typing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8148.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/EntryRenderer.cs
Labels: approved, hacktoberfest 🍻, p/WPF, t/bug :bug:

#8106 [Android] Use v7 support libs for DrawableWrapper
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchView.cs
Labels: 4.0.0, a/shell :shell:, approved, hacktoberfest 🍻, p/Android, t/bug :bug:

#7903 iOS Cell default bgcolor to transparent
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
Labels: a/listview, approved, iOS 13, mobcat, p/iOS 🍎, t/bug :bug:

#8205 Store references to local variable so it's not collected
  Xamarin.Forms.Core.UnitTests/AnimatableKeyTests.cs
  Xamarin.Forms.Core.UnitTests/ImageButtonUnitTest.cs
Labels: Core

#8189 Disable packager in iOS ItemsViewRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5831.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, a/shell :shell:, blocker, mobcat, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#7884 Let UICollectionViewCell handle state itself
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
Labels: a/shell :shell:, hacktoberfest 🍻, i/high, p/iOS 🍎, t/bug :bug:

#7962 Fix Bug 7396 - Shell: Setting Shell.BackgroundColor overrides all colors of TabBar
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7396.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs
Labels: a/shell :shell:, hacktoberfest 🍻, p/Android, t/bug :bug:

#8135 Fix Flyout behavior so it propagates from templated Content Page once it's created
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellAppearanceChange.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/IShellSectionController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: Core, a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:

#8197 [WPF] ListView.Scrolled event implemented
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: a/listview, approved, hacktoberfest 🍻, p/WPF

#8226 [X] resolve indexers on generic types
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh8221.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh8221.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, i/regression, t/bug :bug:

#8213 Remove extra Profiler.FrameEnd()
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.Core/Profiler.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
Labels: ControlGallery, a/shell :shell:, p/Android

#8190 [UWP] Delay RequestRefresh until RefreshControl Loaded
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8186.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/RefreshViewRenderer.cs
Labels: approved, blocker, p/UWP, t/bug :bug:

#8181 Better detection of IsCollapsed state/changes on iPad Master View Controller
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7556.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: approved, blocker, iOS 13, mobcat, p/iOS 🍎, p/tablet

#8097 Fixed 5680 - [Enhancement] Added method to force value coercion
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5680.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5680.xaml.cs
  Xamarin.Forms.Core/BindableObject.cs
Labels: Core, approved, hacktoberfest 🍻, t/enhancement ➕

#8212 [Android, Shell] Don't double dispose the more sheet
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8145.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: 4.2.0, Android10, a/shell :shell:, i/high, i/regression, p/Android, t/bug :bug:

#8224 [Android] Fixed issue refreshing CollectionView using ScrollView inside DataTemplate
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8198.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCarouselViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCarouselViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCollectionViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshListViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshWebViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshWebViewGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.Android/Renderers/RefreshViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, t/bug :bug:

#8086 [macOS] Visual glitch when exiting the full screen with ScrollViewer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4854.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/ScrollViewRenderer.cs
Labels: a/layout, hacktoberfest 🍻, p/macOS, t/bug :bug:

#8196 [Android] Make sure we use the right Context
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: p/Android

#7518 iOS: Frame with HasShadow set to true and BackgroundColor alpha < 1 casts shadow on all child views
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5108.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5108.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/_TemplateMarkup.xaml.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: Core, a/CSS, a/shell :shell:, approved, p/iOS 🍎, t/bug :bug:

#8063 [C] Parent the ImageSource
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/FontImageSource.cs
  Xamarin.Forms.Core/IImageElement.cs
  Xamarin.Forms.Core/Image.cs
  Xamarin.Forms.Core/ImageButton.cs
  Xamarin.Forms.Core/ImageElement.cs
  Xamarin.Forms.Core/Internals/DynamicResource.cs
  Xamarin.Forms.Core/ResourcesExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6996.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6996.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/DynamicResourceExtension.cs
Labels: Core, a/Xaml </>, approved, t/bug :bug:

#8010 Add ListViewHeaderItemMinHeight override in UWP resources.xaml
  Xamarin.Forms.Controls/CoreGalleryPages/ListViewCoreGalleryPage.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: ControlGallery, a/layout, approved, hacktoberfest 🍻, p/UWP, t/bug :bug:

#8201 Cherry pick of iOS13 fixes for iPad
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31255.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31602.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla32902.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla34632.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/UITestHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1461.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7556.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/Tests/Legacy-UnevenListTests.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: ControlGallery, p/iOS 🍎

#8281 WKWebView opens target=_blank links
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1666.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: a/webview, approved, p/iOS 🍎, t/bug :bug:

#8292 [macOS] Implement entry placeholder text alignment
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: hacktoberfest 🍻, p/macOS

#8286 Fixed 5830 - [Enhancement] EntryCellTableViewCell should be public
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5830.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Cells/EntryCellRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/iOS 🍎, t/enhancement ➕

#8264 [iOS] Make ItemsViewLayout implementations accessible
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListViewLayout.cs
Labels: a/carouselview, a/collectionview, approved, hacktoberfest 🍻, p/iOS 🍎

#8312 macOS: Fixed IsPresented PopOver
  Xamarin.Forms.Platform.MacOS/Renderers/MasterDetailPageRenderer.cs
Labels: hacktoberfest 🍻, p/macOS, t/enhancement ➕

#8299 Check for ValueType items to perform equals
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: a/listview, hacktoberfest 🍻, p/UWP, t/bug :bug:

#8245 Anticipate calls into Android OS during startup
  Xamarin.Forms.Platform.Android/Anticipator.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: a/performance, p/Android
