Repository xamarin/Xamarin.Forms, pull requests merged in 2019-07, with the labels that each got.

#6724 Cherry pick Issue4597 fixes back to branch 4.0.0
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/xamarinlogo.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/xamarinlogo.png
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: t/housekeeping ♻︎

#6590 Implement CollectionView grouping on iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewGrouping.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DemoFilteredItemSource.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/BasicGrouping.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/BasicGrouping.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GroupingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GroupingNoTemplates.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GroupingNoTemplates.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GroupingPlusSelection.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GroupingPlusSelection.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/MeasureFirstStrategy.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/MeasureFirstStrategy.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/ObservableGrouping.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/SomeEmptyGroups.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/SomeEmptyGroups.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/SwitchGrouping.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/SwitchGrouping.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/ViewModel.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiTestObservableCollection.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Items/CollectionView.cs
  Xamarin.Forms.Core/Items/GroupableItemsView.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/EmptySource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedHeaderView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/IItemsViewSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalTemplatedHeaderView.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: API-change, a/collectionview, p/iOS 🍎, t/enhancement ➕

#6457 [ios] Shell inset, general SafeArea fixes for shell and non shell embedded pages, entry scrolling fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3809.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5132.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5239.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/KeyboardInsetTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellScrollViewTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
Labels: a/collectionview, a/listview, a/shell :shell:, approved, breaking, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#6759 Rename some tests to better identify purpose and change query to WaitForElement
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla30353.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla33578.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42620.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla56896.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla59580.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1414.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
Labels: t/housekeeping ♻︎

#6692 [GTK] Fix navigation
  Xamarin.Forms.Platform.GTK/GtkToolbarTracker.cs
  Xamarin.Forms.Platform.GTK/Renderers/NavigationPageRenderer.cs
Labels: approved, p/gtk

#6775 [Shell] don't throw exception if registering same route factory to same routename
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Routing.cs
Labels: a/shell :shell:, blocker, i/high, t/bug :bug:

#6435 [UWP] Fixed resetting the background color of the frame
  Xamarin.Forms.Platform.UAP/FrameRenderer.cs
Labels: p/UWP

#6735 Unhook Page from embedded Application on disposal
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Platform.iOS/PageExtensions.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: API-change, a/embedding 📦, p/iOS 🍎

#6527 Shell lifecycle
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellExtensions.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
Labels: API-change, a/shell :shell:, breaking, p/Android, t/bug :bug:

#6695 [Shell] Apply Query string parameters even if they aren't present and correctly apply them to nested pages
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: a/shell :shell:, t/bug :bug:

#6744 [UWP] fixes crash after reset corner radius
  Xamarin.Forms.Platform.UAP/FormsButton.cs
Labels: p/UWP

#6601 Map MoveToLastRegionOnLayoutChange Property
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Map.cs
Labels: API-change, a/maps :globe_with_meridians:, p/Android, p/iOS 🍎, t/bug :bug:

#6578 Add constructor in WkWebViewRenderer to use custom configuration
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: API-change, a/webview, p/iOS 🍎, t/enhancement ➕

#6312 Switch ThumbColor
  Xamarin.Forms.Controls/CoreGalleryPages/SwitchCoreGalleryPage.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Switch.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwitchRenderer.cs
Labels: p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#6272 Add Color.ToHex()
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core/Color.cs
Labels: API-change, partner, t/enhancement ➕

#6603 [Android] Fix Map Gallery page
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
Labels: a/maps :globe_with_meridians:, p/Android, t/housekeeping ♻︎

#6730 Fix for #6444: Propagate binding context for children of shell sections
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: a/binding ⛓, a/shell :shell:, t/bug :bug:

#6781 Clear global routes on unit tests and process global routes in the right place
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/DrawableExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/shell :shell:, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#6572 [Shell] Flyout TableView height fix and implement margins for Flyout Header
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla26993.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
Labels: a/shell :shell:, p/Android, p/iOS 🍎, t/bug :bug:

#6822 [X] Allow x:Null for x:DataType
  Xamarin.Forms.Build.Tasks/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6648.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh6648.xaml.cs
Labels: a/Xaml </>, approved, i/high, i/regression, m/high impact :black_large_square:, t/bug :bug:

#6732 Reimplement ITabStop on Android Material renderers
  Xamarin.Forms.Material.Android/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialTimePickerRenderer.cs
Labels: a/visual, approved, p/Android, t/bug :bug:

#6798 Fix for Switch on Android losing shadow
  Xamarin.Forms.Controls/CoreGalleryPages/SwitchCoreGalleryPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/DrawableExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
Labels: p/Android

#4375 RelativeSource Binding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github3847.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github3847.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceTrackerTemplate.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ControlTemplateTests.cs
  Xamarin.Forms.Core.UnitTests/RelativeSourceBindingTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/ContentPresenter.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/ElementTemplate.cs
  Xamarin.Forms.Core/RelativeBindingSource.cs
  Xamarin.Forms.Core/RelativeBindingSourceMode.cs
  Xamarin.Forms.Core/TemplateBinding.cs
  Xamarin.Forms.Pages/ListDataPage.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3847.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh3847.xaml.cs
  Xamarin.Forms.Xaml/MarkupExtensions/RelativeSourceExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/TemplateBindingExtension.cs
Labels: F100, a/Xaml </>, a/binding ⛓, approved, inactive, roadmap, t/enhancement ➕

#6794 cleanup: corrected spelling mistake
  Xamarin.Forms.Platform.UAP/ImageSourceIconElementConverter.cs
Labels: p/UWP

#6791 Implemented Padding on WPF Button
  Xamarin.Forms.Controls/CoreGalleryPages/ImageButtonCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.WPF/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ImageButtonRenderer.cs
Labels: p/WPF, t/bug :bug:

#6740 [Android] Fix KeyNotFoundException during Shell Navigation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6738.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRendererBase.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: a/shell :shell:, approved, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#6661 Fix Page implicit and inherited style with ControlTemplate #6657
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core/Page.cs
Labels: t/bug :bug:

#6706 Auto-focus next view from Entry with ReturnType.Next
  Xamarin.Forms.Controls/ControlGalleryPages/EntryReturnTypeGalleryPage.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: approved, inactive, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#6720 [Android] Uniformize handler name (CollectionView)
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
Labels: API-change, a/collectionview, approved, p/Android

#6752 Add protected GetTemplateChild to ContentPage and ContentView
  Xamarin.Forms.Core.UnitTests/TemplatedViewUnitTests.cs
  Xamarin.Forms.Core/TemplatedPage.cs
  Xamarin.Forms.Core/TemplatedView.cs
Labels: approved, proposal-open, t/enhancement ➕

#6793 cleanup: moved closing brace to new line
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
Labels: approved, p/UWP, t/housekeeping ♻︎

#6753 Fixed: Button CornerRadius doesn't work in explicit style
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5046.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5046.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Xaml.UnitTests/ButtonCornerRadius.xaml
  Xamarin.Forms.Xaml.UnitTests/ButtonCornerRadius.xaml.cs
Labels: a/Xaml </>, a/style, i/regression, t/bug :bug:

#6602 Add Scrollbar Visibility option to the CollectionView
  GitInfo.txt
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: API-change, a/collectionview, p/Android, p/UWP, p/iOS 🍎, proposal-open, t/enhancement ➕

#6857 Don't force binding expression applications to queue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6609.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionChangedCommandParameter.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionChangedCommandParameter.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/BindingBaseUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Core/BindingExpression.cs
Labels: a/collectionview, t/bug :bug:

#6714 [Core] Add ability to show modal prompts
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6713.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/PromptArguments.cs
  Xamarin.Forms.Platform.Android/PopupManager.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: API-change, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#6837 [X] do not compile binding set as property values
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5240.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5240.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#6860 Fix binding to nullable types
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue6280.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue6280.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, t/bug :bug:

#6843 [X] allow x:Type markup as x:DataType value
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5330.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5330.xaml.cs
Labels: a/Xaml </>

#6820 [iOS] fixes material checkbox color
  Xamarin.Forms.Material.iOS/MaterialFormsCheckBox.cs
Labels: a/visual, approved, p/iOS 🍎, t/bug :bug:

#6690 [iOS] ItemsViewLayout needs strategy on the ctor
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListViewLayout.cs
Labels: a/collectionview, p/iOS 🍎

#6674 [Android] Unhook WebView.EvaluateJavascriptAsync on Dispose
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6286.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: p/Android

#6299 Label padding
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Thickness.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: F100, approved, p/Android, p/UWP, p/WPF, p/iOS 🍎, t/enhancement ➕

#6785 [Tizen] Fix slider thumb color issue
  Xamarin.Forms.Material.Tizen/MaterialSliderRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SliderRenderer.cs
Labels: a/visual, approved, p/Tizen

#6879 Implement CollectionView.ItemsUpdatingScrollMode for Android/iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewItemsUpdatingScrollMode.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EnumSelector.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Items/ItemsUpdatingScrollMode.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/DataChangeObserver.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ScrollHelper.cs
  Xamarin.Forms.Platform.iOS/CollectionView/IndexPathExtensions.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/collectionview, p/Android, p/iOS 🍎, t/enhancement ➕

#6390 [Android] refactoring fixes layouts
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5766.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: a/collectionview, a/layout, a/listview, blocker, i/regression, mobcat, p/Android, t/bug :bug:

#6576 [Bug][iOS] listview / observable collection throwing native error on load
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6472.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#6728 Added UITest for #2577
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2577.cs
Labels: p/Android, t/housekeeping ♻︎

#5167 [Enhancement] Implements CharacterSpacing
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/DatePicker.cs
  Xamarin.Forms.Core/Editor.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Core/ITextElement.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Picker.cs
  Xamarin.Forms.Core/SearchBar.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Core/Span.cs
  Xamarin.Forms.Core/TextElement.cs
  Xamarin.Forms.Core/TimePicker.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialPickerRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/ButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/DatePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions.cs
  Xamarin.Forms.Platform.UAP/FormsButton.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/PickerRenderer.cs
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  Xamarin.Forms.Platform.UAP/TimePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: API-change, F100, a/shell :shell:, a/visual, p/Android, p/UWP, p/iOS 🍎, retarget-branch-required, roadmap, t/enhancement ➕

#6149 Opt-in init to speed up startup times
  Xamarin.Forms.Core/Registrar.cs
Labels: a/performance, p/Android, t/enhancement ➕

#6463 ITextAlignmentElement VerticalTextAlignment (Entry, SearchBar, EntryCell)
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/SearchBarCoreGalleryPage.cs
  Xamarin.Forms.Core/Cells/EntryCell.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Core/ITextAlignmentElement.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/SearchBar.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Core/TextAlignmentElement.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.Android/Extensions/TextAlignmentExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  Xamarin.Forms.Platform.WPF/Extensions/AlignmentExtensions.cs
  Xamarin.Forms.Platform.WPF/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/AlignmentExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
Labels: API-change, F100, a/shell :shell:, approved, p/Android, p/UWP, p/WPF, p/iOS 🍎

#6302 MacOS: Allow third party libs to display animated images correctly
  Xamarin.Forms.Platform.MacOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
Labels: p/iOS 🍎, p/macOS

#6596 [Android] Prevent race condition between activity create and dispose
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: i/high, p/Android, t/bug :bug:

#6473 [iOS] Fix initial color of RefreshControl in ListViews
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5728.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, p/iOS 🍎, t/bug :bug:

#6897 [Android] Fix previewer exceptions with TabbedPage
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: forms-previewer, i/regression, p/Android

#6844 [C] Obsolete Device.OpenUri
  EmbeddingTestBeds/Embedding.XF/OpenUri.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla29247.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla60691.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2357.xaml.cs
  Xamarin.Forms.Core/Device.cs
Labels: deprecation

#6332 [Tests]Update to Xamarin.UITest 3.0 and NUnit 3.0
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla35736.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
  Xamarin.Forms.Core.UnitTests/AnimationTests.cs
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/CellTests.cs
  Xamarin.Forms.Core.UnitTests/GeocoderUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MotionTests.cs
  Xamarin.Forms.Core.UnitTests/NavigationUnitTest.cs
  Xamarin.Forms.Core.UnitTests/ResourceDictionaryTests.cs
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/UriImageSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/LoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/MockAssemblyResolver.cs
  Xamarin.Forms.Xaml.UnitTests/Speed/SimpleContentPage.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlParseExceptionConstraint.cs
Labels: a/Xaml </>, p/Android, p/iOS 🍎, t/enhancement ➕, t/housekeeping ♻︎

#6969 Fixes GH 6539
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: i/high, i/regression, p/iOS 🍎, t/bug :bug:

#5754 [Android/iOS] RemainingItemsThreshold and Scrolled implementation for CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Items/ItemsViewScrolledEventArgs.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/PositionalSmoothScroller.cs
  Xamarin.Forms.Platform.Android/CollectionView/RecyclerViewScrollListener.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
Labels: a/collectionview, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#6930 [Android] Fix previewer exceptions with SearchBar
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: forms-previewer, i/high, inactive, p/Android, t/bug :bug:

#6862 [iOS] Wrap iOS 9+ code in version check (get_InputAssistantItem: unrecognized selector sent…)
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: i/high, p/iOS 🍎, t/bug :bug:

#6912 [Bug] Device.Info.ScaledScreenSize Gives 0 Width and Height in iOS
  Xamarin.Forms.Platform.iOS/IOSDeviceInfo.cs
Labels: a/collectionview, i/regression, p/iOS 🍎, t/bug :bug:

#6923 [Android] Add check for multiple dispose calls on scrollview, page, and platform
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewContainer.cs
Labels: forms-previewer-sdk, p/Android

#6981 In macOS Mojave, navigation bar title text is not centered
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
Labels: p/macOS, t/bug :bug:

#6951 [iOS] Reset anchor point before reapplying transforms
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6945.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: a/layout, e/2 :clock2:, p/iOS 🍎, t/bug :bug:

#6987 iOS - Test and fix for VoiceOver crash on a ContentPage not having any Content defined
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GitHub6926.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
Labels: a/a11y 🔍, p/iOS 🍎, t/bug :bug:

#6918 Implement DataTemplateSelector support for CollectionView on UWP
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Items/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/Items/ItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/Items/ItemTemplateEnumerator.cs
  Xamarin.Forms.Platform.UAP/Items/ItemTemplatePair.cs
  Xamarin.Forms.Platform.UAP/Items/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/Items/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/Items/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP, t/bug :bug:

#6840 CollectionView Android - Fix adapter update
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6644.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6644.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
Labels: API-change, a/collectionview, approved, breaking, p/Android, t/bug :bug:

#6868 [X] Allow tracking the assignment of StaticResource
  Xamarin.Forms.Core/ResourceDictionary.cs
  Xamarin.Forms.Xaml/Diagnostics/ResourceDictionaryDiagnostics.cs
  Xamarin.Forms.Xaml/Diagnostics/StaticResourceResolvedEventArgs.cs
  Xamarin.Forms.Xaml/MarkupExtensions/StaticResourceExtension.cs
  Xamarin.Forms.Xaml/Properties/AssemblyInfo.cs
  Xamarin.Forms.Xaml/Xamarin.Forms.Xaml.csproj
Labels: a/Xaml </>, approved

#6913 fixes .create-nuget script
  .Xamarin.Forms.Android.sln
  .Xamarin.Forms.UAP.nuget.sln
  .Xamarin.Forms.UAP.sln
  .Xamarin.Forms.iOS.nuget.sln
  .Xamarin.Forms.iOS.sln
  .Xamarin.forms.nuget.sln
  .Xamarin.forms.sln
  .create-nuget.bat
  .create-stubs.bat
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Maps.GTK.nuspec
  .nuspec/Xamarin.Forms.Maps.WPF.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
  .nuspec/Xamarin.Forms.Platform.GTK.nuspec
  .nuspec/Xamarin.Forms.Platform.WPF.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: a/visual, approved, p/Android, p/UWP, p/WPF, p/gtk, p/iOS 🍎, t/housekeeping ♻︎

#6455 [UWP] Fixes default button padding
  Xamarin.Forms.Platform.UAP/ButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/ImageButtonRenderer.cs
Labels: a/layout, approved, p/UWP, t/bug :bug:

#6928 UWP CollectionView cleanup
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateEnumerator.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, approved, p/UWP

#6910 [iOS] UITableView.Appearance.BackgroundColor ignored or overridden for ListView
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5503.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
Labels: i/low, i/regression, p/iOS 🍎, t/bug :bug:

#7004 [UWP] Register the Xaml assembly
  Xamarin.Forms.Core/DependencyService.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: i/critical, i/regression, p/UWP, t/bug :bug:

#6944 [iOS] Fix usage conflict of Title and AttributedTitle on ButtonRenderer
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CharacterSpacingGallery.xaml.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: a/shell :shell:, a/visual, blocker, p/iOS 🍎

#6990 [Android] Make it easier to create custom renderers for alternate CV layouts
  Xamarin.Forms.ControlGallery.Android/StaggeredCollectionViewRenderer.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/AlternateLayoutGalleries/AlternateLayoutGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/AlternateLayoutGalleries/StaggeredLayout.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/AlternateLayoutGalleries/StaggeredLayout.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollToCodeGallery.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ScrollHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
Labels: a/collectionview, p/Android

#6948 [Android] CollectionView Header/Footer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterString.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterTemplate.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewHeaderFooterView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGrid.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGrid.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterString.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterString.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterTemplate.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterTemplate.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/GridLayoutSpanSizeLookup.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemViewType.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SimpleViewHolder.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: API-change, a/collectionview, approved, m/high impact :black_large_square:, p/Android, t/enhancement ➕

#7021 Revert "[Tests]Update to Xamarin.UITest 3.0 and NUnit 3.0 (#6332)"
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla35736.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
  Xamarin.Forms.Core.UnitTests/AnimationTests.cs
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/CellTests.cs
  Xamarin.Forms.Core.UnitTests/GeocoderUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MotionTests.cs
  Xamarin.Forms.Core.UnitTests/NavigationUnitTest.cs
  Xamarin.Forms.Core.UnitTests/ResourceDictionaryTests.cs
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/UriImageSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/LoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/MockAssemblyResolver.cs
  Xamarin.Forms.Xaml.UnitTests/Speed/SimpleContentPage.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlParseExceptionConstraint.cs
Labels: a/Xaml </>, p/Android, p/iOS 🍎
