Repository xamarin/Xamarin.Forms, pull requests merged in 2019-01, with the labels that each got.

#4747 Min viable FontImageSource
  Xamarin.Forms.ControlGallery.Android/Assets/fonts/icons.xml
  Xamarin.Forms.ControlGallery.Android/Assets/fonts/ionicons.ttf
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/Fonts/ionicons.ttf
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.iOS/ionicons.ttf
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Core/FontImageSource.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/FontImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: approved, e/6 :clock6:, t/enhancement ➕

#4863 [iOS] Implement item move on iOS CollectionView
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, e/1 :clock1:, p/iOS 🍎

#4757 Added case in GTK listviewrender for change of SelectedItem property
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4748.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.GTK/Renderers/ListViewRenderer.cs
Labels: e/3 :clock3:, p/gtk

#4916 [Android] Allow the page background to be reset
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
Labels: e/1 :clock1:, p/Android, t/bug :bug:

#4904 [Android] If drawable specified on shell doesn't exist don't dispose of it
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, e/1 :clock1:, p/Android, t/bug :bug:

#4866 [Android] Only post DisableTimer to the queue if it's not on the UI thread
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
Labels: a/animation 🎬, e/1 :clock1:, i/regression, p/Android, t/bug :bug:

#4931 [Android] Fix for ListViewRenderer causing ObjectDisposedException
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
Labels: e/1 :clock1:, p/Android, t/bug :bug:

#1972 [Enhancement] Entry: Read-only Entry and Editor
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1678.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGalleryPages/EditorCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.Core.UnitTests/EditorTests.cs
  Xamarin.Forms.Core.UnitTests/EntryUnitTests.cs
  Xamarin.Forms.Core.UnitTests/NotifiedPropertiesTests.cs
  Xamarin.Forms.Core/InputView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: API-change, F100, community-sprint, e/9 :clock9:, t/enhancement ➕

#4269 [Enhancement] Map with ItemsSource and ItemTemplate
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MapWithItemsSourceGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapWithItemsSourceGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/MapTests.cs
  Xamarin.Forms.Maps/Map.cs
  Xamarin.Forms.Maps/Pin.cs
Labels: F100, community-sprint, e/8 :clock8:, p/Android, p/UWP, p/WPF, p/iOS 🍎, t/enhancement ➕

#4716 [Android] fixes Right-to-Left Hamburger icon in MasterDetailPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2818.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailContainer.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailPageRenderer.cs
Labels: a/rtl, e/4 :clock4:, m/high impact :black_large_square:, p/Android, t/bug :bug:

#4945 [tests] UWP requires file extensions
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4484.cs
Labels: e/1 :clock1:, p/UWP, t/housekeeping ♻︎

#4958 [macOS] BoxView binding to BackgroundColor broken
  Xamarin.Forms.Platform.MacOS/Controls/FormsBoxView.cs
Labels: e/2 :clock2:, p/macOS, t/bug :bug:

#4959 BoxView.BackgroundColor binding does not work on WPF
  Xamarin.Forms.Platform.WPF/Renderers/BoxViewRenderer.cs
Labels: e/1 :clock1:, p/WPF, t/bug :bug:

#4944 [tests] UWP requires file extensions
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4597.cs
Labels: e/1 :clock1:, p/UWP, t/housekeeping ♻︎

#4384 [Android] Fix brief display of incorrect keyboard
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla39702.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4384.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
  Xamarin.Forms.Platform.Android/KeyboardManager.cs
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
Labels: e/6 :clock6:, p/Android, partner, t/bug :bug:

#4969 Changes that VS Mac and Dev16 automatically make when you open SLN
  EmbeddingTestBeds/Embedding.Droid/Properties/AndroidManifest.xml
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.Droid/Properties/AndroidManifest.xml
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4728 [iOS] Fix unsubscribing the `PropertyChanged` event of the ViewCell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1931.cs
  Xamarin.Forms.Platform.iOS/Cells/ViewCellRenderer.cs
Labels: e/3 :clock3:, p/iOS 🍎, t/bug :bug:

#4824 Disable suggestions for all Pickers
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
Labels: breaking, e/1 :clock1:, p/iOS 🍎, t/enhancement ➕

#4414 [iOS, Android] Implement Snap alignment for CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Platform.Android/CollectionView/EndSingleSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SingleSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.Android/CollectionView/StartPagerSnapHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/StartSingleSnapHelper.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SnapHelpers.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/collectionview, e/5 :clock5:, p/Android, p/iOS 🍎, t/enhancement ➕

#4968 [ios] Clear perfect size on Labels so reused renderers will resize correctly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3652.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: e/1 :clock1:, p/iOS 🍎, t/bug :bug:

#4878 [Android] Avoid acting on a disposed SpannableString in LabelRenderer
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
Labels: e/1 :clock1:, p/Android, t/bug :bug:

#4980 [C] Obsolete Vec2
  Xamarin.Forms.Core/Vec2.cs
Labels: deprecation, e/1 :clock1:

#4977 [Shell] fixes navigate to a relative URI
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
Labels: a/shell :shell:, e/2 :clock2:, retarget-branch-required, t/bug :bug:

#4954 [Android] set ClipBounds to use ViewCompat.SetClipBounds
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
Labels: e/1 :clock1:, i/regression, m/high impact :black_large_square:, p/Android, t/bug :bug:

#4948 Remove Unused Types
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/NavigationMenuGallery.cs
  Xamarin.Forms.Core.UnitTests/NavigationMenuUnitTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/INavigationMenuController.cs
  Xamarin.Forms.Core/NavigationMenu.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/IToolbarButton.cs
  Xamarin.Forms.Platform.Android/Renderers/NavigationMenuRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ToolbarButton.cs
  Xamarin.Forms.Platform.Android/Renderers/ToolbarImageButton.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationMenuRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: e/4 :clock4:, t/housekeeping ♻︎

#4865 [iOS] CollectionView item replacement on iOS
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, e/1 :clock1:, p/iOS 🍎

#4952 .create-nuget.bat + maps
  .create-nuget.bat
Labels: e/1 :clock1:, t/housekeeping ♻︎

#4883 [UWP] Implementation of Switch.OnColor
  Xamarin.Forms.Controls/CoreGalleryPages/SwitchCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: e/3 :clock3:, p/UWP, t/enhancement ➕

#4850 Changed Span default binding to OneWay
  Xamarin.Forms.Core/Span.cs
Labels: breaking, e/1 :clock1:, t/enhancement ➕

#4912 [UWP] Fixed disappearing Switch on SwitchCell in TableView
  Xamarin.Forms.Platform.UAP/CellControl.cs
Labels: e/1 :clock1:, p/UWP, t/bug :bug:

#4988 [UWP] fixes crashing ActivityIndicator with COMException
  Xamarin.Forms.Platform.UAP/FormsProgressBar.cs
Labels: blocker, e/1 :clock1:, i/regression, p/UWP, t/bug :bug:

#4703 [UWP] Fixes IsTabStop property in Layouts
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4653.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/IDontGetFocus.cs
  Xamarin.Forms.Platform.UAP/ITabStopOnDescendants.cs
  Xamarin.Forms.Platform.UAP/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: e/3 :clock3:, p/UWP, t/bug :bug:

#4690 Add Serializable on exception types
  Xamarin.Forms.Core/InvalidNavigationException.cs
  Xamarin.Forms.Core/UnsolvableConstraintsException.cs
  Xamarin.Forms.Core/XamlParseException.cs
Labels: e/2 :clock2:

#3163 [UWP] Fixes hide DisplayActionSheet behind the dialog box
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3139.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: a/layout, e/2 :clock2:, p/UWP, t/bug :bug:

#4869 [Android] Tests for multiple item collection changes in CollectionView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionModifier.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/IndexParser.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemAdder.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemMover.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemRemover.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemReplacer.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemAdder.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemMover.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemRemover.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiItemReplacer.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiTestObservableCollection.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiTestObservableCollectionModifier.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionModifier.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableMultiItemCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/Resetter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, e/6 :clock6:, p/Android

#4612 [Android] Fixes keyboard navigation in custom view
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4561.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: e/3 :clock3:, i/regression, p/Android, retarget-branch-required, t/bug :bug:

#5026 [iOS] Move Material iOS components to a separate nuget
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.targets
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/_._
  EmbeddingTestBeds/Embedding.iOS/AppDelegate.cs
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.iOS/AppDelegate.cs
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Core/Visual.cs
  Xamarin.Forms.Material.iOS/FormsMaterial.cs
  Xamarin.Forms.Material.iOS/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialColors.cs
  Xamarin.Forms.Material.iOS/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: a/visual, blocker, p/iOS 🍎

#4431 [Enhancement][Core] ListView should report index of item on all events
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2976.cs
  Xamarin.Forms.Core/ItemTappedEventArgs.cs
  Xamarin.Forms.Core/ItemVisibilityEventArgs.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Core/SelectedItemChangedEventArgs.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Xaml.UnitTests/EventsConnection.xaml.cs
Labels: API-change, e/3 :clock3:, t/enhancement ➕

#5080 Update support dependencies to latest 28.0.0.1 version
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, t/housekeeping ♻︎

#5056 Material Entry v1
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/EntryCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/MaterialEntryGalleryPage.cs
  Xamarin.Forms.Material.iOS/MaterialColors.cs
  Xamarin.Forms.Material.iOS/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.Android/Material/MaterialColors.cs
  Xamarin.Forms.Platform.Android/Material/MaterialEntryRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialFormsEditText.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/TextInputLayoutFilledBox.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/TextInputLayoutOutlinedBox.axml
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.sln
Labels: a/visual, p/Android, p/iOS 🍎

#5014 [Control Gallery] Basic Search + Visual Selector
  Xamarin.Forms.Controls/CoreGallery.cs
Labels: t/housekeeping ♻︎

#5031 [Android] fixes app crash when next control in FocusSearch isn't focusable
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5030.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: t/bug :bug:

#5088 [Android iOS Material] ActivityIndicator
  Xamarin.Forms.Material.iOS/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/drawable/MaterialActivityIndicatorBackground.xml
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/visual, retarget-branch-required

#4967 [Material] + [Android, iOS] Refactored and fixed lots of button layout issues
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla39821.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41415.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2482.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ButtonBorderBackgroundGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/ButtonBorderBackgroundGalleryPage.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/ButtonLayoutGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/ButtonLayoutGalleryPage.xaml.cs
  Xamarin.Forms.Controls/ThicknessConverter.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/Thickness.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonElementManager.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/Extensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/IButtonLayoutRenderer.cs
  Xamarin.Forms.Platform.Android/Material/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IButtonLayoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/visual, e/7 :clock7:, p/Android, t/enhancement ➕

#4962 [Mac] fixes NRE when changing MainPage. Refactoring tab order.
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: blocker, e/3 :clock3:, i/critical, p/macOS, t/bug :bug:

#5063 [iOS] Fix ScrollTo MakeVisible positioning
  Xamarin.Forms.Platform.iOS/CollectionView/ScrollToPositionExtensions.cs
Labels: a/collectionview, p/iOS 🍎
