Repository xamarin/Xamarin.Forms, pull requests merged in 2019-09, with the labels that each got.

#7190 [X] Detect empty property value in markups
  Xamarin.Forms.Build.Tasks/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7187.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7187.xaml.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
Labels: a/Xaml </>, t/bug :bug:

#7342 [X] handle CDATA explicit properties
  Xamarin.Forms.Xaml.UnitTests/LabelHtml.xaml
  Xamarin.Forms.Xaml.UnitTests/LabelHtml.xaml.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>

#7328 [iOS] Fix Scrolled, don't use UITableView delegate
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, i/regression, p/iOS 🍎

#7333 [Android] Check if Shell Flyout header is null before trying to use it
  Xamarin.Forms.ControlGallery.Android/Environment.txt
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43941.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
Labels: a/shell :shell:, blocker, i/critical, p/Android

#7298 [Android] fix animations not animating
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
Labels: a/animation 🎬, blocker, i/regression, p/Android, t/bug :bug:

#4974 [Android] Correctly dispose TabbedPageRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2338.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4973.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsFragmentPagerAdapter.cs
Labels: blocker, p/Android, t/bug :bug:

#7354 Verify sections exist before calling NumberOfItemsInSection
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7338.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
Labels: a/collectionview, i/critical, p/iOS 🍎, t/bug :bug:

#7356 [X] Reuse baseclass namescope if it exists
  Xamarin.Forms.Build.Tasks/DebugXamlCTask.cs
  Xamarin.Forms.Build.Tasks/SetNamescopesAndRegisterNamesVisitor.cs
  Xamarin.Forms.Core/Internals/NameScope.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7097.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7097.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7097Base.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7097Base.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/NamescopingVisitor.cs
  Xamarin.Forms.Xaml/RegisterXNamesVisitor.cs
  Xamarin.Forms.Xaml/XamlNode.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: i/regression

#7308 Fix iOS footer and header to layout left and right for horizontal layout
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGridHorizontal.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterGridHorizontal.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#7366 [Android, iOS] Fix CarouselView Issues
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/cardBackground.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselSpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
Labels: a/Xaml </>, a/carouselview, a/collectionview, p/Android, p/iOS 🍎

#7373 Add SECURITY.md
  SECURITY.md
Labels: t/housekeeping ♻︎

#7382 [CarouselView] Fixed issue updating PeekAreaInsets
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Android

#7271 Fix RTL behavior for MasterDetailsPage when running on iOS 13 iPads
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2818.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: a/rtl, iOS 13, p/iOS 🍎, t/bug :bug:

#7294 Anticipate .cctors
  Xamarin.Forms.Platform.Android/Anticipator.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/Xaml </>, p/Android

#7381 [build] cleanup MSBuild settings for faster builds
  Directory.Build.props
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/Properties/AssemblyInfo.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
Labels: ControlGallery, a/buildchain, a/performance, p/Android, t/housekeeping ♻︎

#7316 Queue Page.Display actions until platform is ready
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7290.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/PageTests.cs
  Xamarin.Forms.Core/Page.cs
Labels: Core, a/shell :shell:, breaking, i/regression, p/Android, t/bug :bug:

#7319 [UWP] RefreshView
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/Xamarin.Forms.targets
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/RefreshViewTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/RefreshViewWindows.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGallery.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/collectionview, p/UWP, t/enhancement ➕

#7379 [UItests] Fix CarouselView tests
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
Labels: ControlGallery, a/carouselview, a/collectionview, approved, p/iOS 🍎, t/housekeeping ♻︎

#7384 Implement Move, Replace, and Reset for UWP CollectionView changes
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ObservableItemTemplateCollection.cs
Labels: a/collectionview, p/UWP

#7317 Update contributing guide; tweak pull request template
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: t/housekeeping ♻︎

#7440 [Tizen] Tizen renderer performance optimization
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/PreloadedPlatform.cs
  Xamarin.Forms.Platform.Tizen/PreloadedWindow.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
Labels: p/Tizen

#7441 [Tizen] Update InitializationOptions
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
Labels: p/Tizen

#7031 [Tests]Update to Xamarin.UITest 3.0 and NUnit 3.0 (#6332)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla34632.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla35736.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
  Xamarin.Forms.Core.UnitTests/AnimationTests.cs
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/CellTests.cs
  Xamarin.Forms.Core.UnitTests/GeocoderUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MotionTests.cs
  Xamarin.Forms.Core.UnitTests/NavigationUnitTest.cs
  Xamarin.Forms.Core.UnitTests/ResourceDictionaryTests.cs
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/UriImageSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/LoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/MockAssemblyResolver.cs
  Xamarin.Forms.Xaml.UnitTests/Speed/SimpleContentPage.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlParseExceptionConstraint.cs
Labels: ControlGallery, Core, a/Xaml </>, p/Android, p/iOS 🍎

#7389 Update support libraries from 28.0.0.1 to 28.0.0.3
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.Droid/Embedding.Droid.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
Labels: ControlGallery, a/visual, blocker, p/Android

#7431 Dispose of HttpResponseMessage after stream is used
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/StreamWrapper.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: i/high, p/Android, t/bug :bug:

#7461 Wrong type checked after casting to type being searched for
  Xamarin.Forms.ControlGallery.Android/ApiLabelRenderer.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/ApiLabelRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Controls/ApiLabel.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7329.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
Labels: ControlGallery, a/listview, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#4477 [Core] Move TextProperty, ITextElement, and IPlaceholderElement to InputView
  Xamarin.Forms.Core/Editor.cs
  Xamarin.Forms.Core/Entry.cs
  Xamarin.Forms.Core/InputView.cs
  Xamarin.Forms.Core/SearchBar.cs
Labels: API-change, Core, breaking

#7192 move await to Begin Invoke and check for disposed
  Xamarin.Forms.Platform.iOS/Extensions/NSObjectExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: p/iOS 🍎

#7459 Fix direction of walking when calculating effective FlyoutBehavior
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: Core, a/shell :shell:, t/bug :bug:

#7426 [Android] Leave BindingContext intact when recycling TemplatedItemViewHolder
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6889.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#7475 Hide some CarouselView methods from IntelliSense
  Xamarin.Forms.Core/Items/CarouselView.cs
Labels: Core, a/carouselview, t/housekeeping ♻︎

#7474 visualDiagnostics
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/Diagnostics/DebuggerHelper.cs
  Xamarin.Forms.Xaml/Diagnostics/ResourceDictionaryDiagnostics.cs
  Xamarin.Forms.Xaml/Diagnostics/VisualDiagnostics.cs
  Xamarin.Forms.Xaml/MarkupExtensions/StaticResourceExtension.cs
Labels: a/Xaml </>, t/housekeeping ♻︎

#7456 Remove extra properties from CarouselView API
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4992.xaml.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CollectionViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DefaultTextGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ItemsSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableMultiItemCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagationGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollToGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SnapPointsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/ItemsSpacingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingModifier.cs
  Xamarin.Forms.Core.UnitTests/ItemsViewTests.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/ItemsLayoutTypeConverter.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
  Xamarin.Forms.Core/Items/SelectableItemsView.cs
  Xamarin.Forms.Core/Items/StructuredItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselSpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SnapManager.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7097.xaml
Labels: API-change, ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, p/Android, p/Tizen, p/UWP, p/iOS 🍎

#7523 Check if Control is ready before interacting with Native control
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎

#7444 [CarouselView] Fix default snap
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselSnapGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, p/iOS 🍎, t/bug :bug:

#7438 Implement EmptyView on UWP
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/IEmptyView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP

#7522 Fix horizontal layout issues introduced in 7456
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7519.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7519Xaml.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7519Xaml.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Core/Items/ListItemsLayout.cs
  Xamarin.Forms.Core/Items/StructuredItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: Core, a/Xaml </>, a/carouselview, a/collectionview, p/Android, t/bug :bug:

#7530 Tweak unit test so it's more reliable and fix binlog path
  Xamarin.Forms.Core.UnitTests/DeviceUnitTests.cs
  azure-pipelines.yml
Labels: Core, t/housekeeping ♻︎

#7183 [macOS] Only use default font size for Time/DatePicker to avoid clipping issues
  Xamarin.Forms.Platform.MacOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TimePickerRenderer.cs
Labels: p/macOS, t/bug :bug:

#7542 await tasks on ViewUnitTests and update MSBuild Locator
  Xamarin.Forms.Core.UnitTests/ViewUnitTests.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: Core, a/Xaml </>, t/housekeeping ♻︎

#7543 Update unit test to Nunit3 ThrowAsync api
  Xamarin.Forms.Core.UnitTests/DeviceUnitTests.cs
Labels: Core

#7484 [iOS] Remove class variable from CarouselViewLayout whose value is always true
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎

#7546 Remove errant brace in FormsCommandBarStyle
  Xamarin.Forms.Platform.UAP/FormsCommandBarStyle.xaml
Labels: p/UWP, t/bug :bug:

#7513 Check if the Drawer Toggle has been instantiated when using a Tablet and MDP
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: i/high, p/Android, t/bug :bug:

#7468 [Android] Refactor the code for setting reverse layout in ItemsViewRenderer
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/Android

#7514 Check to see if the BeginRefresh request is no longer needed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5728.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7313.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, i/regression, p/iOS 🍎, t/bug :bug:

#7503 Implement CarouselView on UWP
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateEnumerator.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, p/UWP

#7363 Check for null Platform in OnDestroy
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: p/Android, t/bug :bug:

#7250 [macOS] PushModalAsync a 2nd time causes a crash
  Xamarin.Forms.Platform.MacOS/ModalPageTracker.cs
Labels: i/high, p/macOS, t/bug :bug:

#7527 Add additional proguard classes to work with Bottom Tab Bar
  .nuspec/proguard.cfg
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
Labels: ControlGallery, i/high, p/Android, t/bug :bug:

#6015 Adds UWP support to Shell
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.UAP/ImageSourceIconElementConverter.cs
  Xamarin.Forms.Platform.UAP/PageExtensions.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutTemplateSelector.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellHeaderRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellToolbarItemRenderer.cs
  Xamarin.Forms.Platform.UAP/ViewToRendererConverter.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/shell :shell:, p/UWP, t/enhancement ➕

#7553 [C] Added intelisense to Keyboard property
  Xamarin.Forms.Core.Design/AttributeTableBuilder.cs
  Xamarin.Forms.Core.Design/KeyboardDesignTypeConverter.cs
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
Labels: Core, forms-previewer-sdk

#7551 [C] Removed MatchParent value from Property Editor
  Xamarin.Forms.Core/Visuals/VisualMarker.cs
Labels: Core

#7571 [X] avoid throwing in VisualDiagnostics
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/Diagnostics/DebuggerHelper.cs
  Xamarin.Forms.Xaml/Diagnostics/VisualDiagnostics.cs
Labels: a/Xaml </>, blocker, i/regression, t/bug :bug:

#7506 [C] Fix TemplateBinding for non-logicalchildren
  Xamarin.Forms.Core.UnitTests/RelativeSourceBindingTests.cs
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/FormattedString.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7494.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7494.xaml.cs
Labels: Core, a/Xaml </>, i/regression, t/bug :bug:

#7588 [X] do not fail on generic aBP
  Xamarin.Forms.Build.Tasks/BindablePropertyReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7494.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7559.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7559.xaml.cs
Labels: a/Xaml </>, i/high, t/bug :bug:

#7516 [Android] Fix ItemSpacing for last item in CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7357.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7357.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#7580 Make sure transition from empty CollectionView measures cell size
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: ControlGallery, a/collectionview, i/regression, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#7509 Finish ScrollTo implementations for CollectionView on UWP
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/ScrollHelpers.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP

#7616 [UITests] Try again to run UItests
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
Labels: t/housekeeping ♻︎

#7592 [CarouselView] Fix CarouselView initial position on Android
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7525.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7525.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Android, t/bug :bug:

#7619 Add retry logic for IsFocus test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
Labels: Core, t/housekeeping ♻︎

#7587 [iOS,Android] Better way to get CurrentItem
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
Labels: Core, a/carouselview, a/collectionview, p/Android, p/iOS 🍎, t/bug :bug:

#7636 [Mac] Fix NRE on setting non-existing FontFamily
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7582.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Extensions/FontExtensions.cs
Labels: i/high, i/regression, p/macOS, partner, t/bug :bug:

#7617 [iOS] Make button click easier to see when turning on CollectionView flag
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
Labels: ControlGallery, a/carouselview, a/collectionview

#7596 Lazily load ResourceManager types
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: p/Android

#7611 Previewer fixes for loading font correctly and catching image load exceptions
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/Renderers/FontExtensions.cs
Labels: blocker, forms-previewer-sdk, i/regression, p/Android, t/bug :bug:

#7666 [Tizen] Improves the initialization of VE's properties
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: p/Tizen

#7662 Only set elevation on Lollipop and up for FlatButtonRenderer
  Xamarin.Forms.ControlGallery.Android/_1909CustomRenderer.cs
Labels: ControlGallery, p/Android

#7682 Fix Android foreground coloring on Shell
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: ControlGallery, a/shell :shell:, blocker, breaking, i/regression, p/Android, t/bug :bug:

#7158 [BUG/iOS] Fixed CollectionView Insets ItemSpacing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7035.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7035.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎, t/bug :bug:

#7583 [iOS] Fixes for null check for Shell classes
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: Core, a/collectionview, a/shell :shell:, p/iOS 🍎

#7622 [iOS] Fix MeasureFirstItem for CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7621.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7621.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/HeightConstrainedTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/WidthConstrainedTemplatedCell.cs
Labels: a/collectionview, iOS 13, p/iOS 🍎, t/bug :bug:

#7707 JavaSDK build path fix for 16.3 CI servers
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#7651 [C] Invoke ToString while setting string BP
  Xamarin.Forms.Core.UnitTests/BindableObjectUnitTests.cs
  Xamarin.Forms.Core/BindableProperty.cs
  Xamarin.Forms.Core/ToStringValueConverter.cs
Labels: Core, a/binding ⛓, approved, breaking, partner, t/bug :bug:

#7289 [Android] 28+ Make non-visible pickers work again
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5159.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7311.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/PickerManager.cs
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
Labels: i/regression, mobcat, p/Android, t/bug :bug:

#7398 [RefreshView] Fire RefreshCommand setting IsRefreshing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/RefreshViewTests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/RefreshView.cs
  Xamarin.Forms.Platform.Android/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: Core, approved, blocker, iOS 13, p/Android, p/iOS 🍎, t/bug :bug:

#7550 [X] Pass the current assembly to parsing context
  Xamarin.Forms.Core/TypeTypeConverter.cs
  Xamarin.Forms.Xaml.UnitTests/AppResources/Colors.xaml
  Xamarin.Forms.Xaml.UnitTests/AppResources/CompiledColors.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7531.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh7531.xaml.cs
  Xamarin.Forms.Xaml/HydrationContext.cs
  Xamarin.Forms.Xaml/ResourcesLoader.cs
  Xamarin.Forms.Xaml/ViewExtensions.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: Core, a/Xaml </>, t/bug :bug:

#7625 Fix7320 font image source don't work on wpf
  Xamarin.Forms.ControlGallery.WPF/Assets/ionicons.ttf
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/ImageRenderer.cs
Labels: ControlGallery, p/WPF, t/bug :bug:

#5904 centralize bottom nav behaviors so all the bottom navs work the same
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Sandbox.Android/Resources/drawable/bank.png
  Xamarin.Forms.Sandbox.Android/Resources/drawable/coffee.png
Labels: a/shell :shell:, p/Android, t/enhancement ➕

#7702 Wait for test to load before scrolling images
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2354.cs
Labels: 4.0.0, blocker, i/regression, t/bug :bug:, t/housekeeping ♻︎

#7591 Fix NullReferenceException in Obfuscate (#7589)
  Xamarin.Forms.Platform.WPF/FormsTextBox.cs
Labels: approved, i/high, p/WPF, t/bug :bug:

#7462 [Enhancement] Xamarin.Forms.Platform.WPF.ImageExtensions to public
  Xamarin.Forms.Platform.WPF/Extensions/ImageExtensions.cs
Labels: p/WPF, proposal-accepted, t/enhancement ➕

#7608 [UWP] Reduce allocations and fix memory leak in CollectionView
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContext.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContextEnumerable.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateContextList.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemTemplateEnumerator.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ObservableItemTemplateCollection.cs
  Xamarin.Forms.Platform.UAP/CollectionView/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/collectionview, p/UWP

#7706 NRE fix for 7301
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: approved, i/high, i/regression, p/Android, retarget-branch-required, t/bug :bug:

#7628 [Android] Fixed issue changing the ItemTemplate on CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7395.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#7458 Setup public and provisionator based provisioning of SDKS
  Xamarin.Forms.ControlGallery.Android/Environment.txt
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/_1909CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43941.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
  azure-pipelines.yml
  build.cake
  build/provisioning/provisioning.csx
  build/steps/build-android.yml
  build/steps/build-nuget.yml
  build/steps/build-osx.yml
  build/steps/build-windows.yml
Labels: ControlGallery, approved, p/Android, t/housekeeping ♻︎

#7722 UWP fixes for lower target sdk on VS 2017
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7525.xaml.cs
  Xamarin.Forms.Core.UnitTests/DeviceUnitTests.cs
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  azure-pipelines.yml
  build.cake
  build/steps/build-windows.yml
Labels: ControlGallery, p/UWP

#7613 [Android/iOS] Handle dynamically switching between item layouts in CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5354.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5354.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#7566 Fix crash on iOS with elements that have Layout Compression and VoiceOver active
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7563.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#7615 [Android] Remove ripple effect on CollectionView item when SelectionMode is None
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs
Labels: Core, a/collectionview, p/Android, t/bug :bug:

#7738 Remove 7.3 features from WPF
  Xamarin.Forms.Platform.WPF/Renderers/ImageRenderer.cs
Labels: p/WPF, t/housekeeping ♻︎

#7614 [Android] Fix FlowDirection for Labels
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7512.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7512.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/FlowDirectionExtensions.cs
Labels: a/rtl, approved, p/Android, t/bug :bug:

#7693 [Android] CarouselView problems updating ObservableCollection
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7678.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, i/critical, p/Android, t/bug :bug:
