Repository xamarin/Xamarin.Forms, pull requests merged in 2019-04, with the labels that each got.

#5757 Check if Element parent is null before getting the padding insets
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: blocker, t/bug :bug:

#5226 Map with ItemTemplateSelector
  Xamarin.Forms.Controls/GalleryPages/MapWithItemsSourceGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapWithItemsSourceGallery.xaml.cs
  Xamarin.Forms.Core.UnitTests/MapTests.cs
  Xamarin.Forms.Maps/Map.cs
Labels: API-change, a/maps :globe_with_meridians:, t/enhancement ➕

#5740 Extend Control Gallery to allow for Shell UI Tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4684.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4684.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/TestCases.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
Labels: a/shell :shell:, t/housekeeping ♻︎

#5726 Make UI test 4600 run on Android/iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4600.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemInsert.cs
Labels: a/collectionview, p/Android, p/iOS 🍎, t/housekeeping ♻︎

#5402 Added dynamic view gallery
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/DynamicViewGallery.cs
Labels: a/uitest, t/housekeeping ♻︎

#5776 [C] change searchHandler bindingMode
  Xamarin.Forms.Core/SearchHandler.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5706.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5706.xaml.cs
Labels: a/shell :shell:, t/bug :bug:

#5743 [Shell] propagate BC to BackButtonBehavior
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Shell/BackButtonBehavior.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: a/shell :shell:, t/bug :bug:

#5792 Remove locally referenced folder
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: t/housekeeping ♻︎

#5730 [Shell] propagate BindingContext to SearchHandler
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Shell/ISearchHandlerController.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5705.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5705.xaml.cs
Labels: a/shell :shell:, t/bug :bug:

#5715 try to avoid merge conflicts in GitInfo.txt
  .gitattributes
  .gitconfig
Labels: t/housekeeping ♻︎

#5775 [C] SearchHandler.SelectedItem
  Xamarin.Forms.Core/Shell/SearchHandler.cs
Labels: API-change, a/shell :shell:

#5794 [X] resolve generic indexer types
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5510.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5510.xaml.cs
Labels: a/Xaml </>

#5796 [X] check for null on the parent property
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
Labels: t/bug :bug:

#5720 Allow EmptyView swapping in Android CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5535.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewSwapGallery.xaml
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
Labels: a/collectionview, p/Android

#5262 [macOS] NavigationRenderer internal stack reversed after RemovePage
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
Labels: p/macOS, t/bug :bug:

#5028 [Core] Add some Device.InvokeOnMainThread helpers
  Xamarin.Forms.Core/Device.cs
Labels: t/enhancement ➕

#5804 XamlLoader should not ignore x:TypeArguments on root node
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>, t/bug :bug:

#5760 Increase API level check for setting Android ripple effect on selection
  Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs
Labels: a/collectionview, p/Android

#5823 [Android] fixes material placeholder
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
Labels: a/visual, p/Android

#5827 update build script for mac and readme based on vs mac 2019
  README.md
  build.cake
Labels: t/housekeeping ♻︎

#5818 [Shell][Tizen] Add the ShellRenderer on Tizen
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Native/Entry.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Resource/arrow_left.png
  Xamarin.Forms.Platform.Tizen/Resource/dots_horizontal.png
  Xamarin.Forms.Platform.Tizen/Resource/menu.png
  Xamarin.Forms.Platform.Tizen/Shell/IFlyoutController.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellMoreToolbar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellNavBar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionNavigation.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: a/shell :shell:, t/enhancement ➕

#5559 [C] allow inheriting from Behavior
  Xamarin.Forms.Core/Interactivity/Behavior.cs
Labels: API-change, t/enhancement ➕

#5753 [iOS] Fix when we render the font icon image as original
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#5668 Implemented ImageButtonRenderer for WPF
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: e/5 :clock5:, p/WPF, t/enhancement ➕

#5826 Add automated test for Bugzilla41205
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla41205.cs
Labels: t/housekeeping ♻︎

#5847 [Android] add another gc.collect for Android to ensure all is collected
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31145.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31255.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla32206.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla32898.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla35132.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla39489.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40955.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42069.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42329.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43941.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44047.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44166.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45722.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45722Xaml0.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla45926.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla51503.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla55365.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla57910.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/GarbageCollectionHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1023.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1024.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1703.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1895.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2399.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5555.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: p/Android, t/housekeeping ♻︎

#5859 Add automated UITest for Bugzilla44476
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla44476.cs
Labels: e/2 :clock2:, t/housekeeping ♻︎

#5851 [Android] Null check on Switch TrackDrawable
  Xamarin.Forms.Core/Switch.cs
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
Labels: i/regression, p/Android

#5863 Port fix from 4794 to handle clip bounds on sub-API-19 Android
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: p/Android, t/bug :bug:

#3989 [Android/iOS] TabIndex sets focus order for TalkBack traversal
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/A11yTabIndex.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/A11yTabIndex.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Core/TabIndexExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/IOrderedTraversalController.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Extensions/VisualElementExtensions.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IAccessibilityElementsController.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: API-change, a/a11y 🔍, m/high impact :black_large_square:, t/enhancement ➕

#5852 refactor of processing uris
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/IShellItemController.cs
  Xamarin.Forms.Core/Shell/IShellSectionController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
  Xamarin.Forms.Sandbox.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
  Xamarin.Forms.Sandbox/MainPage.xaml
Labels: API-change, a/shell :shell:, t/enhancement ➕

#5717 [iOS] Add Platform Specific features for PrefersHomeIndicatorAutoHidden
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/HomeIndicatorPageiOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/MasterDetailPageiOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/TabbedPageiOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGallery.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/Page.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
Labels: API-change, p/iOS 🍎, platform-specifics, t/enhancement ➕

#5896 [Android, shell] fixes visibility of tabs after their changes
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, blocker, p/Android

#5453 [Material] [Tizen] Adds Xamarin.Forms.Material.Tizen for Visual
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/Xamarin.Forms.ControlGallery.Tizen.csproj
  Xamarin.Forms.Core/Visuals/VisualMarker.cs
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.Tizen/FormsMaterial.cs
  Xamarin.Forms.Material.Tizen/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.Tizen/Native/MCanvas.cs
  Xamarin.Forms.Material.Tizen/Xamarin.Forms.Material.Tizen.csproj
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: a/visual, p/Tizen, t/enhancement ➕

#5893 [iOS] Fix usage of iOS11 api
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
Labels: blocker, p/iOS 🍎

#5906 remove unused Group Header Template
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: a/shell :shell:

#5931 s/SearchBoxVisiblity/SearchBoxVisibility/ from base 4.0.0
  Xamarin.Forms.Controls/GalleryPages/ButtonGallery.cs
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/SearchBoxVisiblity.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellScrollViewTracker.cs
Labels: API-change, a/shell :shell:

#5850 Move IElementConfiguration to an internal structure on Cell
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
Labels: a/performance, breaking, p/UWP, t/bug :bug:

#5914 [macOs] Fixed NRE during EntryRenderer disposing
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
Labels: p/macOS, s/unverified, t/bug :bug:

#5948 [Build] Fix yaml public
  azure-pipelines.yml
  build/steps/build-android.yml
  build/steps/build-nuget.yml
  build/steps/build-osx.yml
  build/steps/build-sign.yml
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#5934 [Shell] Propagate Page bindings to TitleView and Shell Binding to Flyout
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/ShellContentTest.xaml
  Xamarin.Forms.Controls/ShellContentTest.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Cells/Cell.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:

#5946 [Android] move runtime registration of renderers to its own method
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: forms-previewer-sdk, p/Android

#5907 Add UITest for issue 1763
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Controls/ContactsPage.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1763.cs
Labels: e/2 :clock2:, t/housekeeping ♻︎

#5658 [UWP] Allow embedding Forms page in secondary window
  Xamarin.Forms.ControlGallery.WindowsUniversal/SecondaryWindowService.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/ISecondaryWindowService.cs
  Xamarin.Forms.Core/Internals/Ticker.cs
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/WindowsTicker.cs
Labels: e/2 :clock2:, inactive, m/high impact :black_large_square:, mobcat, p/UWP, t/enhancement ➕

#5972 add delay to UI Test 2951
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2951.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2951.xaml.cs
Labels: t/housekeeping ♻︎

#5722 Add unit tests for TabIndexExtensions
  Xamarin.Forms.Core.UnitTests/TabIndexTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/TabIndexExtensions.cs
Labels: t/housekeeping ♻︎

#5317 [Maps] Add MapClicked event
  Xamarin.Forms.Controls/GalleryPages/MapGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Map.cs
  Xamarin.Forms.Maps/MapClickedEventArgs.cs
Labels: API-change, a/maps :globe_with_meridians:, t/enhancement ➕

#5764 [GTK] Fix Padding/Margin properties of Frame element (#5533)
  Xamarin.Forms.Platform.GTK/Renderers/FrameRenderer.cs
Labels: p/gtk, t/bug :bug:

#5689 Refactoring Map.ItemsSource to use NotifyCollectionChangedEventArgsEx…
  Xamarin.Forms.Maps/Map.cs
Labels: a/maps :globe_with_meridians:

#5930 [Shell, iOS, Android] added tab order on Shell flyout menu items
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5131.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/ITabStopElement.cs
  Xamarin.Forms.Core/TabIndexExtensions.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/shell :shell:, p/Android, p/iOS 🍎

#5905 Allow CollectionView items to resize with their content
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGalleryTestItem.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/DynamicItemSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ItemsSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/VariableSizeTemplateGridGallery.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/UICollectionViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalTemplatedCell.cs
Labels: a/collectionview, e/5 :clock5:, p/Android, p/iOS 🍎, t/bug :bug:

#5954 fix infinite loops and remove public apis
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/IShellItemController.cs
  Xamarin.Forms.Core/Shell/IShellSectionController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: a/shell :shell:, blocker, t/bug :bug:

#5961 Shell hamburger
  Xamarin.Forms.Platform.Android/PickerManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Resources/3bar.png
  Xamarin.Forms.Platform.iOS/Resources/3bar@2x.png
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, blocker, e/2 :clock2:, p/Android, p/iOS 🍎, t/bug :bug:

#5952 Add null check in iOS ShadowEffect OnDetached - Fixes #5951
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5951.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/ShadowEffect.cs
Labels: e/1 :clock1:, p/iOS 🍎, t/bug :bug:

#5922 WpfHelper.FindChildren: Pass forceUsingTheVisualTreeHelper to recursive calls.
  Xamarin.Forms.Platform.WPF/Helpers/TreeHelper.cs
Labels: p/WPF, s/unverified, t/bug :bug:

#5990 [iOS] remove SetPaddingInsets api and just have it pad content and flyout by default
  Xamarin.Forms.Controls/ShellContentTest.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#5926 [Android] Use Fast Renderers by Default
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/DisposeLabelRenderer.cs
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/_1909CustomRenderer.cs
  Xamarin.Forms.ControlGallery.Android/_5724CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/_60122ImageRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5724.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Flags.cs
Labels: blocker, p/Android, t/enhancement ➕

#6031 [Android] set dialog to null when dismissed
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
Labels: p/Android, t/bug :bug:

#6032 additional proguard rules for shell
  .nuspec/Xamarin.Forms.targets
  .nuspec/proguard.cfg
  Xamarin.Forms.Sandbox.Android/proguard.cfg
Labels: p/Android

#5756 Fixes _child.Element null reference exception
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
Labels: p/Android, t/bug :bug:

#6025 fix global routes to push onto stack correctly
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: API-change, a/shell :shell:, e/1 :clock1:, t/bug :bug:
