Repository xamarin/Xamarin.Forms, pull requests merged in 2019-05, with the labels that each got.

#5994 simplify App.Current
  Xamarin.Forms.Core/Application.cs
Labels: t/housekeeping ♻︎

#5985 Added new named Font Sizes, iOS Named fonts now all AutoScale based on Accessibility Options
  Xamarin.Forms.Core/FontSizeConverter.cs
  Xamarin.Forms.Core/NamedSize.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: a/a11y 🔍, e/2 :clock2:, p/Android, p/UWP, p/iOS 🍎

#5144 [UWP] fix ListView renderer
  Xamarin.Forms.Core/PlatformConfiguration/WindowsSpecific/ListView.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: p/UWP, platform-specifics, t/bug :bug:

#6000 Adds the image resouces iOS and Android gallery apps already had to UWP
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/bell.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/books.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/booksflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/film.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/filmflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/games.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/gamesflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/gear.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/grid.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/headphone.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/headphoneflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/home.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/homeflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/loop.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/newspaper.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/newspaperflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/person.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/star-flyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-100/star.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/bell.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/books.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/booksflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/film.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/filmflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/games.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/gamesflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/gear.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/grid.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/headphone.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/headphoneflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/home.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/homeflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/loop.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/newspaper.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/newspaperflyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/person.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/star-flyout.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/scale-200/star.png
  Xamarin.Forms.ControlGallery.WindowsUniversal/xamarinstore.jpg
Labels: t/housekeeping ♻︎

#6054 retain local variable of page so not collected
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: p/iOS 🍎, t/housekeeping ♻︎

#5912 Fixes for B40005 test case
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40005.cs
Labels: e/2 :clock2:, t/housekeeping ♻︎

#5955 [Android] Fix previewer exceptions with shell
  Xamarin.Forms.Platform.Android/AppCompat/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/MasterDetailContainer.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/FlyoutContent.axml
  Xamarin.Forms.Sandbox/ShellPage.xaml
  Xamarin.Forms.Sandbox/ShellPage.xaml.cs
  Xamarin.Forms.Sandbox/Xamarin.Forms.Sandbox.csproj
Labels: a/shell :shell:, blocker, e/6 :clock6:, forms-previewer, high-priority, p/Android

#6007 [X] pass the instance along the rlq
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Core/Internals/ResourceLoader.cs
  Xamarin.Forms.Xaml.UnitTests/ResourceLoader.xaml.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>

#5944 Change error message when Map.ItemTemplate is set to a DataTemplateSelector
  Xamarin.Forms.Maps/Map.cs
Labels: a/maps :globe_with_meridians:

#5119 [Xaml[C]] Allow to connect to static event handler
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/EventsConnection.xaml
  Xamarin.Forms.Xaml.UnitTests/EventsConnection.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>

#6024 Ehandler2
  Xamarin.Forms.Core/Internals/ResourceLoader.cs
  Xamarin.Forms.Core/NameScopeExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/XStaticException.xaml.cs
  Xamarin.Forms.Xaml/XamlFilePathAttribute.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>

#6066 changes transition to enter mask
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
Labels: a/performance, a/shell :shell:, blocker, e/6 :clock6:, p/Android, t/bug :bug:

#6057 [iOS] Add missing null check to `SelectableItemsViewRenderer.SetupNewElement`.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/FlagTestHelpers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5535.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949_1.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949_1.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949_2.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5949_2.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#6062 [Android] Image load fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/IDisposedState.cs
  Xamarin.Forms.Platform.Android/ImageCache.cs
  Xamarin.Forms.Platform.Android/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, i/regression, p/Android, t/bug :bug:

#6103 rename SearchBoxVisibility
  Xamarin.Forms.Core/SearchBoxVisibility.cs
Labels: t/housekeeping ♻︎

#5691 Templated view GetTemplateChild(string)
  Xamarin.Forms.Core.UnitTests/TemplatedViewUnitTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/IControlTemplated.cs
  Xamarin.Forms.Core/TemplateUtilities.cs
  Xamarin.Forms.Core/TemplatedPage.cs
  Xamarin.Forms.Core/TemplatedView.cs
Labels: t/enhancement ➕

#5975 Update screen size info after orientation change on Android/iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4992.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4992.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.MacOS/MacDeviceInfo.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/IOSDeviceInfo.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/collectionview, p/Android, p/iOS 🍎, p/macOS

#6102 return from designer earlier
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Sandbox/Xamarin.Forms.Sandbox.csproj
Labels: a/shell :shell:, p/Android

#6101 [Xaml] better exception message in case of a TypeConversion issue
  Xamarin.Forms.Core/Xaml/TypeConversionExtensions.cs
Labels: a/Xaml </>

#6099 Apply round corners shape based on radius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.Android/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialFrameRenderer.cs
Labels: a/visual, blocker, p/Android, p/iOS 🍎

#6087 Profiler v11; No man init
  .Xamarin.Forms.Android.nuget.sln
  .create-nuget.bat
  .create-stubs.bat
  Xamarin.Forms.Core/Profiler.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/PlatformRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/OpenGLViewRenderer.cs
Labels: p/Android

#6089 [iOS] Add missing call to ReloadData on NotifyCollectionChangedAction.Reset
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5793.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/MultiTestObservableCollection.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, p/iOS 🍎

#5695 [iOS] Fix: memory leak when Navigation.RemovePage is used
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5695.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: p/iOS 🍎

#5980 Make Android CollectionView smarter about recycling elements/renderers
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
Labels: a/collectionview, a/performance, approved, p/Android

#6023 [Shell] Add Tab bar and auto promote tabs to nearest TabBar
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellItemCollection.cs
Labels: a/shell :shell:, blocker

#6081 remove route params from shell
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
Labels: a/shell :shell:, blocker

#6119 [iOS] add DesignerFlyoutRenderer when running as previewer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Sandbox.Android/Properties/AndroidManifest.xml
Labels: a/shell :shell:, blocker, p/Android, p/iOS 🍎

#5758 [Shell,iOS,Android] Add accessibility features for navigation bar and toolbar items
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5132.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/a11y 🔍, a/shell :shell:, blocker, p/Android, p/iOS 🍎

#6133 4.0 ABI Fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4138.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/ImageSourcesGallery.cs
  Xamarin.Forms.Controls/GalleryPages/NavigationBarGallery.cs
  Xamarin.Forms.Controls/GalleryPages/TitleView.xaml.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/NavigationPage.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.MacOS/Renderers/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsSlider.cs
  Xamarin.Forms.Platform.UAP/MasterDetailPageRenderer.cs
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/SliderRenderer.cs
  Xamarin.Forms.Platform.UAP/SliderStyle.xaml
  Xamarin.Forms.Platform.UAP/TabbedPageStyle.xaml
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: blocker, breaking, p/Android, p/UWP, p/iOS 🍎, p/macOS

#6115 [Android] Fix Frame size
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5766.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: blocker, p/Android

#5795 Added memory leak gallery
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MemoryLeakGallery.cs
Labels: t/housekeeping ♻︎

#5810 [Shell,iOS,Android] Add Colors, Font, HorizontalAlignment. Keyboard, Focus to SearchHandler
  Xamarin.Forms.Controls/Controls/ColorPicker.cs
  Xamarin.Forms.Controls/GalleryPages/DynamicViewGallery.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/Views/SearchHandlerPage.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchView.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.sln.DotSettings
Labels: API-change, a/a11y 🔍, a/shell :shell:, blocker, e/2 :clock2:, p/Android, p/iOS 🍎, t/bug :bug:

#6131 [Android] VisualElementRenderer and ElevationHelper should be public
  Xamarin.Forms.Platform.Android/Elevation.cs
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
Labels: p/Android

#6137 [Android] Fix WebView EnableZoomControls and DisplayZoomControls api
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6130.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6130.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6132.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/WebViewUnitTests.cs
  Xamarin.Forms.Core/PlatformConfiguration/AndroidSpecific/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: API-change, a/webview, blocker, breaking, p/Android, t/bug :bug:

#6109 [iOS] Shell flyout header on iOS now is dynamic based on the header content
  Xamarin.Forms.ControlGallery.iOS/Resources/xamarinstore.jpg
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/XamStore/Controls/FlyoutHeader.xaml
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#6082 [Shell] propagate css to logical child element
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/StyleSheets/StyleSheet.cs
  Xamarin.Forms.Sandbox/App.StartHere.cs
  Xamarin.Forms.Sandbox/MainPage.xaml
  Xamarin.Forms.Sandbox/MainPage.xaml.cs
  Xamarin.Forms.Sandbox/ShellPage.xaml
  Xamarin.Forms.Sandbox/Styles.css
Labels: a/shell :shell:, blocker

#6086 Remove experimental flag for shell and change a few apis
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/Styles/Global.xaml
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core.UnitTests/FlowDirectionTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/VisualTests.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellAppearance.cs
  Xamarin.Forms.Core/Shell/ShellContentCollection.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellItemCollection.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellSectionCollection.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5705.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5706.xaml.cs
Labels: a/Xaml </>, a/shell :shell:, blocker

#6117 fix up shell menu items, fix templates, fix bindings
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: a/shell :shell:, blocker, p/Android, p/iOS 🍎

#6108 stack the elevation of elements
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2653.cs
  Xamarin.Forms.Platform.Android/Elevation.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: blocker, breaking, p/Android

#6165 [Android] _shellContext.Shell.FlyoutIcon was null, crashing AutomationProperties.GetHelpText...
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/shell :shell:, blocker, p/Android

#6164 [iOS] Shell _headerView can apparently be null
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#6169 remove safe area from inset
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: a/shell :shell:, p/iOS 🍎

#6166 [Bug] ListView HasUnevenRows was not working in iOS 10
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5888.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: blocker, i/regression, p/iOS 🍎, t/bug :bug:

#6173 item template attached, fix icon propagations
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Core/Internals/PropertyPropagationExtensions.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: a/shell :shell:

#6050 [macOS] Fix transparent ListView background
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github6021.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
Labels: p/iOS 🍎, p/macOS, s/unverified, t/bug :bug:

#6190 InvalidateLayout after reload to avoid iOS 10 crash
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, p/iOS 🍎

#6113 [Tizen] Support new Named Font Sizes for Tizen
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
Labels: p/Tizen

#5898 Created UITest for issue B43527
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43527.cs
Labels: e/2 :clock2:, t/housekeeping ♻︎

#6212 Props and targets
  EmbeddingTestBeds/Embedding.XF/Directory.Build.props
  EmbeddingTestBeds/Embedding.XF/Directory.Build.targets
  EmbeddingTestBeds/Embedding.XF/Embedding.XF.csproj
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  PagesGallery/PagesGallery/Directory.Build.props
  PagesGallery/PagesGallery/Directory.Build.targets
  PagesGallery/PagesGallery/PagesGallery.csproj
  Xamarin.Forms.Controls/Directory.Build.props
  Xamarin.Forms.Controls/Directory.Build.targets
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Sandbox/Directory.Build.props
  Xamarin.Forms.Sandbox/Directory.Build.targets
  Xamarin.Forms.Sandbox/Xamarin.Forms.Sandbox.csproj
  Xamarin.Forms.Xaml.UnitTests/Directory.Build.props
  Xamarin.Forms.Xaml.UnitTests/Directory.Build.targets
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/_Directory.Build.props
  Xamarin.Forms.Xaml.UnitTests/MSBuild/_Directory.Build.targets
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: t/housekeeping ♻︎

#6178 fixes BindableLayout DataTemplate - XamlC #5486
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5486.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5486.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5651.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5651.xaml.cs
Labels: a/Xaml </>, a/binding ⛓, e/4 :clock4:, t/bug :bug:

#6230 [Build] Update yaml builds
  Version.targets
  Xamarin.Forms.Platform.MacOS/PlatformRenderer.cs
  Xamarin.Forms.sln
  azure-pipelines.yml
  build/steps/build-android.yml
  build/steps/build-nuget.yml
  build/steps/build-osx.yml
  build/steps/build-prepare.yml
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#6243 Load resources
  Xamarin.Forms.Xaml.UnitTests/HRTests.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>, t/housekeeping ♻︎

#6266 [Build]Yaml consolidate nuget
  azure-pipelines.yml
  build/steps/build-nuget.yml
Labels: t/housekeeping ♻︎

#6181 [Tizen] Enhancement CollectionView implementation on Tizen
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/res/FlowerBuds.jpg
  Xamarin.Forms.ControlGallery.Tizen/res/Fruits.jpg
  Xamarin.Forms.ControlGallery.Tizen/res/Legumes.jpg
  Xamarin.Forms.ControlGallery.Tizen/res/Vegetables.jpg
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/EmptyItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ICollectionViewLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/RecyclerPool.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ViewHolder.cs
  Xamarin.Forms.Platform.Tizen/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
Labels: a/collectionview, p/Tizen

#6153 Allow third party libs to display animated images correctly in view recycling scenarios
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
Labels: p/iOS 🍎

#5999 Properly guard against statusbar usage
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: p/UWP

#6279 [Build] Add a global.json to specify what netcore sdk to use
  global.json
Labels: t/housekeeping ♻︎

#6288 Fix packageversion
  Version.targets
  azure-pipelines.yml
  build/steps/build-android.yml
  build/steps/build-nuget.yml
  build/steps/build-windows.yml
Labels: DO-NOT-MERGE-!!! :stop_sign:, t/housekeeping ♻︎

#6311 [Build] Fix env variable for release nuget
  build/steps/build-nuget.yml
Labels: t/housekeeping ♻︎

#6085 Make CollectionView SelectedItem and SelectedItems binding function correctly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBoundMultiSelection.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBoundSingleSelection.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/BoundSelectionModel.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/MultipleBoundSelection.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/MultipleBoundSelection.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionHelpers.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionModeGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SingleBoundSelection.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SingleBoundSelection.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Items/SelectableItemsView.cs
  Xamarin.Forms.Core/Items/SelectionList.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
Labels: a/collectionview, p/Android, p/iOS 🍎

#6092 [GTK] Add Alpha support to Frame background
  Xamarin.Forms.Platform.GTK/Controls/CustomFrame.cs
  Xamarin.Forms.Platform.GTK/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.GTK/Renderers/FrameRenderer.cs
Labels: p/gtk

#6198 [Shell, Android] Fixes crash on api 22 or less
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchView.cs
Labels: a/shell :shell:, p/Android, s/unverified, t/bug :bug:

#6271 [Android] Set the elevation hierarchy after the first layout cycle of the parent
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6262.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
  Xamarin.Forms.Sandbox.Android/Resources/drawable/coffee.png
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
Labels: blocker, p/Android

#6306 Check for correct API version
  Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs
Labels: a/collectionview, blocker, p/Android

#6290 [Android] rollback IButtonLayoutRenderer to match 3.6
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/IButtonLayoutRenderer.cs
Labels: a/visual, blocker, i/regression, p/Android

#5803 iOS: Setting FormattedText doesn't use TextDecorations
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5801.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5801.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#5837 Issue4879 ImageButton Padding (UWP)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4879.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ImageButtonRenderer.cs
Labels: p/UWP, t/bug :bug:

#6274 [Android] Remove call to update Image on button during measure
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6260.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
Labels: a/visual, blocker, p/Android
