Repository xamarin/Xamarin.Forms, pull requests merged in 2019-03, with the labels that each got.

#5411 [X] bubble markup exception to previewer
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml.UnitTests/XStaticException.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/XamlLoaderCreateTests.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
Labels: a/Xaml </>, blocker, forms-previewer

#5425 [iOS] Fix tapping a ViewCell after close ContextActionMenu
  Xamarin.Forms.Platform.iOS/ContextScrollViewDelegate.cs
Labels: blocker, i/regression, p/iOS 🍎

#5424 Reverts "[Xaml] require escaping curly braces (#4723)" and "[X] only require escaping if starts with '{' (#5169)"
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewTemplateGallery.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2756.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue1438.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Issue1549.cs
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
Labels: a/Xaml </>, blocker

#5363 [macOS] Image crashes App during disposing its renderer
  Xamarin.Forms.Platform.MacOS/Renderers/ImageRenderer.cs
Labels: p/macOS, t/bug :bug:

#4899 [C, iOS, AND, UWP] TabbedPage SelectedTabColor and UnselectedTabColor
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/BottomTabbedPageTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1898.cs
  Xamarin.Forms.Controls/RootPages/RootTabbedContentPage.cs
  Xamarin.Forms.Core/PlatformConfiguration/AndroidSpecific/TabbedPage.cs
  Xamarin.Forms.Core/TabbedPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.UAP/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
Labels: API-change, deprecation, e/3 :clock3:, t/enhancement ➕

#5361 Fix WPFResources, EntryCell
  Xamarin.Forms.Platform.WPF/WPFResources.xaml
Labels: a/listview, p/WPF, t/bug :bug:

#5419 update readme to include vs for mac instructions
  README.md
Labels: t/housekeeping ♻︎

#5426 fix changed apis
  Xamarin.Forms.Core/HandlerAttribute.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialEntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerEditText.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/ToolbarItemExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: blocker, retarget-branch-required

#5442 [Android] remove android specific target
  .nuspec/Xamarin.Forms.Android.targets
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.sln
Labels: blocker, p/Android, t/bug :bug:, t/housekeeping ♻︎

#5432 [iOS] Check new element before creating placeholder label
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: blocker, i/critical, i/regression, p/iOS 🍎, t/bug :bug:

#5420 Uwp restart uitests on crash
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestBase.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestServer.cs
Labels: t/housekeeping ♻︎

#5335 [XamlC] throw on invalid DataType
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5330.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh5330.xaml.cs
Labels: a/Xaml </>, breaking, t/bug :bug:

#5476 [UWP] Roll back PR 3400 so the correct context is passed into Tapped
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue935.cs
  Xamarin.Forms.Platform.UAP/ListViewRenderer.cs
Labels: p/UWP, t/bug :bug:

#5450 ContextCompat.getColor if API < 23
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
Labels: a/shell :shell:, p/Android, t/bug :bug:

#5483 [Tizen] Fix CarouselPage focus issue
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselPageRenderer.cs
Labels: p/Tizen, t/bug :bug:

#5481 [Maps] move design dll to the design folder
  .nuspec/Xamarin.Forms.Maps.nuspec
Labels: t/housekeeping ♻︎

#5485 [X] recover from missing markup type
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml/XamlServiceProvider.cs
Labels: a/Xaml </>, forms-previewer

#5513 Fix up Sandbox to work with previewer and add android material reference in
  Xamarin.Forms.Sandbox.Android/MainActivity.cs
  Xamarin.Forms.Sandbox.Android/Xamarin.Forms.Sandbox.Android.csproj
  Xamarin.Forms.Sandbox.iOS/Xamarin.Forms.Sandbox.iOS.csproj
  Xamarin.Forms.Sandbox/App.StartHere.cs
  Xamarin.Forms.Sandbox/MainPage.xaml
  Xamarin.Forms.Sandbox/Xamarin.Forms.Sandbox.csproj
Labels: t/housekeeping ♻︎

#5496 [Android] NamedSize now returns defaultValue instead of -1 if parsing from resource fails
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: blocker, p/Android, t/bug :bug:

#5475 [UWP] added nuget dependency Win2D.uwp
  .nuspec/Xamarin.Forms.nuspec
Labels: blocker, e/2 :clock2:, i/regression, p/UWP, t/bug :bug:

#4990 Correct Grid Height When Aspect Fit Image Gets Shrinked [issue #4933]
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4493.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: e/2 :clock2:, t/bug :bug:

#5462 [Android] ensure scrollbar has been initialized
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5461.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/ScrollViewExtensions.cs
  Xamarin.Forms.Platform.Android/IScrollView.cs
  Xamarin.Forms.Platform.Android/Renderers/AHorizontalScrollView.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, i/regression, p/Android, t/bug :bug:

#5499 Fix Map ItemsSource bp name
  Xamarin.Forms.Maps/Map.cs
Labels: t/bug :bug:

#5539 [Housekeeping] Be more polite
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4136.cs
  Xamarin.Forms.Controls/CoreGalleryPages/LabelCoreGalleryPage.cs
Labels: t/housekeeping ♻︎

#5532 [X] resilience on markup
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
Labels: a/Xaml </>, forms-previewer

#5364 [Tizen] Add CollectionView Tizen Renderer
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/EmptyItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ICollectionViewLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/RecyclerPool.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ViewHolder.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: a/collectionview, p/Tizen, t/enhancement ➕

#5259 iOS: Color of Editor Placeholder is different than Entry
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5252.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: breaking, p/iOS 🍎, t/bug :bug:

#5082 Correctly load addresses of intermediate values in compiled binding paths
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml
  Xamarin.Forms.Xaml.UnitTests/BindingsCompiler.xaml.cs
Labels: a/Xaml </>

#5552 [X] resilient to untyped x:Name
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/RegisterXNamesVisitor.cs
Labels: a/Xaml </>, blocker, forms-previewer

#5430 [iOS] Fix crash when going from empty to having items
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewLoadSimulateGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#5528 [Android] fix focus event on android and add UI Tests
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
  Xamarin.Forms.Controls/ViewContainers/StateViewContainer.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/MaterialEntryUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Platform.Android/Cells/TextCellRenderer.cs
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.iOS/Cells/TextCellRenderer.cs
Labels: a/visual, p/Android, t/bug :bug:

#5566 [Shell,Core] Add better exception messages for Shell
  Xamarin.Forms.Core/Shell/ShellContent.cs
Labels: a/shell :shell:

#5086 [XamlC] Resolve complex property type
  Xamarin.Forms.Build.Tasks/BindablePropertyReferenceExtensions.cs
  Xamarin.Forms.Build.Tasks/PropertyDefinitionExtensions.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/PropertyDefinitionExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: a/Xaml </>

#5562 [Android] Fix issue when Message is null on Android API19
  Xamarin.Forms.Platform.Android/Extensions/ScrollViewExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/AHorizontalScrollView.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
Labels: blocker, i/critical, p/Android, t/bug :bug:

#5586 remove left over sealed on Material Entry Renderer
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
Labels: t/housekeeping ♻︎

#5583 remove maps.design from project and nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  Xamarin.Forms.Maps.Design/Properties/AssemblyInfo.cs
  Xamarin.Forms.Maps.Design/Xamarin.Forms.Maps.Design.csproj
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: e/1 :clock1:, t/bug :bug:

#5584 - Move renderer registration to Assembly Info
  Xamarin.Forms.Material.Android/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Android/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.Android/MaterialStepperRenderer.cs
  Xamarin.Forms.Material.Android/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Material.Android/Properties/AssemblyInfo.cs
Labels: t/housekeeping ♻︎

#5352 Handle CollectionView multiple selection on Android and iOS
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/PreselectedItemGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/PreselectedItemsGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/PreselectedItemsGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SelectionModeGallery.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Items/SelectableItemsView.cs
  Xamarin.Forms.Core/Items/SelectionChangedEventArgs.cs
  Xamarin.Forms.Core/Items/SelectionList.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, p/Android, p/iOS 🍎

#5075 [iOS,Shell] Fix tab bar style color alignment to match Android
  Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTabBarAppearanceTracker.cs
Labels: a/shell :shell:, p/iOS 🍎

#5550 [X] Allow empty property xaml-elements
  Xamarin.Forms.Xaml.UnitTests/Issues/DO817710.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/DO817710.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4553.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh4553.xaml.cs
  Xamarin.Forms.Xaml/XamlParser.cs
Labels: a/Xaml </>, blocker

#5557 [X] resilient to random text content
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>, blocker

#5599 [X] intercepts FindByName exceptions
  Xamarin.Forms.Core/NameScopeExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/DesignTimeLoaderTests.cs
Labels: a/Xaml </>, blocker

#5585 [Android] fall back to using native get identifier if reflection fails to retrieve drawable
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: blocker

#5443 [MacOS] Fix rendering small text
  Xamarin.Forms.ControlGallery.MacOS/Info.plist
  Xamarin.Forms.ControlGallery.MacOS/Resources/Fonts/Roboto-Bold.ttf
  Xamarin.Forms.ControlGallery.MacOS/Resources/Fonts/Roboto-BoldItalic.ttf
  Xamarin.Forms.ControlGallery.MacOS/Resources/Fonts/Roboto-Italic.ttf
  Xamarin.Forms.ControlGallery.MacOS/Resources/Fonts/Roboto-Regular.ttf
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2204.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.Shared.cs
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: blocker, e/4 :clock4:, m/high impact :black_large_square:, mobcat, p/macOS, t/bug :bug:

#5605 [UITest] Disable old 1461 test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1461.cs
Labels: t/housekeeping ♻︎

#5600 [MacOS] Move ImageRenderer to use NSImageView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5204.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Controls/FormsImageView.cs
  Xamarin.Forms.Platform.MacOS/Extensions/ImageExtensions.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Renderers/IImageVisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: p/macOS

#5458 [Android] Fixes cancel Webview Navigation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4891.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4919.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: e/2 :clock2:, i/regression, p/Android, t/bug :bug:

#5495 Centralize Theme Wrapper and fix sandbox to work with previewer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Material.Android/MaterialActivityIndicatorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialContextThemeWrapper.cs
  Xamarin.Forms.Material.Android/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.Android/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.Android/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.Android/Resources/values/styles.xml
Labels: a/visual

#4718 [macOS] enhance menu
  Xamarin.Forms.ControlGallery.MacOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.MacOS/SeparatorMenuItem.cs
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.Platform.MacOS/Extensions/NSMenuExtensions.cs
  Xamarin.Forms.Platform.MacOS/FormsApplicationDelegate.cs
Labels: e/3 :clock3:, p/macOS, t/enhancement ➕

#5233 [Android] fixes redraw element when changing renderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1332.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1760.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1760_1.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5184.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: a/layout, p/Android, t/bug :bug:

#5506 [GTK] Fix NavigationBar check for Layout calc
  Xamarin.Forms.Platform.GTK/Renderers/AbstractPageRenderer.cs
Labels: i/regression, p/gtk, t/bug :bug:

#5620 Make the 3.5 ABI compatible with 3.3 and 3.4
  Xamarin.Forms.Core/HandlerAttribute.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/ILayoutChanges.cs
  Xamarin.Forms.Platform.Android/IVisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, e/5 :clock5:, i/high, i/regression, p/Android, partner, t/bug :bug:

#5491 [shell] Fix show DisplayAlert
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Internals/PageExtensions.cs
  Xamarin.Forms.Core/NavigationModel.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: a/shell :shell:, blocker, t/bug :bug:

#5182 DetectPlatform Fixed for UWP
  Xamarin.Forms.Platform.UAP/Forms.cs
Labels: t/enhancement ➕

#5613 Suppress warning for CharacterRangeForGlyphRange is obsolete
  Xamarin.Forms.Platform.iOS/Extensions/LabelExtensions.cs
Labels: t/bug :bug:

#5582 Fix BindableLayout's incorrect layout.children.add -> use insert
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core/BindableLayout.cs
Labels: t/bug :bug:

#5338 Fix for Issue 3886, UWP Master Detail, incorrect master height after window resize
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1461.cs
  Xamarin.Forms.Platform.UAP/MasterDetailControl.cs
Labels: e/4 :clock4:, p/UWP, t/bug :bug:

#5619 [Android] Remove changes to IVisualElementRenderer so it remains backwards compatible
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  PagesGallery/PagesGallery.iOS/packages.config
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/ILayoutChanges.cs
  Xamarin.Forms.Platform.Android/IVisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Extensions/ToolbarItemExtensions.cs
  Xamarin.Forms.sln
Labels: blocker, e/5 :clock5:, i/high, i/regression, p/Android, partner, t/bug :bug:

#4707 [Android] Fix old root page dispose when main page change
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: e/5 :clock5:, p/Android, t/bug :bug:

#5660 [Build] Fix provision on yaml
  azure-pipelines.yml
  build/provisioning/provisioning.csx
  build/provisioning/provisioning_sign.csx
  build/steps/build-android.yml
  build/steps/build-osx.yml
  build/steps/build-sign.yml
Labels: t/housekeeping ♻︎

#5633 [UWP] fix throw exception when update switch color
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: i/regression

#5653 Set ImeOptions to Done on Android Editor
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
Labels: i/high, i/regression, p/Android, t/bug :bug:

#5670 [Android] Fixes ObjectDisposedException when call Unfocus of Entry
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5376.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
Labels: blocker, i/regression, p/Android

#5564 [Shell] Fix Register route and Navigate to it
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/button_add.png
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/icon_bookmark.png
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/icon_search.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/Resources/button_add@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/icon_bookmark@2x.png
  Xamarin.Forms.ControlGallery.iOS/Resources/icon_search@2x.png
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Controls/XamStore/Styles/Global.css
  Xamarin.Forms.Controls/XamStore/Styles/Global.xaml
  Xamarin.Forms.Controls/XamStore/Styles/HomeView.css
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, blocker, t/bug :bug:

#5617 Dispose FrameRenderer's FrameDrawable
  Xamarin.Forms.Platform.Android/Renderers/FrameRenderer.cs
Labels: p/Android, t/bug :bug:

#5688 [Tizen] Support the Keyboard, MaxLength, IsSpellCheckEnabled, IsReadO…
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
Labels: p/Tizen

#5671 [Android] don't clear shell content because native page isn't visible
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker, i/high, t/bug :bug:

#5676 [Android] Fix various issues with material found by a full run of the UI Tests with Material active
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/_38989CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/InputTransparentTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4187.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Core.Android.UITests/BaseViewContainerRemoteAndroid.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/AutomationIDUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/EntryUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/MaterialEntryUITests.cs
  Xamarin.Forms.Core.UnitTests/RegistrarUnitTests.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Material.Android/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.Android/MaterialStepperRenderer.cs
  Xamarin.Forms.Material.Android/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Platform.Android.AppLinks/AndroidAppLinks.cs
  Xamarin.Forms.Platform.Android.AppLinks/ContextExtensions.cs
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/CellAdapter.cs
  Xamarin.Forms.Platform.Android/Cells/EntryCellEditText.cs
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/PlatformRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/ViewRenderer.cs
  Xamarin.Forms.Sandbox/App.StartHere.cs
Labels: a/visual, blocker, p/Android, t/bug :bug:

#5567 [Shell] Add FlyoutIcon
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, blocker, e/2 :clock2:, t/bug :bug:

#5449 remove covariant out on IElementConfiguration
  Xamarin.Forms.Core/IElementConfiguration.cs
Labels: a/performance, t/bug :bug:

#5624 [C] alias shell names
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: a/shell :shell:, blocker

#5429 Handle DataTemplateSelector on iOS/Android CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBindingErrors.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBindingErrors.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CollectionViewGalleryTestItem.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateSelectorGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateSelectorGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DemoFilteredItemSource.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGalleryFilterInfo.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewTemplateGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SizedItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: a/collectionview, p/Android, p/iOS 🍎

#5289 [visual] Add extra parameter to android visual constructors
  Xamarin.Forms.Core.UnitTests/DependencyResolutionTests.cs
  Xamarin.Forms.Core.UnitTests/RegistrarUnitTests.cs
  Xamarin.Forms.Core/DependencyResolver.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
Labels: a/visual, p/Android

#5678 [UWP] Fixes crash ImageButton with FontImageSource
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.UAP/Extensions/ImageExtensions.cs
  Xamarin.Forms.Platform.UAP/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: i/regression, p/UWP

#5390 Removed dependency on modernhttpclient
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
Labels: e/3 :clock3:, i/low, m/low impact :black_medium_small_square:, t/bug :bug:

#5684 [iOS] Don't crash if no Thumbnail specified for AppLink
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5470.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.iOS/iOSAppLinks.cs
Labels: e/2 :clock2:, i/regression, p/iOS 🍎, t/bug :bug:
