Repository xamarin/Xamarin.Forms, pull requests merged in 2020-05, with the labels that each got.

#8976 [core] lazy load Assembly-level attributes for CSS
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
Labels: Core, a/performance, approved, p/Android, p/Tizen

#10553 [Tizen] Provide way to handle when Page.ToolbarItems was opened/closed
  Xamarin.Forms.Platform.Tizen/Renderers/PageRenderer.cs
Labels: p/Tizen

#10540 Make Color property work on UWP BoxView
  Xamarin.Forms.Platform.UAP.UnitTests/BackgroundColorTests.cs
  Xamarin.Forms.Platform.UAP/BoxViewBorderRenderer.cs
Labels: i/regression, p/UWP, t/bug :bug:

#10569 Setup more specific 2017 apk/ipas for testing lanes
  Xamarin.Forms.ControlGallery.Android/Nuget2019.Build.targets
  azure-pipelines.yml
  build.cake
  build/provisioning/provisioning.csx
  build/steps/build-android.yml
  build/steps/build-nuget.yml
  build/steps/build-osx.yml
Labels: ControlGallery, p/Android

#10515 Set Current Item correctly after items cleared
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6738.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellItemIsVisible.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: Core, a/shell :shell:, blocker, p/Android, p/iOS 🍎

#10493 [iOS] Fix NavBar issues on iOS 13
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.iOS/_10337CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10337.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: 4.5.0, ControlGallery, a/customrenderer, a/navbar, i/regression, iOS 13, p/iOS 🍎, t/bug :bug:

#10571 Make cookie handling consistent and non destructive
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/issue3262.cs
  Xamarin.Forms.Core/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/CookieExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: 4.6.0, blocker

#10589 IndicatorView not updating to current page when CarouselView is bound to custom DataType
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8958.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8958.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/carouselview, p/Android, p/iOS 🍎, t/bug :bug:

#10496 Fix FontFile namespace
  Xamarin.Forms.Core/FontFile.cs
Labels: API-change, Core, a/fonts, retarget-branch-required, t/bug :bug:, t/housekeeping ♻︎

#7891 Fix TemplatedItemsList incorrect grouped collection range removal
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7890.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/TemplatedItemsList.cs
Labels: Core, a/listview, hacktoberfest 🍻, p/iOS 🍎, t/bug :bug:

#10587 [Tizen] Update ShellRenderer for extend
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellRenderer.cs
Labels: API-change, a/shell :shell:, p/Tizen

#10500 iOS 10 fix for Top Tabs on Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#10408 Remove code that adjusts the frame when hiding/showing TabBar
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10134.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7890.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8958.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8958.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/issue3262.cs
  Xamarin.Forms.Core/TemplatedItemsList.cs
  Xamarin.Forms.Core/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/CookieExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, p/iOS 🍎, t/bug :bug:

#10586 Finish updating Forms layout information before invoking native layout
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TemplateCodeCollectionViewGallery.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#8372 GH-7015 - Implemented handle for Placeholder Image
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7015.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Image.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/FileImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/IImageViewHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageLoaderSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/ImageElementManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
Labels: API-change, Core, F100, a/image, approved, p/Android, p/UWP, p/iOS 🍎, proposal-open, t/enhancement ➕

#10414 [Android,iOS] Fix setting position on Ctor and OnAppearing on CarouselView
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/cardBackground.png
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#3690 [Core] Added TextTransform property
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3667.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/LabelTests.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/DatePicker.cs
  Xamarin.Forms.Core/ITextElement.cs
  Xamarin.Forms.Core/InputView.cs
  Xamarin.Forms.Core/Internals/TextTransformUtilites.cs
  Xamarin.Forms.Core/Label.cs
  Xamarin.Forms.Core/Picker.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/SearchBar.cs
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Core/Span.cs
  Xamarin.Forms.Core/TextElement.cs
  Xamarin.Forms.Core/TextTransform.cs
  Xamarin.Forms.Core/TimePicker.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.GTK/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.UAP/ButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Xaml.UnitTests/InlineCSS.xaml
  Xamarin.Forms.Xaml.UnitTests/InlineCSS.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/TextTransformTests.cs
Labels: API-change, ControlGallery, Core, a/Xaml </>, a/shell :shell:, approved, in-progress, p/Android, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, proposal-open, stale, t/enhancement ➕

#5287 Added DependencyService.RegisterSingleton
  Xamarin.Forms.Core.UnitTests/DependencyServiceTests.cs
  Xamarin.Forms.Core/DependencyService.cs
Labels: API-change, Core, F100, approved, t/enhancement ➕

#8271 Add On/Off VisualStates for Switch
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8263.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8263.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/SwitchUnitTests.cs
  Xamarin.Forms.Core/Switch.cs
Labels: API-change, Core, a/switch, approved, hacktoberfest 🍻, proposal-accepted, t/bug :bug:, t/enhancement ➕

#10620 Add title to test and change async to Thread Sleep
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10134.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5470.cs
Labels: t/housekeeping ♻︎

#10645 Added OrangeColor
  Xamarin.Forms.Core/NamedPlatformColor.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: a/darkmode, p/iOS 🍎, t/bug :bug:

#10467 Added IsOpen property in SwipeEndedEventArgs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewEventsGallery.cs
  Xamarin.Forms.Core/SwipeEventArgs.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: API-change, ControlGallery, a/swipeview, approved, p/Android, p/Tizen, p/iOS 🍎

#9904 Fixed Issue #9902 : Xaml[C] Xaml parsing optimizzation
  Xamarin.Forms.Xaml/XamlNode.cs
Labels: DO-NOT-MERGE-!!! :stop_sign:, a/Xaml </>, proposal-open, t/enhancement ➕

#10632 PresentsWithGesture incorrectly toggled back to true when Flyout Disabled
  Xamarin.Forms.Platform.iOS/Renderers/TabletShellFlyoutRenderer.cs
Labels: a/shell :shell:, blocker

#10677 [iOS] Fix NamedPlatformColor typo
  Xamarin.Forms.Core/NamedPlatformColor.cs
Labels: a/darkmode, p/iOS 🍎, t/bug :bug:

#10678 [Tizen] Optimize and enhance UI controls for watch
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/StyleValues.cs
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/Switch.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CarouselView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/IndicatorView.cs
  Xamarin.Forms.Platform.Tizen/Native/DateTimePicker.cs
  Xamarin.Forms.Platform.Tizen/Native/DateTimePickerDialog.cs
  Xamarin.Forms.Platform.Tizen/Native/IDateTimeDialog.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchDateTimePicker.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchDateTimePickerDialog.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchListView.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchScroller.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchSpinner.cs
  Xamarin.Forms.Platform.Tizen/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/StepperRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellSectionNavigationRenderer.cs
Labels: API-change, breaking, p/Tizen

#10657 [macOS] Implement GetNamedColor
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/NamedPlatformColorGallery.cs
  Xamarin.Forms.Core/NamedPlatformColor.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: a/darkmode, p/macOS

#10655 [Tizen] Make ActiveBezemElement as readonly
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/Application.cs
Labels: p/Tizen

#10652 [WPF] Added null check on IsInvokeRequired on WPFPlatformServices.cs
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
Labels: p/WPF

#10686 [UWP] Fix NRE resizing Window using CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10672.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10672.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ScrollHelpers.cs
Labels: a/carouselview, p/UWP, t/bug :bug:

#5866 [Maps] Execute Map.Pins CollectionChanged handling on the main thread
  Xamarin.Forms.Controls/GalleryPages/MapWithItemsSourceGallery.xaml.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
Labels: a/maps :globe_with_meridians:, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#10755 [UWP] Fix CollectionView EmptyView in Horizontal Layouts
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10110.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#10078 [UWP] SingleTapGesture called once on DoubleTap
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4714.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: a/gestures 🖖, p/UWP, t/bug :bug:

#10848 [macOS] ExportFont functionality for macOS
  Xamarin.Forms.Platform.MacOS/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.MacOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.MacOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
Labels: a/embedded fonts, p/macOS, t/enhancement ➕

#10840 Fixing NullReferenceException in MotionEventHelper for Android
  Xamarin.Forms.Platform.Android/Renderers/MotionEventHelper.cs
Labels: p/Android

#10456 Use FlyoutBehavior on Shell if user sets it
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
Labels: Core, a/shell :shell:, blocker

#10558 [macOS] Fix disposing of NavigationToolbarTracker
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github9536.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github9536.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.iOS/DisposeHelpers.cs
Labels: a/modal, a/navbar, feedback-ticket, p/iOS 🍎, p/macOS, t/bug :bug:

#9626 Shell handle clear refactoring
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ShellElementCollectionTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ObservableWrapper.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContentCollection.cs
  Xamarin.Forms.Core/Shell/ShellElementCollection.cs
  Xamarin.Forms.Core/Shell/ShellGroupItem.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellItemCollection.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellSectionCollection.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: Core, a/shell :shell:, blocker, p/iOS 🍎

#10622 Prevent crash/hang when rotating CollectionView with HTML Labels
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8870.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HeightConstrainedTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/WidthConstrainedTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/VisualElementPackager.cs
Labels: a/collectionview, blocker, i/high, p/iOS 🍎

#10619 Don't apply foreground color to secondary menu items
  Xamarin.Forms.Platform.Android.UnitTests/ToolbarExtensionsTests.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
Labels: 4.4.0, a/shell :shell:, a/toolbar, blocker, i/regression, t/bug :bug:

#10781 Parse URL for cookie processing just in case URL is too long
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10744.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: a/webview, blocker, t/bug :bug:

#10838 [Android] Fix changing CarouselView using CurrentItem
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: 4.6.0, a/carouselview, blocker

#10864 [C] avoid unnecessary allocation in RD
  Xamarin.Forms.Core/ResourceDictionary.cs
Labels: a/performance, a/style

#10524 On requested theme changed android
  Xamarin.Forms.Core/Application.cs
Labels: API-change, Core, a/darkmode, p/Android

#10850 [Android] Update CurrentItem when swiping
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9827.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9827.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/RecyclerViewScrollListener.cs
  Xamarin.Forms.Platform.Android/Extensions/RecyclerExtensions.cs
Labels: 4.6.0, a/carouselview, blocker

#10582 [macOS] Fix NRE when using Slider min/mac track color
  Xamarin.Forms.Platform.MacOS/Renderers/SliderRenderer.cs
Labels: 4.5.0, a/slider, i/regression, p/macOS, t/bug :bug:

#10869 [iOS] Fix crash using an empty button image (unverified)
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/navbar, a/navigation, p/iOS 🍎, t/bug :bug:

#10807 [UWP] Fixed incorrect CollectionView item padding
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#10648 [X] TypeConverter on Grid Col/Row Definitions
  Xamarin.Forms.Core/ColumnDefinitionCollectionTypeConverter.cs
  Xamarin.Forms.Core/Grid.cs
  Xamarin.Forms.Core/RowDefinitionCollectionTypeConverter.cs
  Xamarin.Forms.Xaml.UnitTests/DefinitionCollectionTests.xaml
  Xamarin.Forms.Xaml.UnitTests/DefinitionCollectionTests.xaml.cs
Labels: API-change, Core, a/Xaml </>, a/grid, m/high impact :black_large_square:, proposal-open, roadmap, t/enhancement ➕

#10860 Fire OnBackButtonPressed on the currently Displayed Page
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: Core, a/navigation, a/shell :shell:, t/bug :bug:

#10878 [iOS] Reinstate ContextAction IsDestructive red bg
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
Labels: a/darkmode, a/listview, i/regression, p/iOS 🍎, t/bug :bug:

#10568 Prevent styled element creation off the main thread from crashing application
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core/Style.cs
Labels: Core, a/style, i/high, t/bug :bug:
