Repository xamarin/Xamarin.Forms, pull requests merged in 2020-02, with the labels that each got.

#9378 Rewrite NongreedySnapHelper with older APIs
  Xamarin.Forms.ControlGallery.Android/Tests/CollectionViewTests.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Platform.Android/CollectionView/NongreedySnapHelper.cs
Labels: ControlGallery, a/collectionview, a/swipeview, i/high, p/Android, t/bug :bug:

#9334 Remove uses of deprecated KeyWindow
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/EventTracker.cs
  Xamarin.Forms.Platform.iOS/Extensions/UIApplicationExtensions.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: p/iOS 🍎

#9177 [Android] Fixed SwipeItem tap issue on Android device
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, t/bug :bug:

#9175 [Android] Changes in SwipeView to avoid the use of APIs that require a specific API level
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/collectionview, a/swipeview, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#9386 Let users override behavior on Navigation Renderer
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9360.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/JavaObjectExtensions.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: ControlGallery, a/fonticon, a/shell :shell:, a/toolbar, i/regression, p/Android, t/bug :bug:

#9393 Disable generate library layouts on maps project
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
Labels: p/UWP

#9388 Fix UWP Nuspec to copy correct NS version
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.nuspec
  UWP.Build.props
  UWP.Build.targets
  Xamarin.Forms.Core/ExportFontAttribute.cs
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
Labels: Core, p/UWP

#9394 Fix nuspec to copy xaml files from obj directory
  .nuspec/Xamarin.Forms.nuspec
  UWP.Build.props
  UWP.Build.targets
  build/steps/build-windows.yml
Labels: p/UWP

#9395 Fix nuspec to copy xaml files from obj directory
  .nuspec/Xamarin.Forms.nuspec
  UWP.Build.props
  UWP.Build.targets
  build/steps/build-windows.yml
Labels: p/UWP

#9350 Don't attempt to merge UWP resources if they've already been added
  Xamarin.Forms.Platform.UAP/Forms.cs
Labels: i/high, m/high impact :black_large_square:, p/UWP, t/bug :bug:

#9361 Propagate CollectionView BindingContext to Header/Footer on Android
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewAdapter.cs
Labels: ControlGallery, a/collectionview, blocker, p/Android, t/bug :bug:

#9410 [Controls, Android] Fix tests on 4.4.0
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
Labels: ControlGallery, p/Android, t/housekeeping ♻︎

#9408 [Controls, iOS, Android] Fix tests on 4.5.0
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9355.cs
Labels: ControlGallery, p/Android, t/housekeeping ♻︎

#9287 [iOS] Verify first group exists before measuring its header
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8899.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/GroupedItemTemplateCollection.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
Labels: a/collectionview, i/high, p/UWP, p/iOS 🍎, t/bug :bug:

#8849 [Android] Occasionally SwipeView rendering issues
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8806.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/BasicSwipeGallery.xaml
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#9298 Adds HotRestart conditional compilation
  .nuspec/Xamarin.Forms.props
Labels: Core, external-hotrestart

#9414 Move CarouselViewRenderer scrolled overrides to listener
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, blocker, p/Android

#7686 Implemented BindableLayout EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932_emptyviewstring.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932_emptyviewstring.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932_emptyviewtemplate.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6932_emptyviewtemplate.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/BindableLayoutGalleryPage.xaml
  Xamarin.Forms.Core/BindableLayout.cs
Labels: API-change, ControlGallery, a/bindablelayout, proposal-accepted, t/enhancement ➕

#7879 [Enhancement] Removed internal access modifier from Material
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
Labels: a/visual, hacktoberfest 🍻, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#8572 Preserve the macOS assembly from the linker
  Xamarin.Forms.Platform.MacOS/Properties/AssemblyInfo.cs
Labels: p/macOS

#9201 [GTK] Fix button shrinking
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9092.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.GTK/Renderers/ButtonRenderer.cs
Labels: p/gtk, t/bug :bug:

#9154 Fix8038 WPF ImageButton throw systeminvalidoperationexception
  Xamarin.Forms.Platform.WPF/Renderers/ImageButtonRenderer.cs
Labels: a/imagebutton, i/high, p/WPF, t/bug :bug:

#9418 TPV Initial Project Setup
  .nuspec/Xamarin.Forms.DualScreen.nuspec
  UWP.Build.targets
  Visual Studio 2019/Visualizers/attribcache140.bin
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.GTK/Xamarin.Forms.ControlGallery.GTK.csproj
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.DualScreen.UnitTests/BaseTestFixture.cs
  Xamarin.Forms.DualScreen.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.DualScreen.UnitTests/TwoPaneViewTests.cs
  Xamarin.Forms.DualScreen.UnitTests/Xamarin.Forms.DualScreen.UnitTests.csproj
  Xamarin.Forms.DualScreen/Directory.Build.Props
  Xamarin.Forms.DualScreen/Directory.Build.targets
  Xamarin.Forms.DualScreen/DualScreenInfo.shared.cs
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.DualScreen/DualScreenService.uwp.cs
  Xamarin.Forms.DualScreen/IDualScreenService.shared.cs
  Xamarin.Forms.DualScreen/NoDualScreenServiceImpl.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneView.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewLayoutGuide.shared.cs
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.DualScreen/global.json
  Xamarin.Forms.Maps.UWP/Directory.Build.targets
  Xamarin.Forms.Platform.UAP/Directory.Build.targets
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.sln
  build/steps/build-windows.yml
Labels: ControlGallery, p/Android, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS

#9389 Replacement ActivityIndicator for WPF
  Xamarin.Forms.Platform.WPF/Controls/FormsProgressRing.xaml
  Xamarin.Forms.Platform.WPF/Controls/FormsProgressRing.xaml.cs
  Xamarin.Forms.Platform.WPF/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: ControlGallery, a/activityindicator, p/WPF, proposal-open, t/enhancement ➕

#8832 Allow user interaction in SwipeItemView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8779.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8779.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/CustomSizeSwipeViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/CustomSizeSwipeViewGallery.xaml.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, blocker, i/high, p/Android, p/iOS 🍎, swipeview, t/bug :bug:

#8921 Improve animation behavior with regard to power saving mode
  Xamarin.Forms.Core.UnitTests/MotionTests.cs
  Xamarin.Forms.Core/Animation.cs
  Xamarin.Forms.Core/AnimationExtensions.cs
  Xamarin.Forms.Platform.Android/AndroidTicker.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs
  Xamarin.Forms.Platform.Android/PowerSaveModeBroadcastReceiver.cs
Labels: API-change, Core, a/animation 🎬, i/high, p/Android, t/bug :bug:

#8653 [Android] Fixed SwipeView child interaction issue on Android
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/CustomSizeSwipeViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/CustomSizeSwipeViewGallery.xaml.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, blocker, p/Android, t/bug :bug:

#9439 [Android,iOS,UWP,WPF] MediaElement control (#3482)
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MediaElementDemoPage.cs
  Xamarin.Forms.Core.UnitTests/MediaElementTests.cs
  Xamarin.Forms.Core.UnitTests/MediaSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/FileMediaSource.cs
  Xamarin.Forms.Core/FileMediaSourceConverter.cs
  Xamarin.Forms.Core/MediaElement.cs
  Xamarin.Forms.Core/MediaElementState.cs
  Xamarin.Forms.Core/MediaSource.cs
  Xamarin.Forms.Core/MediaSourceConverter.cs
  Xamarin.Forms.Core/UriMediaSource.cs
  Xamarin.Forms.Platform.Android/FastRenderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsVideoView.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.Tizen/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions/AspectExtensions.cs
  Xamarin.Forms.Platform.UAP/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: ControlGallery, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎

#9445 Fix TPV to adjust to native layout changes better
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/NestedTwoPaneViewSplitAcrossHinge.xaml
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/NestedTwoPaneViewSplitAcrossHinge.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/TwoPaneViewGallery.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.DualScreen.UnitTests/TestDeviceInfo.cs
  Xamarin.Forms.DualScreen.UnitTests/TestDualScreenService.cs
  Xamarin.Forms.DualScreen.UnitTests/TwoPaneViewNotSpannedTests.cs
  Xamarin.Forms.DualScreen.UnitTests/TwoPaneViewSpannedTests.cs
  Xamarin.Forms.DualScreen/DualScreenInfo.shared.cs
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.DualScreen/DualScreenService.uwp.cs
  Xamarin.Forms.DualScreen/IDualScreenService.shared.cs
  Xamarin.Forms.DualScreen/NoDualScreenServiceImpl.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneView.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewLayoutGuide.shared.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
Labels: ControlGallery, p/Android

#9452 Fix UWP volume, mediasource exception, android position
  Xamarin.Forms.Controls/GalleryPages/MediaElementDemoPage.cs
  Xamarin.Forms.Platform.Android/FastRenderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: ControlGallery, p/Android, p/UWP, p/iOS 🍎

#9422 [Enhancement] AdaptiveTriggers
  Xamarin.Forms.ControlGallery.Android/MainApplication.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/CompareStateTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/CompareStateTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/DeviceStateTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/DeviceStateTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/DualScreenStateTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/DualScreenStateTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/MinWindowHeightAdaptiveTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/MinWindowHeightAdaptiveTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/MinWindowWidthAdaptiveTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/MinWindowWidthAdaptiveTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/OrientationStateTriggerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/OrientationStateTriggerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerGallery.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerToggleGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerToggleGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggersDirectlyOnElements.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggersDirectlyOnElements.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/VisualStateManagerGallery.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/StateTriggerTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/AdaptiveTrigger.cs
  Xamarin.Forms.Core/CompareStateTrigger.cs
  Xamarin.Forms.Core/DeviceStateTrigger.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/OrientationStateTrigger.cs
  Xamarin.Forms.Core/StateTrigger.cs
  Xamarin.Forms.Core/StateTriggerBase.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/VisualStateManager.cs
  Xamarin.Forms.DualScreen/SpanModeStateTrigger.shared.cs
Labels: ControlGallery, Core, a/VSM, p/Android, p/UWP, p/iOS 🍎, proposal-accepted, proposal-open, roadmap, t/enhancement ➕

#9462 [iOS] Fix NRE when Entry Completed fires
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#9506 Add default fontsize back to size BP on FontImageSource
  Xamarin.Forms.Core/FontImageSource.cs
  Xamarin.Forms.Xaml.UnitTests/FontImageExtension.xaml
  Xamarin.Forms.Xaml.UnitTests/FontImageExtension.xaml.cs
Labels: Core, a/Xaml </>, a/fonticon, a/shell :shell:, blocker, i/regression, t/bug :bug:

#9518 Fixed broken link in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: t/housekeeping ♻︎

#9532 [Build] Add workspace clean
  azure-pipelines.yml
  build/scripts/generate-docs.ps1
  build/steps/build-android.yml
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#9497 Added more StateTriggers samples to Core Gallery
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerEventsGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerEventsGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerGallery.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerToggleGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerToggleGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggersDirectlyOnElements.xaml
Labels: ControlGallery, t/housekeeping ♻︎

#9508 WebView cookie changes fixes
  Xamarin.Forms.ControlGallery.Android/Assets/googlemap.html
  Xamarin.Forms.ControlGallery.Android/Assets/googlemapsearch.html
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/issue3262.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: ControlGallery, blocker, p/Android, p/UWP, p/iOS 🍎

#8811 [iOS] Expose UISearchBarStyle through platform-specific
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/SearchBariOS.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGallery.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/SearchBar.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/UISearchBarStyle.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
Labels: ControlGallery, p/iOS 🍎

#8746 [Android] Optimize RecalculateSpanPositions method
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
Labels: a/label, a/performance, p/Android

#8101 [iOS/Droid] Fix Shell SearchHandler - Search text getting lost on execute search
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6804.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchView.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, hacktoberfest 🍻, p/Android, p/iOS 🍎, t/bug :bug:

#9505 Enable xforms-product-type on Control Gallery for tests
  Xamarin.Forms.ControlGallery.iOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/XamStore/Views/DemoShellPage.xaml
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CollectionViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedHeaderView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/SelectableItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalDefaultSupplementalView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalSupplementaryView.cs
  Xamarin.Forms.Platform.iOS/NativeViewWrapperRenderer.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/BoxRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/CheckBoxRendererBase.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/OpenGLViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/StepperRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  build.cake
Labels: ControlGallery, a/collectionview, a/shell :shell:, blocker, i/high, i/regression, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#9332 [Core] Allow CarouselView to specify IndicatorView
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8693.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml.cs
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
Labels: ControlGallery, Core, a/Xaml </>, a/carouselview, a/collectionview, a/indicatorview, blocker, p/Android, t/bug :bug:

#9504 Default locally to fast renderers and don't overwrite DefineConstants with msbuild properties
  Environment.Build.props
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  azure-pipelines.yml
Labels: ControlGallery, p/Android, t/housekeeping ♻︎

#8536 Fix 8503, 8787 - text in Entry not immediately visible, or visible after IsVisible set to true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8503.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: 4.3.0, a/animation 🎬, i/regression, p/UWP, t/bug :bug:

#9598 Revert "Fix 8503, 8787 - text in Entry not immediately visible, or visible after IsVisible set to true"
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8503.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: p/UWP

#9575 Set frame for EmptyView when adding it to UICollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9196.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9196.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
Labels: a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#9502 [Android] Remove dead code, fix the indicator position on load
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
Labels: a/collectionview, a/indicatorview, blocker, p/Android, t/bug :bug:

#8622 [Android] Fix unbalanced performance start/stop call
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: p/Android

#8563 [iOS] Fixed wrong groups CollectionView header size
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8557.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8557.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#9587 [WPF] Font icon support for toolbar items
  Xamarin.Forms.Controls/ControlGalleryPages/ToolbarItems.cs
  Xamarin.Forms.Controls/GalleryPages/FontImageSourceGallery.cs
  Xamarin.Forms.Platform.WPF/Assets/Converters.xaml
  Xamarin.Forms.Platform.WPF/Controls/FormsFontIcon.cs
  Xamarin.Forms.Platform.WPF/Converters/FontFamilyConveter.cs
  Xamarin.Forms.Platform.WPF/Converters/FontIconColorConverter.cs
  Xamarin.Forms.Platform.WPF/Converters/IconConveter.cs
  Xamarin.Forms.Platform.WPF/Themes/FormsFontIcon.xaml
  Xamarin.Forms.Platform.WPF/Themes/Generic.xaml
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: ControlGallery, p/WPF

#9589 [Bug] macOS: 4.4->4.5 regression, labels are invisible (same TextColor as background)
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: a/label, i/regression, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#9485 [Android] Properly unsubscribe ToolbarItem on removal
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9419.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Internals/ToolbarTracker.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: Core, a/shell :shell:, a/toolbar, i/high, i/regression, mobcat, p/Android, t/bug :bug:

#8910 RadioButton Implementation
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/rb_checked.png
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/rb_unchecked.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/RadioButtonCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGroupGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGroupGalleryPage.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/RadioButton.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/IButtonLayoutRenderer.cs
  Xamarin.Forms.Platform.MacOS/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.MacOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.UAP/FormsRadioButton.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.UAP/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonCALayer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: API-change, ControlGallery, Core, F100, a/visual, p/Android, p/UWP, p/iOS 🍎, p/macOS, proposal-open, roadmap, t/enhancement ➕

#9595 [iOS] Fix square shape and indicator size on IndicatorView
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#9615 Propagate cleared shell elements correctly
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/ShellContentCollection.cs
  Xamarin.Forms.Core/Shell/ShellItemCollection.cs
  Xamarin.Forms.Core/Shell/ShellSectionCollection.cs
  Xamarin.Forms.sln.DotSettings
Labels: Core, a/shell :shell:, blocker, i/regression

#9594 Androidx bump to stable release packages
  .gitignore
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  EmbeddingTestBeds/Embedding.Droid/Android10.Build.targets
  PagesGallery/PagesGallery.Droid/Android10.Build.targets
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Visual Studio 2019/Visualizers/attribcache140.bin
  Xamarin.Forms.ControlGallery.Android/Android10.Build.targets
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: ControlGallery, a/visual, blocker, p/Android

#9494 Disable swipe in SwipeView with IsEnabled property
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9329.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, p/iOS 🍎, t/bug :bug:

#9390 fixes #6679 [Bug] WebView UWP not displaying
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
Labels: a/webview, p/UWP, t/bug :bug:

#9187 [Android] Fix BottomNavigationItemView issue with MasterDetailPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9143.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
Labels: 4.3.0, approved, i/regression, p/Android, t/bug :bug:

#9614 [UWP] Fix Carousel position, add IndicatorView renderer
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions/CollectionViewExtensions.cs
  Xamarin.Forms.Platform.UAP/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, blocker, p/UWP, t/bug :bug:

#9628 Call UpdateToolBarItems after page is changed
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, a/toolbar, p/iOS 🍎, t/bug :bug:

#9641 Fix packageVersion parameter on build.cake
  build.cake
Labels: a/buildchain, t/bug :bug:

#9592 [iOS,Android,Core] Implement MaximumVisible on iOS and Android
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSampleMaximumVisible.xaml
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSampleMaximumVisible.xaml.cs
  Xamarin.Forms.Core/IndicatorStackLayout.cs
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: ControlGallery, Core, a/collectionview, a/indicatorview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#9657 Remove unreliable scroll from TestItemsPosition
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
Labels: Core, a/collectionview

#9658 Make KeepItemsInView test more reliable
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewItemsUpdatingScrollMode.cs
Labels: a/collectionview

#9676 [iOS] Fix NRE when not using template on CarouselView
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎

#9682 Fix ios url images
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/StreamWrapper.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/StreamWrapper.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, Core, blocker, p/Android, p/UWP, p/gtk, p/iOS 🍎, p/macOS

#9714 Cherry pick Fix ios url images
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/StreamWrapper.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/StreamWrapper.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: Core, p/Android, p/UWP, p/gtk, p/iOS 🍎, p/macOS

#9709 revert [Android] Fix BottomNavigationItemView issue with MasterDetailPage
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
Labels: p/Android

#9708 [Android] Fix NRE when setting the VisualState on the default cell
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Android

#9700 [Android] Fix getting the position on SingleSnapHelper
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Platform.Android/CollectionView/SingleSnapHelper.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, t/bug :bug:

#9672 [Core,iOS] Invalidate size when IndicatorView collection/count changes
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Core/IndicatorView.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, p/iOS 🍎, t/bug :bug:

#9654 [iOS] Update ItemsViewController constrains when bounds change
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8902.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: ControlGallery, a/carouselview, a/collectionview, blocker, p/iOS 🍎, t/bug :bug:

#9675 Add missing null check before asking the Controller to update measurements
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8715.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8715.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, a/shell :shell:, blocker, i/high, p/iOS 🍎, t/bug :bug:

#9634 [Tizen] MediaElement control support
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/IVideoOutput.cs
  Xamarin.Forms.Platform.Tizen/Extensions/MediaElementExtension.cs
  Xamarin.Forms.Platform.Tizen/Native/EmbeddingControls.cs
  Xamarin.Forms.Platform.Tizen/Native/LayoutCanvas.cs
  Xamarin.Forms.Platform.Tizen/Native/MediaPlayer.cs
  Xamarin.Forms.Platform.Tizen/Native/MediaPlayerImpl.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.Tizen/Resource/img_button_pause.png
  Xamarin.Forms.Platform.Tizen/Resource/img_button_play.png
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: Core, F100, a/mediaelement, p/Tizen, roadmap, t/enhancement ➕

#9746 [iOS] Fix MediaElement crash opening URL without connection
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: a/mediaelement, i/high, p/iOS 🍎, t/bug :bug:

#8612 [WPF] Fix ToolbarItem.IsEnabled = false does nothing
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.ControlGallery.WPF/bank.png
  Xamarin.Forms.ControlGallery.WPF/coffee.png
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8161.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Renderers/VisualPageRenderer.cs
  Xamarin.Forms.Platform.WPF/Themes/FormsAppBarButton.xaml
Labels: ControlGallery, p/WPF, t/bug :bug:

#7781 [macOS] Fix GestureRecognizer on ListView Item not working
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1658.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Cells/CellNSView.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: a/listview, hacktoberfest 🍻, m/low impact :black_medium_small_square:, p/iOS 🍎, p/macOS, t/bug :bug:

#8342 [Spec] CSharpForMarkup
  Xamarin.Forms.Core.UnitTests/Markup/BindableObjectExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/DefaultBindablePropertiesTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ElementExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ElementGesturesExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/FuncConverter.cs
  Xamarin.Forms.Core.UnitTests/Markup/GridRowsColumns.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsLeftToRightTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsRightToLeftTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LayoutExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/MarkupBaseTestFixture.cs
  Xamarin.Forms.Core.UnitTests/Markup/StyleTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsLeftToRightTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsRightToLeftTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewInFlexLayoutExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewInGridExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/VisualElementExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/GestureElement.cs
  Xamarin.Forms.Core/IGestureRecognizers.cs
  Xamarin.Forms.Core/Markup/BindableObjectExtensions.cs
  Xamarin.Forms.Core/Markup/DefaultBindableProperties.cs
  Xamarin.Forms.Core/Markup/ElementExtensions.cs
  Xamarin.Forms.Core/Markup/ElementGesturesExtensions.cs
  Xamarin.Forms.Core/Markup/FuncConverter.cs
  Xamarin.Forms.Core/Markup/GridRowsColumns.cs
  Xamarin.Forms.Core/Markup/LabelExtensions.cs
  Xamarin.Forms.Core/Markup/LayoutExtensions.cs
  Xamarin.Forms.Core/Markup/Markup.cs
  Xamarin.Forms.Core/Markup/Style.cs
  Xamarin.Forms.Core/Markup/ViewExtensions.cs
  Xamarin.Forms.Core/Markup/ViewInFlexLayoutExtensions.cs
  Xamarin.Forms.Core/Markup/ViewInGridExtensions.cs
  Xamarin.Forms.Core/Markup/VisualElementExtensions.cs
  Xamarin.Forms.Core/View.cs
Labels: API-change, Core, hacktoberfest 🍻, roadmap, t/enhancement ➕

#9762 [Bug] [macOS] Slider doesn't update its value
  Xamarin.Forms.Platform.MacOS/Renderers/SliderRenderer.cs
Labels: a/slider, i/regression, p/macOS, t/bug :bug:
