Repository xamarin/Xamarin.Forms, pull requests merged in 2020-12, with the labels that each got.

#12916 Update to latest Xamarin.UITest
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
Labels: a/uitest, t/housekeeping ♻︎

#12837 [iOS] Fix when removing current last Item on CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10300.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12574.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/ObservableItemsSourceTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/IndexPathHelpers.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/LoopObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/carouselview, p/iOS 🍎

#11679 Added a Flow Direction Property to action sheets and alert dialogs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2447.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2448.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2448.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/ActionSheetArguments.cs
  Xamarin.Forms.Core/AlertArguments.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Platform.Android/PopupManager.cs
  Xamarin.Forms.Platform.UAP/FormsFlyout.xaml.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: API-change, Core, a/alerts, a/l10n, a/rtl, blocker, p/Android, p/UWP, proposal-accepted, t/bug :bug:, t/enhancement ➕

#13046 Convert ShellContent transitions to use animators and be smarter about selecting visible content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12642.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: a/navigation, a/shell :shell:, blocker

#10402 Fix-9906 [Bug] Setting CharacterSpacing on Button leads to crash on iOS
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9906.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9906.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
Labels: a/button, blocker, i/high, p/iOS 🍎, t/bug :bug:

#12509 Add ability to set WebView ExecutionMode property (addresses #4720)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4720.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/PlatformConfiguration/WindowsSpecific/WebView.cs
  Xamarin.Forms.Core/PlatformConfiguration/WindowsSpecific/WebViewExecutionMode.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
Labels: ControlGallery, DO-NOT-MERGE-!!! :stop_sign:, a/performance, a/webview, blocker, mobcat, p/UWP, t/bug :bug:

#11419 [iOS] Fix issue using TapGesture
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10623.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12685.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: Core, a/gestures 🖖, a/shapes, blocker, i/high, p/iOS 🍎, t/bug :bug:

#13023 [Android] Add missing unsubscribe on activity destroy
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: p/Android, t/bug :bug:

#12786 [Android] Fix wrong SwipeView overlapping issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12750.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12750.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/listview, a/swipeview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#13063 Fix double up of YAML tasks
  build/steps/build-osx.yml
Labels: t/housekeeping ♻︎

#12819 [Android] Use ScrollView inside SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12582.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12582.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/scrollview, a/swipeview, blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#13084 Fix cast of non appcompat renderer to DrawerLayout
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: a/masterdetailpage, blocker, p/Android

#13082 Delete forms-previewer-bug-report.md
  .github/ISSUE_TEMPLATE/forms-previewer-bug-report.md
Labels: t/housekeeping ♻︎

#13065 [Tizen] Fix CarouselView issue
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CarouselView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Tizen, t/bug :bug:

#13013 [iOS] Fix NRE in PageRenderer
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/page, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#13095 [Housekeeping] Added more shapes samples to CoreGallery
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ShapeAppThemeGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ShapeAppThemeGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ShapesGallery.cs
Labels: ControlGallery, t/housekeeping ♻︎

#12923 [iOS] Cannot access a disposed object using CollectionView EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12910.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12910.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/carouselview, a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#12915 [Android] Fix issue clipping ImageButton
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12912.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12912.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
Labels: a/imagebutton, a/shapes, p/Android, t/bug :bug:

#12161 Shell FlyoutWidth and FlyoutHeight
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutSizing.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellAppearance.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSplitView.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SlideFlyoutTransition.cs
Labels: ControlGallery, a/shell :shell:, p/Android, p/UWP, p/iOS 🍎

#12979 Issue template - hide long VS environment info section
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: t/housekeeping ♻︎

#11814 [Android] Update the Entry clear button based on FlowDirection
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8967.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8967.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: a/entry, a/rtl, p/Android, t/bug :bug:

#13081 Allow CollectionView on UWP to layout even if items are not loaded
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8814.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
Labels: a/carouselview, a/collectionview, a/shell :shell:, p/UWP, t/bug :bug:

#12087 [UWP] Fix SwipeItem NRE no setting the Text
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12079.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/SwipeViewRenderer.cs
Labels: a/swipeview, blocker, p/UWP, t/bug :bug:

#13085 Apply maximum starred column/row size for all starred columns/rows
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/Grid.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: 4.8.0, 5.0.0, Core, a/grid, a/layout, blocker, i/regression, in-progress, t/bug :bug:

#13147 [Tizen] Fix Frame nested issue
  Xamarin.Forms.Platform.Tizen/SkiaSharp/SKClipperView.cs
Labels: a/frame, p/Tizen

#13137 [iOS/macOS] Fix NRE in ButtonRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13136.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13136.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/BoxViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/BoxRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
Labels: a/button, i/high, p/iOS 🍎, t/bug :bug:

#13101 [iOS/macOS] Same offsets behavior in GradientBrush between platforms
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientBrushDefaultOffsetGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientBrushDefaultOffsetGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientsGallery.cs
  Xamarin.Forms.Platform.MacOS/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.shared.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/brushes, a/frame, blocker, p/iOS 🍎, p/macOS, t/bug :bug:

#12395 [iOS] Fix Background issue in Button CustomRenderer
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/_12372CustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12372.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: ControlGallery, a/customrenderer, blocker, hacktoberfest 🍻, hacktoberfest-accepted, i/regression, p/iOS 🍎, t/bug :bug:

#13145 More efficiently process rapid Flyout Item Changes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10608.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemTransition.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#12735 [Android / iOS] SwipeItem positioning issues fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10086.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10086.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8833.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8833.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/PositionGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemPositionGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemPositionGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemViewPositionGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemViewPositionGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewMarginGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewMarginGallery.xaml.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/swipeview, blocker, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#13146 Scale potential star row/column values by the appropriate star value
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: a/grid, a/layout, blocker

#9701 Androidx material bump
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget.Build.targets
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFormsEditTextManager.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Material.Android/Resources/Layout/MaterialPickerTextInput.axml
  Xamarin.Forms.Material.Android/Resources/Layout/TextInputLayoutFilledBox.axml
  Xamarin.Forms.Material.Android/Resources/values/styles.xml
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/ColorExtensions.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: ControlGallery, a/visual, blocker, p/Android

#13119 Fix semaphore issues updating CollectionView on iOS
  .Xamarin.Forms.iOS.slnf
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11224.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11853.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11853.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, blocker, i/high, p/iOS 🍎

#13139 [iOS] NavigationPage.HideNavigationBarSeparator="true"
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10578.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10578.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/navbar, blocker, p/iOS 🍎, t/bug :bug:

#13157 Fix Flyout Footer measuring and Content Margin
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/HeaderFooterShellFlyout.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellViewRenderer.cs
Labels: a/shell :shell:, blocker

#13111 [Core] Added setters to RadioButtonGroup GroupName and SelectedValue
  Xamarin.Forms.Core/RadioButtonGroup.cs
Labels: a/radiobutton :radio_button:, blocker, t/enhancement ➕

#12967 [GH-12429] Fixed extra height on Shell Flyout and fix issues with flyout items not updating layout
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/HeaderFooterShellFlyout.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12429.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12429.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerCell.cs
Labels: Core, a/gestures 🖖, a/layout, a/shell :shell:, p/Android, p/iOS 🍎, t/bug :bug:

#13189 [Tizen] Support to ListView.SeparatorColor and SeparatorVisibility
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
Labels: a/listview, p/Tizen

#10575 [Android/iOS] Fix programmatically open right SwipeItems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10563.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/OpenCloseSwipeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Core/SwipeEventArgs.cs
  Xamarin.Forms.Core/SwipeView.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: API-change, ControlGallery, a/swipeview, blocker, p/Android, p/Tizen, p/iOS 🍎, t/bug :bug:

#13012 [iOS] Fixed NRE removing cells on ListView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11381.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11381.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/EventTracker.cs
Labels: a/listview, i/high, p/iOS 🍎, t/bug :bug:

#11977 Fix miss font
  Xamarin.Forms.Platform.WPF/Extensions/FontExtensions.cs
Labels: a/embedded fonts, a/fonts, p/WPF, t/bug :bug:

#13152 Fix poor choice for FlyoutItem BP Name
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutItemIsVisible.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutItemIsVisible.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellItemIsVisible.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ShellFlyoutItemGroupTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
Labels: a/shell :shell:, blocker, breaking

#13182 [Android] On UpdateInitialPosition reset _gotoPosition state
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, blocker, p/Android

#10624 [Android] Fix incorrect spacing in CollectionView with multiple spans
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Platform.Android/CollectionView/AdapterNotifier.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
Labels: a/carouselview, a/collectionview, a/layout, blocker, m/high impact :black_large_square:, mobcat, p/Android, t/bug :bug:

#12942 [iOS] If SwipeView is disabled, tap gesture events are not firing
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11969.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11969.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/gestures 🖖, a/swipeview, p/iOS 🍎, t/bug :bug:

#12658 [Android/iOS] Fixed issue resolving a Renderer from a TemplatedView
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/_12484CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12484.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12484.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: ControlGallery, a/customrenderer, blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#13051 [iOS] Fix non visible TextColor issue in Entry using Visual
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12809.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12809.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
Labels: a/entry, a/visual, i/high, p/iOS 🍎, t/bug :bug:

#13205 [Housekeeping] Fix 5.0.0 branch failing UITest
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11969.xaml.cs
Labels: t/housekeeping ♻︎

#13202 Fix NRE if user immediately completes Deferral
  Xamarin.Forms.Core.UnitTests/ShellNavigatingTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigatingEventArgs.cs
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker

#13135 [UWP] Fixed NRE load image from ImageSource
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/_13109IssueHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13109.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FileImageSourceHandler.cs
Labels: a/image, blocker, p/UWP, t/bug :bug:

#13195 Add new xplat event to to propagate FlyoutItemsChanged events to the platforms
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11214.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellGroupItem.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: a/shell :shell:, blocker

#12919 Cache cell sizes after resize from estimates
  .Xamarin.Forms.iOS.slnf
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateSelectorGalleries/VariedSizeDataTemplateSelectorGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/DataTemplateSelectorGalleries/VariedSizeDataTemplateSelectorGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ChatExample.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ChatExample.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/ItemsSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.iOS.UnitTests/ObservableItemsSourceTests.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HorizontalTemplatedHeaderView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/IndexPathHelpers.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/LayoutAttributesChangedEventArgs.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/VerticalSupplementaryView.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/animation 🎬, a/collectionview, a/layout, blocker, i/high, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#12816 [Android] Button disappears when setting CornerRadius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12315.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12315.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/brushes, a/button, blocker, p/Android, t/bug :bug:, t/housekeeping ♻︎

#13247 Restore ability to display header, footer, and empty view simultaneously
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplateHelpers.cs
Labels: a/collectionview, blocker, i/regression, p/iOS 🍎

#13190 Shell flyout content template
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11769.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutContent.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ShellFlyoutItemGroupTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellFlyoutItemsManager.cs
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutLayout.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/FlyoutContent.axml
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutLayoutManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, blocker
