Repository xamarin/Xamarin.Forms, pull requests merged in 2020-07, with the labels that each got.

#11140 Fix 8503, 8787 - text in Entry not immediately visible, or visible after IsVisible set to true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2172.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2172.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8503.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8787.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: 4.3.0, a/Xaml </>, a/animation 🎬, a/editor, a/entry, i/regression, m/high impact :black_large_square:, p/UWP, p/iOS 🍎, t/bug :bug:

#11280 [iOS] Fixed NRE checking if ShouldUpdateClip
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: a/shapes, i/high, p/iOS 🍎, t/bug :bug:

#10747 Avoid NullReferenceException for MaterialActivityIndicatorRenderer
  Xamarin.Forms.Material.iOS/MaterialActivityIndicatorRenderer.cs
Labels: a/activityindicator, a/visual, i/high, p/iOS 🍎, t/bug :bug:

#11276 Remove rendundant calls to UpdateCharacterSpacing
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: a/picker, p/iOS 🍎

#9710 [iOS] Fix Editor excessive horizontal scroll and placeholder line break
  Xamarin.Forms.Controls/CoreGalleryPages/EditorCoreGalleryPage.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: ControlGallery, a/layout, approved, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#11055 [iOS] Fix issue with SwipeView and grouped ListView with scroll
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10908.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10908.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/listview, a/swipeview, approved, p/iOS 🍎, t/bug :bug:

#11046 [Android] Fix issue animating StrokeDashOffset
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/AnimateShapeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ShapesGallery.cs
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
Labels: ControlGallery, a/animation 🎬, a/shapes, approved, p/Android, t/bug :bug:

#11172 [iOS] Call page appearing when restoring app from background
  Xamarin.Forms.Platform.iOS/PageLifecycleManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: 3.5.0, approved, i/regression, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#11250 Uwp ui tests tweaks
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/MainPage.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10744.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9827.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/TestCases.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  azure-pipelines.yml
  build.cake
  build/steps/run-windows-tests.yml
Labels: ControlGallery, p/UWP

#11300 [macOS] Fix crash setting the default Label color using Span
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11272.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
Labels: 4.7.0, a/label, i/high, i/regression, p/iOS 🍎, p/macOS, t/bug :bug:

#11072 [Android] Fix issue using HideSingle property on IndicatorView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11018.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: DO-NOT-MERGE-!!! :stop_sign:, a/carouselview, a/collectionview, a/indicatorview, p/Android, p/iOS 🍎, t/bug :bug:

#11129 [iOS] Fix Frame IsClippedToBounds issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11120.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11120.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11291.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: 4.6.0, ControlGallery, a/Xaml </>, a/collectionview, a/frame, a/shell :shell:, a/visual, approved, i/high, i/regression, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, t/bug :bug:

#11316 Baseline UWP Tests when running them on CI
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla31330.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla34561.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla42620.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla51825.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla57317.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla59580.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/GestureBubblingTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/UITestHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10744.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1583_1.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2338.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2414.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2597.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2680ScrollView.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3475.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3809.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5376.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5518.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6260.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6286.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6994.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7167.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7890.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9306.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/LabelTextType.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/RefreshViewTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ActivityIndicatorUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ExpanderViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ImageButtonUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  build.cake
Labels: Core, p/Android, p/UWP

#11355 [Core] Added SwipeView unit tests
  Xamarin.Forms.Core.UnitTests/SwipeViewTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
Labels: Core, a/swipeview, t/housekeeping ♻︎

#11292 Fix SwipeView crash with NullReferenceException [BUG #10679]
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/iOS 🍎, t/bug :bug:

#11255 [Tizen] Enhancement CollectionView
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CarouselView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ICollectionViewLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
Labels: a/carouselview, a/collectionview, approved, p/Tizen

#11350 [UWP] Remove Focus call when setting FormsTextBox Vertical Alignment
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls/TestCases.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Platform.UAP.UnitTests/ShellTests.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
Labels: 4.7.0, ControlGallery, Core, a/shell :shell:, blocker, i/regression, p/UWP, t/bug :bug:

#11336 Apply uniform contractions to starred rows/columns
  .Xamarin.Forms.Android.slnf
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8797.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
Labels: Core, a/label, a/layout, approved, m/high impact :black_large_square:, p/Android, t/bug :bug:

#11165 [iOS] Fix issue hiding NavigationBarSeparator
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9456.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: 4.5.0, a/navbar, approved, i/regression, iOS 13, m/high impact :black_large_square:, p/iOS 🍎, platform-specifics, t/bug :bug:

#11045 Added StrokeMiterLimit property in Shape
  Xamarin.Forms.Core/Shapes/Shape.cs
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: API-change, Core, a/shapes, approved, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#11370 Export animationControllerForOperation to fix hot restart
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: 4.6.0, a/navigation, a/shell :shell:, blocker, external-hotrestart, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#11359 [C] Round Stepper.Value
  Xamarin.Forms.Core.UnitTests/StepperUnitTests.cs
  Xamarin.Forms.Core/Stepper.cs
Labels: 4.4.0, 4.5.0, Core, a/stepper, breaking, i/high, i/regression, t/bug :bug:

#10980 BaseShellItem IsVisible and FlyoutItem.IsVisible
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellItemIsVisible.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContentCollection.cs
  Xamarin.Forms.Core/Shell/ShellElementCollection.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
  Xamarin.Forms.Core/ViewExtensions.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
Labels: API-change, Core, a/shell :shell:, blocker, m/high impact :black_large_square:, p/UWP, proposal-accepted, proposal-open, t/enhancement ➕

#11231 Add shell renderer to page instead of window
  Xamarin.Forms.Platform.Android.UnitTests/PlatformTestFixture.cs
  Xamarin.Forms.Platform.Android.UnitTests/ShellTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/TestActivity.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
Labels: a/shell :shell:, p/Android, t/housekeeping ♻︎

#11416 [Shell] Don't remove default routes if that's all there is
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: 4.7.0, Core, a/shell :shell:, blocker

#11420 [iOS] Null check Mask.Name
  Xamarin.Forms.ControlGallery.iOS/_11132CustomRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: 4.7.0, ControlGallery, a/customrenderer, a/shapes, i/regression, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#9649 Add support for scale and rotation of images on GTK
  Xamarin.Forms.Platform.GTK/Controls/ImageControl.cs
  Xamarin.Forms.Platform.GTK/Renderers/ImageRenderer.cs
Labels: ControlGallery, a/image, p/gtk, t/bug :bug:

#11436 Fix OpenUri obsoletion message
  Xamarin.Forms.Core/Device.cs
Labels: Core, t/bug :bug:

#11343 Copy provisionator files to release
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2414.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4915.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/TestCases.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  build.cake
  build/provisioning/xcode.csx
  build/steps/build-osx.yml
Labels: ControlGallery, Core, p/Android, p/iOS 🍎, t/housekeeping ♻︎

#11271 [UWP] Fixed validation to check if can use Composition Clip
  Xamarin.Forms.Platform.UAP/CompositionHelper.cs
Labels: 4.7.0, a/shapes, feedback-ticket, i/high, i/regression, p/UWP, t/bug :bug:

#11375 [iOS] Fix controls added to Frame multiple times when container is recycled on ListView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla36802.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla53834.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1436.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1909.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2775.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue342.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3884.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4879.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5830.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5831.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8004.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8766.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue968.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/_Template.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/_TemplateMarkup.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/Legacy-CellsUITests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/FrameTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  build.cake
Labels: 4.7.0, Core, a/label, a/shell :shell:, blocker, feedback-ticket, i/regression, p/iOS 🍎, t/bug :bug:

#11400 Add BoostrapHelper
  Xamarin.Forms.Platform.UAP/BootstrapHelper.cs
Labels: external-hotreload, i/high, m/high impact :black_large_square:, p/UWP

#11360 [iOS] Fix issue with duplicated played to end observer in MediaElement
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: Core, a/mediaelement, p/iOS 🍎, t/bug :bug:

#11410 Light up UWP Shell Navigation
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
Labels: a/shell :shell:, m/high impact :black_large_square:, p/Android, p/UWP, t/bug :bug:

#11264 Update Left Tool Bar Item even if flyout is disabled
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11244.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8529.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellBackButtonBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: 4.7.0, a/shell :shell:, blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#11110 [iOS] Fix Path Transformations issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11050.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11050.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/Shapes/GeometryHelper.cs
  Xamarin.Forms.Platform.iOS/Extensions/DoubleCollectionExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: Core, a/shapes, approved, p/iOS 🍎, t/bug :bug:

#11077 Convert to using list of accessibility elements for iOS tab indexes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7606.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8613.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8691.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9137.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: 4.0.0, Core, a/a11y 🔍, a/webview, blocker, i/high, i/regression, m/high impact :black_large_square:, mobcat, p/iOS 🍎, t/bug :bug:

#11192 [iOS] Pop when on second page and BackButton is replaced
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:

#11456 [iOS] Fix controls added to Frame multiple times when container is recycled on ListView (#11375)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla36802.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla53834.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1436.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue1909.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2775.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2894.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue342.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3884.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4879.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5830.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5831.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8004.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue968.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellGestures.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/_Template.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/_TemplateMarkup.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/Legacy-CellsUITests.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: 4.7.0, Core, a/label, a/shell :shell:, feedback-ticket, i/regression, p/iOS 🍎, t/bug :bug:

#11351 [UWP] Fixes 8787 Entry text not visible until focus or window resize
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/UITestHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11259.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11259.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestBase.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestServer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
Labels: 4.3.0, 4.6.0, Core, a/scrollview, i/regression, m/high impact :black_large_square:, p/UWP, t/bug :bug:

#11239 [Android] Fix setting the CarouselView position while control isn't visible
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11224.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11224.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: Core, a/carouselview, a/collectionview, approved, p/Android, p/iOS 🍎, t/bug :bug:

#11491 [iOS] Fix issue setting a brush to several frames using Visual
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialFrameRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
Labels: a/brushes, a/visual, p/iOS 🍎, t/bug :bug:

#11235 Force off-main-thread ItemsSource updates to update on main thread
  .Xamarin.Forms.Android.slnf
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10735.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10735.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/MarshalingObservableCollectionTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Items/MarshalingObservableCollection.cs
  Xamarin.Forms.Platform.Android.UnitTests/ObservrableItemsSourceTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: API-change, Android10, Core, a/collectionview, approved, i/high, m/high impact :black_large_square:, p/Android, t/bug :bug:

#11187 Add Rect struct
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Xamarin.Forms.ControlGallery.WPF/Renderers/Issue6693ControlRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/RectTest.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/RectTest.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/AbsoluteLayoutTests.cs
  Xamarin.Forms.Core.UnitTests/RectUnitTests.cs
  Xamarin.Forms.Core.UnitTests/RectangleTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Rect.cs
  Xamarin.Forms.Core/RectTypeConverter.cs
  Xamarin.Forms.Core/Rectangle.cs
  Xamarin.Forms.Core/Shapes/RectangleGeometry.cs
  Xamarin.Forms.Platform.Android/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.Android/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Shapes/RectangleRenderer.cs
Labels: API-change, ControlGallery, Core, a/layout, a/shapes, a/shell :shell:, blocker, breaking, deprecation, p/Android, p/UWP, p/WPF, p/iOS 🍎, t/enhancement ➕

#11279 [Android] Fix SwipeView dispose issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11262.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11262.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
Labels: 4.7.0, a/bindablelayout, a/swipeview, i/high, i/regression, p/Android, t/bug :bug:

#11438 [macOS] Fix Button issues with BackgroundColor, BorderColor, etc
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
Labels: a/button, i/regression, p/macOS, t/bug :bug:

#11526 Show backarrow if FlyoutBehavior is set to disabled
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11523.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: 4.7.0, a/shell :shell:, blocker, p/Android, t/bug :bug:

#11548 [Shapes] Fix RectTypeConverter
  Xamarin.Forms.Core/RectTypeConverter.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11541.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11541.xaml.cs
Labels: Core, a/Xaml </>, a/brushes, i/high, t/bug :bug:

#11528 Fix Device error message reference to Xamarin.Forms.Init
  Xamarin.Forms.Core/Device.cs
Labels: Core

#11437 [C] allow appthemebinding on BO
  Xamarin.Forms.Core/BindableObjectExtensions.cs
  Xamarin.Forms.Core/VisualElementExtensions.cs
Labels: Core, a/darkmode, a/label, t/bug :bug:

#11086 [X] throw on mismatching param type for Add()
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11061.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11061.xaml.cs
Labels: a/Xaml </>, feedback-ticket, i/high, mobcat, t/bug :bug:

#11429 [iOS] Fix Entry PlaceholderColor issue using a global Span TextColor Style
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
Labels: a/entry, a/style, p/iOS 🍎, t/bug :bug:

#11565 Fix FlyoutIsPresented when set from Navigating
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11247.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: 4.7.0, Core, a/shell :shell:, blocker, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#11583 UWP UI Test restart fixes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla36171.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla51825.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9711.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  build.cake
Labels: Core, t/housekeeping ♻︎

#11285 [UWP] FormsTextBox clean up OnApplyTemplate
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
Labels: Core, p/UWP, t/housekeeping ♻︎

#11577 [C] Some Rect API changes
  Xamarin.Forms.Core.UnitTests/RectUnitTests.cs
  Xamarin.Forms.Core/Rect.cs
  Xamarin.Forms.Core/Rectangle.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11541.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11541.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11551.xaml
Labels: API-change, Core, a/Xaml </>, a/shapes, external-vs, i/critical, i/high, m/high impact :black_large_square:, t/bug :bug:

#11574 [Core] Changed default Shape StrokeThickness value
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11547.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11547.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core/Shapes/Shape.cs
Labels: Core, a/brushes, a/shapes, m/high impact :black_large_square:, proposal-open, t/bug :bug:

#11490 [Core] More Shapes constructors
  Xamarin.Forms.Core.UnitTests/PathSegmentTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shapes/PolyQuadraticBezierSegment.cs
  Xamarin.Forms.Core/Shapes/RotateTransform.cs
  Xamarin.Forms.Core/Shapes/ScaleTransform.cs
  Xamarin.Forms.Core/Shapes/SkewTransform.cs
  Xamarin.Forms.Core/Shapes/TranslateTransform.cs
Labels: Core, a/shapes

#11580 Shell FlyoutBackdrop now with Brushes!!
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellAppearance.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSplitView.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
Labels: ControlGallery, a/shell :shell:, blocker, p/Android, p/UWP, p/iOS 🍎

#11441 [iOS] Change Button state if the touch-up event occurs outside
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11430.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ButtonElementManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
Labels: a/button, p/iOS 🍎, t/bug :bug:

#11591 Check for null appearance before setting backdrop
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
Labels: a/shell :shell:, p/UWP

#11380 [Android] Fix issue using SwipeView in ListView using a RippleEffect
  Xamarin.Forms.ControlGallery.Android/RippleEffect.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11374.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11374.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: 4.7.0, ControlGallery, a/listview, a/swipeview, i/regression, p/Android, t/bug :bug:

#11567 Including file for testing issue 9451
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9451.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/layout, a/relativelayout, approved, t/bug :bug:, t/housekeeping ♻︎

#10393 EmbeddedFonts now work on WPF
  Xamarin.Forms.Platform.WPF/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.WPF/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.WPF/Forms.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
Labels: a/embedded fonts, a/fonts, p/WPF, proposal-accepted, t/enhancement ➕

#11543 Mark Transform.ValueProperty as public
  Xamarin.Forms.Core/Shapes/Transform.cs
Labels: API-change, Core, approved

#10604 [AND] Make Shell overflow tab title "More" overridable
  Xamarin.Forms.Platform.Android/Renderers/BottomNavigationViewUtils.cs
  Xamarin.Forms.Platform.Android/Resources/values/strings.xml
Labels: a/shell :shell:, p/Android, t/bug :bug:

#10836 [Android] Fix crash using CarouselView inside Expander
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10830.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
Labels: a/carouselview, a/collectionview, a/expander, i/high, p/Android, t/bug :bug:

#11576 [Core] Detect PointCollection changes in Polygon
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11563.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolygonRenderer.cs
Labels: a/shapes, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:
