Repository xamarin/Xamarin.Forms, pull requests merged in 2020-09, with the labels that each got.

#11983 [Housekeeping] Fix build error
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11573.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11573.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11737.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11737.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11764.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11764.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: housekeeping

#11978 [Tizen] Enhances the EntryRenderer
  Xamarin.Forms.Platform.Tizen/Extensions/TextAlignmentExtensions.cs
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
Labels: p/Tizen

#9453 [Core, iOS, Android] Add loop feature to CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11224.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8964.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CollectionCarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/EmptyCarouselGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Queries.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/RecyclerViewScrollListener.cs
  Xamarin.Forms.Platform.Android/CollectionView/ScrollHelper.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.Android/Extensions/RecyclerExtensions.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/LoopableCollectionView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ScrollHelpers.cs
  Xamarin.Forms.Platform.UAP/CollectionView/TemplatedItemSourceFactory.cs
  Xamarin.Forms.Platform.UAP/Extensions/CollectionViewExtensions.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/EmptySource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ILoopItemsViewSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsSourceFactory.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ListSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/LoopListSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/LoopObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/Extensions/UICollectionViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: API-change, ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, approved, blocker, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#11147 GH-3106 Implemented LineBreakMode to Button
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3106.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
  Xamarin.Forms.Platform.UAP/ButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions/TextBlockExtensions.cs
  Xamarin.Forms.Platform.UAP/FormsButton.cs
  Xamarin.Forms.Platform.UAP/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ButtonLayoutManager.cs
Labels: API-change, Core, F100, approved, p/Android, p/UWP, p/iOS 🍎, proposal-open, t/enhancement ➕

#11775 [C] index on VTChanges
  Xamarin.Forms.Core/AbsoluteLayout.cs
  Xamarin.Forms.Core/Cells/ViewCell.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/ElementEventArgs.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/TemplatedPage.cs
  Xamarin.Forms.Core/TemplatedView.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/VisualDiagnostics.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11334.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11334.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11335.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11335.xaml.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: Core, a/Xaml </>, a/shell :shell:, external-hotreload, t/bug :bug:

#11979 [Tizen] Update profile unified font size scaling
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/ThemeConstants.cs
  Xamarin.Forms.Platform.Tizen/ThemeManager.cs
Labels: p/Tizen

#12013 [yml] Remove second copy of UI Tests that deletes dsyms
  build/steps/build-osx.yml
Labels: t/housekeeping ♻︎

#11973 Fix Shell to better handle delayed setting of Items
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11769.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
Labels: Core, a/shell :shell:, i/high, p/UWP, p/iOS 🍎, t/bug :bug:

#11913 [UWP] Fixed EmptyView crash using RefreshView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11794.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11794.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
Labels: a/collectionview, a/refreshview :arrows_counterclockwise:, p/UWP, t/bug :bug:

#11783 [Core] Notify changes in a GradientStop (Color, Offset)
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/UpdateGradientColorGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/UpdateGradientColorGallery.xaml.cs
  Xamarin.Forms.Core/GradientBrush.cs
  Xamarin.Forms.Core/VisualElement.cs
Labels: ControlGallery, Core, a/brushes, t/bug :bug:

#11754 [xamlc] add a new ResourceLoader.IsEnabled check
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Core/Internals/ResourceLoader.cs
Labels: Core, a/Xaml </>

#12030 [xamlc] fix duplicate Mono.Cecil search paths
  Xamarin.Forms.Build.Tasks/DebugXamlCTask.cs
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Build.Tasks/XamlTask.cs
  Xamarin.Forms.Xaml.UnitTests/MockCompiler.cs
Labels: a/Xaml </>

#11953 [UWP] Fix 11946 Entry Clear Button Visibility initial value not honored
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8836.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
Labels: a/entry, i/regression, p/UWP, t/bug :bug:

#11949 [iOS] Block the scroll if is swiping a SwipeView
  Xamarin.Forms.Platform.iOS/Extensions/UIViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: 4.7.0, a/collectionview, a/swipeview, i/regression, p/iOS 🍎, t/bug :bug:

#11874 [Android] Use Antialias with Shapes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11858.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
Labels: a/shapes, approved, p/Android, t/bug :bug:

#11217 [iOS] Fix Gesture issue with SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11209.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11209.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: Core, a/swipeview, p/iOS 🍎, t/bug :bug:

#11896 [Android] Fix issue updating the Label size changing the MaxLines
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11875.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11875.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
Labels: a/label, p/Android, t/bug :bug:

#11944 [iOS] Fixing another NRE in ContextActionCell
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
Labels: a/listview, approved, p/iOS 🍎, t/bug :bug:

#11895 [Core/Shell] Fix SearchHandler.SetIsFocused
  Xamarin.Forms.Core/Shell/SearchHandler.cs
Labels: Core, a/shell :shell:, retarget-branch-required, t/bug :bug:

#12012 UI Test reliability updates
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9682.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellBackButtonBehavior.cs
Labels: a/shell :shell:, housekeeping, t/housekeeping ♻︎

#11976 Make Frames with Labels work in ListViews again
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7823.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/ViewExtensions.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: 4.4.0, a/frame, a/listview, i/regression, p/Android

#11731 [X] Wrap FormatException with lineInfo
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Core/Xaml/ValueConverterProvider.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11711.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11711.xaml.cs
Labels: Core, a/Xaml </>, retarget-branch-required, t/bug :bug:

#11926 [WPF] Fixed NRE in FormsWindow
  Xamarin.Forms.ControlGallery.WPF/Issue11923.cs
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Platform.WPF/Controls/FormWindow.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
Labels: ControlGallery, a/navigation, p/WPF, t/bug :bug:

#12005 [Core] Remove Expander
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10830.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGalleries.cs
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientViewsGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientViewsGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientsGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ExpanderViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Core/Expander.cs
  Xamarin.Forms.Core/ExpanderState.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Xaml.UnitTests/TypeConverterTests.xaml
  Xamarin.Forms.Xaml.UnitTests/TypeConverterTests.xaml.cs
Labels: ControlGallery, a/Xaml </>

#10653 [WPF] Fix FormsPanel MeasureOverride negative requested size
  Xamarin.Forms.Platform.WPF/FormsPanel.cs
Labels: p/WPF, t/bug :bug:

#12072 [Tests] Stop running the performance rendering tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/PerformanceGallery/PerformanceGallery.cs
Labels: t/housekeeping ♻︎

#12007 [Core,iOS,Droid,UWP,Tizen] Remove MediaElement
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MediaElementDemoPage.cs
  Xamarin.Forms.Core.UnitTests/Markup/DefaultBindablePropertiesTests.cs
  Xamarin.Forms.Core.UnitTests/MediaElementTests.cs
  Xamarin.Forms.Core.UnitTests/MediaSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/FileMediaSource.cs
  Xamarin.Forms.Core/FileMediaSourceConverter.cs
  Xamarin.Forms.Core/Markup/DefaultBindableProperties.cs
  Xamarin.Forms.Core/MediaElement.cs
  Xamarin.Forms.Core/MediaElementState.cs
  Xamarin.Forms.Core/MediaSource.cs
  Xamarin.Forms.Core/MediaSourceConverter.cs
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/IVideoOutput.cs
  Xamarin.Forms.Core/UriMediaSource.cs
  Xamarin.Forms.Platform.Android/FastRenderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Extensions/MediaElementExtension.cs
  Xamarin.Forms.Platform.Tizen/Native/EmbeddingControls.cs
  Xamarin.Forms.Platform.Tizen/Native/LayoutCanvas.cs
  Xamarin.Forms.Platform.Tizen/Native/MediaPlayer.cs
  Xamarin.Forms.Platform.Tizen/Native/MediaPlayerImpl.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.Tizen/Resource/img_button_pause.png
  Xamarin.Forms.Platform.Tizen/Resource/img_button_play.png
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
  Xamarin.Forms.Platform.UAP/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: ControlGallery, approved, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎

#11761 [Android] Fixed incorrect border applying a SolidColorBrush in some cases
  Xamarin.Forms.Platform.Android/Extensions/BrushExtensions.cs
Labels: a/brushes, p/Android, t/bug :bug:

#8310 Fixed - 8279 - [Enhancement] ListView ScrollTo with empty groups - Android
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8279.cs
  Xamarin.Forms.Platform.Android/Renderers/ListViewRenderer.cs
Labels: a/listview, hacktoberfest 🍻, p/Android, p/WPF, t/enhancement ➕

#11910 [WPF] Fix assembly version conflicts
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
Labels: ControlGallery, a/buildchain, i/high, p/WPF, retarget-branch-required, t/bug :bug:

#12011 [WPF] Fix Assembly version
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
Labels: a/buildchain, approved, i/high, retarget-branch-required, t/bug :bug:

#10659 [Android] Fix ScrollView visibility issue
  Xamarin.Forms.Controls/GalleryPages/ScrollGallery.cs
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/attrs.xml
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
Labels: 4.4.0, ControlGallery, DO-NOT-MERGE-!!! :stop_sign:, a/scrollview, approved, feedback-ticket, i/high, i/regression, m/high impact :black_large_square:, p/Android, retarget-branch-required, t/bug :bug:

#12063 public WeakEventManager
  Xamarin.Forms.Core/WeakEventManager.cs
Labels: Core, proposal-open, t/enhancement ➕

#11919 [UWP] Changes in CollectionViewSource dispose logic
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#12029 Reinstate loading of local HTML files in WKWebViewRenderer
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: 4.4.0, a/webview, p/iOS 🍎

#12057 Check if Logical Child is VE in ListViewRenderer
  Xamarin.Forms.Core/ListView.cs
Labels: 4.8.0, Core, blocker, p/iOS 🍎, t/bug :bug:

#12085 [X] Find most derived ABP
  Xamarin.Forms.Build.Tasks/BindablePropertyReferenceExtensions.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh12025.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh12025.xaml.cs
Labels: a/Xaml </>, t/bug :bug:

#12074 [Tizen] Adds the DisplayResolutionUnit
  Xamarin.Forms.Platform.Tizen/DisplayResolutionUnit.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
Labels: p/Tizen

#12089 [iOS] Add null-check to Entry
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: a/entry, p/iOS 🍎, t/bug :bug:

#12043 [X] Add a TrySetPropertyValue overload for HR
  Xamarin.Forms.Xaml.UnitTests/Issues/Bz47950.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: a/Xaml </>

#11987 Fix various quirks with flyout item bindings
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10608.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11247.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Core.UnitTests/ShellFlyoutItemTemplateTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: Core, a/binding ⛓, a/shell :shell:, p/Android, p/iOS 🍎, t/bug :bug:

#12114 If the element's renderer has already been nulled or disposed, request zero space for it
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: i/critical, m/high impact :black_large_square:, p/Android

#11402 Check UICollectionView visibility before asking it for content height
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11311.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
Labels: 4.6.0, a/collectionview, i/regression, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#12095 Remove UIWebView completely
  Xamarin.Forms.Core.UITests.Shared/PlatformQueries.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: Core, a/webview, breaking, p/iOS 🍎

#12119 [Tizen] Enhances the shell renderer
  Xamarin.Forms.Material.Tizen/Shell/MaterialNavigationDrawer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialNavigationView.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellItemRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellSectionNavigation.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellSectionRenderer.cs
  Xamarin.Forms.Material.Tizen/Shell/MaterialShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/INavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/INavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/IShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/SearchHandlerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/SearchResultList.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellMoreToolbar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellNavBar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionNavigation.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionStack.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellTabs.cs
  Xamarin.Forms.Platform.Tizen/Shell/SimpleViewStack.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellSectionNavigationRenderer.cs
  Xamarin.Forms.Platform.Tizen/ThemeConstants.cs
  Xamarin.Forms.Platform.Tizen/ThemeManager.cs
Labels: a/shell :shell:, a/visual, p/Tizen

#11918 [WPF] Fix issue setting initial ScrollView properties (VerticalScrollBarVisibility, etc)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11709.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11709.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/ScrollViewRenderer.cs
Labels: ControlGallery, a/scrollview, approved, p/WPF, t/bug :bug:

#11173 Disable animation scrolling to initial position in CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11081.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11081.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: API-change, Core, a/carouselview, a/collectionview, p/Android, p/UWP, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#12162 Fix iOS Gallery
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.iOS/RegistrarValidationService.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/ViewHelper.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneFlyoutPageRenderer.cs
Labels: t/housekeeping ♻︎

#10812 Notify child added to CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10454.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/ItemsView.cs
Labels: Core, a/collectionview, approved, t/bug :bug:

#9574 Add Threshold BindableProperty to SwipeView
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/HorizontalSwipeThresholdGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/HorizontalSwipeThresholdGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeThresholdCustomSwipeItemGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeThresholdCustomSwipeItemGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeThresholdGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/VerticalSwipeThresholdGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/VerticalSwipeThresholdGallery.xaml.cs
  Xamarin.Forms.Core/SwipeView.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, p/Android, p/iOS 🍎, proposal-open, t/bug :bug:, t/enhancement ➕

#12096 Remove XFCorePostProcessorCodeInjected
  XFCorePostProcessor.Tasks/FixXFCoreAssembly.cs
  XFCorePostProcessor.Tasks/XFCorePostProcessor.Tasks.csproj
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Framework.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Tasks.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.Utilities.Core.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.Build.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Microsoft.VisualStudio.Setup.Configuration.Interop.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Mdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Pdb.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.Rocks.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/Mono.Cecil.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.Collections.Immutable.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.IO.Compression.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.Runtime.InteropServices.RuntimeInformation.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/System.Threading.Tasks.Dataflow.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.dll
  XFCorePostProcessor.Tasks/bin/Debug/net461/XFCorePostProcessor.Tasks.pdb
  Xamarin.Forms.Core/Xamarin.Forms.Core.csproj
  Xamarin.Forms.DualScreen.sln
  Xamarin.Forms.Xaml.UnitTests/XFCorePostProcessorCodeInjected.cs
  Xamarin.Forms.sln
  build.cake
Labels: Core, a/Xaml </>

#11628 Templated RadioButtons and RadioButtonGroups
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10744.cs
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/RadioButtonCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/ContentProperties.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/ContentProperties.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonContentGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonContentGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGalleries.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/ScatteredRadioButtonGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/ScatteredRadioButtonGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/TemplateFromStyle.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/TemplateFromStyle.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/ControlTemplateTests.cs
  Xamarin.Forms.Core.UnitTests/DragGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/DropGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/RadioButtonTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ContentConverter.cs
  Xamarin.Forms.Core/ContentPresenter.cs
  Xamarin.Forms.Core/ControlTemplate.cs
  Xamarin.Forms.Core/NavigationPage.cs
  Xamarin.Forms.Core/RadioButton.cs
  Xamarin.Forms.Core/RadioButtonGroup.cs
  Xamarin.Forms.Core/RadioButtonGroupController.cs
  Xamarin.Forms.Core/RadioButtonGroupSelectionChanged.cs
  Xamarin.Forms.Core/TemplatedView.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.MacOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform.iOS/_IsIncrementalBuild
Labels: ControlGallery, m/high impact :black_large_square:, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎, p/macOS

#12097 [Shell] Don't use SplitView for iPad
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SlideFlyoutTransition.cs
Labels: a/shell :shell:, breaking, p/iOS 🍎, t/bug :bug:

#12039 Shell navigating deferral token
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellNavigatingTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigatingDeferral.cs
  Xamarin.Forms.Core/Shell/ShellNavigatingEventArgs.cs
  Xamarin.Forms.Core/Shell/ShellNavigationParameters.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: ControlGallery, Core, a/navigation, a/shell :shell:, t/bug :bug:

#11851 [Core] Added RoundRectangleGeometry
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ClipCornerRadiusGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ClipCornerRadiusGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ShapesGallery.cs
  Xamarin.Forms.Core.UnitTests/GeometryTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/DefaultBindablePropertiesTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shapes/EllipseGeometry.cs
  Xamarin.Forms.Core/Shapes/GeometryGroup.cs
  Xamarin.Forms.Core/Shapes/LineGeometry.cs
  Xamarin.Forms.Core/Shapes/PathGeometry.cs
  Xamarin.Forms.Core/Shapes/RectangleGeometry.cs
  Xamarin.Forms.Core/Shapes/RoundRectangleGeometry.cs
  Xamarin.Forms.Core/VisualElement.cs
Labels: ControlGallery, Core, a/shapes, m/high impact :black_large_square:, p/Android, p/UWP, p/WPF, p/iOS 🍎, p/macOS, proposal-open, t/enhancement ➕

#12167 [X] knowntypeconverters
  Xamarin.Forms.Build.Tasks/BindablePropertyReferenceExtensions.cs
  Xamarin.Forms.Build.Tasks/CompiledConverters/BoundsTypeConverter.cs
  Xamarin.Forms.Build.Tasks/CompiledConverters/ColorTypeConverter.cs
  Xamarin.Forms.Build.Tasks/CompiledConverters/RectangleTypeConverter.cs
  Xamarin.Forms.Build.Tasks/CompiledConverters/ThicknessTypeConverter.cs
  Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  Xamarin.Forms.Build.Tasks/XmlTypeExtensions.cs
  Xamarin.Forms.Core/Properties/AssemblyInfo.cs
  Xamarin.Forms.Core/TypeConverterAttribute.cs
  Xamarin.Forms.Core/Xaml/TypeConversionExtensions.cs
Labels: Core, handlers

#12190 [hk] fix dependentupon in shared project
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: t/housekeeping ♻︎

#12125 Add protected Accessor to VisualElement Constructor
  Xamarin.Forms.Core/VisualElement.cs
Labels: Core

#12115 Update to C# 8.0
  ControlGallery.Build.props
  Environment.Build.props
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.Maps.GTK/Xamarin.Forms.Maps.GTK.csproj
  Xamarin.Forms.Maps.MacOS/Xamarin.Forms.Maps.macOS.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/visual, p/gtk, p/iOS 🍎, p/macOS

#12109 Fix Shapes drawing issue on iOS 14
  Xamarin.Forms.Core/Shapes/Shape.cs
Labels: Core, a/shapes, iOS 14, t/bug :bug:

#11947 [Android] SwipeView removes Frame borders
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11831.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11831.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, p/iOS 🍎, t/bug :bug:

#12188 [Tizen] Fix the DisplayActionSheet
  Xamarin.Forms.Platform.Tizen/PopupManager.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/ThemeConstants.cs
  Xamarin.Forms.Platform.Tizen/ThemeManager.cs
Labels: p/Tizen

#12198 Strongly typed handler option and standardize mappers a bit more
  .nuspec/Xamarin.Forms.MultiTargeting.targets
  src/Platform.Handlers/samples/Sample.Droid/MainActivity.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/ActionMapper.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/ILabel.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.Mac.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Label/LabelHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ContextExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/MeasureSpecExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Mac/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Mac/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Mac/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/MaciOS/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/MaciOS/CoreGraphicsExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/LayoutView.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/PropertyMapper.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.Tests/PropertyMapperTests.cs
Labels: handlers

#12158 [iOS] Fix crash with TimePicker on iOS14
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11963.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: a/timepicker, i/high, iOS 14, p/iOS 🍎, t/bug :bug:

#12017 Resolve Layout changes during native measure/arrange pass
  Xamarin.Forms.Core/Device.cs
  Xamarin.Forms.Core/IPlatformInvalidate.cs
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/LayoutRenderer.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: Core, a/collectionview, p/Android, p/UWP, p/iOS 🍎

#12129 Fix flyout render quirks
  Xamarin.Forms.Core.UnitTests/ShellFlyoutItemGroupTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: Core, a/shell :shell:, blocker, p/Android, p/UWP, p/iOS 🍎

#12135 Implement Nullable Reference Types on Handler projects
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewAdapter.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.Mac.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.MaciOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/ViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ContextExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/LayoutView.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Primitives/Keyboard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Properties/AssemblyInfo.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/PropertyMapper.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Registrar.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Xamarin.Platform.Handlers.csproj
Labels: a/carouselview, a/collectionview, p/Android, p/iOS 🍎, p/macOS, t/housekeeping ♻︎

#10713 Only require 14393+ for UWP class libraries #10368
  .nuspec/Xamarin.Forms.targets
Labels: t/bug :bug:

#12263 Revert "[iOS] Call page appearing when restoring app from background (#11172) fixes #4986
  Xamarin.Forms.Platform.iOS/PageLifecycleManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: 4.8.0, a/shell :shell:, i/regression, mobcat, p/iOS 🍎, t/bug :bug:

#12261 [WPF] Fix styles for FormsFlyoutPage
  Xamarin.Forms.Platform.WPF/Themes/FormsFlyoutPage.xaml
  Xamarin.Forms.Platform.WPF/Themes/Generic.xaml
Labels: a/masterdetailpage, i/high, i/regression, p/WPF, t/bug :bug:

#12171 [UWP] Fix crash when specifying non-embedded font families (fixes #12153)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12153.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
Labels: 4.8.0, a/embedded fonts, a/fonts, blocker, i/critical, i/high, i/regression, p/UWP, t/bug :bug:

#12267 MacOS - Fix crash when invoking VisualElement.Focus()
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: p/iOS 🍎

#12294 [Build] Add code format workflow
  .github/workflows/dotnet-format-daily.yml
Labels: t/housekeeping ♻︎

#12288 [iOS] Fix DatePicker on iOS14
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11963.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
Labels: a/timepicker, i/high, iOS 14, p/iOS 🍎, t/bug :bug:

#12163 Fix WkWebViewRenderer to properly dispose and clear renderers
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11962.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12134.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/issue3262.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: a/webview, i/critical, i/regression, p/iOS 🍎, t/bug :bug:

#10523 [X] Xaml BindingDiagnostics
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/MultiBinding.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/BindingDiagnostics.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/BindingErrorEventArgs.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/VisualDiagnostics.cs
  Xamarin.Forms.Xaml.UnitTests/BindingDiagnosticsTests.xaml
  Xamarin.Forms.Xaml.UnitTests/BindingDiagnosticsTests.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: Core, a/Xaml </>, a/binding ⛓, t/enhancement ➕

#12099 Set Backdrop Color after Pane Opened
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
Labels: a/shell :shell:, p/UWP, t/bug :bug:
