Repository xamarin/Xamarin.Forms, pull requests merged in 2020-04, with the labels that each got.

#10103 [iOS,Android] Fix CurrentItem position when adding a item
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8964.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, blocker, mobcat, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#10156 Fix route removal to keep one default route if it's needed
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Routing.cs
Labels: Core, a/shell :shell:

#10130 [iOS] Fix SwipeItem issue with big icons
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemIconGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemSizeGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemSizeGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/fonticon, a/swipeview, p/iOS 🍎, t/bug :bug:

#10017 Fix 9997 [Bug] iOS Frame Shadow memory leak
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#10158 Only change out colors if they have actually changed
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarAppearanceTracker.cs
Labels: a/shell :shell:, blocker, p/Android, t/bug :bug:

#10140 Remove controller from UINavigationController stack when page is removed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6484.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: Core, a/shell :shell:, i/high, p/iOS 🍎, t/bug :bug:

#10144 Fixed not applied BarTintColor in iOS NavBar using iOS 13
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/navbar, blocker, i/high, i/regression, iOS 13, p/iOS 🍎, t/bug :bug:

#10176 Fix query string for ".." and renavigating
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: Core, a/shell :shell:, t/bug :bug:

#10185 Fix iOS <13 support
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: a/darkmode, blocker, i/high, i/regression, m/high impact :black_large_square:, p/iOS 🍎

#10072 Inverse Parent/Child fields for VisualDiagnostics.SendVisualTreeChanged
  Xamarin.Forms.Core/Element.cs
Labels: Core, a/Xaml </>

#9719 [GH-9440] - Fix Flyout remains open on FlyoutItem double click
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9440.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRenderer.cs
Labels: ControlGallery, Core, a/shell :shell:, blocker, p/Android, t/bug :bug:

#10150 [UWP] Fix TextBox styling to adopt Dark Theme
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml
  Xamarin.Forms.Platform.UAP/FormsAutoSuggestBoxStyle.xaml
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: ControlGallery, a/darkmode, p/UWP

#9886 Propagating StyleClass on ShellElements to Flyout templates
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/MenuItem.cs
  Xamarin.Forms.Core/MergedStyle.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/NavigableElement.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/VisualElement_StyleSheet.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.UAP/ElementExtensions.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutSeparator.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: Core, a/shell :shell:, blocker, m/high impact :black_large_square:, mobcat, p/Android, p/UWP, p/iOS 🍎, proposal-accepted, roadmap, t/enhancement ➕

#10145 [Tizen] Enable Page.ToolbarItem on Watch
  Xamarin.Forms.Platform.Tizen/Native/Watch/FormsMoreOptionItem.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PageRenderer.cs
Labels: p/Tizen

#10008 Add GetNamedColor for platform specific colors
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Core/ColorTypeConverter.cs
  Xamarin.Forms.Core/Device.cs
  Xamarin.Forms.Core/IPlatformServices.cs
  Xamarin.Forms.Core/NamedPlatformColor.cs
  Xamarin.Forms.DualScreen.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: Core, a/darkmode, blocker, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎

#9967 Remove RadioButton.ButtonSource API
  Xamarin.Forms.Controls/CoreGalleryPages/RadioButtonCoreGalleryPage.cs
  Xamarin.Forms.Core/RadioButton.cs
  Xamarin.Forms.Platform.Android/AppCompat/RadioButtonRenderer.cs
Labels: API-change, ControlGallery, Core, a/radiobutton :radio_button:, blocker, p/Android, radiobutton :radio_button:, t/bug :bug:

#10152 Fix 9939 [iOS][UWP] Dispose method not called when adding control inside the NavigationPage.TitleView
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/lifecycleevents, a/titleview, p/UWP, p/iOS 🍎, t/bug :bug:

#10128 [Tizen] Enable ListView.Scrolled event
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
Labels: p/Tizen

#10097 [Build] Pull Xamarin.Forms.Pages to it's own solution
  .gitignore
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.Pages.Azure/Xamarin.Forms.Pages.Azure.csproj
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.sln
  azure-pipelines.yml
  build/Xamarin.Forms.Pages.sln
  build/steps/build-windows.yml
Labels: p/UWP, t/housekeeping ♻︎

#10013 [iOS] Fixed scroll issue disabling a RefreshView
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/IsEnabledRefreshViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/IsEnabledRefreshViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshCollectionViewGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: ControlGallery, a/collectionview, a/refreshview :arrows_counterclockwise:, p/iOS 🍎, t/bug :bug:

#10011 [iOS] Fix initial wrong RefreshColor in RefreshView
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshScrollViewGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: ControlGallery, a/refreshview :arrows_counterclockwise:, hackathon, p/iOS 🍎, t/bug :bug:

#10010 [Android] Fix RefreshView Content Margin issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8689.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8689.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshLayoutMarginGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshLayoutMarginGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/RefreshViewGallery.cs
  Xamarin.Forms.Platform.Android/Renderers/RefreshViewRenderer.cs
Labels: ControlGallery, a/layout, a/refreshview :arrows_counterclockwise:, p/Android, t/bug :bug:

#9956 [UWP] Fix FontIcon issue using a empty font name
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
Labels: a/fonticon, p/UWP

#10189 Shell fix modal onappearing and hardware back button
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
Labels: Core, a/shell :shell:, p/Android, t/bug :bug:

#9044 [Enhancement] Expander control
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGalleries.cs
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/ExpanderViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Core/Expander.cs
  Xamarin.Forms.Core/ExpanderState.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
Labels: API-change, ControlGallery, F100, a/expander, roadmap, t/enhancement ➕

#10204 Slider value updates with Talk Back activated and volume buttons correctly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github1625.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
Labels: p/Android, t/bug :bug:

#10207 Fix navigation to expander test
  Xamarin.Forms.Core.UITests.Shared/Tests/ExpanderViewUITests.cs
Labels: Core

#6772 [Core] Stylesheets on page level now always override parent stylesheets
  Xamarin.Forms.Core.UnitTests/StyleSheets/StyleTests.cs
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/Element_StyleSheets.cs
  Xamarin.Forms.Core/MergedStyle.cs
  Xamarin.Forms.Core/StyleSheets/StyleSheet.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/VisualElement_StyleSheet.cs
Labels: Core, a/CSS, a/style, approved, in-progress, proposal-open, t/enhancement ➕

#8576 [Android] Make ItemDecoration implementations accessible
  Xamarin.Forms.Platform.Android/CollectionView/CarouselSpacingItemDecoration.cs
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
Labels: a/carouselview, a/collectionview, p/Android

#10015 [iOS] Fix issue refreshing and disabling the RefreshView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9326.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9326.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/RefreshViewGalleries/IsEnabledRefreshViewGallery.xaml
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: ControlGallery, a/refreshview :arrows_counterclockwise:, a/swipeview, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#10216 Fix coding style dead link in readme
  README.md
Labels: t/housekeeping ♻︎

#10161 #8783 - uwp - images - when the uwp app suspends and resumes again the image source should be reupdated as uwp replaces images with transparent images onResume
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: a/fonticon, p/UWP, t/bug :bug:

#10155 Fixed #9951 - Setting ThumbColor on Switch causes a square block
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9951.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
Labels: Android10, a/switch, p/Android, t/bug :bug:

#10218 [UITests] Fix scrolling test
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellInsets.cs
Labels: a/shell :shell:

#10227 Embedded font's now cache lookup to prevent double setups. fixes #10208
  Xamarin.Forms.Core/FontRegistrar.cs
  Xamarin.Forms.Platform.iOS/EmbeddedFontLoader.cs
Labels: Core, a/embedded fonts, iOS 13, p/iOS 🍎, t/bug :bug:

#10199 [iOS] Fix issue in NavBar setting a custom BackgroundImage
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.iOS/_9767CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9767.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: ControlGallery, a/navbar, blocker, i/high, i/regression, iOS 13, p/iOS 🍎, t/bug :bug:

#10235 [Tizen] Changed CarouselView scroll logic according to the Core change.
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ICollectionViewLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/IndicatorView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Tizen

#10255 [iOS] Fix NRE in NavigationController
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/navbar, blocker, i/high, i/regression, iOS 13, p/iOS 🍎, t/bug :bug:

#10236 [Tizen] Enhances ListView on Tizen
  Xamarin.Forms.Platform.Tizen/IRotaryInteraction.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Native/Scroller.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchListView.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchScroller.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: a/collectionview, p/Tizen

#10246 [iOS] Add null-check to prevent possible NRE
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: a/darkmode, blocker, i/high, i/regression, iOS 13, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#10247 [Bug] Expander + CollectionView: Expander content keeps reopening
  Xamarin.Forms.Core/Expander.cs
Labels: Core, t/bug :bug:

#10252 Fix default Shell flyout item templates
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/MenuItem.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/MenuShellItem.cs
  Xamarin.Forms.Core/Shell/NavigableElement.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: Core, a/shell :shell:, blocker, p/Android, p/iOS 🍎

#10259 [iOS] Fix CollectionView disposing of Delegator
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10222.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#10242 [iOS]Fix dispose of all events on CarouselViewRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10234.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, p/iOS 🍎, t/bug :bug:

#10237 [Tizen] Adds RadioButton
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: F100, p/Tizen, proposal-open, roadmap, t/enhancement ➕

#10079 [Android] Let user swap out Flyout Header on Shell
  Xamarin.Forms.Platform.Android.UnitTests/ShellTests.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
Labels: a/shell :shell:, p/Android, t/bug :bug:

#10244 Dualscreen updates to new apis and add hinge angle for UWP
  UWP.Build.props
  UWP.Build.targets
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/TwoPanePropertiesGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/TwoPanePropertiesGallery.xaml.cs
  Xamarin.Forms.DualScreen/DualScreenHelper.uwp.cs
  Xamarin.Forms.DualScreen/DualScreenInfo.android.cs
  Xamarin.Forms.DualScreen/DualScreenInfo.netstandard.cs
  Xamarin.Forms.DualScreen/DualScreenInfo.shared.cs
  Xamarin.Forms.DualScreen/DualScreenInfo.uwp.cs
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.DualScreen/DualScreenService.uwp.cs
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/dualscreen, p/Android, p/UWP

#9888 Change StateTriggerBase OnAttached and OnDetached methods to be public
  Xamarin.Forms.Core/AdaptiveTrigger.cs
  Xamarin.Forms.Core/CompareStateTrigger.cs
  Xamarin.Forms.Core/OrientationStateTrigger.cs
  Xamarin.Forms.Core/StateTrigger.cs
  Xamarin.Forms.Core/StateTriggerBase.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.DualScreen/SpanModeStateTrigger.shared.cs
  Xamarin.Forms.DualScreen/WindowSpanModeStateTrigger.shared.cs
Labels: Core, a/vsm-triggers

#10302 Rename AppTheme enum to OSAppTheme
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Core/AppThemeChangedEventArgs.cs
  Xamarin.Forms.Core/AppThemeColor.cs
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/IPlatformServices.cs
  Xamarin.Forms.Core/OSAppTheme.cs
  Xamarin.Forms.Core/OnAppTheme.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.DualScreen.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Xaml.UnitTests/OnPlatformTests.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnAppThemeExtension.cs
Labels: API-change, Core, a/Xaml </>, a/darkmode, blocker, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎

#9911 Handle "groups but no actual cells" cases for reloading UICollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9580.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9686.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: ControlGallery, a/collectionview, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#10287 [Tizen] Fix dependency service registration correctly
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/IVideoOutput.cs
  Xamarin.Forms.Platform.Tizen/Native/EmbeddingControls.cs
  Xamarin.Forms.Platform.Tizen/Native/MediaPlayerImpl.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
Labels: Core, p/Tizen

#8440 [Bug] [Core+WPF] Grid + ListView -> first row height not correct + width not correct + ArgumentOutOfRangeException when tapped
  Xamarin.Forms.Controls/ControlGalleryPages/ListViewSelectionColor.cs
  Xamarin.Forms.Controls/GalleryPages/GroupedListActionsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/GroupedListContactsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ListPage.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Core/StackLayout.cs
  Xamarin.Forms.Platform.WPF/CellControl.cs
  Xamarin.Forms.Platform.WPF/Converters/ViewToRendererConverter.cs
  Xamarin.Forms.Platform.WPF/FormsPanel.cs
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.WPF/WPFResources.xaml
Labels: ControlGallery, a/layout, a/listview, i/high, p/Android, p/UWP, p/WPF, p/iOS 🍎, t/bug :bug:

#10284 Update ItemsUpdatingScrollMode when element loaded on iOS
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionGallery.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: ControlGallery, a/collectionview, mobcat, p/iOS 🍎, t/bug :bug:

#10310 [Tizen] Adds OverlayContent to Application
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/Application.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: Core, p/Tizen

#10046 Entry and Editor RTL fixes
  Xamarin.Forms.Core.UnitTests/BindingBaseUnitTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/BackgroundColorTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/FlowDirectionTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/IsEnabledTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/PlatformTestFixture.cs
  Xamarin.Forms.Platform.UAP.UnitTests/RendererTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/RotationTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/ScaleTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.iOS.UnitTests/FlowDirectionTests.cs
  Xamarin.Forms.Platform.iOS/Renderers/AlignmentExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: Core, a/rtl, hackathon, p/UWP, p/iOS 🍎, t/bug :bug:

#7063 [WPF] Use project style SDK; target netcoreapp3.0
  .nuspec/Xamarin.Forms.Platform.WPF.nuspec
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: a/buildchain, approved, p/WPF

#10319 [Android] Set native properties from element if layout hasn't occurred
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.Android/Tests/RendererTests.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/ILayoutChanges.cs
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: 4.5.0, ControlGallery, a/button, a/fastrenderers, blocker, i/regression, p/Android, t/bug :bug:

#10328 Fix coloring of UWP Entry buttons
  Xamarin.Forms.Platform.UAP/FormsAutoSuggestBoxStyle.xaml
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: a/darkmode, a/entry, p/UWP, t/bug :bug:

#10241 Alignment fixes for CollectionView grid layouts on iOS
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
Labels: a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#9949 [SwipeView] Added IsEnabled and IsVisible properties to SwipeItem
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemIsEnabledGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemIsVisibleGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Core/ISwipeItem.cs
  Xamarin.Forms.Core/SwipeItem.cs
  Xamarin.Forms.Core/SwipeItemView.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#9237 Fix RTL on Shell to correctly propagate FlowDirection through the UIView Stack
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Core.UnitTests/EffectiveFlowDirectionExtensions.cs
  Xamarin.Forms.Core.UnitTests/FlowDirectionTests.cs
  Xamarin.Forms.Core/EffectiveFlowDirection.cs
  Xamarin.Forms.Core/Internals/PropertyPropagationExtensions.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Platform.iOS/Extensions/FlowDirectionExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SlideFlyoutTransition.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletShellFlyoutRenderer.cs
Labels: ControlGallery, a/rtl, a/shell :shell:, p/iOS 🍎, t/bug :bug:

#10336 [Android] Fix border clipping calculations
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4606.cs
  Xamarin.Forms.Platform.Android/Renderers/BorderDrawable.cs
Labels: 4.5.0, a/button, a/fastrenderers, p/Android, t/bug :bug:

#10327 AppTheme fix NRE
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml.cs
  Xamarin.Forms.Core/AppThemeColor.cs
  Xamarin.Forms.Core/Markup/DefaultBindableProperties.cs
  Xamarin.Forms.Core/OnAppTheme.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnAppThemeExtension.cs
Labels: ControlGallery, a/Xaml </>, a/darkmode, blocker, i/high, m/high impact :black_large_square:

#10347 [Tizen] Applying new style on SwitchCell
  Xamarin.Forms.Platform.Tizen/Cells/SwitchCellRenderer.cs
Labels: p/Tizen

#10239 [Android,Maps] Set initial MapRegion when map is ready
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
Labels: ControlGallery, a/maps :globe_with_meridians:, p/Android, t/bug :bug:

#10357 [Tizen] Fix exception updating empty OverlayContent
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: p/Tizen

#9384 [Tizen] Add material renderers for Editor and Picker
  Xamarin.Forms.Material.Tizen/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Tizen/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Material.Tizen/Native/MEditor.cs
  Xamarin.Forms.Material.Tizen/Native/MPicker.cs
  Xamarin.Forms.Platform.Tizen/Native/EditfieldEntry.cs
  Xamarin.Forms.Platform.Tizen/Native/Entry.cs
  Xamarin.Forms.Platform.Tizen/Native/IEntry.cs
  Xamarin.Forms.Platform.Tizen/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TimePickerRenderer.cs
Labels: a/visual, p/Tizen

#10371 Add Preserve attributes to all Export attributes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9794.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/DefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/HeightConstrainedTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/WidthConstrainedTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/collectionview, a/shell :shell:, p/iOS 🍎, t/bug :bug:

#10370 RadioButton Experimental Flag
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/RadioButtonCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/GalleryBuilder.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGalleries.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupGalleryPage.xaml
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGroupGalleryPage.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/Expander.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/RadioButton.cs
Labels: ControlGallery, a/radiobutton :radio_button:

#10363 [Tizen] Add Shell renderers for watch
  Xamarin.Forms.Platform.Tizen/ExportRendererAttribute.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Resource/wc_visual_cue.png
  Xamarin.Forms.Platform.Tizen/Shell/Watch/IShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/NavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellContentRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellRendererFactory.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellSectionItemsRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/Watch/ShellSectionNavigationRenderer.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: a/shell :shell:, p/Tizen

#10396 FontImageSource now uses Embedded Fonts on iOS
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: a/fonts, a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:

#10384 Fix previewer flakiness on Android
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: blocker, p/Android

#10383 Give elements inside flyout a namescope for VSM
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
Labels: Core, a/shell :shell:, blocker, t/bug :bug:

#10253 [iOS] Shell fix clear of ShellSection
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellItemIsVisible.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellContentCollection.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
Labels: Core, a/shell :shell:, blocker, p/Android, p/iOS 🍎

#10381 Propagate StyleClass from Items correctly
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
Labels: Core, a/shell :shell:, blocker, p/UWP, t/bug :bug:

#10399 Cherrypick #10396 (embedded fonts iOS fix) to 4.6
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
Labels: a/embedded fonts, a/fonts, a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:

#8684 MultiBinding! (Issue 4565)
  Xamarin.Forms.Core.UnitTests/MultiBindingTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/BindableProperty.cs
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingBase.cs
  Xamarin.Forms.Core/IMultiValueConverter.cs
  Xamarin.Forms.Core/Internals/MultiBindingProxy.cs
  Xamarin.Forms.Core/MultiBinding.cs
Labels: API-change, Core, a/Xaml </>, a/binding ⛓, blocker, m/high impact :black_large_square:, proposal-accepted, t/enhancement ➕

#9856 Add support for animation rate parameter
  Xamarin.Forms.Core/AnimationExtensions.cs
  Xamarin.Forms.Core/Tweener.cs
Labels: API-change, Core, a/animation 🎬, t/bug :bug:, t/enhancement ➕

#10394 Create ImageButton with correct Button Type
  Xamarin.Forms.Platform.iOS.UnitTests/ImageButtonTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/PlatformTestFixture.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ImageButtonRenderer.cs
Labels: 4.4.0, a/imagebutton, i/regression, p/iOS 🍎, t/bug :bug:

#10283 Expander + CollectionView issues
  Xamarin.Forms.Core/Expander.cs
Labels: Core, a/expander, t/bug :bug:

#10407 Add hack to get around google selection bug
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8291.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
Labels: 4.0.0, blocker, i/regression, p/Android, t/bug :bug:

#10122 [MacOS] Better handling of Dynamic color conversions
  Xamarin.Forms.ControlGallery.MacOS/NativeServices.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Controls/INativeColorService.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9962.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
Labels: ControlGallery, p/iOS 🍎, p/macOS, t/bug :bug:

#10468 [iOS] NavigationPage.HideNavigationBarSeparator doesn't work on iOS 13
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10438.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/navbar, a/navigation, p/iOS 🍎, t/bug :bug:

#10447 Revert #8090 Android scrollbar flashes
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
Labels: 4.4.0, a/entry, a/label, a/scrollview, a/visual, i/regression, p/Android, t/bug :bug:

#10459 Fix has VSM check to not use IsSet
  Xamarin.Forms.Core.UnitTests/VisualStateManagerTests.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/VisualStateManager.cs
  Xamarin.Forms.Platform.Android.UnitTests/ButtonTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
Labels: Core, a/binding ⛓, a/button, blocker, i/regression, p/Android, t/bug :bug:

#10404 Set Navigation Bar Text Color via SpannableString
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml.cs
  Xamarin.Forms.Platform.Android.UnitTests/AssertionExtensions.cs
  Xamarin.Forms.Platform.Android.UnitTests/Issues.cs
  Xamarin.Forms.Platform.Android.UnitTests/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android.UnitTests/TestClasses/_5560Model.cs
  Xamarin.Forms.Platform.Android.UnitTests/ToolbarExtensionsTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
Labels: ControlGallery, blocker, i/regression, p/Android, t/bug :bug:

#10401 Indicator shows # of indicators = MaximumVisible even when there are fewer items
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorGalleries.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSampleMaximumVisible.xaml
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSampleMaximumVisible.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#10479 Fix vsmac uwp targets
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.sln
Labels: p/UWP

#10474 Make managed cookies opt-in
  Xamarin.Forms.Core/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
Labels: 4.6.0, Core, a/webview, blocker, i/regression, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#10460 Removed useless Expander.Spacing property (Bug fix)
  Xamarin.Forms.Core/Expander.cs
Labels: Core, a/expander, t/bug :bug:

#10442 Runtime updating of AppTheme values
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml.cs
  Xamarin.Forms.Core.UnitTests/AppThemeTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/BindableObjectExtensions.cs
  Xamarin.Forms.Core/OnAppTheme.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Xaml.UnitTests/OnPlatformTests.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnAppThemeExtension.cs
Labels: API-change, ControlGallery, a/Xaml </>, a/darkmode, blocker, p/iOS 🍎, t/bug :bug:

#10450 [iOS, Android] Fix when we call ReloadData on CollectionView, Fix issue adding item to start of Collection on ANdroid
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10300.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/carouselview, a/collectionview, blocker, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#10494 Change API check to Oreo for coloring TextViews on ToolBar
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
Labels: blocker, p/Android

#10418 If Shell Element is already wrapped up just return the implicit parent
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: Core, a/shell :shell:, i/high, t/bug :bug:
