Repository xamarin/Xamarin.Forms, pull requests merged in 2020-08, with the labels that each got.

#11368 Drop AppTheme flag
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeGallery.cs
  Xamarin.Forms.Core.UnitTests/AppThemeTests.cs
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/BindableObjectExtensions.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Xaml.UnitTests/OnAppThemeTests.cs
  Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs
Labels: ControlGallery, a/Xaml </>, a/darkmode, approved, p/Android, p/iOS 🍎

#11323 [UWP] Fix SwipeView executes Command twice
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11251.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/SwipeViewRenderer.cs
Labels: a/swipeview, p/UWP, t/bug :bug:

#11602 Don't update safe area offset on non visible page
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10608.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootHeader.cs
Labels: a/shell :shell:, blocker, mobcat, p/Android, p/iOS 🍎, t/bug :bug:

#11638 [X] Box On Add
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11620.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh11620.xaml.cs
Labels: 4.8.0, a/Xaml </>, a/buildchain, i/regression, t/bug :bug:

#11629 [UWP] Enable mouse scrolling for Horizontal CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9631.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#11575 [Core] Unify LinearGradientBrush default values with WPF
  Xamarin.Forms.Core.UnitTests/LinearGradientBrushTests.cs
  Xamarin.Forms.Core/LinearGradientBrush.cs
Labels: API-change, Core, a/brushes, breaking, t/bug :bug:

#11287 [Android] Pass fading properties to HorizontalScrollViewContainer
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11185.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs
Labels: ControlGallery, a/scrollview, p/Android, t/bug :bug:

#9531 [MediaElement] Removed line that pauses player before setting it to null.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9525.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: a/mediaelement, i/high, p/iOS 🍎, t/bug :bug:

#11596 [Android] FlowDirection property now has an effect on label controls
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2447.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2447.xaml.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
Labels: a/label, a/rtl, p/Android, proposal-accepted, t/enhancement ➕

#11654 Drag and drop tweaks
  Xamarin.Forms.Core.UnitTests/DragGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/DropGestureRecognizerTests.cs
  Xamarin.Forms.Core/DragAndDrop/DragGestureRecognizer.cs
  Xamarin.Forms.Core/DragAndDrop/DropEventArgs.cs
  Xamarin.Forms.Core/DragAndDrop/DropGestureRecognizer.cs
  Xamarin.Forms.Core/ViewExtensions.cs
  Xamarin.Forms.Platform.Android/DragAndDropGestureHandler.cs
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
  Xamarin.Forms.Platform.iOS/DragAndDropDelegate.cs
Labels: Core, p/Android, p/UWP, p/iOS 🍎

#11668 Null check Element in VisualElementRenderer.LayoutSubviews
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10608.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: 4.8.0, a/brushes, a/layout, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#11666 [msbuild] skip XamlC target if no xaml files
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
Labels: a/Xaml </>

#11601 Easing type converter
  Xamarin.Forms.Build.Tasks/CompiledConverters/EasingTypeConverter.cs
  Xamarin.Forms.Core.UnitTests/EasingTests.cs
  Xamarin.Forms.Core/BindableProperty.cs
  Xamarin.Forms.Core/Easing.cs
  Xamarin.Forms.Core/EasingTypeConverter.cs
  Xamarin.Forms.Xaml.UnitTests/TypeConverterTests.xaml
  Xamarin.Forms.Xaml.UnitTests/TypeConverterTests.xaml.cs
Labels: Core, a/Xaml </>, a/animation 🎬, t/enhancement ➕

#11686 [A] fix typo. fixes #11684
  Xamarin.Forms.Platform.Android/Renderers/SwitchRenderer.cs
Labels: p/Android, t/housekeeping ♻︎

#11724 Set environment variables for UWP test results
  .gitignore
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla46363_2.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  build.cake
Labels: t/housekeeping ♻︎

#11697 EasingDesignTypeConverter
  Xamarin.Forms.Core.Design/EasingDesignTypeConverter.cs
  Xamarin.Forms.Core.Design/Xamarin.Forms.Core.Design.csproj
Labels: Core

#11699 Fix the memory leak problem of ListViewRenderer _headerRenderer
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: approved, p/WPF

#9732 [Bug] [iOS] platform-specific VisualElement Blur is misaligned
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: p/iOS 🍎, platform-specifics, retarget-branch-required, t/bug :bug:

#11755 [Android] Enable SetSupportMultipleWindows on WebView
  Xamarin.Forms.Platform.Android/Renderers/WebViewRenderer.cs
Labels: a/webview, p/Android

#11418 [Android, iOS] Fixed issue rendering Rectangle using Radius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11413.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11413.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/RectangleRenderer.cs
Labels: a/shapes, approved, i/high, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#11358 [Android] Fix swipe conflict between SwipeView and TabbedPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11314.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/listview, a/swipeview, a/tabbedpage, p/Android, t/bug :bug:

#11340 [Android] Fix issue in SwipeView using TapGestureRecognizer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11333.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11333.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/gestures 🖖, a/swipeview, p/Android, p/iOS 🍎, t/bug :bug:

#11733 [iOS] Fix RadialGradientBrush position issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11573.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11573.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.cs
Labels: a/brushes, approved, p/iOS 🍎, t/bug :bug:

#11762 [iOS] SwipeView closes using RemainOpen SwipeBehaviorOnInvoked
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11737.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11737.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11764.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11764.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, approved, p/iOS 🍎, t/bug :bug:

#11339 [iOS] ActivityIndicator starting animation only when attached to superview
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
Labels: a/activityindicator, p/iOS 🍎, t/bug :bug:

#11298 [Core] Invoke Clicked event tapping SwipeItems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11286.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/SwipeItem.cs
Labels: Core, a/swipeview, p/iOS 🍎, t/bug :bug:

#10646 [macOS] Dark Theme support
  Xamarin.Forms.Platform.MacOS/Cells/CellNSView.cs
  Xamarin.Forms.Platform.MacOS/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.MacOS/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.MacOS/Cells/TextCellRenderer.cs
  Xamarin.Forms.Platform.MacOS/Cells/ViewCellNSView.cs
  Xamarin.Forms.Platform.MacOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.MacOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: a/darkmode, a/label, p/iOS 🍎, p/macOS, t/bug :bug:

#11087 [WPF] Open DatePicker when control receives focus (to match other platforms)
  Xamarin.Forms.Platform.WPF/Renderers/DatePickerRenderer.cs
Labels: a/datepicker, p/WPF, t/bug :bug:

#6417 #3659 #3660 WPF/GTK ListView ContextMenu, SelectionBehavior fix
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6417.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/ListViewDemoPage.cs
  Xamarin.Forms.Core/IListViewController.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Platform.GTK/Controls/ListView.cs
  Xamarin.Forms.Platform.GTK/Controls/TableView.cs
  Xamarin.Forms.Platform.GTK/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: ControlGallery, a/listview, in-progress, p/WPF, p/gtk, retarget-branch-required, t/bug :bug:

#9144 [iOS] Fix touch conflict between Shell Flyout and SwipeView (on Device)
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9088.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/SwipeView.cs
Labels: ControlGallery, Core, a/collectionview, a/gestures 🖖, a/maps :globe_with_meridians:, a/shell :shell:, a/swipeview, a/visual, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS, retarget-branch-required, t/bug :bug:

#11821 [Tizen] Implement perspective rotation
  Xamarin.Forms.Platform.Tizen/Extensions/EvasMapExtensions.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: p/Tizen

#11830 Removed duplicated entry in Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: t/housekeeping ♻︎

#10682 [Android] Fix NRE accessing a disposed SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10679.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10679.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/navigation, a/swipeview, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#11860 [Build] Add auto-format daily action
  .github/workflows/dotnet-format-daily.yml
Labels: t/housekeeping ♻︎

#11862 Revert "[MediaElement] Removed line that pauses player before setting it to null
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9525.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: p/iOS 🍎

#11824 [Tizen] Add indicator to CarouselPage
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselPageRenderer.cs
Labels: p/Tizen

#11827 Fix CarouselView.VisibleViews default value
  Xamarin.Forms.Core/Items/CarouselView.cs
Labels: Core, a/carouselview, t/bug :bug:

#11820 [Tizen] CollectionView enhancement
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CarouselView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/EmptyItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ICollectionViewLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/StructuredItemsViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Tizen

#11780 [Tizen] Fix ShellSectionNavigation
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionNavigation.cs
Labels: a/shell :shell:, i/high, p/Tizen, t/bug :bug:

#11903 Fix Grid Starred Row/Column regressions
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: 4.8.0, Core, a/grid, a/layout, a/relativelayout, a/scrollview, i/regression, t/bug :bug:

#11906 [Core] Add an overload for async ImageSource
  Xamarin.Forms.Core/ImageSource.cs
Labels: API-change, Core, a/image

#11766 Create a specific XAML page for the ShellPageWrapper used for Shell Navigation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellStoreTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Core.UITests.Shared/Utilities/AppExtensions.cs
  Xamarin.Forms.Core.Windows.UITests/WindowsTestBase.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellPageWrapper.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellPageWrapper.xaml.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  build.cake
  build/steps/build-windows.yml
Labels: 4.8.0, ControlGallery, a/shell :shell:, blocker, i/regression, p/UWP, t/bug :bug:

#11195 [Android, iOS] Fix issue using ArcSegment to create a Path
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11190.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11190.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UnitTests/GeometryTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shapes/GeometryHelper.cs
  Xamarin.Forms.Platform.Android/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
Labels: Core, a/shapes, i/high, p/Android, p/iOS 🍎, p/macOS, t/bug :bug:

#11885 [Android] Fix Bottom Tab IsVisible with Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11869.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, blocker, p/Android, t/bug :bug:

#11873 [Core] Validate Segment points
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11653.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11653.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/PathSegmentTests.cs
  Xamarin.Forms.Platform.Android/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: Core, a/shapes, p/Android, p/iOS 🍎, t/bug :bug:

#11791 When navigating between Shell Items disconnect the renderers from the xplat elements
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11723.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/EventTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/IDisconnectable.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemTransition.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementPackager.cs
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: 4.7.0, a/navigation, a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:, t/enhancement ➕

#11893 [Tizen] Fix the lifecycle of application
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: approved, p/Tizen

#11891 [iOS] Fix position of placeholder (#11889)
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
Labels: a/editor, p/iOS 🍎, t/bug :bug:

#11871 [Tizen] Fix the behavior of the DisplayAlert
  Xamarin.Forms.Platform.Tizen/PopupManager.cs
  Xamarin.Forms.Platform.Tizen/ThemeConstants.cs
  Xamarin.Forms.Platform.Tizen/ThemeManager.cs
Labels: approved, p/Tizen

#11914 [Housekeeping] Changed UITest to run only on Android
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11333.xaml.cs
Labels: a/uitest, t/housekeeping ♻︎

#11884 Make CancelAnimations an extension method
  Xamarin.Forms.Core/ViewExtensions.cs
Labels: Core, breaking

#11897 [iOS] Fixed NRE in SearchBarRenderer OnSearchButtonClicked
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11865.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
Labels: a/searchbar, i/high, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#11879 First round of Drag and drop fixes
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragAndDropBetweenLayouts.xaml
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragAndDropBetweenLayouts.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragAndDropEvents.xaml
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragAndDropEvents.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragAndDropGallery.cs
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragPaths.xaml
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/DragPaths.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/DragGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/DropGestureRecognizerTests.cs
  Xamarin.Forms.Core/DragAndDrop/DataPackageOperation.cs
  Xamarin.Forms.Core/DragAndDrop/DragGestureRecognizer.cs
  Xamarin.Forms.Core/DragAndDrop/DropGestureRecognizer.cs
  Xamarin.Forms.Platform.Android/DragAndDropGestureHandler.cs
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
  Xamarin.Forms.Platform.iOS/DragAndDropDelegate.cs
Labels: API-change, ControlGallery, a/DragAndDrop, blocker, p/Android, p/UWP, p/iOS 🍎, proposal-open, t/bug :bug:, t/enhancement ➕

#11701 adding issue 9210 to shared issues
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9210.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/entry, hackathon, retarget-branch-required, t/bug :bug:

#11935 [iOS] Remove Appeared Check on Page Renderer
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: p/iOS 🍎

#11939 Remove Microsoft.NETCore.UniversalWindowsPlatform From nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.UWP/DualScreen.UWP.csproj
  EmbeddingTestBeds/Embedding.UWP/Embedding.UWP.csproj
  UWP.Build.targets
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
Labels: p/UWP

#11837 Duo SDK memory leak and Performance fixes
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  DualScreen/DualScreen.Android/MainActivity.cs
  DualScreen/DualScreen.Android/Resources/layout/Tabbar.xml
  DualScreen/DualScreen.Android/Resources/layout/Toolbar.xml
  DualScreen/DualScreen.iOS/DualScreen.iOS.csproj
  DualScreen/DualScreen/App.xaml.cs
  DualScreen/DualScreen/DualScreen.csproj
  DualScreen/DualScreen/DualScreenInfoGallery.xaml
  DualScreen/DualScreen/DualScreenInfoGallery.xaml.cs
  DualScreen/DualScreen/TwoPage.xaml.cs
  DualScreen/DualScreen/TwoPaneViewBonanza.xaml
  DualScreen/DualScreen/TwoPaneViewBonanza.xaml.cs
  DualScreen/DualScreen/TwoPaneViewGallery.cs
  Xamarin.Forms.DualScreen.sln
  Xamarin.Forms.DualScreen/DualScreenInfo.shared.cs
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.DualScreen/DualScreenService.uwp.cs
  Xamarin.Forms.DualScreen/NoDualScreenServiceImpl.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneView.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewLayoutGuide.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewMode.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewPriority.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewTallModeConfiguration.shared.cs
  Xamarin.Forms.DualScreen/TwoPaneViewWideModeConfiguration.shared.cs
  Xamarin.Forms.Platform.Android/DualScreen/IDualScreenService.cs
Labels: API-change, ControlGallery, a/Xaml </>, a/visual, p/Android, p/iOS 🍎

#10979 [GH-10729] Added Current Page in Shell
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: Core, a/shell :shell:, proposal-open, t/enhancement ➕

#9429 GH-8881 - Remove the line at the flyout's end
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
Labels: Core, a/shell :shell:, p/Tizen, p/iOS 🍎, t/bug :bug:

#11741 Fix for issue #10307, embedded fonts not working on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10307.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/EmbeddedFonts.xaml.cs
  Xamarin.Forms.Core/ExportFontAttribute.cs
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
Labels: ControlGallery, a/Xaml </>, a/embedded fonts, a/fonts, a/visual, m/high impact :black_large_square:, p/Android, p/UWP, t/bug :bug:

#11834 [Android] Fix SwipeView with gestures issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11496.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11496.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: 4.7.0, a/gestures 🖖, a/swipeview, i/regression, p/Android, t/bug :bug:
