Repository xamarin/Xamarin.Forms, pull requests merged in 2020-11, with the labels that each got.

#12651 Correction of CollectionView to work properly with selected item color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewBoundSingleSelection.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SelectionGalleries/SingleBoundSelection.xaml
  Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
Labels: 5.0.0-pre4, a/collectionview, blocker

#12655 [X] avoid crashing on null lineinfo
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
Labels: 5.0.0-pre4, blocker

#12667 EventArgs for BindingFailed must match Log.Warning
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/MultiBinding.cs
  Xamarin.Forms.Core/TypedBinding.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/BindingDiagnostics.cs
  Xamarin.Forms.Core/Xaml/Diagnostics/BindingErrorEventArgs.cs
Labels: Core, a/Xaml </>, a/binding ⛓

#12519 [C] BO.GetLocalValueEnumerator()
  Xamarin.Forms.Core/BindableObject.cs
Labels: 5.0.0-pre4, Core, blocker, proposal-open, t/enhancement ➕

#12632 iOS: CollectionView: ItemsViewLayout: Fix null reference on invalidate layout
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview, p/iOS 🍎

#11838 Fix to display toolbar icons under UWP Shell (partial fix for #11706).
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
Labels: a/shell :shell:, p/UWP, t/bug :bug:

#12623 APIS That need to be made public for contributors and Xamarin Community Toolkit
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/GestureRecognizer.cs
  Xamarin.Forms.Core/IPaddingElement.cs
  Xamarin.Forms.Core/NullEffect.cs
Labels: 5.0.0-pre4, Core, blocker, t/enhancement ➕, t/housekeeping ♻︎

#12721 [macOS] Fix ScrollTo on NSScrollView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Platform.MacOS/Renderers/ScrollViewRenderer.cs
Labels: ControlGallery, a/scrollview, p/macOS

#12708 [Tizen] Fix material style slider issue
  Xamarin.Forms.Material.Tizen/MaterialSliderRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SliderRenderer.cs
Labels: a/visual, p/Tizen

#12707 [Tizen] Fix custom font issue
  Xamarin.Forms.Platform.Tizen/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.Tizen/Extensions/FontExtensions.cs
Labels: p/Tizen

#12705 [Tizen] Modify NavigationDrawer to fix Entry issue
  Xamarin.Forms.Platform.Tizen/Shell/NavigationDrawer.cs
Labels: a/shell :shell:, p/Tizen

#12327 Added implementation for failure handling method for WkWe…
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
Labels: a/webview, hacktoberfest 🍻, hacktoberfest-accepted, p/iOS 🍎, t/bug :bug:

#12689 Fix BL.SetEmptyViewTemplate to use correct Bindable Property
  Xamarin.Forms.Core.UnitTests/BindableLayoutTests.cs
  Xamarin.Forms.Core/BindableLayout.cs
Labels: 5.0.0-pre4, Core, blocker, t/bug :bug:

#12520 [Android] Update Android X packages
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  DualScreen/DualScreen.Android/Properties/AndroidManifest.xml
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest.xml
  Xamarin.Forms.ControlGallery.Android/Properties/AndroidManifest30.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android.UnitTests/ButtonTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/ToolbarExtensionsTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  build.cake
Labels: ControlGallery, a/visual, blocker, p/Android, proposal-open, t/enhancement ➕

#12748 Microbuild sign
  azure-pipelines.yml
  build/SignList.xml
  build/steps/build-nuget.yml
  build/steps/build-sign.yml
Labels: t/housekeeping ♻︎

#12749 [iOS] Remove old file for RadioButton
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonCALayer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: blocker

#12741 Address failing TextTransform tests on Android
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
Labels: p/Android

#12730 Remove markup extensions
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11311.cs
  Xamarin.Forms.Controls/GalleryPages/DragAndDropGalleries/VariousDragAndDropPermutations.cs
  Xamarin.Forms.Core.UnitTests/Markup/BindableObjectExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/DefaultBindablePropertiesTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ElementExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ElementGesturesExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/FuncConverter.cs
  Xamarin.Forms.Core.UnitTests/Markup/GridRowsColumns.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsLeftToRightTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsRightToLeftTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LabelExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/LayoutExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/MarkupBaseTestFixture.cs
  Xamarin.Forms.Core.UnitTests/Markup/StyleTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsLeftToRightTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsRightToLeftTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewInFlexLayoutExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/ViewInGridExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Markup/VisualElementExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/Markup/BindableObjectExtensions.cs
  Xamarin.Forms.Core/Markup/DefaultBindableProperties.cs
  Xamarin.Forms.Core/Markup/ElementExtensions.cs
  Xamarin.Forms.Core/Markup/ElementGesturesExtensions.cs
  Xamarin.Forms.Core/Markup/FuncConverter.cs
  Xamarin.Forms.Core/Markup/GridRowsColumns.cs
  Xamarin.Forms.Core/Markup/LabelExtensions.cs
  Xamarin.Forms.Core/Markup/LayoutExtensions.cs
  Xamarin.Forms.Core/Markup/Markup.cs
  Xamarin.Forms.Core/Markup/Style.cs
  Xamarin.Forms.Core/Markup/ViewExtensions.cs
  Xamarin.Forms.Core/Markup/ViewInFlexLayoutExtensions.cs
  Xamarin.Forms.Core/Markup/ViewInGridExtensions.cs
  Xamarin.Forms.Core/Markup/VisualElementExtensions.cs
Labels: ControlGallery, blocker

#12547 Fixes 7913 Add UWP shell flyout scroll mode support
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
Labels: a/shell :shell:, blocker, p/UWP, t/bug :bug:

#12362 [UWP] Fixed wrong font path in FontImageSourceHandler
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/Fonts/materialdesignicons-webfont.ttf
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12344.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12344.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
Labels: 4.8.0, ControlGallery, a/fonticon, a/fonts, blocker, hacktoberfest 🍻, hacktoberfest-accepted, i/regression, p/UWP, t/bug :bug:

#11696 Add CV back into UWP tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewGrouping.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/CollectionViewItemsUpdatingScrollMode.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10300.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11224.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5354.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5376.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5535.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7102.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7803.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8964.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9686.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9827.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9929.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
  build.cake
Labels: t/housekeeping ♻︎

#12781 [Tizen] CollectionView optimize for TV profile
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/ItemsView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ViewHolder.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
Labels: a/collectionview, p/Tizen

#11206 [Android] Changes in the logic to detect Device.Idiom
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: 4.5.0, feedback-ticket, i/regression, p/Android, t/bug :bug:

#12713 Null check ShellContent on Menu Item Changed event
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12652.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker, p/UWP, t/bug :bug:

#12761 [Core] Brushes working with DynamicResource
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11691.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11691.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11911.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11911.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/BrushUnitTests.cs
  Xamarin.Forms.Core/Brush.cs
  Xamarin.Forms.Core/GradientBrush.cs
  Xamarin.Forms.Core/GradientStop.cs
  Xamarin.Forms.Core/Shapes/Shape.cs
  Xamarin.Forms.Core/VisualElement.cs
Labels: a/Xaml </>, a/brushes, a/shapes, blocker, t/bug :bug:

#12742 Bind RadioButton default template root properties to RadioButton's pr…
  Xamarin.Forms.Core.UnitTests/RadioButtonTemplateTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/RadioButton.cs
Labels: Core, a/radiobutton :radio_button:, blocker, iOS 14, p/iOS 🍎, t/bug :bug:

#11515 [Bug] [UWP] Fix GitHub 11513 - UWP Frame default Background color not consistent with other platforms
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla60787.xaml
  Xamarin.Forms.Platform.UAP/FrameRenderer.cs
Labels: a/frame, p/UWP, t/bug :bug:

#11474 Fix datetimepickerlocalization
  Xamarin.Forms.Build.Tasks/ErrorMessages.Designer.cs
  Xamarin.Forms.ControlGallery.iOS/GalleryPages/RegionalLocale.cs
  Xamarin.Forms.ControlGallery.iOS/Info.plist
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/DateTimePickerLocalizationTests.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/DatePage.xaml
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/DatePage.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/DateTimePickerGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/DateTimePickerGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/ILocalize.cs
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/KeyboardPage.xaml
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/KeyboardPage.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/TimePage.xaml
  Xamarin.Forms.Controls/GalleryPages/DateTimePickerGalleries/TimePage.xaml.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Platform.Android/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/DatePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/TimePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: ControlGallery, a/datepicker, a/timepicker, a/visual, blocker, p/Android, p/Tizen, p/UWP, p/iOS 🍎, t/bug :bug:

#12728 Remove unnecessary UpdateConstraints calls when rotating
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12193.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselTemplatedCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/carouselview, a/collectionview, blocker, in-progress, p/iOS 🍎, t/bug :bug:

#12646 Snapshot grid structure info instead of modifying it in place
  Xamarin.Forms.Core/Grid.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: 4.1.0, Core, a/grid, a/layout, blocker, i/high, m/high impact :black_large_square:, t/bug :bug:

#12804 Apply internet check to additional tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Helpers/UITestHelper.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/ScreenshotConditionalApp.cs
  Xamarin.Forms.Core.UITests.Shared/BaseTestFixture.cs
Labels: Core

#12769 Prevent layout hang on iOS when CollectionView is initially invisible
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12714.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, blocker, i/high, in-progress, p/iOS 🍎, t/bug :bug:

#12784 [iOS] Fix NRE in CarouselView without template
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12777.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, i/high, iOS 14, p/iOS 🍎, t/bug :bug:

#12787 [iOS] Remove hardcoded value on CarouselView loop calculations
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12574.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, blocker, i/high, p/iOS 🍎, t/bug :bug:

#12797 Fix multiple events on toolbar items
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7181.cs
  Xamarin.Forms.Platform.UAP/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellToolbarItemRenderer.cs
Labels: a/shell :shell:, blocker, p/UWP

#9781 [GH-6184] - Make able to disable tabs inside the MoreViewController [iOS]
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6184.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6184.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
Labels: 4.0.0, API-change, a/shell :shell:, blocker, i/high, p/iOS 🍎, t/bug :bug:

#12377 [iOS] Fix issue disposing the EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12374.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12374.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/carouselview, a/collectionview, blocker, hacktoberfest 🍻, hacktoberfest-accepted, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#12839 Updated bug report issue template with more detail
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: housekeeping

#12834 [X] ConvertToInvariant is invariant
  Xamarin.Forms.Core/BoundsTypeConverter.cs
  Xamarin.Forms.Core/CornerRadiusTypeConverter.cs
  Xamarin.Forms.Core/FlexEnums.cs
  Xamarin.Forms.Core/FontSizeConverter.cs
  Xamarin.Forms.Core/GridLengthTypeConverter.cs
  Xamarin.Forms.Core/PointTypeConverter.cs
  Xamarin.Forms.Core/RectTypeConverter.cs
  Xamarin.Forms.Core/RectangleTypeConverter.cs
  Xamarin.Forms.Core/Shapes/MatrixTypeConverter.cs
  Xamarin.Forms.Core/SizeTypeConverter.cs
  Xamarin.Forms.Core/ThicknessTypeConverter.cs
Labels: external-hotreload

#11933 [Bug] Correct the transformation calculation of views
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11931.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11931.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android.UnitTests/TransformationTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.UAP.UnitTests/TransformationTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
  Xamarin.Forms.Platform.WPF/VisualElementTracker.cs
  Xamarin.Forms.Platform.iOS.UnitTests/TransformationTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: a/layout, blocker, p/Tizen, p/UWP, p/WPF, p/iOS 🍎, t/bug :bug:

#12835 [iOS] Fixed flickering NavBar color issue on iOS 13 or higher
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/navbar, blocker, iOS 13, p/iOS 🍎, t/bug :bug:

#12901 [Tizen] Fix the FrameRender
  Xamarin.Forms.Platform.Tizen/SkiaSharp/FrameRenderer.cs
Labels: a/frame, p/Tizen

#12899 [Tizen] Fix ItemsView LogicalChild issue
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
Labels: a/collectionview, p/Tizen

#12882 [macOS] Fix InvalidCastException tapped RadioButton
  Xamarin.Forms.Platform.MacOS/Renderers/RadioButtonRenderer.cs
Labels: a/radiobutton :radio_button:, p/macOS, t/bug :bug:

#12914 Extra restore to fix 16.8 builds
  azure-pipelines.yml
  build.cake
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#12895 [iOS] Fixed RequestedThemeChanged raised twice issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12512.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/darkmode, p/iOS 🍎, t/bug :bug:

#12883 [iOS] Slider not responding to taps in iOS 14
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12084.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12084.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/slider, iOS 14, p/iOS 🍎, t/bug :bug:

#12928 [Android] Remove AndroidX Migration packages
  EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget.Build.targets
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
Labels: blocker, p/Android

#12442 [UWP] [Shell] Make Navigation and Transition overridable for Shell
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker, p/UWP

#12926 [C] Keep the Style value as backup
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Setter.cs
  Xamarin.Forms.Core/Style.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh12874.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh12874.xaml.cs
Labels: blocker, external-hotreload

#12935 Build AppX packages before doing Solution Restore to fix UWP UI tests
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#11160 [UWP] Fix crash PopAsync in CollectionView SelectionChanged
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11090.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, blocker, i/high, p/UWP, t/bug :bug:

#12921 [Tizen] Fix Frame cliping issue
  Xamarin.Forms.Platform.Tizen/SkiaSharp/CanvasViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/FrameRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/IClipperCanvas.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/SKClipperView.cs
Labels: a/shapes, p/Tizen

#12871 [iOS] Fix pushing same page as a modal on iOS13 in split mode
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8988.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/DisposeHelpers.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/modal, blocker, p/iOS 🍎

#12907 [iOS] Fix CollectionView EmptyView RTL issue
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewRTLGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/EmptyViewGalleries/EmptyViewRTLGallery.xaml.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, a/rtl, p/iOS 🍎, t/bug :bug:

#12439 [UWP] Make Navigation and Transition overridable for NavigationPage
  Xamarin.Forms.ControlGallery.WindowsUniversal/NavPageOverrideRenderer.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/NavPageOverrideUWP.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
Labels: ControlGallery, blocker, p/UWP

#12938 Enable Shell tests on UWP and fix a few bugs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11244.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6878.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  build.cake
Labels: a/shell :shell:, blocker, p/UWP

#12954 Add Shell Resource file explicitly
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Platform.UAP/Forms.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/shell :shell:, blocker, i/regression, p/UWP

#12681 [Android] Fix issue closing the SwipeView swiping
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12541.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12541.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/listview, a/swipeview, blocker, p/Android, t/bug :bug:

#11051 [iOS] Fix issue creating rectangle using Radius with a high value
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11033.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Tizen/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/RectangleRenderer.cs
Labels: a/shapes, blocker, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#11579 [Core] Detect PointCollection changes in Polyline
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11563.cs
  Xamarin.Forms.Platform.Android/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolylineRenderer.cs
Labels: Core, a/brushes, a/shapes, blocker, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:
