Repository xamarin/Xamarin.Forms, pull requests merged in 2020-06, with the labels that each got.

#10574 [UWP] Propagate CollectionView BindingContext to EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9833.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#10461 [Bug] Disabled Expander doesn't change its visual appearance
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/ExpanderGalleries/ExpanderGallery.xaml.cs
  Xamarin.Forms.Core/Expander.cs
Labels: ControlGallery, Core, a/expander, t/bug :bug:

#10782 [Tizen] Load image sync in case of FileImageSource
  Xamarin.Forms.Platform.Tizen/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ImageButtonRenderer.cs
Labels: p/Tizen

#7493 Feature7043 picker textalignment
  Xamarin.Forms.Controls/CoreGalleryPages/PickerCoreGalleryPage.cs
  Xamarin.Forms.Core/Picker.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.GTK/Extensions/AlignmentExtensions.cs
  Xamarin.Forms.Platform.GTK/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.UAP/AlignmentExtensions.cs
  Xamarin.Forms.Platform.UAP/PickerRenderer.cs
  Xamarin.Forms.Platform.WPF/Extensions/AlignmentExtensions.cs
  Xamarin.Forms.Platform.WPF/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: API-change, ControlGallery, Core, F100, a/visual, approved, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, proposal-accepted, t/enhancement ➕

#10768 [Tizen] Fix ListView header/footer padding issue
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchListView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ListViewRenderer.cs
Labels: a/listview, p/Tizen

#10772 RadionButton control for WPF
  Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  Xamarin.Forms.Platform.WPF/FormsRadioButton.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/RadioButtonRenderer.cs
Labels: ControlGallery, a/radiobutton :radio_button:, approved, p/WPF

#10827 Fixing null reference exception on Xamarin.Forms.Platform.Android\Ren…
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, t/bug :bug:

#10791 [X] Better error handling and reporting in XamlG
  Xamarin.Forms.Build.Tasks/XamlGTask.cs
  Xamarin.Forms.Build.Tasks/XamlGenerator.cs
Labels: a/Xaml </>, t/bug :bug:

#10592 [C/X] Clean API and impl of OnAppTheme
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml
  Xamarin.Forms.Core.UnitTests/AppThemeTests.cs
  Xamarin.Forms.Core/AppThemeColor.cs
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/BindableObjectExtensions.cs
  Xamarin.Forms.Core/OnAppTheme.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/VisualElementExtensions.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Xaml.UnitTests/OnAppThemeTests.cs
  Xamarin.Forms.Xaml.UnitTests/OnPlatformTests.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs
  Xamarin.Forms.Xaml/MarkupExtensions/OnAppThemeExtension.cs
Labels: ControlGallery, a/Xaml </>, a/darkmode, blocker, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#10798 [UWP] Fix SearchBar disposing
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
Labels: a/performance, a/searchbar, p/UWP

#10893 Limit scrollbar application to ItemsViewRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10497.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/Resources/values/attrs.xml
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker

#10815 Update Readme for setting up environment to build from source
  README.md
  Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup.csproj
  build.cake
  build/provisioning/provisioning.csx
Labels: approved, p/Android

#10770 [UWP] Fix Selected CollectionView VisualState issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9279.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9279.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/VSM, a/collectionview, approved, p/UWP, t/bug :bug:

#10932 Fix dead link to coding style in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: t/housekeeping ♻︎

#9250 [Bug] Fix ClearButtonVisibility.Never does not take effect on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8836.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: a/entry, p/UWP, t/bug :bug:

#10923 Add null check when tearing down element in UWP SelectableItemsViewRenderer
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: a/collectionview, blocker, i/high, p/UWP

#10916 [UWP] Open DatePicker and TimePicker Popup getting the focus
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10909.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/TimePickerRenderer.cs
Labels: a/datepicker, a/timepicker, p/UWP, t/bug :bug:

#10938 [Tizen] Update the CellRenderer for extensibility
  Xamarin.Forms.Platform.Tizen/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchListView.cs
Labels: p/Tizen

#10475 Fix SwipeItemView IsEnabled is not working
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemViewIsEnabledGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
Labels: ControlGallery, Core, a/swipeview, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:, t/housekeeping ♻︎

#10941 [Enhancement] Public StepperPositionProperty
  Xamarin.Forms.Core/Stepper.cs
Labels: Core, proposal-open, t/enhancement ➕

#10925 Fix incorrect shadow draw with disabled button
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml.cs
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: a/visual, p/Android

#8951 7856 - Shell BackButtonBehaviour TextOverride breaks back navigation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7856.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7856_1.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7856_1.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellBackButtonBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: ControlGallery, a/backbutton, a/shell :shell:, blocker, p/Android, p/iOS 🍎, t/bug :bug:

#10933 [HR] register sourceinfo before triggering change
  Xamarin.Forms.Build.Tasks/CreateObjectVisitor.cs
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/XamlCTask.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh10803.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh10803.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/CreateValuesVisitor.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>, blocker, external-hotreload, t/bug :bug:

#10917 [iOS] Fix disable and enable RefreshView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10699.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: 4.6.0, a/refreshview :arrows_counterclockwise:, i/regression, p/iOS 🍎, t/bug :bug:

#10963 Apply iOS 10 9686 fixes from 4.7 to 4.6
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview, p/iOS 🍎

#10952 [Tizen] Improve the SwitchCell performance
  Xamarin.Forms.Platform.Tizen/Cells/SwitchCellRenderer.cs
Labels: p/Tizen

#10948 Avoid using the dequeue mechanism to retrieve header/footer measurement cells on iOS 10
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview, blocker, p/iOS 🍎

#10759 Fix #9711 Failed to marshal HeaderWrapperView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9711.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9711.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, i/high, p/iOS 🍎, t/bug :bug:

#10521 #9012: [Enhancement] Allow extend GroupableItemsViewAdapter
  Xamarin.Forms.Platform.Android/CollectionView/GroupableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/StructuredItemsViewAdapter.cs
Labels: a/collectionview, p/Android

#10974 Fix local image loading on UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10961.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7015.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/ImageElementManager.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
Labels: 4.7.0, a/image, blocker, i/high, i/regression, m/high impact :black_large_square:, p/UWP, t/bug :bug:

#8104 Use HorizontalGrid and VerticalGrid string values to specify GridItemsLayout in XAML
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5577.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5577.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.Design/ItemsLayoutDesignTypeConverter.cs
  Xamarin.Forms.Core.UnitTests/ItemsLayoutTypeConverterTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Items/ItemsLayoutTypeConverter.cs
Labels: Core, a/collectionview, approved, hacktoberfest 🍻, proposal-accepted, t/enhancement ➕

#10976 Update to Latest 2.4 WinUI release
  .nuspec/Xamarin.Forms.nuspec
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: ControlGallery, a/shell :shell:, p/UWP

#10935 [UWP] Fix NRE using Native Forms
  Xamarin.Forms.Platform.UAP/FileImageSourceHandler.cs
Labels: a/embedding 📦, a/image, p/UWP, t/bug :bug:

#10839 [UWP] Changed default ScrollBarVisibility in CollectionView
  Xamarin.Forms.Platform.UAP/CollectionView/FormsListView.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#10762 [C] Catch typeconverter exceptions on bindings
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
Labels: Core, a/binding ⛓, i/high, t/bug :bug:

#10969 Fixed issue with nonexistent resource in AppTheme XAML sample
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeXamlGallery.xaml
Labels: ControlGallery, a/Xaml </>, a/darkmode, t/bug :bug:, t/housekeeping ♻︎

#10593 [iOS] Fix RTL support in CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7780.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
Labels: API-change, a/carouselview, a/collectionview, a/rtl, blocker, p/iOS 🍎, t/bug :bug:

#11016 Fixed wrong Rectangle type used in RectangleGeometry (Shapes)
  Xamarin.Forms.Core/Shapes/RectangleGeometry.cs
Labels: a/shapes, t/bug :bug:

#11002 Fix check for contextual routing with global pages
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: Core, a/navigation, a/shell :shell:, i/high, t/bug :bug:

#10915 [Android] Fix NRE disposing the AppCompat PickerRenderer
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
Labels: a/picker, i/high, p/Android, t/bug :bug:

#11022 [C] MultiBinding throw on missing conv or format
  Xamarin.Forms.Core/MultiBinding.cs
Labels: Core, a/binding ⛓, blocker, t/bug :bug:

#11023 [iOS] Add preserve to RadioButton
  Xamarin.Forms.Core.UITests.Shared/PlatformQueries.cs
  Xamarin.Forms.Core.UITests.Shared/Queries.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/RadioButtonUITests.cs
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.UITests.Shared/Xamarin.Forms.Core.UITests.projitems
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonRenderer.cs
Labels: 4.6.0, Core, a/radiobutton :radio_button:, blocker, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#11020 Verify if Composition Geometry IsTypePresent on UWP
  Xamarin.Forms.Platform.UAP/CompositionHelper.cs
  Xamarin.Forms.Platform.UAP/Extensions/ClipExtensions.cs
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: a/shapes, blocker, p/UWP, t/bug :bug:

#11012 [C/X] rename and ungenerify OnAppTheme
  Xamarin.Forms.Controls/GalleryPages/AppThemeGalleries/AppThemeCodeGallery.cs
  Xamarin.Forms.Core.UnitTests/AppThemeTests.cs
  Xamarin.Forms.Core/AppThemeBinding.cs
  Xamarin.Forms.Core/VisualElementExtensions.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensions/AppThemeBindingExtension.cs
Labels: ControlGallery, Core, a/Xaml </>, a/darkmode, blocker

#11021 [X] fix error with x:Name on shapes
  .nuspec/Xamarin.Forms.targets
  Xamarin.Forms.Build.Tasks/XamlGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/EllipseGallery.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/GH2691.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/MSBuild/MSBuildTests.cs
  Xamarin.Forms.Xaml.UnitTests/XamlgTests.cs
Labels: ControlGallery, a/Xaml </>, a/shapes, blocker

#11028 [Android] CustomRenderer object was created twice using SwipeView
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/_10940CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10940.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: ControlGallery, a/swipeview, p/Android, t/bug :bug:, t/housekeeping ♻︎

#11032 [iOS] Fix BackgroundColor issue with Frame
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11031.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS.UnitTests/BackgroundColorTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/CornerRadiusTests.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: 4.5.0, a/frame, blocker, i/regression, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#11035 Revert 8372 - Placeholder and Error Images
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10961.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7015.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Image.cs
  Xamarin.Forms.Platform.Android/Extensions/ImageViewExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/FileImageSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/IImageViewHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageLoaderSourceHandler.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.UAP/ImageElementManager.cs
  Xamarin.Forms.Platform.UAP/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs
Labels: API-change, Core, blocker, p/Android, p/UWP, p/iOS 🍎

#11015 [Tizen] Enhance the Page.ToolbarItem
  Xamarin.Forms.Platform.Tizen/Renderers/PageRenderer.cs
Labels: p/Tizen

#11040 Backport #11032 to 4.6.0
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11031.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS.UnitTests/BackgroundColorTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/CornerRadiusTests.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: 4.5.0, a/frame, blocker, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#11037 Make TestCase VisitAndCheckForItems public
  Xamarin.Forms.Core.UITests.Shared/Tests/CollectionViewUITests.cs
Labels: Core, a/collectionview

#11010 Add additional parameters to android build and fix iOS cake build
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  azure-pipelines.yml
  build.cake
  build/provisioning/provisioning.csx
  build/steps/build-android.yml
  build/steps/build-osx.yml
  build/steps/build-windows.yml
Labels: ControlGallery, p/iOS 🍎, t/housekeeping ♻︎

#11042 Backport #11032 to 4.6.0 (#11040)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11031.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: 4.5.0, a/frame, p/iOS 🍎, t/bug :bug:

#11065 [C] convert value on multibindings before apply
  Xamarin.Forms.Core.UnitTests/MultiBindingTests.cs
  Xamarin.Forms.Core/MultiBinding.cs
Labels: Core, a/binding ⛓, blocker, i/high, t/bug :bug:

#11044 Moved classes to Xamarin.Forms.Shapes
  Xamarin.Forms.Core/Shapes/FillRule.cs
  Xamarin.Forms.Core/Shapes/PenLineCap.cs
  Xamarin.Forms.Core/Shapes/PenLineJoin.cs
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.UAP/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: Core, a/shapes, p/Android, p/UWP, p/iOS 🍎, t/housekeeping ♻︎

#10999 Remove StateTriggersExperimental flag
  Xamarin.Forms.Controls/GalleryPages/VisualStateManagerGalleries/StateTriggerGallery.cs
  Xamarin.Forms.Core.UnitTests/StateTriggerTests.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/StateTriggerBase.cs
Labels: ControlGallery, a/VSM, a/vsm-triggers

#10846 [WPF] DatePicker Font support
  Xamarin.Forms.Controls/CoreGalleryPages/DatePickerCoreGalleryPage.cs
  Xamarin.Forms.Platform.WPF/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.WPF/Renderers/DatePickerRenderer.cs
Labels: ControlGallery, a/datepicker, a/fonts, p/WPF, t/bug :bug:

#10808 [iOS] Avoid crash setting CarouselView CurrentItem to null (navigating back)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10708.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: a/carouselview, a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#10614 [Android] Fix SwipeView touch issue scrolling on Device
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10875.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10875.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGestureRecognizerGallery.xaml
  Xamarin.Forms.Core/SwipeView.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/collectionview, a/swipeview, p/Android, t/bug :bug:

#11078 Null check WeakReference in UnapplyStyle
  Xamarin.Forms.Core.UnitTests/StyleTests.cs
  Xamarin.Forms.Core/Style.cs
Labels: Core, a/style, i/high, t/bug :bug:

#10566 [Android] Fix NRE changing SwipeItem visibility
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10530.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#10705 [Android] Fix CollectionView Header/Footer context issue using also EmptyView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10477.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10477.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#10797 [UWP] Allow to dynamically change the CollectionView ItemsLayout
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10482.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10482.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/StructuredItemsViewRenderer.cs
Labels: a/collectionview, a/layout, p/UWP, t/bug :bug:

#11079 Check renderer and view for null in UpdateTextAndImage
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
Labels: p/Android

#11080 [Tizen] Ensure the update of color after theme style changing
  Xamarin.Forms.Platform.Tizen/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TabbedPageRenderer.cs
Labels: p/Tizen

#11070 [Tizen] Fix initialize of Device Independent Pixel option
  Xamarin.Forms.Platform.Tizen/Forms.cs
Labels: p/Tizen

#11084 [iOS] Fix exception checking Element.IsLooping
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
Labels: a/mediaelement, i/high, p/iOS 🍎, t/bug :bug:

#11097 Null check for LightDismissLayer on UWP Shell
  Xamarin.Forms.Platform.UAP.UnitTests/ShellTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSplitView.cs
Labels: 4.7.0, a/shell :shell:, blocker, i/regression, p/UWP, t/bug :bug:

#11162 [WPF] Pass through AutomationProperties from Xamarin Forms
  Xamarin.Forms.ControlGallery.WPF/GifOne.gif
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.ControlGallery.WPF/photo.jpg
  Xamarin.Forms.Controls/ControlGalleryPages/AutomationPropertiesGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ButtonGallery.cs
  Xamarin.Forms.Platform.WPF/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.WPF/Renderers/ViewRenderer.cs
Labels: ControlGallery, a/a11y 🔍, p/WPF, t/bug :bug:

#10989 Retain TextColor and Font properties when using HTML Label on iOS
  Xamarin.Forms.Platform.iOS.UnitTests/AssertionExtensions.cs
  Xamarin.Forms.Platform.iOS.UnitTests/ColorComparison.cs
  Xamarin.Forms.Platform.iOS.UnitTests/HtmlLabelTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: a/embedded fonts, a/label, p/iOS 🍎, t/bug :bug:

#11159 [iOS] Fix NRE clearing ListView ContextActions
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
Labels: 4.6.0, a/listview, i/high, p/iOS 🍎, retarget-branch-required, t/bug :bug:

#11089 Remove EditorBrowsableState.Never from Matrix struct
  Xamarin.Forms.Core/Shapes/Matrix.cs
Labels: Core, a/shapes, t/bug :bug:

#10795 [UWP] Fix Stepper disposing
  Xamarin.Forms.Platform.UAP/StepperRenderer.cs
Labels: a/performance, a/stepper, p/UWP

#10793 [UWP] Fix Button disposing
  Xamarin.Forms.Platform.UAP/ButtonRenderer.cs
Labels: a/performance, p/UWP

#10736 migrate WPF ControlsGallery to .NET Core
  .nuspec/Xamarin.Forms.Maps.WPF.nuspec
  Xamarin.Forms.ControlGallery.WPF/Properties/Resources.Designer.cs
  Xamarin.Forms.ControlGallery.WPF/Properties/Resources.resx
  Xamarin.Forms.ControlGallery.WPF/Properties/Settings.Designer.cs
  Xamarin.Forms.ControlGallery.WPF/Properties/Settings.settings
  Xamarin.Forms.ControlGallery.WPF/Renderers/Issue6693ControlRenderer.cs
  Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  Xamarin.Forms.Maps.WPF/Xamarin.Forms.Maps.WPF.csproj
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/WindowChrome.cs
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/WindowChromeWorker.cs
  Xamarin.Forms.Platform.WPF/Properties/Resources.Designer.cs
  Xamarin.Forms.Platform.WPF/Properties/Resources.resx
  Xamarin.Forms.Platform.WPF/Properties/Settings.Designer.cs
  Xamarin.Forms.Platform.WPF/Properties/Settings.settings
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
Labels: ControlGallery, a/shell :shell:, p/WPF

#10346 [UWP] Physical mouse back button should use OnBackButtonPressed page override (#10324)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10324.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/NavigationPageRenderer.cs
Labels: a/navigation, p/UWP, t/bug :bug:

#11122 [iOS] Prevent CollectionView exception when item spacing is too large
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9929.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingGallery.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: ControlGallery, a/collectionview, i/high, in-progress, p/iOS 🍎, t/bug :bug:

#11188 [Nuget] Components governance
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
  .nuspec/Xamarin.Forms.nuspec
  Git.Build.targets
  PagesGallery/PagesGallery.Droid/PagesGallery.Droid.csproj
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
  Xamarin.Forms.Maps.GTK/Xamarin.Forms.Maps.GTK.csproj
  Xamarin.Forms.Maps.UWP/Xamarin.Forms.Maps.UWP.csproj
  Xamarin.Forms.Pages.Azure/Xamarin.Forms.Pages.Azure.csproj
  Xamarin.Forms.Pages.UnitTests/Xamarin.Forms.Pages.UnitTests.csproj
  Xamarin.Forms.Pages/Xamarin.Forms.Pages.csproj
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: ControlGallery, a/Xaml </>, p/Android, p/UWP, p/gtk, p/iOS 🍎, p/macOS

#11207 [UWP] Fix interaction issue with ScrollView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11106.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: 4.7.0, a/button, a/scrollview, i/high, i/regression, p/UWP, t/bug :bug:

#11094 Invert logic for SendBackButtonPressed on Shell
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: 4.6.0, Core, a/backbutton, a/shell :shell:, blocker, t/bug :bug:

#11124 Update the tab bar visibility before the layout of the subviews
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11107.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
Labels: 4.5.0, a/shell :shell:, blocker, i/regression, iOS 10, p/iOS 🍎, t/bug :bug:

#11095 Call Setting Page if SetPage has been delayed
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Issue10182Activity.cs
  Xamarin.Forms.ControlGallery.Android/MultiWindowService.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10182.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/IMultiWindowService.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
Labels: 4.5.0, ControlGallery, blocker, i/high, i/regression, m/high impact :black_large_square:, p/Android, retarget-branch-required, t/bug :bug:

#11111 [iOS] Added preserve default constructor in Shapes renderers
  Xamarin.Forms.Platform.iOS/Shapes/EllipseRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/LineRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PathRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/RectangleRenderer.cs
Labels: a/shapes, p/iOS 🍎, t/bug :bug:

#11212 [UWP] Cleanup _modalBackgroundPage
  Xamarin.Forms.Platform.UAP/Platform.cs
Labels: a/navigation, blocker, p/UWP

#10440 [UWP] Fixed issue disposing Pages
  Xamarin.Forms.ControlGallery.WindowsUniversal/_2489CustomRenderer.cs
  Xamarin.Forms.Platform.UAP/PageRenderer.cs
Labels: ControlGallery, a/performance, i/high, p/UWP, t/bug :bug:

#11125 [iOS] Fix Path TranslateTransform issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11113.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11113.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.iOS/Shapes/PathRenderer.cs
Labels: a/shapes, p/iOS 🍎, t/bug :bug:

#11223 Run iOS tests from the command line via cake
  .gitignore
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  build.cake
  build/steps/build-osx.yml
Labels: ControlGallery, p/iOS 🍎

#11139 [UWP] Fix Shapes issue using big margins
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11137.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Shapes/ShapeRenderer.cs
Labels: a/shapes, i/high, p/UWP, t/bug :bug:

#11131 [iOS] Update Clip logic to include more NRE validations
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.iOS/_11132CustomRenderer.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11132.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ViewUnitTests.cs
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: 4.7.0, ControlGallery, a/customrenderer, a/shapes, i/high, i/regression, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#11241 Fix iOSPlatform property
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: ControlGallery, p/iOS 🍎

#11243 Hide tabbar if only one tab is present
  Xamarin.Forms.Core/Shell/ShellItem.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
Labels: Core, a/shell :shell:, blocker, p/Android

#11232 Uwp ui tests
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal_TemporaryKey.pfx
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5108.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6698.cs
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/ControlGalleryPages/NativeBindingGalleryPage.cs
  Xamarin.Forms.Controls/ControlGalleryPages/NestedNativeControlGalleryPage.cs
  Xamarin.Forms.Controls/ControlGalleryPages/PinchGestureTestPage.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/CoreGalleryPages/CoreGalleryPage.cs
  Xamarin.Forms.Controls/CoreGalleryPages/ListViewCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/GroupedListActionsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/ImageSourcesGallery.cs
  Xamarin.Forms.Controls/MainPageLifeCycleTests.cs
  Xamarin.Forms.Controls/XamStore/Views/SearchHandlerPage.cs
  build.cake
  build/steps/build-windows.yml
Labels: ControlGallery

#11043 [UWP] Reuse the element when recycling an ItemContentControl
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
Labels: a/collectionview, in-progress, p/UWP, t/bug :bug:
