Repository xamarin/Xamarin.Forms, pull requests merged in 2020-03, with the labels that each got.

#9760 Ios 2017 compatible Xamarin.Forms.Platform.iOS
  .nuspec/Xamarin.Forms.nuspec
  .nuspec/Xamarin.Forms.targets
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.MacOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  azure-pipelines.yml
  build.cake
  build/steps/build-osx.yml
  build/steps/build-windows.yml
Labels: a/buildchain, a/visual, blocker, i/high, i/regression, p/iOS 🍎, p/macOS, t/bug :bug:

#9749 [Bug] DisplayPromptAsync overload hurts usability
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6713.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8526.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/PromptArguments.cs
Labels: API-change, Core, i/high, i/regression, t/bug :bug:

#9800 [BUG][iOS] IsVisible=false isn't working with Frame
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: a/frame, i/regression, t/bug :bug:

#9743 Fix null SwipeItem Parent in SwipeView
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewBindingContextGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewBindingContextGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Core/SwipeView.cs
Labels: ControlGallery, Core, a/swipeview, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#9733 Don't Init DualScreenService on non duo device
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/TwoPanePropertiesGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/TwoPaneViewGalleries/TwoPanePropertiesGallery.xaml.cs
  Xamarin.Forms.DualScreen.UnitTests/TwoPaneViewNotSpannedTests.cs
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.DualScreen/DualScreenService.uwp.cs
  Xamarin.Forms.DualScreen/TwoPaneView.shared.cs
Labels: a/dualscreen, approved, blocker, i/high, p/Android, t/bug :bug:

#7881 Add option to show traffic to maps control
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapGallery.xaml.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.Tizen/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Map.cs
Labels: ControlGallery, a/maps :globe_with_meridians:, hacktoberfest 🍻, p/Android, p/Tizen, p/UWP, p/iOS 🍎

#9836 [iOS] Fixed issues related with NavigationBar colors
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9767.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/navbar, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#9655 Set text color for disabled states on material buttons
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.iOS/MaterialButtonRenderer.cs
Labels: a/VSM, a/visual, approved, blocker, breaking, p/Android, p/iOS 🍎, t/bug :bug:

#9864 Amended typo in Obsolete Attribute message in EditorRenderer
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
Labels: p/Android, t/bug :bug:, t/housekeeping ♻︎

#9847 [WPF] Dont set Slider.Value if it already matches control
  Xamarin.Forms.Platform.WPF/Renderers/SliderRenderer.cs
Labels: p/WPF

#9889 Fixed mistake in StateTriggersExperimental verification
  Xamarin.Forms.Core/StateTriggerBase.cs
Labels: Core, a/vsm-triggers

#9877 Fix disposal pattern for NavigationRenderer and ParentingViewController
  Xamarin.Forms.ControlGallery.iOS/Tests/NavigationTests.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: ControlGallery, a/mdp, a/navigation, p/iOS 🍎, t/bug :bug:

#9863 [Housekeeping] NuGet Icon switch to PackageIcon
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.DualScreen.nuspec
  .nuspec/Xamarin.Forms.Maps.GTK.nuspec
  .nuspec/Xamarin.Forms.Maps.WPF.nuspec
  .nuspec/Xamarin.Forms.Maps.nuspec
  .nuspec/Xamarin.Forms.Pages.Azure.nuspec
  .nuspec/Xamarin.Forms.Pages.nuspec
  .nuspec/Xamarin.Forms.Platform.GTK.nuspec
  .nuspec/Xamarin.Forms.Platform.WPF.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: a/visual, hackathon, m/high impact :black_large_square:, p/WPF, p/gtk, proposal-accepted, t/enhancement ➕, t/housekeeping ♻︎

#9662 [iOS] Remove unused FormsButton to fix Aspect
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9054.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ImageButtonRenderer.cs
Labels: ControlGallery, a/imagebutton, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#9661 [Android] fix WxH used during draw
  Xamarin.Forms.ControlGallery.Android/Resources/drawable/coffee2.png
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9428.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
Labels: ControlGallery, a/imagebutton, i/regression, p/Android, t/bug :bug:

#9891 [C] Avoid NRE in Flex.OnMeasure
  Xamarin.Forms.Core/FlexLayout.cs
Labels: Core, a/flex, i/high, mobcat, t/bug :bug:

#9853 Fix 9842 [Bug][iOS] MasterDetailPage shadow platform-specific not applied when first set
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#9819 [UWP] Fixed crash setting the OnColor Switch property
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9694.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/SwitchRenderer.cs
Labels: a/switch, i/high, i/regression, p/UWP, t/bug :bug:

#9629 Don't apply changes to Controls if they don't have layout params
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8801.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.sln
Labels: 4.3.0, ControlGallery, i/high, i/regression, p/Android, partner, t/bug :bug:

#9637 [iOS] Fix SwipeView issue when swipe a Frame
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9588.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9588.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/frame, a/swipeview, p/iOS 🍎, t/bug :bug:

#9726 [Android, iOS] Allow transparent background color in SwipeView Content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9305.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9305.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, approved, i/high, i/regression, p/Android, p/iOS 🍎, t/bug :bug:

#9865 Asyncify platform tests
  Xamarin.Forms.ControlGallery.Android/LinkDescription.xml
  Xamarin.Forms.ControlGallery.Android/Tests/BackgroundColorTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/CollectionViewTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/CornerRadiusTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/IsEnabledTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/IsVisibleTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/Issues.cs
  Xamarin.Forms.ControlGallery.Android/Tests/OpacityTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.Android/Tests/PlatformTestSettings.cs
  Xamarin.Forms.ControlGallery.Android/Tests/RendererTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/RotationTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/ScaleTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/TestingPlatformService.cs
  Xamarin.Forms.ControlGallery.Android/Tests/TextTests.cs
  Xamarin.Forms.ControlGallery.Android/Tests/TranslationTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/BackgroundColorTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/IsEnabledTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/PlatformTestSettings.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/RendererTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/RotationTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/ScaleTests.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Tests/TestingPlatformService.cs
  Xamarin.Forms.ControlGallery.iOS/LinkDescription.xml
  Xamarin.Forms.ControlGallery.iOS/Tests/BackgroundColorTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/CornerRadiusTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/IsEnabledTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/IsVisibleTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/OpacityTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/PlatformTestFixture.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/PlatformTestSettings.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/RotationTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/ScaleTests.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/TestingPlatformService.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/TextTests.cs
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml
  Xamarin.Forms.Controls/GalleryPages/PlatformTestsGallery/PlatformTestsConsole.xaml.cs
  Xamarin.Forms.Controls/Tests/CrossPlatformTests.cs
  Xamarin.Forms.Controls/Tests/ITestingPlatformService.cs
  Xamarin.Forms.Controls/Tests/PlatformTestRunner.cs
Labels: ControlGallery, a/collectionview, p/Android, p/iOS 🍎

#9542 #6698 do not throw exeption when target of WeakReference was collected
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6698.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6698View2.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6698View2.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/TypedBinding.cs
Labels: Core, a/listview, i/high, t/bug :bug:

#8937 Add switches to build Control Gallery using the nuget produced by the build
  DevopsNuget.config
  Directory.Build.props
  Directory.Build.targets
  Environment.Build.props
  Nuget.targets
  Nuget/.gitignore
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Android10.Build.targets
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget2017.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget2019.Build.targets
  Xamarin.Forms.ControlGallery.Android/PlatformSpecificCoreGalleryFactory.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Directory.Build.targets
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Directory.Build.targets
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/Directory.Build.props
  Xamarin.Forms.Controls/Directory.Build.targets
  Xamarin.Forms.Controls/Nuget.Build.targets
  Xamarin.Forms.Controls/Source.Build.targets
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.DualScreen/DualScreenService.android.cs
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Pages.Azure/Xamarin.Forms.Pages.Azure.csproj
  Xamarin.Forms.Pages/Xamarin.Forms.Pages.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
  azure-pipelines.yml
  build.cake
  build/steps/build-android.yml
  build/steps/build-osx.yml
  build/steps/build-windows.yml
Labels: ControlGallery, a/maps :globe_with_meridians:, a/visual, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎, p/macOS

#9764 Fix ObjectDisposedException issues for renderers OnElementPropertyChanged
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Tests/Issues.cs
  Xamarin.Forms.ControlGallery.iOS/Tests/NavigationTests.cs
  Xamarin.Forms.Controls/Tests/CrossPlatformTestFixture.cs
  Xamarin.Forms.Controls/Tests/CrossPlatformTests.cs
  Xamarin.Forms.Controls/Tests/ObjectDisposedExceptionTests.cs
  Xamarin.Forms.Controls/Tests/TestClasses/_5560Model.cs
  Xamarin.Forms.Controls/Tests/TestClasses/_9431Model.cs
  Xamarin.Forms.Core/CheckBox.cs
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/CheckBoxRendererBase.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/BorderBackgroundManager.cs
  Xamarin.Forms.Platform.Android/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Android/Cells/TextCellRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/JavaObjectExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/BoxRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ProgressBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/StepperRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: ControlGallery, a/boxview, a/collectionview, a/fastrenderers, a/label, a/listview, approved, hacktoberfest 🍻, i/high, p/Android, p/iOS 🍎, t/bug :bug:

#7923 iOS13 Fix Modal lifecycle
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7878.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/UIModalPresentationStyle.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/PageExtensions.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: Core, a/lifecycleevents, a/modal, iOS 13, p/iOS 🍎, t/bug :bug:

#9820 [UWP] Fixed a crash hidden a DatePicker (Xamarin.Forms 4.5-pre4)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9783.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9783.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/DatePickerRenderer.cs
  Xamarin.Forms.Platform.UAP/TimePickerRenderer.cs
Labels: a/datepicker, i/high, i/regression, p/UWP, t/bug :bug:

#8471 [Android] Fix to 7534 - Prevent to breaking when spans have paragraph…
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7534.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
Labels: i/high, p/Android, t/bug :bug:

#9702 [iOS|Android] Fix screen reader order
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/A11yTabIndex.xaml
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/TabIndexTest/DayView.xaml
  Xamarin.Forms.Controls/TabIndexTest/DayView.xaml.cs
  Xamarin.Forms.Controls/TabIndexTest/DaysOfWeekView.xaml
  Xamarin.Forms.Controls/TabIndexTest/DaysOfWeekView.xaml.cs
  Xamarin.Forms.Controls/TabIndexTest/TabIndex.xaml
  Xamarin.Forms.Controls/TabIndexTest/TabIndex.xaml.cs
  Xamarin.Forms.Controls/TabIndexTest/ViewModels.cs
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.UnitTests/TabIndexTests.cs
  Xamarin.Forms.Core/TabIndexExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/UIViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
Labels: 3.3.0, ControlGallery, a/a11y 🔍, a/shell :shell:, i/high, m/high impact :black_large_square:, mobcat, p/Android, p/iOS 🍎, t/bug :bug:

#9978 [Build] Update pool and pipelines
  azure-pipelines.yml
  build.cake
  build/steps/build-android.yml
  build/steps/build-windows.yml
Labels: t/housekeeping ♻︎

#9921 Apply NRE fix from #9195 to Style
  Xamarin.Forms.Core/Style.cs
Labels: Core, a/style, blocker, i/high, t/bug :bug:

#9915 [Shell] Implement FlyoutBackgroundColor for UWP
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: a/shell :shell:, p/UWP

#9963 [macOS] Set default bezel style for button
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
Labels: p/macOS, t/bug :bug:

#9931 Unhook Header/Footer measure handlers on Dispose
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8308.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8308.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
Labels: ControlGallery, a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#9922 [XamlC] use XmlReader for detecting XAML and x:Class
  Xamarin.Forms.Build.Tasks/XamlTask.cs
  Xamarin.Forms.Xaml.UnitTests/CecilExtensionsTests.cs
  Xamarin.Forms.Xaml.UnitTests/Validation/MissingXClass.xaml
  Xamarin.Forms.Xaml.UnitTests/Validation/NotXaml.xaml
  Xamarin.Forms.Xaml.UnitTests/X2006Namespace.xaml
Labels: a/Xaml </>

#9907 Fix SwipeItem cast issue on SwipeView
  Xamarin.Forms.Core/SwipeView.cs
Labels: Core, a/swipeview, blocker

#9635 Add a way to open SwipeView programmatically
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/CloseSwipeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Core/SwipeEventArgs.cs
  Xamarin.Forms.Core/SwipeItems.cs
  Xamarin.Forms.Core/SwipeView.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, Core, a/swipeview, p/Android, p/iOS 🍎, proposal-open, t/enhancement ➕

#10001 [X] register asm in sourceinfo for xamlc
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
Labels: external-hotreload

#9972 Fix-9952 On<iOS>().SetHideNavigationBarSeparator(true) does not work on Xamarin.Forms latest stable version (4.5.0.356)
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: i/regression, p/iOS 🍎, t/bug :bug:

#8165 [UWP] Prevents Picker collapsing on opening Dropdown menu
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6403.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6403.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsComboBox.cs
Labels: hacktoberfest 🍻, i/low, p/UWP, t/bug :bug:

#9843 Fix-9838 [WPF] Picker does not respect BackgroundColor
  Xamarin.Forms.Platform.WPF/Renderers/PickerRenderer.cs
Labels: p/WPF, t/bug :bug:

#8530 Fixes Issue #6187 - Visual Material Underline color should match placeholder color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6187.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Material.Tizen/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
Labels: a/visual, m/high impact :black_large_square:, p/Android, p/Tizen, p/iOS 🍎, t/bug :bug:

#9854 [iOS,Android, UWP] Set Position and CurrentItem when ItemsSource items change
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9771.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9771.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselSnapGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSample.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/IndicatorViewGalleries/IndicatorsSampleMaximumVisible.xaml.cs
  Xamarin.Forms.Core.UITests.Shared/Tests/CarouselViewUITests.cs
  Xamarin.Forms.Core.UnitTests/CarouselViewTests.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/RecyclerViewScrollListener.cs
  Xamarin.Forms.Platform.Android/CollectionView/SingleSnapHelper.cs
  Xamarin.Forms.Platform.Android/Extensions/RecyclerExtensions.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/Extensions/CollectionViewExtensions.cs
  Xamarin.Forms.Platform.UAP/IndicatorViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewDelegator.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
  Xamarin.Forms.Platform.iOS/Extensions/UICollectionViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: ControlGallery, a/Xaml </>, a/carouselview, a/collectionview, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#9821 Fix Issue7242 iOS FontSize is calculated incorrectly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7242.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7242.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Forms.cs
  git
Labels: 4.1.0, ControlGallery, a/collectionview, a/maps :globe_with_meridians:, a/visual, approved, i/regression, p/Android, p/UWP, p/WPF, p/iOS 🍎, p/macOS, t/bug :bug:

#9725 [Android] Fix SwipeItems dispose when closing SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9646.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9646.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9735.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9735.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, blocker, i/regression, p/Android, t/bug :bug:

#9940 [iOS] Check if Current Item on Shell Section is set before proceeding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellItemIsVisible.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: a/shell :shell:, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#9664 [Android/iOS] Swipe to close in SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8767.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8767.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8778.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8778.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8781.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8781.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8782.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8973.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9088.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9306.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9734.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9734.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemsDisposeGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeItemsDisposeGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletShellFlyoutRenderer.cs
Labels: ControlGallery, a/shell :shell:, a/swipeview, blocker, i/high, p/Android, p/iOS 🍎, proposal-accepted, t/bug :bug:, t/enhancement ➕

#9004 #8183 Fix Base Class Selector with Descendant Selection
  Xamarin.Forms.Core.UnitTests/StyleSheets/BaseClassSelectorTests.cs
  Xamarin.Forms.Core.UnitTests/StyleSheets/SelectorTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/StyleSheets/Selector.cs
Labels: Core, a/CSS, t/bug :bug:

#10042 Fix failing UITest in 4.5 branch
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9306.cs
Labels: t/housekeeping ♻︎

#10041 [UWP] Make sure to call UpdateInitialPosition on CarouselView
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/UWP

#10036 [Build] Fixes to build on Catalina
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  azure-pipelines.yml
Labels: ControlGallery, p/Android, p/iOS 🍎

#10033 Remove embedding testbed projects from main solution
  EmbeddingTestBeds/EmbeddingTestBeds.sln
  Xamarin.Forms.Platform.Android.UnitTests/EmbeddingTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.UAP.UnitTests/EmbeddingTests.cs
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.iOS.UnitTests/EmbeddingTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.sln
Labels: p/Android, p/UWP, p/iOS 🍎

#10023 Fix 9265 [iOS] Frame BackgroundColor overflows CornerRadius
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: a/frame, hackathon, p/iOS 🍎, t/bug :bug:

#10054 Adds Color.FromHsva
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core/Color.cs
Labels: Core

#10058 Fixed failing SwipeView UITests on Android (Api Level 19)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9088.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9306.cs
Labels: p/Android, t/housekeeping ♻︎

#10068 [UWP] Fix PeekAreaInsets usage on CarouselViewRenderer
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ExampleTemplates.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PositionControl.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewStyles.xaml
  Xamarin.Forms.Platform.UAP/CollectionView/ScrollHelpers.cs
Labels: ControlGallery, a/carouselview, a/collectionview, a/indicatorview, blocker, p/UWP, t/bug :bug:

#9464 [iOS] Fixed SwipeView regression issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9417.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9417.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/SwipeView.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, Core, a/collectionview, a/swipeview, a/visual, blocker, i/high, i/regression, p/Android, p/Tizen, p/UWP, p/gtk, p/iOS 🍎, t/bug :bug:

#8551 Modal Page with transparent background
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8551.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/PageWithTransparentBkgnd.xaml
  Xamarin.Forms.Controls/GalleryPages/PageWithTransparentBkgnd.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/ShowModalWithTransparentBkgndGalleryPage.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/UIModalPresentationStyle.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.UAP/PageExtensions.cs
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.iOS/Extensions/Extensions.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/PageExtensions.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
Labels: ControlGallery, a/lifecycleevents, a/modal, a/shell :shell:, blocker, iOS 13, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:, t/enhancement ➕

#10081 Set Unit Test Projects to add when built from source or nuget
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
Labels: ControlGallery, p/Android, p/iOS 🍎

#10065 Update ColorTypeConverter to support HSVA
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core/ColorTypeConverter.cs
Labels: Core

#10083 [Tizen] Provides global Circle Surface for wearable
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/Application.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
Labels: API-change, Core, approved, p/Tizen, platform-specifics, t/enhancement ➕

#9194 Embedded fonts fix
  Xamarin.Forms.Controls/GalleryPages/EmbeddedFonts.xaml
  Xamarin.Forms.Core/FontRegistrar.cs
  Xamarin.Forms.Platform.Android/Renderers/FontExtensions.cs
  Xamarin.Forms.Platform.Tizen/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
  Xamarin.Forms.Platform.iOS/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.iOS/Extensions/FontExtensions.cs
Labels: ControlGallery, a/fonts, approved, p/Android, p/Tizen, p/UWP, p/iOS 🍎, t/bug :bug:

#10066 [iOS] Fix Label TextDecorations issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8272.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: 4.3.0, a/label, i/regression, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#10075 Add null check to OnActionItemClickedImpl
  Xamarin.Forms.Platform.Android/CellAdapter.cs
Labels: a/listview, i/high, p/Android, t/bug :bug:

#10063 Fix Shell to use white as default if no color is specified
  Xamarin.Forms.Platform.Android.UnitTests/ShellTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/Extensions/DrawableExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/IShellBottomNavigationViewAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellBottomNavViewAppearanceTracker.cs
Labels: a/shell :shell:, p/Android

#10028 Remove all uses of md5
  Xamarin.Forms.Core.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Core.UnitTests/UriImageSourceTests.cs
  Xamarin.Forms.Core/Crc64.cs
  Xamarin.Forms.Core/IPlatformServices.cs
  Xamarin.Forms.Core/UriImageSource.cs
  Xamarin.Forms.DualScreen.UnitTests/MockPlatformServices.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.GTK/GtkPlatformServices.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
  Xamarin.Forms.Platform.MacOS/Xamarin.Forms.Platform.macOS.csproj
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
  Xamarin.Forms.Platform.UAP/WindowsBasePlatformServices.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  Xamarin.Forms.Platform.WPF/Microsoft.Windows.Shell/Standard/Utilities.cs
  Xamarin.Forms.Platform.WPF/WPFPlatformServices.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: Core, a/shell :shell:, p/Android, p/Tizen, p/UWP, p/WPF, p/gtk, p/iOS 🍎, p/macOS

#9869 [AND] Default style to DayNight (Dark Theme support)
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
Labels: Android10, a/darkmode, blocker, p/Android

#9053 iOS Material Components Bump
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  EmbeddingTestBeds/Embedding.iOS/AppDelegate.cs
  EmbeddingTestBeds/Embedding.iOS/Embedding.iOS.csproj
  PagesGallery/PagesGallery.iOS/AppDelegate.cs
  PagesGallery/PagesGallery.iOS/PagesGallery.iOS.csproj
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/PerformanceTrackerRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Material.iOS/IMaterialTextField.cs
  Xamarin.Forms.Material.iOS/MaterialMultiLineTextField.cs
  Xamarin.Forms.Material.iOS/MaterialProgressBarRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialSliderRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialTextField.cs
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
Labels: ControlGallery, a/visual, p/Android, p/iOS 🍎

#10064 Shell hotreload fixes when changing Shell class
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
Labels: Core, a/shell :shell:, blocker

#10048 Fix navigating/navigated events and add ".." navigation
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Routing.cs
  Xamarin.Forms.Core/Shell/BaseShellItem.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: Core, a/navigation, a/shell :shell:, blocker, t/bug :bug:

#10099 [iOS] Fix SwipeView programmatically Open issue
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, p/iOS 🍎, t/bug :bug:

#9930 Fix6408 [WPF] box view not correctly restored
  Xamarin.Forms.Platform.WPF/Renderers/BoxViewRenderer.cs
Labels: p/WPF, t/bug :bug:

#8963 [core] Profile is off by default, save 56KB of allocations
  Xamarin.Forms.Core/Profiler.cs
  Xamarin.Forms.Core/Registrar.cs
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.UAP/FormsUWP.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: Core, a/performance, approved, p/Android, p/Tizen, p/UWP, p/iOS 🍎

#9840 [iOS] Hardcoded to Semantic colors (dark mode support)
  Xamarin.Forms.Platform.iOS/Cells/CellRenderer.cs
  Xamarin.Forms.Platform.iOS/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.iOS/Cells/TextCellRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/DefaultCell.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewCell.cs
  Xamarin.Forms.Platform.iOS/ContextActionCell.cs
  Xamarin.Forms.Platform.iOS/Extensions/ColorExtensions.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonCALayer.cs
  Xamarin.Forms.Platform.iOS/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletMasterDetailRenderer.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: a/collectionview, a/darkmode, a/shell :shell:, blocker, iOS 13, p/iOS 🍎, t/bug :bug:

#10125 Copy build to buildTransitive
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
Labels: a/visual, blocker, i/regression, t/bug :bug:

#10022 Ensure that Visual is available to EmptyView when renderers are created
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8766.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Element.cs
  Xamarin.Forms.Core/Internals/PropertyPropagationExtensions.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
  Xamarin.Forms.Platform.Android/CollectionView/EmptyViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SimpleViewHolder.cs
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplateHelpers.cs
Labels: Core, a/collectionview, a/visual, p/Android, p/iOS 🍎, t/bug :bug:

#10138 Add equivalent androidx proguard rules
  .nuspec/proguard.cfg
Labels: 4.5.0, blocker, p/Android
