Repository xamarin/Xamarin.Forms, pull requests merged in 2020-10, with the labels that each got.

#12322 Removed RadioButton Experimental flag
  Xamarin.Forms.Controls/CoreGalleryPages/RadioButtonCoreGalleryPage.cs
  Xamarin.Forms.Controls/GalleryPages/RadioButtonGalleries/RadioButtonGalleries.cs
  Xamarin.Forms.Core.UnitTests/DragGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/DropGestureRecognizerTests.cs
  Xamarin.Forms.Core.UnitTests/RadioButtonTests.cs
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/RadioButton.cs
Labels: ControlGallery, Core, a/radiobutton :radio_button:

#12286 [Core] Fixed wrong RoundRectangleGeometry calculation
  Xamarin.Forms.Controls/GalleryPages/ShapesGalleries/ClipGallery.xaml
  Xamarin.Forms.Core/Shapes/RoundRectangleGeometry.cs
Labels: ControlGallery, a/shapes, p/Android, p/iOS 🍎, t/bug :bug:

#12333 Fix readme language and Remove non functional bits
  .Xamarin.Forms.Android.slnf
  .Xamarin.Forms.UAP.slnf
  .Xamarin.Forms.iOS.slnf
  Nuget/.gitignore
  README.md
  Xamarin.Forms.DualScreen.sln
  eng/DevopsNuget.config
  eng/debug.keystore
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
Labels: ControlGallery, p/Android, p/UWP, p/iOS 🍎

#12368 Remove files that have been obsoleted by .editorconfig
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Resources/Layout/Android/BottomTabLayout.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/Android/FlyoutContent.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/Android/RootLayout.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/Android/ShellContent.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/BottomTabLayout.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/FallbackTabbarDoNotUse.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/FallbackToolbarDoNotUse.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/FlyoutContent.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/RootLayout.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/ShellContent.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/Tabbar.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/Toolbar.axml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.mdpolicy
  Xamarin.Forms.vssettings
Labels: t/housekeeping ♻︎

#12365 Fix layout cycle in ViewToRendererConverter
  Xamarin.Forms.Platform.UAP/ViewToRendererConverter.cs
Labels: a/layout, p/UWP

#12379 [handlers] Delete Makefile and format code
  Makefile
  src/Forms/src/Xamarin.Forms.Build.Tasks/BindablePropertyReferenceExtensions.cs
  src/Forms/src/Xamarin.Forms.Build.Tasks/NodeILExtensions.cs
  src/Forms/src/Xamarin.Forms.Core/BindingExpression.cs
  src/Forms/src/Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/ITextAlignment.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ContextExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Primitives/Keyboard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Registrar.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
Labels: handlers, t/housekeeping ♻︎

#12186 [Shell] Fix query parsing and allow more types for parameters
  Xamarin.Forms.Core.UnitTests/ShellParameterPassingTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shell/ShellContent.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: Core, a/navigation, a/shell :shell:, blocker, t/bug :bug:

#6432 Adds Shell Flyout Footer Template
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/FlyoutBehaviorShell.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/HeaderFooterShellFlyout.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/XamStore/Controls/FlyoutFooter.xaml
  Xamarin.Forms.Controls/XamStore/Controls/FlyoutFooter.xaml.cs
  Xamarin.Forms.Controls/XamStore/StoreShell.xaml
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core/Shell/IShellController.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellViewRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFooterRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
Labels: API-change, ControlGallery, Core, a/shell :shell:, blocker, p/Android, p/UWP, p/iOS 🍎, proposal-accepted, roadmap, t/enhancement ➕

#12317 Leave IMasterDetailPageController intact
  Xamarin.Forms.Core/FlyoutPage.cs
  Xamarin.Forms.Core/IFlyoutPageController.cs
Labels: 5.0.0, Core, a/masterdetailpage, a/mdp, blocker, i/regression, t/bug :bug:

#12331 When popping multiple pages remove middle pages first
  Xamarin.Forms.Core.UnitTests/ShellNavigatingTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRendererBase.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: Core, a/shell :shell:, p/Android, p/UWP, p/iOS 🍎

#12408 [WPF] Fix RadioButton crash
  Xamarin.Forms.Core/RadioButton.cs
  Xamarin.Forms.Platform.WPF/Renderers/RadioButtonRenderer.cs
Labels: a/radiobutton :radio_button:, p/WPF, t/bug :bug:

#12278 Make OnPlatform helpers public
  Xamarin.Forms.Core/PlatformConfigurationRegistry.cs
Labels: Core

#12316 Workaround for iOS material entry application freeze
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12246.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
Labels: a/visual, hacktoberfest 🍻, hacktoberfest-accepted, iOS 14, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#12432 [macOS] Fix BoxView Background issue
  Xamarin.Forms.Platform.MacOS/Renderers/BoxViewRenderer.cs
Labels: a/boxview, hacktoberfest 🍻, hacktoberfest-accepted, p/macOS, t/bug :bug:

#12367 [macOS] Change Bordered in NSButton in case necessary
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12222.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Renderers/ButtonRenderer.cs
Labels: a/button, hacktoberfest 🍻, hacktoberfest-accepted, p/macOS, t/bug :bug:

#12100 MultiBinding StringFormat with MultiValueConverter
  Xamarin.Forms.Core.UnitTests/MultiBindingTests.cs
  Xamarin.Forms.Core/MultiBinding.cs
Labels: Core, a/binding ⛓, t/bug :bug:

#12170 [Android] Account for user's setting of styles property textAllCaps
  Xamarin.Forms.ControlGallery.Android/Resources/values/styles.xml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11703.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/TextTransform.cs
  Xamarin.Forms.Platform.Android.UnitTests/ButtonTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android.UnitTests/TestClasses/ClearTextTransform.cs
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/ButtonLayoutManager.cs
  Xamarin.Forms.Platform.Android/Forms.cs
Labels: 4.8.0, ControlGallery, DO-NOT-MERGE-!!! :stop_sign:, i/regression, p/Android, t/bug :bug:

#12479 [Tizen] Fix CarouselPage rendering issue
  Xamarin.Forms.Platform.Tizen/Renderers/CarouselPageRenderer.cs
Labels: a/carouselpage, p/Tizen, t/bug :bug:

#12468 [Tizen] Fix the text selection issue of Entry
  Xamarin.Forms.Platform.Tizen/Extensions/EntryExtensions.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/ThemeConstants.cs
Labels: a/entry, p/Tizen

#12466 [Tizen] Support Vertical/HorizontalScrollStep to ScrollView
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/ScrollView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ScrollViewRenderer.cs
Labels: Core, a/scrollview, p/Tizen

#12452 [Tizen] Fix focused event missing issue
  Xamarin.Forms.Platform.Tizen/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TimePickerRenderer.cs
Labels: p/Tizen

#10873 Update google maps to the latest AndroidX bindings
  .nuspec/Xamarin.Forms.Maps.nuspec
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
Labels: Android10, a/maps :globe_with_meridians:, blocker, p/Android

#12501 [Tizen] Support Brushes to Tizen
  .nuspec/Xamarin.Forms.nuspec
  Xamarin.Forms.Platform.Tizen/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/Native/Box.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/BoxViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/CanvasViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/FrameRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/IBackgroundCanvas.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/ImageRenderer.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/Xamarin.Forms.Platform.Tizen.csproj
Labels: a/brushes, p/Tizen

#12427 [X] throw if x:Key isn't a string literal
  Xamarin.Forms.Build.Tasks/BuildException.cs
  Xamarin.Forms.Build.Tasks/ErrorMessages.Designer.cs
  Xamarin.Forms.Build.Tasks/ErrorMessages.resx
  Xamarin.Forms.Build.Tasks/SetPropertiesVisitor.cs
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.cs.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.de.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.es.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.fr.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.it.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.ja.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.ko.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.pl.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.pt-BR.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.ru.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.tr.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.zh-Hans.xlf
  Xamarin.Forms.Build.Tasks/xlf/ErrorMessages.zh-Hant.xlf
  Xamarin.Forms.Xaml.UnitTests/SetStyleIdFromXName.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/XStaticException.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/XamlLoaderGetXamlForTypeTests.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/xKeyLiteral.xaml
  Xamarin.Forms.Xaml.UnitTests/xKeyLiteral.xaml.cs
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/FillResourceDictionariesVisitor.cs
Labels: a/Xaml </>, hacktoberfest 🍻, hacktoberfest-accepted

#12412 fix attribute usage on ContentProperty
  Xamarin.Forms.Core/ContentPropertyAttribute.cs
Labels: Core, hacktoberfest 🍻, hacktoberfest-accepted

#12192 [Core] Slider Handlers
  Xamarin.Forms.sln
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/Issue7249SwitchRenderer.cs
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/_59457CustomRenderer.cs
  src/Forms/src/Xamarin.Forms.Core/HandlerImpl/Slider.Impl.cs
  src/Forms/src/Xamarin.Forms.Core/Slider.cs
  src/Platform.Handlers/samples/Sample.iOS/Info.plist
  src/Platform.Handlers/samples/Sample/Controls/Slider.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/samples/Sample/Sample.csproj
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IFrameworkElement.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/ISlider.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Label/LabelHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/ViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/DrawableExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/NativeVersion.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/SliderExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/MaciOS/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/MaciOS/CoreGraphicsExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/SliderExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/NativeVersion.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/SliderExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ViewExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/PortHandlerAttribute.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Primitives/FilterMode.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/AbstractViewHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/TestClasses/HandlerStub.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Cells/SwitchCellRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ActivityIndicatorRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/CircularProgress.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ProgressBarRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/SliderRenderer.cs
Labels: ControlGallery, Core, a/shell :shell:, a/slider, handlers, p/Android, p/iOS 🍎

#12390 VerticalStackLayout and HorizontalStackLayout
  Xamarin.Forms.sln
  src/Forms/src/Xamarin.Forms.Core/Layout.cs
  src/Forms/src/Xamarin.Forms.Core/StackLayout.cs
  src/Forms/src/Xamarin.Forms.Core/View.cs
  src/Platform.Handlers/samples/Sample.Droid/MainActivity.cs
  src/Platform.Handlers/samples/Sample/Controls/Button.cs
  src/Platform.Handlers/samples/Sample/Controls/FrameworkElement.cs
  src/Platform.Handlers/samples/Sample/Controls/HorizontalStackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/Label.cs
  src/Platform.Handlers/samples/Sample/Controls/Layout.cs
  src/Platform.Handlers/samples/Sample/Controls/Slider.cs
  src/Platform.Handlers/samples/Sample/Controls/StackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/VerticalStackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/View.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IFrameworkElement.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/ILayout.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IStackLayout.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/IViewHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Label/LabelHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Layout/LayoutHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Layout/LayoutHandler.Mac.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Layout/LayoutHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Layout/LayoutHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Layout/LayoutHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.MaciOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/View/AbstractViewHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/HorizontalStackLayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/ILayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/LayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/StackLayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/VerticalStackLayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/LabelExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/LayoutViewGroup.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/MeasureSpecExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/LabelExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/HandlerExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/LayoutView.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/MotionEventHelper.cs
Labels: ControlGallery, hacktoberfest 🍻, hacktoberfest-accepted, handlers, p/Android, p/iOS 🍎

#12320 Trigger pop logic when you replace back button with icon
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12126.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12320.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker, hacktoberfest 🍻, hacktoberfest-accepted, p/iOS 🍎, t/bug :bug:

#12475 Fix Grid regressions with text in star rows/columns
  Xamarin.Forms.Core.UnitTests/GridTests.cs
  Xamarin.Forms.Core/GridCalc.cs
Labels: 4.8.0, Core, a/collectionview, a/grid, a/layout, a/listview, i/high, i/regression, m/high impact :black_large_square:, t/bug :bug:

#12537 [Tizen] Added Shapes Tizen implementation
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.Platform.Tizen/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.Tizen/Extensions/GeometryExtensions.cs
  Xamarin.Forms.Platform.Tizen/Extensions/TransformExtensions.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/DefaultRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/EllipseRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/LineRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/PathRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shapes/ShapeView.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: a/shapes, p/Tizen

#12481 [Android] Protect NRE setting SwipeItem Drawable
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, t/bug :bug:

#12571 [Core] Replace "can not" to "cannot" in error messages
  Xamarin.Forms.Core/BindableObject.cs
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Core/CompressedLayout.cs
  Xamarin.Forms.Core/ImageSource.cs
  Xamarin.Forms.Core/Interactivity/BindingCondition.cs
  Xamarin.Forms.Core/Interactivity/Condition.cs
  Xamarin.Forms.Core/Interactivity/DataTrigger.cs
  Xamarin.Forms.Core/Interactivity/EventTrigger.cs
  Xamarin.Forms.Core/Interactivity/PropertyCondition.cs
  Xamarin.Forms.Core/Interactivity/Trigger.cs
  Xamarin.Forms.Core/Interactivity/TriggerBase.cs
  Xamarin.Forms.Core/Layout.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Core/LockableObservableListWrapper.cs
  Xamarin.Forms.Core/MultiBinding.cs
  Xamarin.Forms.Core/NavigationModel.cs
  Xamarin.Forms.Core/ResourceDictionary.cs
  Xamarin.Forms.Core/TemplateBinding.cs
  Xamarin.Forms.Core/TypedBinding.cs
Labels: Core, t/bug :bug:, t/housekeeping ♻︎

#12431 [X] add ConvertTo to typeconverters
  Xamarin.Forms.Build.Tasks/CompiledConverters/BindingTypeConverter.cs
  Xamarin.Forms.Core/AbsoluteLayout.cs
  Xamarin.Forms.Core/AcceleratorTypeConverter.cs
  Xamarin.Forms.Core/BindablePropertyConverter.cs
  Xamarin.Forms.Core/BindingTypeConverter.cs
  Xamarin.Forms.Core/BoundsTypeConverter.cs
  Xamarin.Forms.Core/BrushTypeConverter.cs
  Xamarin.Forms.Core/Button.cs
  Xamarin.Forms.Core/ColorTypeConverter.cs
  Xamarin.Forms.Core/ColumnDefinitionCollectionTypeConverter.cs
  Xamarin.Forms.Core/ConstraintTypeConverter.cs
  Xamarin.Forms.Core/CornerRadiusTypeConverter.cs
  Xamarin.Forms.Core/DecorableTextElement.cs
  Xamarin.Forms.Core/DoubleCollectionConverter.cs
  Xamarin.Forms.Core/EasingTypeConverter.cs
  Xamarin.Forms.Core/FileImageSourceConverter.cs
  Xamarin.Forms.Core/FlexEnums.cs
  Xamarin.Forms.Core/FlowDirection.cs
  Xamarin.Forms.Core/FontAttributes.cs
  Xamarin.Forms.Core/FontSizeConverter.cs
  Xamarin.Forms.Core/FontTypeConverter.cs
  Xamarin.Forms.Core/GridLengthTypeConverter.cs
  Xamarin.Forms.Core/ImageSourceConverter.cs
  Xamarin.Forms.Core/Items/CarouselLayoutTypeConverter.cs
  Xamarin.Forms.Core/Items/ItemsLayoutTypeConverter.cs
  Xamarin.Forms.Core/KeyboardTypeConverter.cs
  Xamarin.Forms.Core/LayoutOptionsConverter.cs
  Xamarin.Forms.Core/ListStringTypeConverter.cs
  Xamarin.Forms.Core/PointTypeConverter.cs
  Xamarin.Forms.Core/RectTypeConverter.cs
  Xamarin.Forms.Core/RectangleTypeConverter.cs
  Xamarin.Forms.Core/ReferenceTypeConverter.cs
  Xamarin.Forms.Core/ResourceDictionary.cs
  Xamarin.Forms.Core/RowDefinitionCollectionTypeConverter.cs
  Xamarin.Forms.Core/Shapes/MatrixTypeConverter.cs
  Xamarin.Forms.Core/Shapes/PathFigureCollectionConverter.cs
  Xamarin.Forms.Core/Shapes/PathGeometryConverter.cs
  Xamarin.Forms.Core/Shapes/PointCollectionConverter.cs
  Xamarin.Forms.Core/Shapes/TransformTypeConverter.cs
  Xamarin.Forms.Core/SizeTypeConverter.cs
  Xamarin.Forms.Core/TextAlignment.cs
  Xamarin.Forms.Core/ThicknessTypeConverter.cs
  Xamarin.Forms.Core/TypeConverter.cs
  Xamarin.Forms.Core/TypeTypeConverter.cs
  Xamarin.Forms.Core/UriTypeConverter.cs
  Xamarin.Forms.Core/VisualElement.cs
  Xamarin.Forms.Core/Visuals/VisualTypeConverter.cs
  Xamarin.Forms.Core/WebViewSourceTypeConverter.cs
Labels: Core, blocker, hacktoberfest 🍻, hacktoberfest-accepted

#12212 Let developers choose the UITableViewStyle (enable developers to use the new iOS13 style InsetGrouped)
  Xamarin.Forms.Platform.iOS/Renderers/TableViewRenderer.cs
Labels: p/iOS 🍎

#12160 Fix AcceptedOperation so it propagates to UWP correctly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12060.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Core.Windows.UITests/WinDriverApp.cs
  Xamarin.Forms.Platform.UAP/VisualElementTracker.cs
Labels: Core, a/DragAndDrop, blocker, p/UWP, t/bug :bug:

#12169 Fix WebView Navigated Status Bug In Android
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
Labels: p/Android

#12611 Check TargetPlatformIdentifier for UAP
  .nuspec/Xamarin.Forms.targets
Labels: blocker

#12361 [UWP] Fix CarouselView scroll issue
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, hacktoberfest 🍻, hacktoberfest-accepted, p/UWP, t/bug :bug:

#11532 Fix Null reference exception on UpdateIsRefreshing when the window is resized
  Xamarin.Forms.Platform.UAP/RefreshViewRenderer.cs
Labels: i/high, p/UWP, retarget-branch-required, t/bug :bug:

#11734 [Android] Fix diagonal LinearGradientBrush issues
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11571.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11571.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11715.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11715.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/LinearGradientPointsGallery.xaml
  Xamarin.Forms.Platform.Android/Extensions/BrushExtensions.cs
Labels: ControlGallery, a/brushes, p/Android, t/bug :bug:

#11074 [Android] Fix exception removing item from CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10865.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10865.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/CarouselViewTests.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableGroupedSource.cs
Labels: Core, a/carouselview, a/collectionview, i/high, p/Android, t/bug :bug:

#12634 [C] get the name of a scoped object
  Xamarin.Forms.Core/Internals/NameScope.cs
Labels: blocker

#12654 [iOS] Fixed IndicatorView rendering issue on iOS 14
  Xamarin.Forms.Platform.iOS/Renderers/IndicatorViewRenderer.cs
Labels: a/indicatorview, p/iOS 🍎, t/bug :bug:

#11748 [Android] Fixed RadialGradientBrush Frame rendering issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11572.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11572.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
Labels: a/brushes, a/frame, i/high, p/Android, t/bug :bug:

#11941 [Android] Snap Points not working in CollectionView with GridItemsLayout
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11938.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11938.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/Android, t/bug :bug:

#11904 [iOS] Avoid SwipeBehaviorOnInvoked="RemainOpen" triggers event twice
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11643.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11643.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/swipeview, p/iOS 🍎, t/bug :bug:

#12676 [UWP] Fixed crash in CarouselView resizing the Window
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10897.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10897.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#12657 [HR] fix 2 logicalchildren issues
  Xamarin.Forms.Core/Cells/ViewCell.cs
  Xamarin.Forms.Core/ListView.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh10803.xaml.cs
Labels: 5.0.0-pre4, blocker

#11811 [iOS] Fix Page orientation issue using LinearGradientBrush
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11800.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/brushes, p/iOS 🍎, t/bug :bug:

#12472 Fix NRE on List Click
  Xamarin.Forms.Core/ListView.cs
Labels: Core, a/listview, p/WPF, t/bug :bug:

#11915 [iOS] Fix Transparent Modal issue
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
Labels: a/modal, a/navigation, i/regression, p/iOS 🍎, t/bug :bug:

#11199 [iOS] Fix exception in Picker
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11155.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: a/picker, i/high, i/regression, p/iOS 🍎, t/bug :bug:
