Repository xamarin/Xamarin.Forms, pull requests merged in 2020-01, with the labels that each got.

#8872 Account for item spacing when providing grouped insets
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8345.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewDelegator.cs
Labels: a/collectionview, p/iOS 🍎, t/bug :bug:

#9010 Fix cross-thread exception when finalizing ButtonRenderer
  Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
Labels: p/iOS 🍎

#7315 [Enhancement] Add platform specific property to handle iOS UITabBar Translucent property
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/TabbedPage.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/TranslucencyMode.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
Labels: API-change, Core, approved, in-progress, p/iOS 🍎, platform-specifics, t/enhancement ➕

#8645 Fix WPF Entry crashes when IsPassword=true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8644.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/FormsTextBox.cs
  Xamarin.Forms.Platform.WPF/Renderers/EntryRenderer.cs
Labels: approved, p/WPF, t/bug :bug:

#8950 [MacOS] Fix NRE with NavigationPage on pre-Mojave
  Xamarin.Forms.Platform.MacOS/NativeToolbarTracker.cs
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: i/regression, p/iOS 🍎, p/macOS, t/bug :bug:

#8980 [Xaml] Create value from positional argument text of markup extension
  Xamarin.Forms.Build.Tasks/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml.UnitTests/MarkupExpressionParserTests.cs
  Xamarin.Forms.Xaml/ExpandMarkupsVisitor.cs
  Xamarin.Forms.Xaml/MarkupExpressionParser.cs
  Xamarin.Forms.Xaml/MarkupExtensionParser.cs
Labels: a/Xaml </>, t/bug :bug:

#8875 [Bug] [iOS] [Shell] "Nav Stack consistency error" when Swiping to Dismiss
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8461.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎, t/bug :bug:

#9025 [Tizen] Load image synchronously
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/Image.cs
  Xamarin.Forms.Platform.Tizen/Extensions/ImageExtensions.cs
  Xamarin.Forms.Platform.Tizen/Native/Image.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ImageRenderer.cs
Labels: Core, p/Tizen

#8968 [C,X] Resolve indexers on base class
  Xamarin.Forms.Build.Tasks/TypeReferenceExtensions.cs
  Xamarin.Forms.Core/BindingExpression.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh8936.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh8936.xaml.cs
Labels: Core, a/Xaml </>, a/binding ⛓, i/regression, t/bug :bug:

#8889 Resolve issues with Shell ToolbarItems not reacting to CanExecute Changes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8741.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Internals/ToolbarTracker.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: Core, a/shell :shell:, approved, blocker, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#9008 [iOS] Reduce casting and repeat math during BoxView drawing
  Xamarin.Forms.Platform.iOS/Renderers/BoxRenderer.cs
Labels: a/performance, p/iOS 🍎

#8982 [Tizen] Fix back button issue in Shell navigation
  Xamarin.Forms.Platform.Tizen/Shell/ShellNavBar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionNavigation.cs
Labels: a/shell :shell:, approved, p/Tizen, t/bug :bug:

#8873 [Tizen] Enhancement LightweightPlatform on Tizen
  Xamarin.Forms.Platform.Tizen/LightweightPlatform.cs
  Xamarin.Forms.Platform.Tizen/Platform.cs
  Xamarin.Forms.Platform.Tizen/PopupManager.cs
Labels: approved, p/Tizen, t/enhancement ➕

#7532 Fixes Bug with TabbedPage pushed onto Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github6384.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
Labels: a/shell :shell:, p/Android, p/iOS 🍎, t/bug :bug:

#8048 [iOS] Add UpdateMode platform-specific to DatePicker and TimePicker
  Xamarin.Forms.Controls/GalleryPages/PickerGallery.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/DatePicker.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/TimePicker.cs
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: ControlGallery, hacktoberfest 🍻, p/iOS 🍎

#9068 [Tizen] Gif Animation Support
  Xamarin.Forms.Platform.Tizen/Renderers/ImageRenderer.cs
Labels: F100, blocker, community-sprint, p/Tizen, roadmap, t/enhancement ➕

#3420 [UWP] Added Windows Platform Specific to avoid set the default image directory
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/coverassets1.jpg
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3228.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3228.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/PlatformConfiguration/WindowsSpecific/Application.cs
  Xamarin.Forms.Platform.UAP/FileImageSourceHandler.cs
Labels: ControlGallery, Core, in-progress, p/UWP, platform-specifics, t/enhancement ➕

#9034 Exit image code if native control is destroyed
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8262.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/CheckBoxDesignerRenderer.cs
  Xamarin.Forms.Platform.Android/AppCompat/CheckBoxRendererBase.cs
  Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageElementManager.cs
  Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsImageView.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsTextView.cs
  Xamarin.Forms.Platform.Android/Renderers/LabelRenderer.cs
Labels: approved, blocker, p/Android, t/bug :bug:

#8938 [core] perf improvements for Assembly attributes reflection
  Xamarin.Forms.Core/DependencyService.cs
  Xamarin.Forms.Core/ReflectionExtensions.cs
  Xamarin.Forms.Core/Registrar.cs
Labels: Core, a/performance

#8884 [core] improve Color & Clamp performance
  Xamarin.Forms.Core.UnitTests/ColorUnitTests.cs
  Xamarin.Forms.Core.UnitTests/NumericExtensionsTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Color.cs
  Xamarin.Forms.Core/NumericExtensions.cs
Labels: Core, a/performance

#9067 Don't copy system files to appcenter
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  build/steps/build-osx.yml
Labels: Core, p/iOS 🍎

#8250 Fixed 8211 - Handled NullRef in Shell if incorrectly-configured
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRootRenderer.cs
Labels: Core, a/shell :shell:, hacktoberfest 🍻, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#9120 fix Profile FrameEnd call
  Xamarin.Forms.Core/Registrar.cs
Labels: Core, t/housekeeping ♻︎

#9086 Detect when popped to root on iOS after clicking on Tab
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9006.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/IShellSectionController.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSectionRenderer.cs
Labels: Core, a/shell :shell:, blocker, e/3 :clock3:, p/iOS 🍎, t/bug :bug:

#9082 [iOS] Take into account the specified UITabBar.Appearance.
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
Labels: p/iOS 🍎, t/bug :bug:

#8946 Fix Android SeachBarRenderer CreateNativeControl issue
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: p/Android

#9084 [platform] improve perf of PropertyChangedEventArgsExtensions
  Xamarin.Forms.Platform.Android/CollectionView/PropertyChangedEventArgsExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.UAP/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.UAP/PropertyChangedEventArgsExtensions.cs
  Xamarin.Forms.Platform.iOS/CollectionView/PropertyChangedEventArgsExtensions.cs
Labels: a/carouselview, a/collectionview, a/performance, p/Android, p/UWP, p/iOS 🍎

#9124 send remove events
  Xamarin.Forms.Core/Xaml/Diagnostics/VisualDiagnostics.cs
Labels: Core, a/Xaml </>, external-hotreload

#7946 Update the CarouselView Position setting the CurrentItem
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7924.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7924.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: ControlGallery, Core, a/carouselview, a/collectionview, approved, p/Android, p/iOS 🍎, t/bug :bug:

#8858 [android] remove Anticipator.cs for now
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/performance, p/Android

#9135 [Core] remove array covariant cast for UWP
  Xamarin.Forms.Core/Registrar.cs
Labels: Core

#8905 [Tizen] Shell: FlyoutBackgroundImage, FlyoutBackgroundImageAspect
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.Tizen/Xamarin.Forms.ControlGallery.Tizen.csproj
  Xamarin.Forms.Material.Tizen/Shell/MaterialNavigationView.cs
  Xamarin.Forms.Material.Tizen/Xamarin.Forms.Material.Tizen.csproj
  Xamarin.Forms.Platform.Tizen/Extensions/ImageExtensions.cs
  Xamarin.Forms.Platform.Tizen/Native/Image.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/INavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellRenderer.cs
Labels: ControlGallery, a/shell :shell:, a/visual, m/high impact :black_large_square:, p/Tizen, t/enhancement ➕

#8819 Added the SwipeView tag to the Core Gallery samples
  Xamarin.Forms.Controls/GalleryPages/SwipeViewGalleries/SwipeViewGallery.cs
Labels: ControlGallery, a/swipeview, t/housekeeping ♻︎

#8773 Fix 8743 - now using specific style in SearchBar [UWP]
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8743.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsAutoSuggestBoxStyle.xaml
  Xamarin.Forms.Platform.UAP/Resources.xaml
  Xamarin.Forms.Platform.UAP/SearchBarRenderer.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: approved, i/regression, p/UWP, t/bug :bug:

#8720 Add UWP display prompt
  Xamarin.Forms.Platform.UAP/Platform.cs
  Xamarin.Forms.Platform.UAP/PromptDialog.xaml
  Xamarin.Forms.Platform.UAP/PromptDialog.xaml.cs
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
Labels: p/UWP, t/enhancement ➕

#5185 [Enhancement] Added NavigationPage.IconColorProperty
  Xamarin.Forms.Core/NavigationPage.cs
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: API-change, Core, F100, in-progress, p/Android, p/iOS 🍎, t/enhancement ➕

#8887 [android/ios] improve perf when not using Application.Properties
  Xamarin.Forms.Platform.Android/Deserializer.cs
  Xamarin.Forms.Platform.Tizen/Deserializer.cs
  Xamarin.Forms.Platform.iOS/Deserializer.cs
Labels: a/performance, approved, p/Android, p/Tizen, p/iOS 🍎

#8688 Add workaround header to bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: t/housekeeping ♻︎

#8056 Fixes 7992 Changes UWP DatePicker to show the picker flyout on DatePickerFocus()
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7992.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/DatePickerRenderer.cs
Labels: hacktoberfest 🍻, p/UWP, t/bug :bug:

#8214 [UWP] Attempt to resolve entry on UWP not correctly calculating the correct height when in a scroll view
  Xamarin.Forms.ControlGallery.WindowsUniversal/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2172.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2172.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/EditorRenderer.cs
  Xamarin.Forms.Platform.UAP/EntryRenderer.cs
  Xamarin.Forms.Platform.UAP/FormsTextBox.cs
Labels: ControlGallery, a/customrenderer, a/flex, hacktoberfest 🍻, p/UWP, t/bug :bug:

#9145 Apply cecil fixes to make packages 2017 compatible
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Stubs/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS (Forwarders).csproj
  Xamarin.Forms.ControlGallery.iOS/PlatformSpecificCoreGalleryFactory.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Material.iOS/Xamarin.Forms.Material.iOS.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  azure-pipelines.yml
  build.cake
  build/steps/build-osx.yml
Labels: ControlGallery, a/visual, p/Android, p/iOS 🍎

#9172 Add null check to GetIconColor
  Xamarin.Forms.Core/NavigationPage.cs
Labels: Core, i/regression

#9165 Fix introduced ABI breaks
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: i/high, i/regression, p/Android, t/bug :bug:

#9180 [Android] Fix color filter usage on API29
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: p/Android

#9160 Make CarouselView.IsBounceEnabled work on initialization
  Xamarin.Forms.Controls/CoreGalleryPages/CarouselViewCoreGalleryPage.cs
  Xamarin.Forms.CustomAttributes/TestAttributes.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: ControlGallery, a/carouselview, a/collectionview, p/Android, t/bug :bug:

#9148 Add null check in UpdateFlowDirection
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
Labels: a/rtl, i/high, p/iOS 🍎, t/bug :bug:

#9138 [Tizen] Supports Custom/Embedded and System fonts
  GitInfo.txt
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/EmbeddedFontLoader.cs
  Xamarin.Forms.Platform.Tizen/Extensions/FontExtensions.cs
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LabelRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/TimePickerRenderer.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
Labels: a/fonts, approved, p/Android, p/Tizen, t/enhancement ➕

#8454 Fix previous page's toolbar item being grayed out when canceling swipe to previous page.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5596.cs
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/toolbar, p/iOS 🍎, t/bug :bug:

#9192 Undo unrelated changes from master
  GitInfo.txt
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
Labels: p/Android, t/housekeeping ♻︎

#9195 Avoid NRE removing WeakReferences (and remove null ones)
  Xamarin.Forms.Core/Interactivity/AttachedCollection.cs
Labels: Core, i/high, i/regression, t/bug :bug:

#8824 [Android|iOS] Fixed SwipeItem cut off issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8782.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8782.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UITests.Shared/UITestCategories.cs
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: Core, a/swipeview, p/Android, p/iOS 🍎, swipeview, t/bug :bug:

#9114 [Core] performance improvements around bindings
  Xamarin.Forms.Core/Binding.cs
  Xamarin.Forms.Core/BindingBase.cs
  Xamarin.Forms.Core/BindingBaseExtensions.cs
  Xamarin.Forms.Core/BindingExpression.cs
Labels: Core, a/performance, approved

#7383 Fixed the rounding issue when the stepper value is incremented.
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5168.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/StepperUnitTests.cs
  Xamarin.Forms.Core/Stepper.cs
Labels: Core, a/stepper, t/bug :bug:

#8828 [iOS] Fixed SwipeItemView rendering issue
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8781.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8781.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: ControlGallery, a/swipeview, approved, i/high, p/iOS 🍎, swipeview, t/bug :bug:

#8406 When application is running outside previewer set a flag early on so inspection code doesn't slow down startup
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/ContextExtensions.cs
Labels: a/performance, approved, forms-previewer-sdk, p/Android

#8443 Implements ListView Header and Footer for WPF
  Xamarin.Forms.Platform.WPF/Renderers/ListViewRenderer.cs
Labels: a/listview, p/WPF

#9204 [iOS] Update CollectionView constrains when Bounds changes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8902.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8902.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/carouselview, a/collectionview, a/layout, blocker, p/iOS 🍎, t/bug :bug:

#8790 Shell Modal Behavior
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellModal.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/ShellLifeCycleTests.cs
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Application.cs
  Xamarin.Forms.Core/Shell/PresentationMode.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellItemCollection.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellSectionCollection.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  Xamarin.Forms.Platform.iOS/FormsApplicationDelegate.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/PlatformRenderer.cs
Labels: Core, a/shell :shell:, approved, blocker, iOS 13, p/Android, p/iOS 🍎, proposal-accepted, t/enhancement ➕

#7925 Disable XamlC task for VS Live Unit Testing
  .nuspec/Xamarin.Forms.targets
Labels: a/buildchain, t/bug :bug:

#9207 Don't use priority parameter with menu parameter
  Xamarin.Forms.ControlGallery.Android/Tests/Issues.cs
  Xamarin.Forms.Platform.Android/Extensions/ToolbarExtensions.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: ControlGallery, a/shell :shell:, a/toolbar, blocker, i/high, i/regression, p/Android, t/bug :bug:

#9239 Uwp trace
  Xamarin.Forms.Platform.UAP/Forms.cs
Labels: external-intellisense, p/UWP

#9217 [Android, iOS] Improve the swipe threshold used in Execute Mode
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, p/iOS 🍎

#8791 UIStatusBarStyle now changes correctly when a device is in dark mode
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8294.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: a/darkmode, approved, iOS 13, p/iOS 🍎, t/bug :bug:

#9157 [CSS] reapply Stylesheet on StyleClass changes
  Xamarin.Forms.Core/Element_StyleSheets.cs
  Xamarin.Forms.Core/MergedStyle.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2678.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh2678.xaml.cs
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh8936.xaml.cs
Labels: Core, a/CSS, a/Xaml </>, mobcat, t/bug :bug:

#9226 [android] remove the Anticipator for 4.5.0 and master
  Xamarin.Forms.Platform.Android/Forms.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: p/Android

#9247 Add intermediate dialog classes to handle legacy/appcompat dialog
  Xamarin.Forms.Platform.Android/PopupManager.cs
Labels: i/critical, i/regression, p/Android, t/bug :bug:

#9132 Bump WinUI Nuget version if you are using Min target >= 16299
  .nuspec/Xamarin.Forms.nuspec
  PagesGallery/PagesGallery.UWP/PagesGallery.UWP.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.csproj
  build.cake
Labels: ControlGallery, blocker, p/UWP

#9225 Embed templates
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/AndroidX/FallbackTabbarDoNotUse.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/AndroidX/FallbackToolbarDoNotUse.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/AndroidX/Tabbar.axml
  Xamarin.Forms.Platform.Android/Resources/Layout/AndroidX/Toolbar.axml
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: blocker, p/Android

#9294 [HR] complement the sourceinfo with assemblyname
  Xamarin.Forms.Xaml.UnitTests/Issues/Bz24485.xaml
  Xamarin.Forms.Xaml/ApplyPropertiesVisitor.cs
  Xamarin.Forms.Xaml/XamlLoader.cs
Labels: a/Xaml </>

#8654 [Android] Fix issue automatically closing the SwipeView when scrolling
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, approved, i/high, p/Android

#9246 Bump CG to 18362 for consistency of testing
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
Labels: ControlGallery, t/housekeeping ♻︎

#9327 Make create shell table view controller virtual
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
Labels: a/shell :shell:, blocker, p/iOS 🍎

#9221 Propagate BindingContext to ItemsLayout
  Xamarin.Forms.Core.UnitTests/ItemsViewTests.cs
  Xamarin.Forms.Core/Items/ItemsView.cs
Labels: Core, a/collectionview

#9346 [iOS] Fix navigation bar background color in iOS13
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7701.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: 4.2.0, a/shell :shell:, i/regression, iOS 13, p/iOS 🍎, t/bug :bug:

#3482 [Android,iOS,UWP,WPF] MediaElement control
  Stubs/Xamarin.Forms.Platform.cs
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Tizen/ControlGallery.Tizen.cs
  Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/App.xaml.cs
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Controls/GalleryPages/MediaElementDemoPage.cs
  Xamarin.Forms.Core.UnitTests/MediaElementTests.cs
  Xamarin.Forms.Core.UnitTests/MediaSourceTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/ExperimentalFlags.cs
  Xamarin.Forms.Core/FileMediaSource.cs
  Xamarin.Forms.Core/FileMediaSourceConverter.cs
  Xamarin.Forms.Core/MediaElement.cs
  Xamarin.Forms.Core/MediaElementState.cs
  Xamarin.Forms.Core/MediaSource.cs
  Xamarin.Forms.Core/MediaSourceConverter.cs
  Xamarin.Forms.Core/UriMediaSource.cs
  Xamarin.Forms.Platform.Android/FastRenderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsVideoView.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  Xamarin.Forms.Platform.Tizen/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Extensions/AspectExtensions.cs
  Xamarin.Forms.Platform.UAP/MediaElementRenderer.cs
  Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.WPF/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.WPF/Xamarin.Forms.Platform.WPF.csproj
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/Renderers/MediaElementRenderer.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  Xamarin.Forms.Platform/Xamarin.Forms.Platform.cs
Labels: API-change, ControlGallery, Core, F100, p/Android, p/Tizen, p/UWP, p/WPF, p/iOS 🍎, roadmap, t/enhancement ➕

#9348 Query parameters were not being applied during simple navigation
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: Core, a/navigation, a/shell :shell:, blocker, i/critical, i/regression, t/bug :bug:

#9343 [Android] Fix sizing and position on Android of the Indicators
  Xamarin.Forms.Core/IndicatorView.cs
  Xamarin.Forms.Platform.Android/CollectionView/IndicatorViewRenderer.cs
Labels: Core, a/collectionview, a/indicatorview, blocker, p/Android, t/bug :bug:

#9257 [Android] Refresh main page on activity resume if necessary
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
Labels: 4.1.0, approved, i/regression, p/Android, t/bug :bug:

#9320 fix for #8564 exception "Delegate to an instance method cannot have null 'this'"
  Xamarin.Forms.Platform.UAP/TitleViewManager.cs
Labels: i/high, p/UWP, t/bug :bug:

#7401 Map circles
  Xamarin.Forms.Controls/GalleryPages/MapElementsGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/MapElementsGallery.xaml.cs
  Xamarin.Forms.Core.UnitTests/DistanceTests.cs
  Xamarin.Forms.Maps.Android/MapRenderer.cs
  Xamarin.Forms.Maps.UWP/MapRenderer.cs
  Xamarin.Forms.Maps.iOS/MapRenderer.cs
  Xamarin.Forms.Maps/Circle.cs
  Xamarin.Forms.Maps/Distance.cs
  Xamarin.Forms.Maps/GeographyUtils.cs
  Xamarin.Forms.Maps/MapSpan.cs
Labels: API-change, ControlGallery, a/maps :globe_with_meridians:, p/Android, p/UWP, p/iOS 🍎, t/enhancement ➕

#8737 Allow multiple selection updates with one notification in CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8203.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Items/SelectableItemsView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: Core, a/collectionview, p/UWP, t/bug :bug:

#9273 Set BindingContext for CollectionView cells earlier
  Xamarin.Forms.ControlGallery.Android/LinkDescription.xml
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.Android/_9087CustomRenderer.cs
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/_9087CustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/_9087CustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/LinkDescription.xml
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9087.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/TemplatedItemViewHolder.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
Labels: ControlGallery, a/binding ⛓, a/collectionview, p/Android, p/UWP, p/iOS 🍎, t/bug :bug:

#7437 Apply fading effect on DetailPage for MasterDetailPage on iOS
  Xamarin.Forms.Controls/GalleryPages/PlatformSpecificsGalleries/MasterDetailPageiOS.cs
  Xamarin.Forms.Core/PlatformConfiguration/iOSSpecific/MasterDetailPage.cs
  Xamarin.Forms.Platform.iOS/Renderers/PhoneMasterDetailRenderer.cs
Labels: ControlGallery, a/mdp, p/iOS 🍎, platform-specifics, t/enhancement ➕

#8822 Allow to use SwipeItem only with text or icon
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8777.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: Core, a/fonticon, a/swipeview, approved, i/high, p/Android, p/iOS 🍎, swipeview, t/bug :bug:

#9150 Fix 8784 [UWP] Avoid Placeholder text overlapping Search Icon in SearchBar
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8784.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsAutoSuggestBoxStyle.xaml
Labels: p/UWP, t/bug :bug:

#8808 Avoid exception moving from empty to populated grouped CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7393.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
Labels: a/collectionview, blocker, i/high, p/iOS 🍎, t/bug :bug:

#8785 [Android,iOS] Add Visual States to CarouselView items
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  Xamarin.Forms.Core/Items/CarouselView.cs
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
Labels: ControlGallery, a/VSM, a/Xaml </>, a/carouselview, a/collectionview, blocker, p/Android, p/iOS 🍎, t/bug :bug:, t/enhancement ➕

#6786 Use the MoreNavigationController DidShowViewController callback for shell sections
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6784.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellItemRenderer.cs
Labels: a/shell :shell:, p/iOS 🍎, t/bug :bug:

#9383 [Android] Add dispose check to prevent crash
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue9355.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementPackager.cs
Labels: a/layoutcompression, a/scrollview, i/high, i/regression, p/Android, t/bug :bug:

#8757 Allow to create more easily SwipeItems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8753.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/SwipeItems.cs
Labels: Core, a/swipeview, approved

#8169 Adds Cookies to the WebView fixing #Issue3262
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/issue3262.cs
  Xamarin.Forms.Core.UnitTests/WebViewUnitTests.cs
  Xamarin.Forms.Core/WebView.cs
  Xamarin.Forms.Platform.Android/Renderers/FormsWebViewClient.cs
  Xamarin.Forms.Platform.UAP/WebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WebViewRenderer.cs
Labels: ControlGallery, Core, a/Xaml </>, a/collectionview, a/maps :globe_with_meridians:, a/shell :shell:, a/webview, hacktoberfest 🍻, p/Android, p/UWP, p/iOS 🍎
