Repository xamarin/Xamarin.Forms, pull requests merged in 2021-11, with the labels that each got.

#14831 Allow 1 modifier key to be added on macOS
  Xamarin.Forms.Platform.MacOS/Extensions/NSMenuExtensions.cs
Labels: t/bug :bug:, p/macOS

#14828 Refactor Entry ClearButton observer lifecycle to prevent NRE on older iOS versions
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, i/regression, a/entry

#14748 [Android] Avoid update native control enabled if is already disposed
  Xamarin.Forms.Platform.Android/FastRenderers/VisualElementRenderer.cs
Labels: t/bug :bug:, p/Android

#14694 [Android] Fix WebView issue in EvaluateJavascriptAsync method using Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13326.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/WebView.cs
Labels: t/bug :bug:, p/Android, a/webview

#14859 Fix hangs and NREs with Entry Observer
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, i/regression, a/entry

#4730 [Android] Fix first navigation race condition with main page affectation
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: t/bug :bug:, p/Android, i/high, feedback-ticket, mobcat, inactive, in-progress

#14606 [Android] Fix crash animate two times the Frame scale
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13236.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13236.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/VisualElementTracker.cs
Labels: t/bug :bug:, p/Android, a/animation 🎬

#13804 [iOS] Fix shell search handler background color for iOS 13 or newer
  Xamarin.Forms.Platform.iOS/Renderers/SearchHandlerAppearanceTracker.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shell :shell:, iOS 13

#13728 [UWP] Maintain Editor BackgroundColor when focused
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13573.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13573.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xaml
Labels: t/bug :bug:, p/UWP, a/editor, 4.8.0, needs-maui-validation

#7728 [Bug] ContentPage.ControlTemplate gets not rendered in Wpf (#7671)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7671.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue7671.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.WPF/Controls/FormsContentPage.cs
  Xamarin.Forms.Platform.WPF/FormsContentLoader.cs
  Xamarin.Forms.Platform.WPF/Renderers/PageRenderer.cs
Labels: t/bug :bug:, p/WPF, ControlGallery

#14893 [WIP] Revert ClearButton Visibility Regressions on iOS
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, i/regression

#13554 Check font file length Android
  Xamarin.Forms.Platform.Android/EmbeddedFontLoader.cs
Labels: t/bug :bug:, p/Android, a/fonts

#14900 [iOS] Fix backwards navigation fails using Shell
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14805.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shell :shell:

#14902 [Android] Fix issue interacting with a SwipeView inside a ScrollView on a TabbedPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14897.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14897.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: t/bug :bug:, p/Android, a/swipeview, a/tabbedpage

#14877 Fix tabs layout on iOS when using Shell navigation - #14773
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
Labels: p/iOS 🍎, a/shell :shell:, a/navigation

#14666 [Housekeeping] Removed unused property in ExportFontAttribute
  Xamarin.Forms.Core/ExportFontAttribute.cs
Labels: t/housekeeping ♻︎, needs-maui-validation

#14635 [Android] Avoid reset ListView adapter in TabbedPage if is already disposed
  Xamarin.Forms.Platform.Android/Renderers/ListViewAdapter.cs
Labels: t/bug :bug:, p/Android, a/listview

#13149 [UWP] Unfocus control before dispose (if have the focus)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12716.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
Labels: t/bug :bug:, p/UWP, a/editor

#11928 [iOS] TextDecoration Strikethrough not working on iOS together with LineHeight
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11829.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/label, needs-maui-validation

#14907 [iOS] Fix setting text decorations and text at the same time and respect changes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11954.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/label

#14634 [Android] Fix crash dropping item using ListView (happens occasionally)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14552.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14552.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/DragAndDropGestureHandler.cs
Labels: t/bug :bug:, p/Android, a/DragAndDrop

#14793 [core] Add tests for #9151
  Xamarin.Forms.Core.UnitTests/BindableObjectUnitTests.cs
  Xamarin.Forms.Xaml.UnitTests/AttachedProperties.xaml
  Xamarin.Forms.Xaml.UnitTests/AttachedProperties.xaml.cs
Labels: a/uitest

#14925 [iOS] Fix CollectionView crash in iOS 9
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: t/bug :bug:, p/iOS 🍎, a/collectionview

#14667 [iOS] Fix issue using TextTransform and LineHeight properties at the same time
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12887.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12887.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/label

#12701 Dismiss UISearchController when losing focus
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue10124.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shell :shell:, a/collectionview

#14672 [iOS] CollectionView not applying "Selected" VisualState to pre-selected items
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14513.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14513.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
Labels: t/bug :bug:, p/iOS 🍎, i/high, a/collectionview

#14882 [Android] Fix CollectionView item renderer disposal on Android (Memory Leak)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14880.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14880.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ItemContentView.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewAdapter.cs
Labels: p/Android, a/collectionview

#14879 [Android] Fix TabbedPage Disappearing events for swipe gestures
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8804.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8804.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: p/Android, a/tabbedpage
