Repository xamarin/Xamarin.Forms, pull requests merged in 2021-07, with the labels that each got.

#13401 [iOS] Fix issue using Brush transparent color in Frame
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13378.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13378.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.MacOS/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.shared.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/brushes, a/frame, p/iOS 🍎, p/macOS, t/bug :bug:

#12447 Fixes memory leak from grouped ListView with HasUnevenRows set
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6742.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6742.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: a/listview, a/performance, mobcat, p/iOS 🍎, t/bug :bug:

#12391 [Android] Entry Clear button invisible if BackgroundColor is a dark color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12380.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: a/entry, hacktoberfest 🍻, hacktoberfest-accepted, p/Android, p/iOS 🍎, t/bug :bug:

#13348 Fix 4143: improved Span region calculation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4143.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue4143.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Region.cs
  Xamarin.Forms.Platform.Android/Extensions/TextViewExtensions.cs
Labels: Core, a/gestures 🖖, a/l10n, a/rtl, m/high impact :black_large_square:, mobcat, p/Android, t/bug :bug:

#14334 [macOS] Update Switch renderer
  Xamarin.Forms.Platform.MacOS/Renderers/SwitchRenderer.cs
Labels: a/switch, p/macOS

#12764 [Android] Fix to Issue Java.Lang.IndexOutOfBoundsException: setSpan
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: a/entry, p/Android, t/bug :bug:

#13820 [Android] Fix ClearButton not working when changing the ClearButtonVisibility while the Entry field is focused (#13819)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13819.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
Labels: a/entry, p/Android, t/bug :bug:

#14111 fix memory leak (and some crashes) in ItemsViewController (iOS)
  Xamarin.Forms.Platform.iOS.UnitTests/ItemsViewControllerLeakTest.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: a/collectionview, i/high, p/iOS 🍎

#13007 Enable ScrollTo tests for Android, UWP; implement ScrollTo with group index for Android
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11113.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3788.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ScrollToGroup.cs
  Xamarin.Forms.Platform.Android/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/IItemsViewSource.cs
  Xamarin.Forms.Platform.Android/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.UAP/CollectionView/GroupableItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, a/uitest, blocker, p/Android, p/UWP
