Repository xamarin/Xamarin.Forms, pull requests merged in 2021-02, with the labels that each got.

#13606 [Tizen] Use System.AppDomain on Init
  Xamarin.Forms.Platform.Tizen/Forms.cs
  Xamarin.Forms.Platform.Tizen/TizenPlatformServices.cs
Labels: p/Tizen

#13613 Add API levels 26 (8.0) and 27 (8.1)
  build.cake
Labels: t/housekeeping ♻︎

#13563 [Android] Fix TalkBack to read back button title when it is set
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8701.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: a/a11y 🔍, a/backbutton, i/high, p/Android

#13630 Ignore tests that are currently irrelevant for UWP
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12642.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12848.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue5500.cs
Labels: t/housekeeping ♻︎

#13617 [Android ] Fix exception adding items to CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13616.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13616.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, p/Android, t/bug :bug:

#13569 [Android] Remove listeners on dispose
  Xamarin.Forms.Platform.Android/Renderers/ButtonRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/CarouselPageRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EditorRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/MasterDetailRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/SliderRenderer.cs
Labels: a/button, a/refreshview :arrows_counterclockwise:, a/searchbar, a/slider, p/Android

#13507 Fix popping with ".." and QueryString
  Xamarin.Forms.Core.UnitTests/ShellModalTests.cs
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: blocker

#12409 [iOS] Fix Page BackgroundColor issue using DarkTheme
  Xamarin.Forms.Platform.iOS/Renderers/PageRenderer.cs
Labels: a/darkmode, blocker, hacktoberfest 🍻, hacktoberfest-accepted, p/iOS 🍎, t/bug :bug:

#13634 [iOS] Fixed date formatter issue with different timezone
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
Labels: a/datepicker, blocker, i/regression, p/iOS 🍎, t/bug :bug:

#13176 Fix Resource Manager code to use native APIs before reflection
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android.UnitTests/ButtonTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/ResourceManagerTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/Resources/drawable/DrawableTest.png
  Xamarin.Forms.Platform.Android.UnitTests/Resources/layout/LayoutTest.axml
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/Renderers/AndroidGIFImageParser.cs
  Xamarin.Forms.Platform.Android/ResourceManager.cs
Labels: ControlGallery, blocker, p/Android

#13638 [Housekeeping] Fix iOS 14 broken tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla43161.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12685.cs
Labels: a/uitest, iOS 14, t/housekeeping ♻︎

#13478 Fix string constructor for ShellNavigationState
  Xamarin.Forms.Core.UnitTests/ShellNavigatingTests.cs
  Xamarin.Forms.Core.UnitTests/ShellNavigationStateTests.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
  Xamarin.Forms.Core/Shell/ShellNavigationState.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
Labels: a/shell :shell:, blocker, i/regression

#13647 Google material bump and set hint to transparent for multi line
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget.Build.targets
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml.cs
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: a/visual

#13640 Move layout change resolution calls up to VisualElementRenderer
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13203.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13551.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Platform.cs
  Xamarin.Forms.Platform.Android/VisualElementRenderer.cs
  Xamarin.Forms.Platform.UAP/LayoutRenderer.cs
  Xamarin.Forms.Platform.UAP/VisualElementRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/GridViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Platform.cs
  Xamarin.Forms.Platform.iOS/VisualElementRenderer.cs
Labels: a/layout, i/high

#13666 Fix material colors to match previous version better
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualControlsPage.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualGallery.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/VisualGallery.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialButtonRenderer.cs
  Xamarin.Forms.Material.Android/MaterialColors.cs
  Xamarin.Forms.Material.Android/MaterialDatePickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEditorRenderer.cs
  Xamarin.Forms.Material.Android/MaterialEntryRenderer.cs
  Xamarin.Forms.Material.Android/MaterialFormsTextInputLayoutBase.cs
  Xamarin.Forms.Material.Android/MaterialPickerRenderer.cs
  Xamarin.Forms.Material.Android/MaterialTimePickerRenderer.cs
  Xamarin.Forms.Material.iOS/MaterialTextManager.cs
Labels: a/visual, p/iOS 🍎, t/bug :bug:

#13677 Update to latest Nunit3
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
  Xamarin.Forms.Core.Android.UITests/Xamarin.Forms.Core.Android.UITests.csproj
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core.Windows.UITests/Xamarin.Forms.Core.Windows.UITests.csproj
  Xamarin.Forms.Core.iOS.UITests/Xamarin.Forms.Core.iOS.UITests.csproj
  Xamarin.Forms.Core.macOS.UITests/Xamarin.Forms.Core.macOS.UITests.csproj
  Xamarin.Forms.DualScreen.UnitTests/Xamarin.Forms.DualScreen.UnitTests.csproj
  Xamarin.Forms.Platform.Android.UnitTests/Xamarin.Forms.Platform.Android.UnitTests.csproj
  Xamarin.Forms.Platform.UAP.UnitTests/Xamarin.Forms.Platform.UAP.UnitTests.csproj
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Xaml.UnitTests/Xamarin.Forms.Xaml.UnitTests.csproj
Labels: t/housekeeping ♻︎

#13661 [Tizen] Fix several CollectionView issue on Tizen
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/GridLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
Labels: a/collectionview, p/Tizen

#13514 Force Shell TitleView to height of container and fix flyout header scroll behaviors
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13476.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutHeaderBehavior.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutLayoutManager.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
Labels: a/shell :shell:, blocker, p/Android, p/iOS 🍎

#13380 Remove unnecessary edge inset for vertically scrolling groups; Fixes …
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/GroupingGalleries/GridGrouping.xaml
  Xamarin.Forms.Platform.iOS/CollectionView/GroupableItemsViewController.cs
Labels: ControlGallery, a/collectionview, i/high, p/iOS 🍎, t/bug :bug:

#13678 [iOS] Allow observable source update while CollectionView is not visible
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13126.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13126_2.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/CarouselViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableGroupedSource.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ObservableItemsSource.cs
Labels: a/collectionview, p/iOS 🍎

#13658 Fix Search Handler results to measure to the provided content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellSearchHandlerItemSizing.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/SearchHandler.cs
  Xamarin.Forms.Platform.Android/FastRenderers/AutomationPropertiesProvider.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/SearchHandlerAppearanceTracker.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellSearchViewAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: a/shell :shell:, p/Android, p/iOS 🍎

#13681 Fix FlyoutItem recycling
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerCell.cs
Labels: a/shell :shell:, p/Android, p/iOS 🍎

#13648 Fix additional scenarios with nested defined routes
  Xamarin.Forms.Core.UnitTests/ShellNavigatingTests.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: a/navigation, a/shell :shell:

#13692 [Tizen] Add drag and drop gesture handlers
  Xamarin.Forms.Platform.Tizen/DragGestureHandler.cs
  Xamarin.Forms.Platform.Tizen/DropGestureHandler.cs
  Xamarin.Forms.Platform.Tizen/Extensions/DragDropExtensions.cs
  Xamarin.Forms.Platform.Tizen/GestureDetector.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Shapes/ShapeView.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/CanvasViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/ICanvasRenderer.cs
Labels: a/DragAndDrop, p/Tizen

#13529 [macOS] Fix usage of FormattedText
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12259.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FormattedStringExtensions.cs
Labels: p/macOS, t/bug :bug:

#13470 [UWP] Fix issue changing the ItemsLayout in CollectionView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13437.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13437.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/FormsGridView.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: a/collectionview, p/UWP, t/bug :bug:

#13641 Add scripts to run device tests
  .config/dotnet-tools.json
  Assets/xamarin.essentials.icon.sketch
  Assets/xamarin.essentials_128x128.png
  build.ps1
  build.sh
  eng/devices/.gitignore
  eng/devices/android.cake
  eng/devices/ios.cake
  src/Essentials/other/.editorconfig
  src/Essentials/other/.gitattributes
  src/Essentials/other/.github/ISSUE_TEMPLATE.md
  src/Essentials/other/.github/ISSUE_TEMPLATE/bug-report.md
  src/Essentials/other/.github/ISSUE_TEMPLATE/feature-request.md
  src/Essentials/other/.github/ISSUE_TEMPLATE/new-api-spec.md
  src/Essentials/other/.github/PULL_REQUEST_TEMPLATE.md
  src/Essentials/other/.gitignore
  src/Essentials/other/.openpublishing.build.ps1
  src/Essentials/other/.openpublishing.publish.config.json
  src/Essentials/other/CODE_OF_CONDUCT.md
  src/Essentials/other/CONTRIBUTING.md
  src/Essentials/other/Directory.Build.props
  src/Essentials/other/LICENSE
  src/Essentials/other/LICENSE-CODE
  src/Essentials/other/PRODUCT-FEEDBACK.md
  src/Essentials/other/README.md
  src/Essentials/other/SUBMITTING-ISSUES.md
  src/Essentials/other/SignList.xml
  src/Essentials/other/ThirdPartyNotices
  src/Essentials/other/Xamarin.Essentials.ruleset
  src/Essentials/other/Xamarin.Essentials.sln
  src/Essentials/other/android-setup.ps1
  src/Essentials/other/appcenter-post-clone.sh
  src/Essentials/other/azure-pipelines.yml
  src/Essentials/other/build.cake
  src/Essentials/other/device-tests-build.cake
  src/Essentials/other/mdoc.targets
  src/Essentials/other/stylecop.json
  src/Essentials/src/Xamarin.Essentials/Xamarin.Essentials.csproj
  src/Essentials/src/Xamarin.Essentials/nugetreadme.txt
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests.Android/Xamarin.Platform.Handlers.DeviceTests.Android.csproj
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests.iOS/Xamarin.Platform.Handlers.DeviceTests.iOS.csproj
Labels: t/housekeeping ♻︎

#13386 [iOS] Fix Brush issue in Shapes after swipes in CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13376.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13376.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: a/brushes, a/carouselview, a/shapes, p/iOS 🍎, t/bug :bug:

#13738 Prevent overeager cache invalidation when the CollectionView height changes by very small amounts
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewLayout.cs
Labels: a/collectionview

#13737 Net6 platforms
  Maui.sln
  src/Forms/src/Xamarin.Forms.Core/Crc64.cs
  src/Forms/src/Xamarin.Forms.Core/ImageSource.cs
  src/Forms/src/Xamarin.Forms.Core/InvalidNavigationException.cs
  src/Forms/src/Xamarin.Forms.Core/ReflectionExtensions.cs
  src/Forms/src/Xamarin.Forms.Core/Region.cs
  src/Forms/src/Xamarin.Forms.Core/ResourceDictionary.cs
  src/Forms/src/Xamarin.Forms.Core/Shell/ShellNavigatingEventArgs.cs
  src/Forms/src/Xamarin.Forms.Core/UnsolvableConstraintsException.cs
  src/Forms/src/Xamarin.Forms.Core/VisualElement.cs
  src/Forms/src/Xamarin.Forms.Core/Xamarin.Forms.Core-net6.csproj
  src/Forms/src/Xamarin.Forms.Core/XamlParseException.cs
  src/Forms/src/Xamarin.Forms.Core/XmlnsDefinitionAttribute.cs
  src/Platform.Handlers/samples/Sample.Droid/Sample.Droid-net6.csproj
  src/Platform.Handlers/samples/Sample.iOS/Sample.iOS-net6.csproj
  src/Platform.Renderers/src/Maui.Controls.Compatibility/Maui.Controls.Compatibility-net6.csproj
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup-net6.csproj
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Anticipator.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/CellAdapter.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/GradientStrokeDrawable.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellItemRendererBase.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Renderers/ShellSectionRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Resources/Layout/FallbackTabbarDoNotUse.axml
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Resources/Layout/FallbackToolbarDoNotUse.axml
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/ExportCellAttribute.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/ExportImageSourceHandlerAttribute.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/ExportRendererAttribute.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/SliderRenderer.cs
Labels: Core, a/Xaml </>, a/shell :shell:, handlers, p/Android, p/iOS 🍎

#13704 [Android] LineBreakMode incompatible with MaxLines
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13684.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13684.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/label, p/Android, t/bug :bug:

#13775 Rename IText.Color to TextColor
  src/Forms/src/Xamarin.Forms.Core/HandlerImpl/Button.Impl.cs
  src/Platform.Handlers/samples/Sample/Controls/Button.cs
  src/Platform.Handlers/samples/Sample/Controls/Label.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IText.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Label/LabelHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ButtonExtensions.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/PropertyMapperTests.cs
Labels: ControlGallery, handlers, p/Android, p/iOS 🍎

#13771 [Core] ButtonHandler Preview
  src/Forms/src/Xamarin.Forms.Core/FormsHandlers.cs
  src/Platform.Handlers/samples/Sample/Controls/Button.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IPadding.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Button/ButtonHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ButtonExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/ButtonExtensions.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Button/ButtonHandlerTests.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Button/ButtonHandlerTests.iOS.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Stubs/Button.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/TestBase.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/AbstractViewHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/ConstraintTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/HorizontalStackLayoutManagerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/LayoutExtensionTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/VerticalStackLayoutManagerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/PropertyMapperTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/TestCategory.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/ButtonRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/HandlerToRendererShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/HandlerToRendererShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/ButtonRenderer.cs
Labels: ControlGallery, a/label, handlers, p/Android, p/iOS 🍎

#12196 [Core] Switch Handlers
  .gitignore
  src/Forms/src/Xamarin.Forms.Core/FormsHandlers.cs
  src/Forms/src/Xamarin.Forms.Core/HandlerImpl/Switch.Impl.cs
  src/Forms/src/Xamarin.Forms.Core/Switch.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/ISwitch.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Switch/SwitchHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Switch/SwitchHandler.Standard.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Switch/SwitchHandler.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Switch/SwitchHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/ContextExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/SwitchExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/MaciOS/ColorExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Standard/SwitchExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/iOS/SwitchExtensions.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests.Android/MainActivity.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests.Android/Xamarin.Platform.Handlers.DeviceTests.Android.csproj
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests.iOS/AppDelegate.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/AssertionExtensions.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/DeviceTests.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/HandlerTestBase.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/HandlerTestBase.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/HandlerTestBase.iOS.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Layout/LayoutHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Slider/SliderHandlerTests.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Slider/SliderHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Switch/SwitchHandlerTests.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Switch/SwitchHandlerTests.iOS.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Stubs/SliderStub.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Stubs/StubBase.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Stubs/SwitchStub.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/PropertyMapperTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/TestCategory.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/TestClasses/HandlerStub.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Renderers/SwitchRenderer.cs
Labels: ControlGallery, Core, a/shell :shell:, a/switch, handlers, p/Android, p/iOS 🍎, p/macOS

#13823 Disable the versioning locally
  Directory.Build.props
  Directory.Build.targets
Labels: t/housekeeping ♻︎

#12536 [Handlers] Fixed Slider inconsistent behavior between Android and iOS
  src/Forms/src/Xamarin.Forms.Core/FormsHandlers.cs
  src/Platform.Handlers/samples/Sample/Controls/Slider.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.Android.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Handlers/Slider/SliderHandler.iOS.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Platform/Android/SliderExtensions.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Slider/SliderHandlerTests.Android.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Slider/SliderHandlerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Handlers/Slider/SliderHandlerTests.iOS.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.DeviceTests/Stubs/SliderStub.cs
Labels: a/slider, handlers, p/Android, p/iOS 🍎, t/bug :bug:

#13521 [Tizen] Fix SwipeView Command issue
  Xamarin.Forms.Platform.Tizen/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Tizen

#13833 [Tizen] Optimize Shell Flyout for TV
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/EmptyItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/LinearLayoutManager.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ViewHolder.cs
  Xamarin.Forms.Platform.Tizen/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellNavBar.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellSectionStack.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/FlyoutItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/FlyoutItemTemplateSelector.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVNavigationDrawer.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVNavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVShellItemRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVShellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVShellSectionRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/TV/TVShellSectionStack.cs
  Xamarin.Forms.Platform.Tizen/StaticRegistrar.cs
  Xamarin.Forms.Platform.Tizen/ThemeManager.cs
Labels: p/Tizen
