Repository xamarin/Xamarin.Forms, pull requests merged in 2021-09, with the labels that each got.

#12758 [iOS] Scroll locked issue using SwipeView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12518.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12518.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, i/high, a/collectionview, a/swipeview

#13166 [Android] Fix shadow in Thumb setting a custom color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12150.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/AppCompat/SwitchRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/DrawableExtensions.cs
Labels: t/bug :bug:, p/Android, a/switch

#14527 [iOS] Fix crash/closing wrong modal with FormSheet and tap outside
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12300.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
Labels: t/bug :bug:, p/iOS 🍎, i/regression, a/uitest, i/high, a/modal

#13385 [Core] SwipeItem Parent using SwipeView in DataTemplate
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13232.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13232.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/SwipeView.cs
Labels: t/bug :bug:, p/iOS 🍎, p/Android, Core, a/swipeview

#14565 [iOS] Fix Frame Background issue with transparent color
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14426.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14426.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/frame

#14567 [UWP] Fix broken disabled Button visual state
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14428.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14428.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Resources.xaml
Labels: t/bug :bug:, p/UWP, a/button

#13150 [UWP] Update Device.Idiom when flipping tablet mode state
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8218.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/Forms.cs
Labels: t/bug :bug:, p/UWP

#13732 [Android] Fix occasional wrong touch interception in SwipeView Content
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13726.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13726.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
Labels: t/bug :bug:, p/Android, a/swipeview, a/button

#14566 [iOS] Fix Entry issue using TextColor and ClearButton in iOS < 13
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14523.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14523.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/entry

#14572 [iOS] Fix issue using FormattedString and LineBreakMode
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12590.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12590.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/label

#13503 [Android] Align NavBar BarBackground behavior between Android and iOS
  Xamarin.Forms.Controls/GalleryPages/GradientGalleries/GradientNavigationPageGallery.xaml
  Xamarin.Forms.Platform.Android/AppCompat/NavigationPageRenderer.cs
Labels: t/bug :bug:, p/Android, a/navbar, a/brushes

#11812 [Android] Update gradients based on offset changes in Frame and BoxView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11795.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11795.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Material.Android/MaterialFrameRenderer.cs
  Xamarin.Forms.Platform.Android/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
  Xamarin.Forms.Platform.Android/GradientStrokeDrawable.cs
  Xamarin.Forms.Platform.Android/Renderers/BoxRenderer.cs
Labels: t/bug :bug:, p/Android, i/high, a/visual, a/frame, a/brushes

#14580 [Core] Fix NRE in ListView Command validation
  Xamarin.Forms.Core/ListView.cs
Labels: a/listview, Core

#14577 [Core] Fix exception navigating using Shell
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
Labels: a/shell :shell:, Core

#14506 Androidx bumps
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget.Build.targets
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Material.Android/Xamarin.Forms.Material.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableItemsViewAdapter.cs
  Xamarin.Forms.Platform.Android/CollectionView/SelectableViewHolder.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellItemRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: p/Android

#14571 [iOS] Remove usage of System.Drawing types
  Xamarin.Forms.Platform.iOS/Cells/SwitchCellRenderer.cs
  Xamarin.Forms.Platform.iOS/Extensions/LabelExtensions.cs
  Xamarin.Forms.Platform.iOS/Extensions/UIViewExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FrameRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SearchBarRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SliderRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/StepperRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwitchRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabbedRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/WkWebViewRenderer.cs
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: p/iOS 🍎

#8231 Ordering children while adding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8129.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementPackager.cs
Labels: t/bug :bug:, p/iOS 🍎, a/performance, needs-maui-validation

#14587 [iOS] If stroke is null avoid render shape stroke
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14286.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14286.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shapes

#14590 [Housekeeping] Fix broken Android platform tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11795.xaml
  Xamarin.Forms.Platform.Android.UnitTests/AssertionExtensions.cs
  Xamarin.Forms.Platform.Android.UnitTests/CornerRadiusTests.cs
  Xamarin.Forms.Platform.Android.UnitTests/PlatformTestFixture.cs
  Xamarin.Forms.Platform.Android/GradientStrokeDrawable.cs
  Xamarin.Forms.Platform.Android/Renderers/BoxRenderer.cs
Labels: p/Android, t/housekeeping ♻︎

#14139 [macOS] Fix RadioButton activated behaviour
  Xamarin.Forms.Platform.MacOS/Renderers/RadioButtonRenderer.cs
Labels: t/bug :bug:, p/macOS, a/radiobutton :radio_button:

#14202 [UWP] Implement CollectionView RemainingItemsThreshold
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github5623.xaml.cs
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
Labels: p/UWP, a/collectionview

#14608 [Android] Fix building with Android stable bits
  Xamarin.Forms.Platform.Android.FormsViewGroup/Xamarin.Forms.Platform.Android.FormsViewGroup.csproj
  build/steps/build-android.yml
Labels: t/housekeeping ♻︎

#14623 [Android] Fix Frame black background issue (with zero CornerRadius)
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/FrameBackgroundIssue.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/FrameBackgroundIssue.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
Labels: t/bug :bug:, a/frame

#14076 Fixed the memory leak in the collectionview and gallery
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/CarouselCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/IndicatorCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/DynamicItemSizeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemSizeGalleries/VariableSizeTemplateGridGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ItemsSourceGenerator.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableCollectionResetGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ObservableMultiItemCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/PropagateCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/ScrollToCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SnapPointsCodeGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/SpacingGalleries/SpacingGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TemplateCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TemplateCodeCollectionViewGridGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TextCodeCollectionViewGallery.cs
  Xamarin.Forms.Controls/GalleryPages/CollectionViewGalleries/TextCodeCollectionViewGridGallery.cs
  Xamarin.Forms.Core/TemplatedItemsList.cs
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
  Xamarin.Forms.Platform.iOS/CollectionView/TemplatedCell.cs
Labels: p/iOS 🍎, a/performance, i/high, a/collectionview

#14441 [Android] Fix CollectionView threw ArgumentOutOfRangeException
  Xamarin.Forms.Platform.Android/CollectionView/SpacingItemDecoration.cs
Labels: t/bug :bug:, a/collectionview

#12346 set the RowHeight to prevent listview from being greedy
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla40173.cs
Labels: t/housekeeping ♻︎, hacktoberfest 🍻, good first issue, hacktoberfest-accepted

#14591 Fix (Date)Picker Dark Theme Support
  Xamarin.Forms.ControlGallery.Android/Resources/values/styles.xml
  Xamarin.Forms.Platform.Android/AppCompat/PickerRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/values/styles.xml
Labels: t/bug :bug:, p/Android, a/darkmode

#14238 [UWP] CollectionView disable caching item templates with DataTemplateSelector
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14236.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14236.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/CollectionView/ItemContentControl.cs
Labels: i/regression, a/collectionview

#14599 Add better resolution to UI Tests
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Bugzilla30353.cs
Labels: t/housekeeping ♻︎
