Repository xamarin/Xamarin.Forms, pull requests merged in 2021-06, with the labels that each got.

#14288 Call Dispose on the VisualElementRenderer, rather than the Android View
  Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs
Labels: a/performance

#14101 Bump Android X
  .nuspec/Xamarin.Forms.AppLinks.nuspec
  .nuspec/Xamarin.Forms.Visual.Material.nuspec
  .nuspec/Xamarin.Forms.nuspec
  DualScreen/DualScreen.Android/DualScreen.Android.csproj
  EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  Stubs/Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android (Forwarders).csproj
  Xamarin.Forms.ControlGallery.Android/ContentDescriptionEffectRenderer.cs
  Xamarin.Forms.ControlGallery.Android/Directory.Build.targets
  Xamarin.Forms.ControlGallery.Android/Nuget.Build.targets
  Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue6878.cs
  Xamarin.Forms.DualScreen/Xamarin.Forms.DualScreen.csproj
  Xamarin.Forms.Maps.Android/Xamarin.Forms.Maps.Android.csproj
  Xamarin.Forms.Platform.Android.AppLinks/Xamarin.Forms.Platform.Android.AppLinks.csproj
  Xamarin.Forms.Platform.Android/AccessibilityDelegateAutomationId.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  Xamarin.Forms.Platform.Android/AppCompat/FormsFragmentPagerAdapter.cs
  Xamarin.Forms.Platform.Android/EntryAccessibilityDelegate.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFragmentPagerAdapter.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellRenderer.cs
  Xamarin.Forms.Platform.Android/Xamarin.Forms.Platform.Android.csproj
Labels: Android10, p/Android

#12653 [Android] Fixed memory leak applying brushes to shapes
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11957.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11957.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
Labels: a/brushes, a/performance, a/shapes, i/high, p/Android, t/bug :bug:
