Repository xamarin/Xamarin.Forms, pull requests merged in 2021-12, with the labels that each got.

#14933 [Android AppCompat] Add defensive code to prevent NRE in GetNativeSize
  Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
Labels: t/bug :bug:, p/Android

#14957 Remove UIActivityIndicatorViewDelegate and instead override ViewRenderer to fix #14119
  Xamarin.Forms.Platform.iOS/Renderers/ActivityIndicatorRenderer.cs
Labels: a/activityindicator

#14982 [iOS] Fix crash on iOS LabelRenderer UpdateTextColor
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/label

#13414 [Android] Fix gradient offset issue in Frame
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13100.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13100.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Extensions/BrushExtensions.cs
Labels: t/bug :bug:, p/Android, a/frame, a/brushes

#14573 [iOS] Add consistency in date format between platforms
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13918.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13918.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/datepicker

#14767 [Windows] Avoid override NavigationViewItemOnLeftMinHeight
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellStyles.xaml
Labels: t/bug :bug:, p/UWP, a/shell :shell:

#11792 [Android] Replacing a grouped list in a CollectionView renders correctly
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11642.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/ObservableGroupedSource.cs
Labels: t/bug :bug:, p/Android, a/collectionview

#14797 [iOS] Fix gradient background issue on Image
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14397.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: t/bug :bug:, a/image, a/brushes

#14596 [iOS] Allow empty image to hide back nav button
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: p/iOS 🍎, i/regression, a/navbar, a/navigation, needs-maui-validation

#14971 added missing iOS constructor in ListViewRenderer
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/listview

#14840 [UWP] Fix issue setting incorrectly the origin in RadialGradientBrush
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14801.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14801.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/BrushExtensions.cs
Labels: t/bug :bug:, p/UWP, a/brushes

#14780 [UWP] CollectionView Memory Leak
  Xamarin.Forms.Platform.UAP/CollectionView/ItemsViewRenderer.cs
  Xamarin.Forms.Platform.UAP/CollectionView/SelectableItemsViewRenderer.cs
Labels: p/UWP, a/collectionview
