Repository xamarin/Xamarin.Forms, pull requests merged in 2021-10, with the labels that each got.

#13516 [GH-13219] Shell doesn't navigate if it's in the page already
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13219.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: t/bug :bug:, a/shell :shell:, Core, a/navigation

#14652 [iOS] Fix NRE using ListView inside CarouselView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14192.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14192.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ListViewRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/listview

#14659 [Core] Fix incorrect check in IndicatorView
  Xamarin.Forms.Core/IndicatorView.cs
Labels: t/bug :bug:, a/indicatorview

#14642 [iOS] Fix NRE dropping element from removed view
  Xamarin.Forms.Platform.iOS/DragAndDropDelegate.cs
Labels: t/bug :bug:, p/iOS 🍎, a/DragAndDrop

#14597 [UWP] Validate CarouselView DivideByZeroException
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13818.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13818.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: p/UWP, t/housekeeping ♻︎, a/carouselview

#14690 Block keyboard for iOS 15 time picker
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/timepicker, hacktoberfest-accepted, iOS 15

#14586 [iOS] Wrong SwipeView position if rapidly swipe multiple times
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14528.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: p/iOS 🍎, a/swipeview
