Repository xamarin/Xamarin.Forms, pull requests merged in 2021-01, with the labels that each got.

#13260 Invoke AnimationFinished from fragment if no animation has been added
  Xamarin.Forms.ControlGallery.Android/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellWithCustomRendererDisabledAnimations.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
Labels: blocker

#12588 Add margins to layouts
  src/Forms/src/Xamarin.Forms.Core/View.cs
  src/Platform.Handlers/samples/Sample/Controls/FrameworkElement.cs
  src/Platform.Handlers/samples/Sample/Controls/HorizontalStackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/Layout.cs
  src/Platform.Handlers/samples/Sample/Controls/StackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/VerticalStackLayout.cs
  src/Platform.Handlers/samples/Sample/Controls/View.cs
  src/Platform.Handlers/samples/Sample/MyApp.cs
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Core/IFrameworkElement.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/HorizontalStackLayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/LayoutExtensions.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Layouts/VerticalStackLayoutManager.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Primitives/Thickness.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/ConstraintTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/HorizontalStackLayoutManagerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/LayoutExtensionTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/StackLayoutManagerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Layouts/VerticalStackLayoutManagerTests.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/TestCategory.cs
  src/Platform.Handlers/tests/Xamarin.Platform.Handlers.UnitTests/Xamarin.Platform.Handlers.UnitTests.csproj
Labels: ControlGallery, handlers

#13300 Make sure all the UIViews is iOS are added at the correct hierarchy
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutBackground.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutContentOffest.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutContentWithZeroMargin.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutLayoutManager.cs
Labels: blocker

#13344 [iOS] Restore wheels date/time picker styles in 5.0
  Xamarin.Forms.Platform.iOS.UnitTests/DatePickerTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/PlatformTestFixture.cs
  Xamarin.Forms.Platform.iOS.UnitTests/TimePickerTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Renderers/DatePickerRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/TimePickerRenderer.cs
Labels: a/datepicker, i/high, p/iOS 🍎, t/bug :bug:

#13341 [UITests] Fix failing UITests
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: p/iOS 🍎

#13334 [Tizen] Fix bug to the FastLayoutRenderer
  Xamarin.Forms.Platform.Tizen/Cells/EntryCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/Cells/ViewCellRenderer.cs
  Xamarin.Forms.Platform.Tizen/FormsApplication.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/EmptyItemAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/ItemTemplateAdaptor.cs
  Xamarin.Forms.Platform.Tizen/Native/ListView.cs
  Xamarin.Forms.Platform.Tizen/Native/TitleViewPage.cs
  Xamarin.Forms.Platform.Tizen/PopupManager.cs
  Xamarin.Forms.Platform.Tizen/Renderers/FastLayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ILayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/LayoutRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/RefreshViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.Tizen/Shell/NavigationView.cs
  Xamarin.Forms.Platform.Tizen/Shell/SearchResultList.cs
  Xamarin.Forms.Platform.Tizen/Shell/ShellNavBar.cs
Labels: a/collectionview, a/shell :shell:, p/Tizen

#13335 [Tizen] Fix Frame show clipper canvas issue
  Xamarin.Forms.Platform.Tizen/SkiaSharp/FrameRenderer.cs
Labels: p/Tizen

#13314 Fix 'effectiveAppearance' crash on pre-Mojave
  Xamarin.Forms.Platform.iOS/Forms.cs
Labels: i/high, p/iOS 🍎, t/bug :bug:

#13375 FlyoutContent should return type object
  Xamarin.Forms.Core/Shell/Shell.cs
Labels: blocker

#13381 [iOS] Fix NRE in ViewRenderer.LayoutSubviews
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: p/iOS 🍎

#13322 [Shell,Android] Allow transparent background on Shell Header
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellFlyoutBackground.cs
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutTemplatedContentRenderer.cs
  Xamarin.Forms.Platform.Android/Resources/Layout/FlyoutContent.axml
Labels: a/shell :shell:, p/Android, t/bug :bug:

#13319 Fix margin on Shell TitleView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/ShellTitleView.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutContentRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutHeaderContainer.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerView.cs
  Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
Labels: a/shell :shell:, a/titleview, blocker, p/iOS 🍎, t/bug :bug:

#13370 Invalidate CollectionView Layout on transition to IsVisible = true
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13203.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/ItemsViewController.cs
Labels: 4.8.0, a/binding ⛓, a/collectionview, blocker, i/high, i/regression, p/iOS 🍎, t/bug :bug:

#13284 Shapes on iOS fail to render if the bounds of the view is set prior to renderer creation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11924.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12521.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12521.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12911.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12911.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13164.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/TestPages/TestPages.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Shapes/EllipseRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/LineRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/PathRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.Android/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.iOS.UnitTests/AssertionExtensions.cs
  Xamarin.Forms.Platform.iOS.UnitTests/ShapeTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Shapes/EllipseRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/LineRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PathRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: a/radiobutton :radio_button:, a/shapes, a/shell :shell:, blocker, i/high, p/iOS 🍎, t/bug :bug:

#11752 [UWP] Fixes for font when using MultiWindow
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue2482.cs
  Xamarin.Forms.Platform.UAP/FontExtensions.cs
Labels: ControlGallery, a/fonts, p/UWP, t/bug :bug:

#13277 [UWP] Fixes to Cell for ListView and CollectionView
  Xamarin.Forms.Platform.UAP/CellControl.cs
Labels: a/listview, a/performance, p/UWP, t/bug :bug:

#13382 Make RadioButton default template's ContentPresenter fill the Frame
  Xamarin.Forms.Core/RadioButton.cs
Labels: 5.0.0, Core, a/radiobutton :radio_button:, i/regression, p/iOS 🍎, t/bug :bug:

#13330 Fix Shell Navigation for Hierarchally registered Global Routes
  Xamarin.Forms.Core.UnitTests/ShellTestBase.cs
  Xamarin.Forms.Core.UnitTests/ShellUriHandlerTests.cs
  Xamarin.Forms.Core/Shell/NavigationRequest.cs
  Xamarin.Forms.Core/Shell/RequestDefinition.cs
  Xamarin.Forms.Core/Shell/RouteRequestBuilder.cs
  Xamarin.Forms.Core/Shell/ShellNavigationManager.cs
  Xamarin.Forms.Core/Shell/ShellSection.cs
  Xamarin.Forms.Core/Shell/ShellUriHandler.cs
Labels: Core, a/navigation, a/shell :shell:, blocker, t/bug :bug:

#13320 [C] Invalidate Grid when row/col def is replaced
  Xamarin.Forms.Core/Grid.cs
Labels: Core, a/layout, blocker, hotreload, t/bug :bug:

#13384 [Android] Changes in CarouselView initial position
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Android

#13201 [android] disposing drawing objects on FontImageSourceHandler
  Xamarin.Forms.Platform.Android/Renderers/FontImageSourceHandler.cs
Labels: p/Android

#13383 Fix parsing of azure devops unit test filters
  build.cake
Labels: t/housekeeping ♻︎

#13440 [Android] Crash in CarouselView adjusting PeekAreaInsets in OnSizeAllocated
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13436.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13436.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: a/carouselview, i/high, p/Android, t/bug :bug:

#12864 [Android] CarouselView position resets when visibility toggled
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12848.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12848.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/CollectionView/CarouselViewRenderer.cs
Labels: a/carouselview, a/collectionview, p/Android, t/bug :bug:

#13423 Don't set IsAccessibilityElement for everything
  Xamarin.Forms.Platform.iOS/Extensions/AccessibilityExtensions.cs
  Xamarin.Forms.Platform.iOS/ViewRenderer.cs
Labels: a/a11y 🔍, blocker, p/iOS 🍎

#12546 Renderer to Handler and Handler to Renderer Shims
  Xamarin.Forms.ControlGallery.sln
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/FormsAppCompatActivity.cs
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.iOS/PerformanceTrackerRenderer.cs
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  src/Controls/Maps/src/Xamarin.Forms.Maps.iOS/Xamarin.Forms.Maps.iOS.csproj
  src/Forms/src/Xamarin.Forms.Core/FormsHandlers.cs
  src/Forms/src/Xamarin.Forms.Core/Registrar.cs
  src/Forms/src/Xamarin.Forms.Core/View.cs
  src/Platform.Handlers/samples/Sample.Droid/Sample.Droid.csproj
  src/Platform.Handlers/samples/Sample/Platform.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Primitives/SizeRequest.cs
  src/Platform.Handlers/src/Xamarin.Platform.Handlers/Registrar.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/FormsAppCompatActivity.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/AppCompat/Platform.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Forms.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/HandlerToRendererShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/RendererFactory.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/RendererToHandlerShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Forms.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/HandlerToRendererShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Platform.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/RendererToHandlerShim.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Xamarin.Forms.Platform.iOS.csproj
  src/Platform.Renderers/test/Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
Labels: ControlGallery, a/maps :globe_with_meridians:, handlers, p/Android, p/iOS 🍎

#13490 [C] elements from Source are like items
  Xamarin.Forms.Core.UnitTests/ResourceDictionaryTests.cs
  Xamarin.Forms.Core/ResourceDictionary.cs
  Xamarin.Forms.Xaml.UnitTests/AppResources/RD13209.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh13209.xaml
  Xamarin.Forms.Xaml.UnitTests/Issues/Gh13209.xaml.cs
Labels: a/Xaml </>

#13462 Setup Shell to only use the LogicalChildren for reporting its LogicalChildren
  Xamarin.Forms.Core.UnitTests/ShellTests.cs
  Xamarin.Forms.Core/Page.cs
  Xamarin.Forms.Core/Shell/Shell.cs
  Xamarin.Forms.Core/Shell/ShellTemplatedViewManager.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellFlyoutRecyclerAdapter.cs
  Xamarin.Forms.Platform.UAP/Shell/ShellFlyoutItemRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellSearchResultsRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellTableViewSource.cs
  Xamarin.Forms.Platform.iOS/Renderers/UIContainerCell.cs
Labels: blocker

#13484 [X] Accept RD.Source with assembly
  Xamarin.Forms.Build.Tasks/CompiledConverters/RDSourceTypeConverter.cs
  Xamarin.Forms.Controls/AppResources.xaml
  Xamarin.Forms.Core/ResourceDictionary.cs
  Xamarin.Forms.Xaml.UnitTests/ResourceDictionaryWithSource.xaml
  Xamarin.Forms.Xaml.UnitTests/ResourceDictionaryWithSource.xaml.cs
Labels: a/CSS, a/Xaml </>

#13494 Fix NRE when using Custom Slide Transition
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13390.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SlideFlyoutTransition.cs
Labels: a/shell :shell:, blocker

#13197 Fix RTL on Labels with FormattedText and/or LineHeight
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12473.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12473.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue3311.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS.UnitTests/LabelTests.cs
  Xamarin.Forms.Platform.iOS.UnitTests/Xamarin.Forms.Platform.iOS.UnitTests.csproj
  Xamarin.Forms.Platform.iOS/Renderers/LabelRenderer.cs
Labels: 3.1.0, a/collectionview, a/label, a/listview, a/rtl, i/regression, p/iOS 🍎, t/bug :bug:

#13590 Fix MAUI Control Gallery local deploy path to debug keystore
  Xamarin.Forms.ControlGallery.sln
  src/ControlGallery/src/Xamarin.Forms.ControlGallery.Android/Xamarin.Forms.ControlGallery.Android.csproj
  src/ControlGallery/src/Xamarin.Forms.Controls/Xamarin.Forms.Controls.csproj
Labels: t/housekeeping ♻︎

#13532 Fix formatted text text type crash
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/LabelFormattedTextHtmlPadding.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS.UnitTests/HtmlLabelTests.cs
  Xamarin.Forms.Platform.iOS/Extensions/LabelExtensions.cs
Labels: a/label, p/iOS 🍎

#13586 Remove Slider Handler and Fix Maps, Shapes and Fix CarV Renderers
  build.cake
  src/Forms/src/Xamarin.Forms.Core/FormsHandlers.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.Android/Properties/AssemblyInfo.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.UAP/Properties/AssemblyInfo.cs
  src/Platform.Renderers/src/Xamarin.Forms.Platform.iOS/Properties/AssemblyInfo.cs
Labels: handlers
