Repository xamarin/Xamarin.Forms, pull requests merged in 2021-05, with the labels that each got.

#13460 [iOS] Fix wrong points transformation in GeometryExtensions
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13315.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13315.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
Labels: a/shapes, p/iOS 🍎, t/bug :bug:

#13673 [iOS, Android] Change the SwipeView Content BackgroundColor Behavior
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13670.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13670.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/SwipeViewRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: a/swipeview, p/Android, p/iOS 🍎, t/bug :bug:

#13988 [Tizen] Fix CollectionView layout issue
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
  Xamarin.Forms.Platform.Tizen/Renderers/ItemsViewRenderer.cs
Labels: p/Tizen

#14256 [Tizen] Fix WatchDialog
  Xamarin.Forms.Platform.Tizen/Native/Watch/WatchDialog.cs
Labels: p/Tizen

#13987 [Tizen] Fix CornerRadius on BoxView and Rectangle
  Xamarin.Forms.Platform.Tizen/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.Tizen/SkiaSharp/BoxViewRenderer.cs
Labels: p/Tizen

#13986 [Tizen] Extend ItemsViewScrolledEventArgs
  Xamarin.Forms.Core/PlatformConfiguration/TizenSpecific/ItemsViewScrolledExtendedEventArgs.cs
  Xamarin.Forms.Platform.Tizen/Native/CollectionView/CollectionView.cs
Labels: p/Tizen

#13773 [iOS] Fix incorrect refresh indicador position using RefreshView with CollectionView Header
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8282.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8282.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/CollectionView/StructuredItemsViewController.cs
  Xamarin.Forms.Platform.iOS/Renderers/RefreshViewRenderer.cs
Labels: a/collectionview, a/refreshview :arrows_counterclockwise:, blocker, i/high, m/high impact :black_large_square:, p/iOS 🍎, t/bug :bug:

#13005 [macOS] Hang App scaling a View to zero
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8981.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8981.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/VisualElementTracker.cs
Labels: good first issue, i/high, p/iOS 🍎, p/macOS, t/bug :bug:
