Repository xamarin/Xamarin.Forms, pull requests merged in 2022-11, with the labels that each got.

#15593 Fix iOS build
  Xamarin.Forms.ControlGallery.iOS/Info.plist
Labels: t/housekeeping ♻︎

#15601 Ignore Non-AppCompat Android Obsolete APIs
  Xamarin.Forms.Platform.Android/Platform.cs
Labels: p/Android, t/housekeeping ♻︎

#15600 [iOS 16] Fix wrong size TitleView issue on iOS 16
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue15542.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Forms.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shell :shell:

#15604 [iOS] Fix issue using ToolbarItems with TitleView on iOS 16
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue15565.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: t/bug :bug:, p/iOS 🍎, a/shell :shell:
