Repository xamarin/Xamarin.Forms, pull requests merged in 2022-01, with the labels that each got.

#13181 [Core] Fix Shapes issue using AppThemeBinding
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13173.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13173.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/Shapes/Shape.cs
Labels: t/bug :bug:, p/iOS 🍎, p/Android, Core, a/darkmode, a/shapes, a/brushes

#14926 Fix iOS scrolling outside ScrollView bounds
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12603.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12603.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎

#14717 [Android] Fix content pages not Garbage collected
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14657.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/ContainerView.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellContentFragment.cs
  Xamarin.Forms.Platform.Android/Renderers/ShellToolbarTracker.cs
Labels: a/performance, a/shell :shell:, a/page

#14993 Fix NRE when using Line on iOS with Xcode 13.2
  Xamarin.Forms.Platform.iOS/Shapes/ShapeRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/shapes

#14306 CSS: Support omitting semicolon from last property
  Xamarin.Forms.Core.UnitTests/StyleSheets/StyleParserTests.cs
  Xamarin.Forms.Core.UnitTests/Xamarin.Forms.Core.UnitTests.csproj
  Xamarin.Forms.Core/StyleSheets/Style.cs
  Xamarin.Forms.Core/StyleSheets/TextReaderExtensions.cs
Labels: a/CSS, needs-maui-validation

#14923 Prefer UINavigationBar.Appearance over Forms settings
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/navbar, a/navpage

#14796 [iOS] Fix issue rendering gradient background in NavigationPage
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14380.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/NavigationRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, a/navpage, a/brushes

#14661 [Android] Fix crash trying to update a removed tab menu item
  Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs
Labels: t/bug :bug:, p/Android, a/tabbedpage

#11815 Fix input for decimal/float/double and nullable
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Github7996.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core.UnitTests/BindingExpressionTests.cs
  Xamarin.Forms.Core.UnitTests/BindingUnitTests.cs
  Xamarin.Forms.Core.UnitTests/TypedBindingUnitTests.cs
  Xamarin.Forms.Core/BindingExpression.cs
Labels: t/bug :bug:, i/regression, a/l10n, Core, 4.2.0

#14733 [Core] Fix wrong orientation issue using OrientationStateTrigger
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14472.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue14472.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Core/OrientationStateTrigger.cs
Labels: t/bug :bug:, p/iOS 🍎, a/Xaml </>, a/triggers

#12570 [Android] Issue setting Rectangle size
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12454.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12454.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
Labels: t/bug :bug:, p/Android, ControlGallery, a/shapes

#14166 [Gtk] Implement RadioButton
  Xamarin.Forms.Platform.GTK/Controls/RadioButton.cs
  Xamarin.Forms.Platform.GTK/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.GTK/Renderers/RadioButtonRenderer.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
Labels: p/gtk, a/radiobutton :radio_button:

#14247 Fixed PreferredStatusBarStyle not called on page renderers
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/_DemoShellPageCustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/_ModalShellPageCustomRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/XamStore/Views/ModalShellPage.xaml
  Xamarin.Forms.Controls/XamStore/Views/ModalShellPage.xaml.cs
  Xamarin.Forms.Controls/XamStore/Views/StorePages.cs
  Xamarin.Forms.Platform.iOS/ModalWrapper.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellFlyoutRenderer.cs
Labels: a/shell :shell:

#13143 [iOS] Allow VC renderers of FlyoutPage to specify UIStatusBarStyle
  Xamarin.Forms.ControlGallery.iOS/AppDelegate.cs
  Xamarin.Forms.ControlGallery.iOS/CustomRenderers/UIStatusBarStyleRenderer.cs
  Xamarin.Forms.ControlGallery.iOS/Xamarin.Forms.ControlGallery.iOS.csproj
  Xamarin.Forms.Controls/App.cs
  Xamarin.Forms.Controls/CoreGallery.cs
  Xamarin.Forms.Platform.iOS/Renderers/TabletFlyoutPageRenderer.cs
Labels: t/bug :bug:, p/iOS 🍎, ControlGallery, a/masterdetailpage

#14235 [GTK] Some Shapes API support
  Xamarin.Forms.Platform.GTK/Controls/Shapes/EllipseView.cs
  Xamarin.Forms.Platform.GTK/Controls/Shapes/PathView.cs
  Xamarin.Forms.Platform.GTK/Controls/Shapes/PolygonView.cs
  Xamarin.Forms.Platform.GTK/Controls/Shapes/PolylineView.cs
  Xamarin.Forms.Platform.GTK/Controls/Shapes/RectangleView.cs
  Xamarin.Forms.Platform.GTK/Controls/Shapes/ShapeView.cs
  Xamarin.Forms.Platform.GTK/Properties/AssemblyInfo.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/EllipseRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/PathRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/PolygonRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/PolylineRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/RectangleRenderer.cs
  Xamarin.Forms.Platform.GTK/Renderers/Shapes/ShapeRenderer.cs
  Xamarin.Forms.Platform.GTK/Xamarin.Forms.Platform.GTK.csproj
Labels: s/needs-info ❓, p/gtk, a/shapes

#14209 [iOS] Picker - Fix VoiceOver reading reading row twice
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13193.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Renderers/PickerRenderer.cs
Labels: p/iOS 🍎, a/a11y 🔍

#13163 [iOS] Fix ScaledScreenSize values using Face Up device orientation
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue11980.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/IOSDeviceInfo.cs
Labels: t/bug :bug:, p/iOS 🍎

#15047 [Bug] [UWP] Fix FontIcons alignment
  Xamarin.Forms.ControlGallery.WindowsUniversal/Assets/Fonts/MaterialIconsOutlined-Regular.otf
  Xamarin.Forms.ControlGallery.WindowsUniversal/Xamarin.Forms.ControlGallery.WindowsUniversal.csproj
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue8606.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.UAP/FontImageSourceHandler.cs
Labels: t/bug :bug:, p/UWP, a/fonticon
