Repository xamarin/Xamarin.Forms, pull requests merged in 2023-11, with the labels that each got.

#15833 [iOS] Remove deprecated BeginImageContextWithOptions
  Xamarin.Forms.Platform.iOS/Extensions/BrushExtensions.cs
  Xamarin.Forms.Platform.iOS/Renderers/EntryRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/FormsCheckBox.cs
  Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs
  Xamarin.Forms.Platform.iOS/Renderers/ShellPageRendererTracker.cs
  Xamarin.Forms.Platform.iOS/Renderers/SwipeViewRenderer.cs
Labels: iOS 17

#13161 [iOS] Fixed issue creating Paths with PolyLineSegment without points
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13159.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.iOS/Extensions/GeometryExtensions.cs
Labels: t/bug :bug:, p/iOS 🍎, i/high, a/shapes

#12069 [Android] Fix issue with BoxView Color and CornerRadius
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue12061.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/Renderers/BoxRenderer.cs
Labels: t/bug :bug:, p/Android, a/boxview

#13402 [Android] Fixed brush background issue scrolling ListView
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13392.xaml
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Issue13392.xaml.cs
  Xamarin.Forms.Controls.Issues/Xamarin.Forms.Controls.Issues.Shared/Xamarin.Forms.Controls.Issues.Shared.projitems
  Xamarin.Forms.Platform.Android/FastRenderers/FrameRenderer.cs
Labels: t/bug :bug:, p/Android, a/listview, a/frame, a/brushes
